Repository red-hat-storage/cephci, pull requests merged in 2020-08, with the labels that each got.

#171 /tests/rbd/rbd_system.py
  tests/rbd/rbd_system.py
Labels: RBD

#184 Combined some test cases
  suites/nautilus/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#187 sanity_rgw: verify_io script is called based on config
  tests/rgw/sanity_rgw.py
Labels: RGW, pr-verified

#186 Combined some test cases for all rgw suits
  suites/luminous/rgw/sanity_containerized_rgw_lvm.yaml
  suites/luminous/rgw/sanity_rgw_lvm.yaml
  suites/nautilus/rgw/sanity_containerized_rgw.yaml
Labels: RGW, pr-verified

#191 fixes osd_objectstore
  suites/luminous/cephfs/sanity_containerized_fs.yaml
  suites/luminous/rados/sanity_containerized_rados.yaml
Labels: script issue

#183 Fixing pip & python failures
  tests/cephfs/cephfs_utils.py
Labels: Ceph-FS, needs-testing

#193 filestore to bluestore migration
  suites/nautilus/upgrades/filestore_to_bluestore.yaml
  tests/ceph_ansible/filestore_to_bluestore.py
Labels: New testcase, ceph-ansible

#194 added object_store change after filestore to bluestore migration
  tests/ceph_ansible/filestore_to_bluestore.py
Labels: script issue

#190 docker to podman migration with ansible
  suites/luminous/ansible/docker_to_podman.yaml
  suites/luminous/ansible/docker_to_podman_lvm.yaml
  tests/ceph_ansible/docker_to_podman.py
Labels: New testcase, ceph-ansible
