Repository red-hat-storage/cephci, pull requests merged in 2020-12, with the labels that each got.

#270 ceph dashboard in ansible sanity
  conf/nautilus/ansible/sanity-ceph-ansible.yaml
  suites/nautilus/ansible/sanity_ceph_ansible.yaml
  suites/nautilus/ansible/sanity_containerized_ceph_ansible.yaml
Labels: Ceph-dashboard

#241 s3-tests: s3-test task fixes
  suites/nautilus/rgw/sanity_containerized_rgw.yaml
  suites/nautilus/rgw/sanity_rgw.yaml
  tests/rgw/test_s3.py
Labels: RGW

#269 fixes rollover
  ceph/ceph.py
  suites/luminous/ansible/sanity_ceph_ansible.yaml
  suites/luminous/ansible/sanity_ceph_ansible_lvm.yaml
  suites/luminous/ansible/sanity_containerized_ceph_ansible.yaml
  suites/luminous/ansible/sanity_containerized_ceph_ansible_lvm.yaml
  suites/nautilus/ansible/sanity_ceph_ansible.yaml
  suites/nautilus/ansible/sanity_containerized_ceph_ansible.yaml
  tests/ceph_ansible/test_ansible_roll_over.py
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible
