Repository red-hat-storage/cephci, pull requests merged in 2020-07, with the labels that each got.

#151 fix solves container issues for RGW sanity test
  tests/sanity_rgw.py
Labels: RGW

#153 Adding tests for bucket lifecycle, object expiration feature.
  suites/luminous/rgw/sanity_containerized_rgw_lvm.yaml
  suites/luminous/rgw/sanity_rgw.yaml
  suites/nautilus/rgw/sanity_containerized_rgw.yaml
  suites/nautilus/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#150 switches from non-containerized to containerized ceph daemons (Bz 1843500)
  suites/luminous/ansible/switch_rpm_to_container.yaml
  suites/nautilus/ansible/switch_rpm_to_container.yaml
  tests/switch_rpm_to_container.py
Labels: Ceph bug, ceph-ansible

#155 Email: template enhance for log analysis
  run.py
  templates/result-email-template.html
  tests/install_prereq.py
  utility/utils.py
Labels: enhancement, framework

#157 interop 8.3 fix and tests dir restructure
  run.py
  suites/nautilus/interop/sanity_ceph.yaml
  tests/ceph_ansible/__init__.py
  tests/ceph_ansible/bug_1834974.py
  tests/ceph_ansible/purge_cluster.py
  tests/ceph_ansible/shrink_mon.py
  tests/ceph_ansible/shrink_osd.py
  tests/ceph_ansible/switch_rpm_to_container.py
  tests/ceph_ansible/test_ansible_roll_over.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_ansible/test_ceph_1623580.py
  tests/ceph_installer/__init__.py
  tests/ceph_installer/test_ansible.py
  tests/ceph_installer/test_ceph_deploy.py
  tests/cephfs/active_active_mdsfailover_test.py
  tests/cephfs/cephfs_clientsIO_test.py
  tests/dashboard/__init__.py
  tests/mgr/__init__.py
  tests/mgr/test_ceph_83573397.py
  tests/mgr/test_mgr_keyring.py
  tests/misc_env/__init__.py
  tests/misc_env/exec.py
  tests/misc_env/exec_installer.py
  tests/misc_env/install_prereq.py
  tests/misc_env/interop_pre_req.py
  tests/misc_env/test_workunit.py
  tests/misc_env/update-kernel.py
  tests/rados/radosbench.py
  tests/rbd/rbd_system.py
  tests/rgw/__init__.py
  tests/rgw/sanity_rgw.py
  tests/rgw/test_s3.py
  utility/utils.py
Labels: enhancement, framework

#161 [Ceph-Ansible] ansible changes w.r.t octopus
  ceph/ceph.py
  conf/octopus/ansible/sanity-ceph-ansible.yaml
  rhbuild.yaml
  run.py
  suites/octopus/ansible/sanity_ceph_ansible.yaml
  suites/octopus/ansible/sanity_containerized_ceph_ansible.yaml
  tests/ceph_ansible/test_ansible_roll_over.py
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible

#163 adding the automation of BZ : 1829646 - Autotrimming of OSD map and MonDB when OSD(s) is in down state
  ceph/rados_utils.py
  suites/nautilus/rados/sanity_rados.yaml
  tests/rados/test_bz_1829646.py
Labels: RADOS, test case

#165 added higher verbose levels
  tests/ceph_ansible/purge_cluster.py
  tests/ceph_ansible/shrink_mon.py
  tests/ceph_ansible/shrink_osd.py
  tests/ceph_ansible/switch_rpm_to_container.py
  tests/ceph_ansible/test_ansible_roll_over.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_ansible/test_ceph_1623580.py
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible

#169 Fixes shrink osd issue
  tests/ceph_ansible/shrink_osd.py
Labels: ceph-ansible

#172 Added idempotent test case for site.yml
  suites/nautilus/ansible/sanity_ceph_ansible.yaml
Labels: DNM
