Repository red-hat-storage/cephci, pull requests merged in 2020-06, with the labels that each got.

#136 node wait timeout increase to 10min from 4min
  mita/openstack.py
Labels: bug in framework

#141 RADO's benchmark workaround
  tests/radosbench.py
Labels: RADOS

#149 Add: rados deep scrub and memory util check bz
  ceph/rados_utils.py
  ceph/utils.py
  conf/luminous/rados/sanity-rados-lvm.yaml
  conf/nautilus/rados/sanity-rados.yaml
  suites/luminous/rados/sanity_rados_lvm.yaml
  suites/nautilus/rados/sanity_rados.yaml
  suites/nautilus/upgrades/upgrade_3.x_ceph-disk_to_4.x_lvm.yaml
  suites/nautilus/upgrades/upgrade_3.x_lvm_to_4.x_lvm.yaml
  tests/install_prereq.py
  tests/rados/test_bz_1754078.py
  utility/lvm_utils.py
Labels: Ceph bug, RADOS, ceph-ansible
