Repository red-hat-storage/cephci, pull requests merged in 2020-09, with the labels that each got.

#203 WIP: Fixing cephfs test cases and converting to python3, pip3
  ceph/ceph.py
  tests/cephfs/CEPH-10528_10529.py
  tests/cephfs/CEPH-10625_11225.py
  tests/cephfs/CEPH-11219.py
  tests/cephfs/CEPH-11220.py
  tests/cephfs/CEPH-11222.py
  tests/cephfs/CEPH-11222_11223.py
  tests/cephfs/CEPH-11227.py
  tests/cephfs/CEPH-11228.py
  tests/cephfs/CEPH-11229.py
  tests/cephfs/CEPH-11230.py
  tests/cephfs/CEPH-11231.py
  tests/cephfs/CEPH-11232_11233.py
  tests/cephfs/CEPH-11242.py
  tests/cephfs/CEPH-11254_fuse.py
  tests/cephfs/CEPH-11255_11336_fuse.py
  tests/cephfs/CEPH-11256_fuse.py
  tests/cephfs/CEPH-11298.py
  tests/cephfs/CEPH-11334.py
  tests/cephfs/CEPH-11335.py
  tests/cephfs/active_active_mdsfailover_test.py
  tests/cephfs/cephfs_basic_tests.py
  tests/cephfs/cephfs_utils.py
  tests/cephfs/nfs-ganesha_basics.py
Labels: Ceph-FS

#202 fixes purge issue
  tests/ceph_ansible/purge_cluster.py
Labels: ceph-ansible

#199 fixes shrink-mon script to remove node from inventory after the playbook is completed
  tests/ceph_ansible/shrink_mon.py
Labels: ceph-ansible

#215 ansible version match for rhcs latest
  ceph/ceph.py
Labels: ceph-ansible, pr-verified
