Repository red-hat-storage/cephci, pull requests merged in 2021-06, with the labels that each got.

#534 Ignore logs and cephci residues in git-ignore file
  .gitignore
Labels: framework

#533 Updated log message in vm creation utils
  ceph/utils.py
Labels: framework

#535 update multi-site tier1 test suite in jenkins config
  pipeline/5/Jenkinsfile-tier-1-object.groovy
Labels: Jenkins, needs-testing

#542 Tier-0: test suites defaults to use latest RHEL(8.4)
  conf/inventory/rhel-8.4-server-x86_64-medlarge.yaml
  pipeline/5/Jenkinsfile-tier-0.groovy
Labels: Jenkins

#541 Added S3CMD testcase
  suites/pacific/rgw/sanity_rgw_s3cmd.yaml
Labels: RGW, pr-verified

#548 Modify jenkinsfile name as per the jenkins job template.
  pipeline/5/Jenkinsfile-tier-1-deploy.groovy
Labels: Jenkins

#549 update stage result with actual exit status
  pipeline/vars/common.groovy
Labels: Jenkins

#551 Fix issue with "returnStatus" which suppress exception
  pipeline/vars/common.groovy
Labels: Jenkins

#552 Fix issue: Added missing exception variable
  pipeline/vars/common.groovy
Labels: Jenkins

#522 Added swift versioning test case
  suites/nautilus/rgw/sanity_rgw.yaml
  suites/pacific/rgw/tier_1_object.yaml
Labels: RGW

#557 Fix orch command output process and add abort-on-fail on required test cases
  ceph/ceph_admin/orch.py
  suites/pacific/cephadm/tier_0_cephadm.yaml
Labels: cephadm-orchestrator

#567 Apply-spec: enable OSD encryption
  suites/pacific/cephadm/tier1_service_apply_spec.yaml
Labels: cephadm-orchestrator

#563 Added swift object expire TC in RGW T1 suite
  suites/pacific/rgw/tier_1_object.yaml
Labels: RGW, pr-verified

#571 Adding CephFS-T0 Tests for 4.x
  conf/nautilus/cephfs/tier_0_fs.yaml
  rhbuild.yaml
  suites/nautilus/cephfs/tier_0_fs.yaml
Labels: Ceph-FS

#559 Add mfa tests
  suites/nautilus/rgw/sanity_rgw.yaml
  suites/pacific/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#573 4x_pipeline: added deploy tier-0 test suites
  conf/nautilus/ansible/tier_0_deploy.yaml
  suites/nautilus/ansible/tier_0_deploy_containerized_ceph.yaml
  suites/nautilus/ansible/tier_0_deploy_rpm_ceph.yaml
Labels: Nautilus, Tier-0

#578 rgw: suites/rgw/nautilus/rgw_sanity.yaml: indent fix
  suites/nautilus/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#581 Support RGW count_per_host in placement option
  ceph/ceph_admin/apply.py
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
Labels: cephadm-orchestrator

#583 Remove nfs+rgw from 4.x cluster to be upgraded
  conf/pacific/upgrades/upgrade_from4x_big_cluster.yml
  conf/pacific/upgrades/upgrade_from4x_small_cluster.yml
Labels: Tier-1, Upgrade

#577 Support ssh-public-key and ssh-private-key bootstrap options
  ceph/ceph_admin/bootstrap.py
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
  tests/cephadm/test_bootstrap.py
Labels: Tier-1, cephadm-orchestrator

#587 Integrating swift versioning into tier 1 RGW
  suites/pacific/rgw/tier_1_object.yaml
Labels: RGW, pr-verified

#589 Skip-dashboad-suite: set custom grafana image as a work-around
  suites/pacific/cephadm/tier1_skip_dashboard.yaml
Labels: cephadm-orchestrator
