Repository red-hat-storage/cephci, pull requests merged in 2021-03, with the labels that each got.

#393 install_prereq: pool id changed
  tests/misc_env/install_prereq.py
Labels: framework, pr-verified

#352 enable EUS rpms
  ceph/utils.py
  conf/inventory/rhel-7.7-server-x86_64.yaml
  run.py
  tests/misc_env/install_prereq.py
Labels: framework, pr-verified

#392 cephadm: validation for apply service with label
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/orch.py
  ceph/ceph_admin/typing_.py
  conf/pacific/cephadm/sanity-cephadm.yaml
  suites/pacific/cephadm/cephadm.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_crash.py
  tests/cephadm/test_iscsi.py
  tests/cephadm/test_mds.py
  tests/cephadm/test_mgr.py
  tests/cephadm/test_mon.py
  tests/cephadm/test_monitoring.py
  tests/cephadm/test_nfs.py
  tests/cephadm/test_osd.py
  tests/cephadm/test_rgw.py
Labels: cephadm-orchestrator

#398 mute_alerts.py : Ability to mute health alerts
  conf/pacific/rados/sanity_rados.yaml
  suites/pacific/rados/sanity_rados.yaml
  tests/rados/mute_alerts.py
Labels: RADOS

#402 Cephadm: created separate test modules for bootstrap and host operations
  ceph/ceph_admin/bootstrap.py
  suites/pacific/cephadm/cephadm.yaml
  suites/pacific/cephadm/cephadm_deploy.yaml
  suites/pacific/rados/sanity_rados.yaml
  tests/ceph_installer/test_cephadm.py
  tests/ceph_installer/test_deployment.py
  tests/cephadm/test_bootstrap.py
  tests/cephadm/test_host.py
Labels: cephadm-orchestrator

#397 RGW multisite integration
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#411 suites/nautilus/rgw/sanity_rgw_multisite.yaml: verify_io on primary
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
Labels: RGW

#412 cephadm: Added ceph health verification
  ceph/ceph.py
  suites/pacific/cephadm/cephadm_deploy.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator

#410 run.py: CLI argument to skip enabling rpms from subscription
  run.py
  tests/misc_env/install_prereq.py
Labels: enhancement

#408 rados_prep.py: adding rados suite pre-reqs
  suites/pacific/rados/sanity_rados.yaml
  tests/rados/mute_alerts.py
  tests/rados/rados_prep.py
Labels: RADOS

#419 cephadm: configure client and removal
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/host.py
  ceph/ceph_admin/shell.py
  ceph/utils.py
  conf/pacific/cephadm/sanity-cephadm.yaml
  suites/pacific/cephadm/cephadm.yaml
  tests/cephadm/test_bootstrap.py
  tests/cephadm/test_client.py
Labels: cephadm-orchestrator

#424 Incorrect s3tests execution command used for RHCS 3.3
  tests/rgw/test_s3.py
Labels: RGW, pr-verified

#428 add bucket listing tests to luminous
  suites/luminous/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#423 cephadm: orphan-initial-daemons and skip-monitoring-stack validations
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/rgw.py
  conf/pacific/cephadm/tier1_3node_cephadm_bootstrap.yaml
  suites/pacific/cephadm/cephadm.yaml
  suites/pacific/cephadm/tier1_cephadm_bootstrap.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_bootstrap.py
  tests/cephadm/test_crash.py
  tests/cephadm/test_host.py
  tests/cephadm/test_iscsi.py
  tests/cephadm/test_mds.py
  tests/cephadm/test_mgr.py
  tests/cephadm/test_mon.py
  tests/cephadm/test_monitoring.py
  tests/cephadm/test_nfs.py
  tests/cephadm/test_osd.py
  tests/cephadm/test_rgw.py
Labels: cephadm-orchestrator

#433 cephadm:tier-1 scenario - bootstrap with ssl-dashboard-port and validations
  conf/pacific/cephadm/tier1_3node_cephadm_bootstrap.yaml
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
  tests/cephadm/test_bootstrap.py
Labels: cephadm-orchestrator

#327 Adding S3Test suite support for RHCS 5
  conf/inventory/rhel-8.3-server-x86_64-medlarge.yaml
  conf/pacific/rgw/sanity_rgw.yaml
  suites/pacific/rgw/sanity_rgw.yaml
  tests/cephadm/test_client.py
  tests/rgw/test_s3.py
Labels: RGW

#439 RGW: Tier 0 test suite for RHCS 5.0
  pipeline/5/Jenkinsfile-tier-0.groovy
  run.py
  suites/pacific/rgw/tier_0_rgw.yaml
  tests/rgw/sanity_rgw.py
  utility/utils.py
Labels: RGW

#438 add bucket listing tests to containerized deployment
  suites/luminous/rgw/sanity_containerized_rgw.yaml
  suites/nautilus/rgw/sanity_containerized_rgw.yaml
Labels: RGW

#434 Stretch_cluster: Deploy Stretch mode with arbiter mon on the cluster
  conf/pacific/rados/sanity_rados.yaml
  suites/pacific/rados/sanity_rados.yaml
  tests/rados/rados_prep.py
  tests/rados/stretch_cluster.py
Labels: RADOS

#443 Add ceph-qe-scripts tests to sanity_rgw.yaml
  suites/pacific/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified
