Repository red-hat-storage/cephci, pull requests merged in 2021-12, with the labels that each got.

#963 Add rhceph build in upgrade test cases
  suites/nautilus/upgrades/tier-1_upgrade_container.yaml
  suites/nautilus/upgrades/tier-1_upgrade_rpm.yaml
  suites/nautilus/upgrades/tier-2_okr_bz_1994827.yaml
  suites/nautilus/upgrades/tier-2_upgrade_okr-bz-1876447-rpm.yaml
  suites/nautilus/upgrades/tier-2_upgrade_test-disk-scenarios-container.yaml
  suites/nautilus/upgrades/tier-2_upgrade_test-disk-scenarios-rpm.yaml
  suites/nautilus/upgrades/tier-2_upgrade_test-filestore-to-bluestore.yaml
  suites/nautilus/upgrades/tier-2_upgrade_test-rpm-to-container-lvm.yaml
  suites/nautilus/upgrades/upgrade_rgw_test.yaml
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5_x_baremetal_without_dashboard.yaml
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5x_multisite.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-container.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-rpm.yaml
Labels: Upgrade

#974 Retrieve correct number of available devices
  ceph/ceph_admin/osd.py
Labels: DNM, P0, cephadm-orchestrator

#968 Pacific conf update
  conf/pacific/upgrades/upgrade_small-cluster.yaml
  pipeline/scripts/5/0/tier-1/test-upgrade-4x-container-to-5x-container.sh
  pipeline/scripts/5/1/tier-1/test-upgrade-4x-container-to-5x-container.sh
  suites/pacific/upgrades/tier-1_upgrade_4x-to-5x-baremetal-without-dashboard.yaml
  suites/pacific/upgrades/tier-1_upgrade_4x-to-5x-multisite.yaml
Labels: needs-testing

#964 Add properties in xunit-xml file and cos_cli file manage object
  pipeline/scripts/ci/cos_cli.py
  run.py
  utility/utils.py
  utility/xunit.py
Labels: framework

#987 pool_tests.py: Verification of pool size with and without Compression
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#991 Don't consider device which is under 5GB
  ceph/ceph_admin/osd.py
Labels: P0, cephadm-orchestrator

#982 T2-CEPH-83574193-cephfs subvolume size expansion test
  suites/pacific/cephfs/tier-2/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_volume_management/cephfs_vol_mgmt_subvolume_resize.py
Labels: Ceph-FS

#983 [nautilus]adding IO operations with SSL frontend in sanity suites
  suites/nautilus/rgw/tier-1_rgw_ssl_containerized-regression.yaml
Labels: pr-verified, RGW

#998 update 5.1 NFS deploy spec jinja template
  ceph/ceph_admin/jinja_templates/nfs.jinja
Labels: P0, cephadm-orchestrator

#996 With SSl frontend adding IO operation on RPM
  suites/nautilus/rgw/tier-1_rgw_ssl_regression.yaml
Labels: pr-verified, RGW

#965 Integration of multisite DBR scenario
  suites/nautilus/rgw/tier-1_rgw_test-dynamic-resharding-greenfield.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#988 upload tests results to report portal using xUnit xmls
  pipeline/cvp.groovy
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
  pipeline/released.groovy
  pipeline/tier-0.groovy
  pipeline/tier-x.groovy
  pipeline/vars/lib.groovy
  utility/xunit.py
Labels: P0, framework, Jenkins

#999 rados/pool_tests: Verifiy Compression on EC pools and ratio set
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  tests/rados/pool_tests.py
  tests/rados/rados_prep.py
Labels: RADOS

#1013 Added xml extension to uploaded xml files
  pipeline/vars/lib.groovy
Labels: framework

#1023 remove verify on aws4 test
  suites/pacific/rgw/tier-2_rgw_ssl_multisite-verify-io-from-primary.yaml
Labels: RGW

#1022 launch test run in report-portal for IBM test run results
  pipeline/post-results.groovy
  pipeline/vars/lib.groovy
  pipeline/vars/node_bootstrap.bash
Labels: framework

#1014 pool_tests.py: Verification of default autoscaler profile
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#959 Parallel execution of i/o's with RHCS5 upgrade
  conf/pacific/upgrades/tier-1_upgrade_cephadm.yaml
  pipeline/scripts/5/0/tier-1/test-cephadm-upgrade-build-to-build-5x.sh
  pipeline/scripts/5/1/tier-1/test-cephadm-upgrade-build-to-build-5x.sh
  suites/pacific/upgrades/tier-1_upgrade_cephadm.yaml
Labels: cephadm-orchestrator

#1024 fix null value issue and remove extension from launch-name
  pipeline/post-results.groovy
  pipeline/vars/lib.groovy
Labels: framework

#975 Adding ISCSI gateway installation support to RBD->ISCSI
  ceph/ceph_admin/iscsi.py
  conf/pacific/cephadm/sanity-cephadm.yaml
  conf/pacific/iscsi/tier-1_rbd_test-iscsi.yaml
  suites/pacific/cephadm/tier-0_cephadm.yaml
  suites/pacific/iscsi/tier-1_rbd_test-iscsi.yaml
Labels: RBD

#1025 Added collocated rgw test cases
  ceph/ceph_admin/apply.py
  suites/pacific/cephadm/tier-0_5-1_cephadm.yaml
  suites/pacific/cephadm/tier-0_cephadm.yaml
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_iscsi.py
Labels: test case, cephadm-orchestrator

#1032 move ceph build selection to test modules
  ceph/utils.py
  run.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_installer/test_ansible.py
Labels: framework, ceph-ansible

#1030 Add bucket notification tests with kafka
  suites/nautilus/rgw/tier-2_rgw_test-bucket-notifications.yaml
  tests/rgw/sanity_rgw.py
  utility/utils.py
Labels: pr-verified, RGW
