Repository red-hat-storage/cephci, pull requests merged in 2021-02, with the labels that each got.

#338 code changes service deployment using orchestration apply option
  ceph/ceph.py
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/alert_manager.py
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/daemon_mixin.py
  ceph/ceph_admin/grafana.py
  ceph/ceph_admin/host_mixin.py
  ceph/ceph_admin/iscsi.py
  ceph/ceph_admin/manager.py
  ceph/ceph_admin/metadataserver.py
  ceph/ceph_admin/monitor.py
  ceph/ceph_admin/nfs.py
  ceph/ceph_admin/node_exporter.py
  ceph/ceph_admin/osd.py
  ceph/ceph_admin/prometheus.py
  ceph/ceph_admin/radosgw.py
  ceph/utils.py
  suites/pacific/cephadm/cephadm.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator

#343 CEPHADM: added remove service provision
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/monitor.py
  suites/pacific/cephadm/cephadm.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator

#351 use dictionary for repos
  tests/misc_env/install_prereq.py
Labels: framework

#360 sanity_rgw_multisite.yaml: set rgw_zonegroupmaster to false
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
Labels: RGW, pr-verified

#371 ceph/ceph: rename write_file() to remote_file()
  ceph/ceph.py
  ceph/ceph_admin/__init__.py
  ceph/utils.py
  tests/ceph_ansible/shrink_mon.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_installer/test_ceph_deploy.py
  tests/cephfs/BUG-1798719.py
  tests/cephfs/cephfs_utils.py
  tests/iscsi/CEPH-10572_10460_10450.py
  tests/iscsi/iscsi_utils.py
  tests/iscsi/update-kernel-iscsi.py
  tests/mgr/test_ceph_83573397.py
  tests/misc_env/update-kernel.py
  tests/rados/test_9281.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rgw/test_s3.py
  utility/utils.py
Labels: framework, pr-verified

#363 adding multisite tests
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW, pr-verified

#376 using clusters var in the test module to avoid looping of tests
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW, pr-verified

#378 cephadm/bootstrap: enables registry-json support
  ceph/ceph_admin/bootstrap.py
  suites/pacific/cephadm/cephadm.yaml
  suites/pacific/cephadm/cephadm_deploy.yaml
Labels: cephadm-orchestrator

#380 cephadm: fixed ceph compose path error
  ceph/ceph_admin/__init__.py
Labels: cephadm-orchestrator

#377 "verification of custom FSID"
  ceph/ceph_admin/bootstrap.py
Labels: cephadm-orchestrator

#383 Cephadm: Add NFS support
  suites/pacific/cephadm/cephadm.yaml
  tests/cephadm/test_nfs.py
Labels: cephadm-orchestrator

#385 Cephadm/Bootstrap: initial-dashboard user/password support
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/typing_.py
  suites/pacific/cephadm/cephadm.yaml
  tests/cephadm/test_nfs.py
Labels: cephadm-orchestrator

#384 Updated dashboard images
  suites/nautilus/ansible/sanity_ceph_ansible.yaml
  suites/nautilus/ansible/sanity_containerized_ceph_ansible.yaml
  suites/nautilus/dashboard/sanity_containerized_ceph_dashboard.yaml
  suites/nautilus/upgrades/filestore_to_bluestore.yaml
  suites/nautilus/upgrades/upgrade_3.x_ceph-disk_to_4.x_lvm.yaml
  suites/nautilus/upgrades/upgrade_3.x_lvm_to_4.x_lvm.yaml
  suites/nautilus/upgrades/upgrade_containerized_4.x_cdn_to_4.x_latest.yaml
Labels: Ceph-dashboard

#389 cephadm: Crash service deployment support
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/crash.py
  suites/pacific/cephadm/cephadm.yaml
  tests/cephadm/test_crash.py
Labels: cephadm-orchestrator
