Repository red-hat-storage/cephci, pull requests merged in 2021-10, with the labels that each got.

#843 Fix RGW Tier 1 single site test failure
  suites/pacific/rgw/tier_1_object.yaml
Labels: RGW, needs-testing

#845 AttributeError exception is raised from sanity_rgw test module
  tests/rgw/sanity_rgw.py
Labels: RGW

#842 Added multipart upload with bucket policy enabled TC
  suites/nautilus/rgw/tier_1_extn_object.yaml
  suites/pacific/rgw/tier_1_extn_object.yaml
Labels: RGW

#844 store ceph build recipe in rhceph-qe-recipe repository
  pipeline/unsigned-container-image-listener.groovy
  pipeline/vars/lib.groovy
Labels: Jenkins

#839 Automated bilog trimming
  suites/nautilus/rgw/tier_1_extn_rgw_multisite_primary_to_secondary.yaml
  suites/pacific/rgw/tier_1_extn_rgw_multisite_primary_to_secondary.yaml
Labels: RGW

#846 nautilus: Adding correct command for purging containerized cluster
  suites/nautilus/rgw/sanity_containerized_rgw.yaml
Labels: RGW

#848 fix push-recipe: make releaseDetails global
  pipeline/unsigned-container-image-listener.groovy
Labels: Jenkins

#850 RHCEPH 5.1: Add _admin label role to installer nodes
  conf/pacific/ansible/sanity-ceph-ansible.yaml
  conf/pacific/cephadm/sanity-cephadm.yaml
  conf/pacific/cephadm/tier1_3node_cephadm_bootstrap.yaml
  conf/pacific/cephfs/sanity_fs.yaml
  conf/pacific/cephfs/tier_0_fs.yaml
  conf/pacific/cephfs/tier_1_cephfs_mirror.yaml
  conf/pacific/cephfs/tier_1_fs.yaml
  conf/pacific/rados/sanity_rados.yaml
  conf/pacific/rados/tier_2_rados.yaml
  conf/pacific/rbd/tier_0_rbd.yaml
  conf/pacific/rbd/tier_1_rbd_mirror.yaml
  conf/pacific/rgw/rgw_mutlisite.yaml
  conf/pacific/rgw/tier_0_rgw.yaml
  conf/pacific/rgw/tier_1_rgw_cephadm.yaml
  conf/pacific/rgw/tier_2_rgw_regression.yaml
  conf/pacific/upgrades/upgrade_from4x_big_cluster.yml
  conf/pacific/upgrades/upgrade_from4x_small_cluster.yml
Labels: cephadm-orchestrator

#857 Fix 5.1 deploy: Increase OSD numbers to avoid PG issues.
  conf/pacific/cephadm/sanity-cephadm.yaml
Labels: cephadm-orchestrator
