Repository red-hat-storage/cephci, pull requests merged in 2021-04, with the labels that each got.

#448 Block: RHCS 5.0 tier 0 test suites
  conf/pacific/rbd/tier_0_rbd.yaml
  pipeline/5/Jenkinsfile-tier-0.groovy
  suites/pacific/rbd/tier_0_rbd.yaml
  tests/rbd/rbd_system.py
Labels: RBD

#425 Container Upgrade from 3.x cdn to 4.x latest
  suites/nautilus/upgrades/upgrade_containerized_3.x_ceph-disk_to_4.x_lvm.yaml
  tests/ceph_ansible/test_ansible_upgrade.py
Labels: Upgrade, ceph-ansible

#456 Fix issue in get_node_by_id when hostname provided.
  ceph/utils.py
Labels: cephadm-orchestrator

#452 Include Tier-1 bootstrap test suites in pipeline
  pipeline/5/jenkinsfile-tier-1-deployment-bootstrap.groovy
Labels: Jenkins

#459 CEPH-83573815: Tier 1 RGW cephadm multi realm deployment scenario
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/ls.py
  ceph/ceph_admin/orch.py
  ceph/ceph_admin/ps.py
  ceph/ceph_admin/typing_.py
  ceph/utils.py
  conf/pacific/rgw/tier_1_rgw_cephadm.yaml
  suites/pacific/rgw/tier_1_rgw_cephadm.yaml
  tests/misc_env/exec.py
Labels: RGW

#463 Defaulting to config drive for VM customization
  mita/v2.py
Labels: framework

#464 Fix to retrieve exact service name in apply method
  ceph/ceph_admin/apply.py
Labels: cephadm-orchestrator

#467 RBD: Modifying Tier0 test suites to enable us run against a known baseline.
  suites/pacific/rbd/tier_0_rbd.yaml
  tests/rbd/test_rbd.py
Labels: RBD

#449 cephadm: Build to build upgrade support
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/orch.py
  ceph/ceph_admin/typing_.py
  ceph/ceph_admin/upgrade.py
  ceph/utils.py
  run.py
  setup.py
  suites/pacific/cephadm/tier1_cephadm_upgrade.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_cephadm_upgrade.py
Labels: cephadm-orchestrator

#466 tests/rgw/sanity_rgw: introdced extra-pkgs config option
  suites/pacific/rgw/sanity_rgw.yaml
  tests/rgw/sanity_rgw.py
Labels: RGW, pr-verified

#244 [Customer-Bug]: Upgrade with custom ceph name
  ceph/ceph.py
  suites/nautilus/upgrades/upgrade_with_custom_ceph_name.yaml
  tests/ceph_ansible/shrink_mon.py
  tests/ceph_ansible/shrink_osd.py
  tests/ceph_ansible/test_ansible_roll_over.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible

#486 Remove lc debug setting after the test
  tests/rgw/test_s3.py
Labels: RGW

#474 Added new rbd bootstrap commands to work rbd-mirror
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_11489.py
Labels: RBD

#485 Issue-#478: Added check to verify required number of node(s).
  ceph/utils.py
Labels: framework
