Repository red-hat-storage/cephci, pull requests merged in 2021-01, with the labels that each got.

#276 code changes for rhel-8.x network time synchronization support
  ceph/utils.py
Labels: framework

#279 added cephadm module support and test suite
  ceph/ceph.py
  ceph/ceph_admin.py
  conf/pacific/cephadm/sanity-cephadm.yaml
  run.py
  suites/pacific/cephadm/cephadm.yaml
  tests/ceph_installer/test_cephadm.py
  tests/misc_env/install_prereq.py
Labels: cephadm-orchestrator

#231 Container upgrade from 4.x cdn to 4.x latest
  ceph/utils.py
  run.py
  suites/nautilus/upgrades/upgrade_containerized_4.x_cdn_to_4.x_latest.yaml
  tests/ceph_ansible/test_ansible_upgrade.py
Labels: Ceph-dashboard, DNM, ceph-ansible

#296 Improve get_vm_size method.
  mita/openstack.py
Labels: enhancement, framework

#295 Improvements to get_image method
  mita/openstack.py
  setup.py
Labels: enhancement, framework

#299 Improve retrieval of volume details
  mita/openstack.py
Labels: enhancement, framework

#297 Improve get_network method
  mita/openstack.py
Labels: enhancement, framework

#298 Simplify the _create_vm_node method
  mita/openstack.py
Labels: enhancement, framework

#314 CEPHADM: added ISCSI support
  ceph/ceph_admin.py
  conf/pacific/cephadm/sanity-cephadm.yaml
Labels: cephadm-orchestrator

#302 support bootstrap with default image
  ceph/ceph_admin.py
  run.py
  suites/pacific/cephadm/cephadm.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator

#318 Part 1 fix for #292
  tests/rgw/test_s3.py
Labels: RGW

#324 ansible suite failure fix
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
  tests/ceph_installer/test_ansible.py
Labels: RGW, ceph-ansible, needs-testing

#326 [ CEPH-ADM ]: Restructured Cephadm modules and test-suites
  ceph/ceph.py
  ceph/ceph_admin.py
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap_mixin.py
  ceph/ceph_admin/host_mixin.py
  ceph/utils.py
  conf/pacific/cephadm/sanity-cephadm.yaml
  suites/pacific/cephadm/cephadm.yaml
  suites/pacific/cephadm/cephadm_deploy.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator
