Repository red-hat-storage/cephci, pull requests merged in 2021-07, with the labels that each got.

#592 Adds swift large object operation into T2 RGW
  suites/pacific/rgw/tier_2_rgw_regression.yaml
Labels: RGW, pr-verified

#596 Moved copy ceph config keys method from post bootstrap code to bootstrap code
  ceph/ceph_admin/bootstrap.py
  tests/cephadm/test_bootstrap.py
Labels: cephadm-orchestrator

#591 Adds T1 TCs for nautilus branch as well as for Jenkins pipeline
  conf/nautilus/rgw/tier_1_rgw.yaml
  conf/nautilus/rgw/tier_1_rgw_multisite.yaml
  pipeline/4/jenkinsfile-tier-1-object.groovy
  suites/nautilus/rgw/tier_1_object.yaml
  suites/nautilus/rgw/tier_1_rgw_multisite.yaml
Labels: RGW

#607 BZ-1975887: Set custom grafana image work-around until GA
  suites/pacific/cephadm/tier1_cephadm_upgrade.yaml
Labels: cephadm-orchestrator

#603 Adding image details to 4.x RHEL7 latest json
  pipeline/4/Jenkinsfile-tier-0-rhel-7.groovy
  pipeline/4/Jenkinsfile-tier-0.groovy
  pipeline/5/Jenkinsfile-tier-0.groovy
  pipeline/vars/common.groovy
Labels: Jenkins, framework, pr-verified

#606 Added Bootstrap options for dashboard ssl key and cert
  ceph/ceph_admin/bootstrap.py
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
Labels: Ceph-dashboard, cephadm-orchestrator

#618 Add MON, MGR deployment with count options using limit attribute
  suites/pacific/cephadm/tier1_skip_dashboard.yaml
Labels: cephadm-orchestrator

#586 Execute radosbench sequence during cephadm upgrade test
  ceph/rados/__init__.py
  ceph/rados/rados_bench.py
  suites/pacific/cephadm/tier1_cephadm_upgrade.yaml
  tests/cephadm/test_cephadm_upgrade.py
Labels: Upgrade, cephadm-orchestrator

#621 Updating grafana image details
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5_x_baremetal.yaml
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5_x_baremetal_without_dashboard.yaml
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5_x_containerized.yaml
Labels: P0

#624 Removed Duplicate TCs and Added missing TCs in T2
  suites/pacific/rgw/tier_2_rgw_regression.yaml
Labels: RGW

#633 Fix long name issue: Trim down instance name with unique ID
  ceph/utils.py
  run.py
  utility/utils.py
Labels: framework

#637 Fixes node search issues from get_node_by_id method
  ceph/utils.py
Labels: framework

#631 Added RGW multi-site upgrade(4x CDN to 5x latest) test suite
  conf/nautilus/rgw/tier_1_rgw_multisite.yaml
  suites/pacific/upgrades/tier-1-upgrade_4x_to_5x_multisite.yaml
Labels: RGW, Upgrade

#572 Automation of bug id #1905339
  conf/pacific/rados/sanity_rados.yaml
  suites/pacific/rados/sanity_rados.yaml
  tests/rados/customer_scenarios.py
  tests/rados/mute_alerts.py
  tests/rados/rados_prep.py
  tests/rados/stretch_cluster.py
Labels: RADOS

#641 added provision to set custom LVM scenario
  ceph/ceph.py
  ceph/utils.py
  conf/nautilus/ansible/3node-custom-osd-scenario.yaml
  mita/v2.py
Labels: Nautilus, ceph-ansible, enhancement

#645 Increase upgrade timeout to as hour duration
  ceph/ceph_admin/upgrade.py
Labels: Upgrade, cephadm-orchestrator

#626 Adding 4.x Tier1 Test Scenarios
  conf/nautilus/cephfs/tier_1_fs.yaml
  suites/nautilus/cephfs/tier_1_fs.yaml
Labels: Ceph-FS, Tier-1

#643 Checks sync status on primary site before data verification
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: RGW, pr-verified

#619 Adding tier1 cephfs operations
  conf/pacific/cephfs/tier_1_fs.yaml
  suites/pacific/cephfs/tier_1_fs.yaml
  tests/cephfs/cephfs_tier1_ops.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, Tier-1

#651 added intial content for readthedocs documentation
  .readthedocs.yaml
  README.md
  README.rst
  docs/.gitignore
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/source/Introduction.rst
  docs/source/architecture.png
  docs/source/contribution_guidelines.rst
  docs/source/development_guidelines.rst
  docs/source/getting_started.rst
  docs/source/welcome.md
Labels: enhancement, framework

#588 Perform OSD create on a set of devices/single device on a single node
  ceph/ceph_admin/add.py
  ceph/ceph_admin/daemon.py
  ceph/ceph_admin/device.py
  ceph/ceph_admin/orch.py
  ceph/ceph_admin/osd.py
  ceph/ceph_admin/reconfig.py
  ceph/ceph_admin/redeploy.py
  ceph/ceph_admin/remove.py
  ceph/ceph_admin/restart.py
  ceph/ceph_admin/rm.py
  ceph/ceph_admin/service_ops.py
  ceph/ceph_admin/start.py
  ceph/ceph_admin/stop.py
  ceph/ceph_admin/typing_.py
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_daemon.py
  tests/cephadm/test_device.py
Labels: cephadm-orchestrator

#667 Updating the pool id
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  tests/misc_env/install_prereq.py
Labels: Jenkins, framework

#666 Added object lock testcase
  suites/pacific/rgw/tier_1_object.yaml
Labels: RGW, pr-verified

#675 Revert "Moving to a new user"
  tests/misc_env/install_prereq.py
Labels: framework
