Repository red-hat-storage/cephci, pull requests merged in 2021-05, with the labels that each got.

#495 issue#405 - Fix errors when installing RH IT CA
  ceph/utils.py
  tests/misc_env/install_prereq.py
Labels: framework

#497 Fix config_dict_to_string method to handle boolean argument.
  ceph/ceph_admin/common.py
Labels: cephadm-orchestrator

#494 RGW: Add multi site deployment and test execution for RHCS 5.0
  conf/pacific/rgw/rgw_mutlisite.yaml
  suites/pacific/rgw/rgw_multisite.yaml
  tests/misc_env/exec.py
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#493 service deployment via apply command using spec yaml file option
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/common_svc_template.jinja
  ceph/ceph_admin/jinja_templates/host.jinja
  ceph/ceph_admin/orch.py
  ceph/ceph_admin/shell.py
  ceph/ceph_admin/typing_.py
  suites/pacific/cephadm/tier1_service_apply_spec.yaml
  tests/ceph_installer/test_cephadm.py
Labels: cephadm-orchestrator

#499 Include bootstrap apply-spec option to deploy services.
  ceph/ceph_admin/bootstrap.py
  suites/pacific/cephadm/tier1_ssl_dashboard_port.yaml
  tests/cephadm/test_bootstrap.py
Labels: cephadm-orchestrator

#503 Added multisite TCs to RHCS 5.x
  suites/pacific/rgw/rgw_multisite.yaml
Labels: RGW

#507 apply-spec: osd spec support
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/osd.jinja
  suites/pacific/cephadm/tier1_service_apply_spec.yaml
Labels: cephadm-orchestrator

#508 Apply spec: Added support for NFS and MDS service
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/mds.jinja
  ceph/ceph_admin/jinja_templates/nfs.jinja
  suites/pacific/cephadm/tier1_service_apply_spec.yaml
Labels: cephadm-orchestrator

#512 fs_to_bs script fix
  tests/ceph_ansible/filestore_to_bluestore.py
Labels: ceph-ansible, script issue

#516 Object: Tier1 test suite and jenkins job configuration file
  pipeline/5/jenkinsfile-object-tier-1.groovy
  suites/pacific/rgw/tier_1_object.yaml
Labels: Jenkins, Tier-1

#515 tier1-deployment-job: update job configuration
  pipeline/5/Jenkinsfile-deployment-tier-1.groovy
  pipeline/5/jenkinsfile-DMFG-bootstrap-tier-1.groovy
  pipeline/5/jenkinsfile-object-tier-1.groovy
Labels: Jenkins, Tier-1

#523 suites/pacific/rgw/sanity_rgw: adding STS test case
  suites/pacific/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified

#527 apply-spec: RGW Apply specification file.
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/rgw.jinja
  suites/pacific/cephadm/tier1_service_apply_spec.yaml
Labels: cephadm-orchestrator

#519 Adding Tier1 - Volume Management TC
  suites/pacific/cephfs/tier_1_fs.yaml
  tests/cephfs/cephfs_volume_management.py
Labels: Ceph-FS, pr-verified

#532 Add indexless (blind) buckets tests to nautilus and pacific suites
  suites/nautilus/rgw/sanity_rgw.yaml
  suites/pacific/rgw/sanity_rgw.yaml
Labels: RGW, pr-verified
