Repository red-hat-storage/cephci, pull requests merged in 2022-04, with the labels that each got.

#1333 pool_tests.py: Verify bulk flag feature
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-3_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#1345 5.1 check(yes-i-know) introduced to support deployments.
  ceph/ceph_admin/bootstrap.py
Labels: Workaround

#1311 Fixing MultiFs failures
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/multifs/multifs_default_values.py
  tests/cephfs/multifs/multifs_fusemounts.py
  tests/cephfs/multifs/multifs_kernelmounts.py
Labels: Ceph-FS

#1351 Added reshard cancel TC into RGW T1
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: RGW

#1353 Provision 5x cdn repos
  ceph/ceph.py
Labels: ceph-ansible

#1362 Added test suite for metadata sync check
  suites/nautilus/rgw/tier-2_rgw_test-multisite-metadata-sync.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-metadata-sync.yaml
  utility/utils.py
Labels: RGW

#1371 Fix cannot stat xunit.xml
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
Labels: bug in framework, pr-verified

#1372 Reusing static information available to avoid multiple API calls
  compute/ibm_vpc.py
Labels: framework

#1381 rados_prep.py: Fix command output handling
  tests/rados/rados_prep.py
Labels: RADOS

#1384 Pick container image while switching to containerized daemons
  tests/ceph_ansible/switch_rpm_to_container.py
Labels: ceph-ansible

#1374 Adding clone operations for tier-0
  suites/pacific/cephfs/tier-0_fs.yaml
  tests/cephfs/bug-1980920.py
Labels: Ceph-FS

#1383 Adding log events in single message to Report Portal
  utility/rp_client.py
Labels: framework

#1394 Adding TFACon for PSI Runs
  requirements.txt
  utility/rp_client.py
  utility/utils.py
Labels: framework

#1396 cephfs_utilsV1 subvolume isolated option fix
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#1397 Subvolume creation with isolated namespace option
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_isolated_namespace.py
Labels: Ceph-FS

#1407 fixing the timeout issues with Rados pool tests suite.
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  tests/rados/test_9281.py
Labels: RADOS

#1404 CephFS - T2-CEPH-83574165
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_octal_modes.py
Labels: Ceph-FS
