Repository red-hat-storage/cephci, pull requests merged in 2022-08, with the labels that each got.

#1688 fix tox issue
  tests/ceph_ansible/shrink_osd.py
Labels: bug in framework, framework

#1682 Removed BZs mapped to STS tests as the issues got fixed and all STS tests passing
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: RGW

#1691 Adding testcase regarding dbr with custom value
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw_test-4x-upgrade-to-latest.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
Labels: RGW

#1692 change recipent email address
  pipeline/upstream_listener.groovy
Labels: upstream

#1687 test async data notifications Bug-2102358
  pipeline/metadata/5.2.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
Labels: RGW

#1666 test_cidr_blocklisting.py: Added suite and conf files for CIDR Blocklisting
  ceph/rados/core_workflows.py
  conf/pacific/rados/6-node-cluster-6-clients.yaml
  suites/pacific/rados/tier-2_rados_cidr_blocklisting.yaml
  tests/cephadm/test_client.py
  tests/rados/test_cidr_blocklisting.py
Labels: RADOS

#1686 Upgrades ceph-common package on upgraded cluster
  tests/rgw/sanity_rgw.py
Labels: RGW

#1694 remove sudo from execution
  pipeline/vars/v3.groovy
Labels: upstream

#1696 put/Set lifeycle to bucket with invalid date format in Lifecycle configuration
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: RGW

#1695 Add data omap offload with fifo log type on upgrade
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
Labels: pr-verified, RGW

#1701 Correcting the Values for K , M for the EC pool tests in RADOS
  conf/pacific/rados/test-confs/pool-configurations.yaml
  suites/pacific/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/pacific/rados/tier-3_rados_test-ecpool-osd-rebalance.yaml
Labels: RADOS

#1705 run_cot.sh: Shell script to run Ceph objectstore tool in Containerized…
  utility/run_cot.sh
Labels: RADOS

#1685 removed DBR TCs from upgrade suite
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
Labels: pr-verified, RGW

#1716 Updating rgw nodes as mentioned in its conf file
  suites/pacific/upgrades/tier-2_dmfg_test-elasticity-after-upgrade-from-5-cdn-to-5-latest.yaml
Labels: RGW

#1706 Automating CEPH-83574724 clone subvolume with full data
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  tests/cephfs/snapshot_clone/clone_subvolume_full_vol.py
Labels: Ceph-FS

#1723 [Nautilus]: Add missing tier-2 testsuites to metadata file
  pipeline/metadata/4.3.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-primary-to-secondary.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-secondary-to-primary.yaml
Labels: RGW, PipelineV3.0

#1721 Testing rgw opslog
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd-5-0-only.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: pr-verified, RGW

#1727 CEPH-83575046 - Control functionality for RGW lifecycle
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#1720 Adding Tier1 test suite to support Ceph 6.0
  conf/quincy/cephadm/tier-1_5node_cephadm_bootstrap.yaml
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
Labels: CephAdm

#1729 Adding Support functions for snapshot metadata Operations
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#1730 Updating RGW service as per conf file used for the suite
  suites/pacific/upgrades/tier-2_dmfg_test-elasticity-after-upgrade-from-5-cdn-to-5-latest.yaml
Labels: pr-verified, RGW, Upgrade

#1681 modifying test names to be unique in rgw pacific suites
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bilog-crash-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_bucket_lc_multipart_object_expired.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool-ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_ms-bucket-objects-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-metadata-sync.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd-5-0-only.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: pr-verified, RGW

#1734 ceph/cephadm/apply.py: fix issue with validate spec services
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/typing_.py
  unittests/ceph/ceph_admin/test_apply.py
Labels: cephadm-orchestrator

#1725 Fix post results failures
  pipeline/post-results.groovy
  pipeline/vars/v3.groovy
Labels: framework, Jenkins

#1739 Adding testsuite for testing polarion ID CEPH-11197
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#1742 fix for rados test suite failure
  suites/pacific/rados/tier-3_rados_test-ecpool-osd-rebalance.yaml
Labels: RADOS

#1718 test_pg_dups_trimming.py: Verifiy automatic trimming of PGLog dups
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  conf/pacific/rados/6-node-depressa-cluster.yaml
  suites/pacific/rados/tier-3_rados_test-pg-dups-trimming.yaml
  tests/rados/test_pg_dups_trimming.py
  utility/run_cot.sh
Labels: RADOS

#1745 Removing dependency on branch config
  suites/pacific/integrations/cvp.yaml
  suites/pacific/interop/test-ceph-sanity.yaml
  suites/quincy/cephadm/sanity-test.yaml
  tests/rbd/test_rbd.py
Labels: RBD, InterOp

#1744 Layered product message to contain Ceph image
  pipeline/psi-post-umb.groovy
Labels: framework, Jenkins

#1746 Added ACL tests to cephci
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#1751 Fix Multisite testcase failure due to module used is of single site
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool-ms-bucket-listing-versioning-on-secondary.yaml
Labels: pr-verified, RGW

#1733 Disable Trash feature and Verify
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_trash.py
Labels: RBD

#1747 Automation of CEPH-83573669 - Create cephfs nfs export on non-existin…
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_non_exist_export_path.py
Labels: Ceph-FS

#1754 T2 - CEPH-11309 - Export and import data between NFS and CephFS
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/move_data_bw_nfs_and_cephfs_mounts.py
Labels: Ceph-FS

#1750 Add support for deploying release version binaries unavailable in CDN
  ceph/ceph_admin/apply.py
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/orch.py
  tests/ceph_installer/test_ansible.py
  tests/ceph_installer/test_cephadm.py
  unittests/ceph/ceph_admin/test_apply.py
Labels: enhancement, pr-verified, framework

#1714 Automation - CEPH-83574670 and CEPH-83574671
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_admin_add_labels.py
  tests/cephadm/test_admin_node_removal.py
Labels: CephAdm

#1766 Adding Recommendation for the failures with older runs
  utility/utils.py
Labels: framework

#1767 [Cephci]: Include CEPH-83574806 into suites
  suites/nautilus/rgw/tier-2_rgw_s3cmd_test-bucket-object-stats.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: pr-verified, RGW

#1765 Tuning quincy rbd suite and adding stderr to log error
  ceph/ceph.py
  ceph/ceph_admin/bootstrap.py
  suites/quincy/rbd/basic-operations-unit-testing.yaml
Labels: P0, framework, RBD, upstream

#1759 Added DBR TCs for 5.3 execution
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#1756 Automation CEPH-83575038 - verify CRUD operation on metadata of snapshot
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/snapshot_metadata.py
Labels: Ceph-FS

#1749 test_pg_dups_trimming.py: Verifiy automatic trimming of PGLog dups
  ceph/rados/core_workflows.py
  conf/pacific/rados/6-node-depressa-cluster.yaml
  suites/pacific/rados/tier-3_rados_test-pg-dups-trimming.yaml
  tests/rados/test_pg_dups_trimming.py
  utility/run_cot.sh
Labels: RADOS

#1737 Upgrade suite 4.x to 5.x for cephfs
  conf/pacific/cephfs/tier-2_cephfs_upgrade.yaml
  suites/pacific/cephfs/tier-2_cephfs_upgrade_4x_5x.yaml
  tests/cephfs/cephfs_upgrade/cephfs_io.py
  tests/cephfs/cephfs_upgrade/metadata_version_validation.py
  tests/cephfs/cephfs_upgrade/upgrade_pre_req.py
  tests/cephfs/cephfs_utilsV1.py
  tests/parallel/test_parallel.py
Labels: Ceph-FS

#1769 Adding more info to debug logs - get_cluster_state
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_bootstrap.py
Labels: P1, CephAdm

#1772 test_mon_db_trimming.yaml: Updated the test name
  suites/pacific/rados/tier-3_rados_test-mon-db-trimming.yaml
Labels: RADOS

#1740 Include rgw tier-0 suites to 6.0 metadata file
  conf/quincy/rgw/tier-0_rgw.yaml
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/test-basic-object-operations.yaml
Labels: pr-verified, RGW

#1774 add a check to verify radoslist and bucket stats before and after upgrade
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
Labels: pr-verified, RGW

#1771 test_pg_dups_trimming.py: Post upgrade checks
  ceph/rados/core_workflows.py
  tests/rados/test_pg_dups_trimming.py
Labels: RADOS

#1775 Multipart object expiration with lc debug interval 600
  suites/nautilus/rgw/tier-2_rgw_bucket_lc_multipart_object_expired.yaml
  suites/pacific/rgw/tier-2_rgw_bucket_lc_multipart_object_expired.yaml
Labels: pr-verified, RGW

#1778 Test suite failed due to testcase name while generating log
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#1781 This fix will add support of updating pip package required for paramiko package
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#1743 Upgrade suite for 5.x to 5.x+1 with rbd-mirroring
  conf/pacific/rbd/tier-1_rbd_mirror.yaml
  suites/pacific/rbd/tier-1_rbd_mirroring_upgrade-5-to-latest.yaml
Labels: RBD, CephAdm
