Repository red-hat-storage/cephci, pull requests merged in 2022-01, with the labels that each got.

#1011 Log Wrapper for logstash implementation
  ceph/ceph.py
  ceph/utils.py
  run.py
  setup.py
  tests/cephfs/cephfs_basic_tests.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_volume_management.py
  tests/cephfs/nfs-ganesha_basics.py
  tests/misc_env/install_prereq.py
  tests/misc_env/sosreport.py
  utility/config.py
  utility/log.py
  utility/utils.py
Labels: framework

#1035 Rados tier-3 tests: Mondb trimming & scrubing scenarios.
  pipeline/scripts/5/0/tier-3/test-rados-mondb-trimming.sh
  pipeline/scripts/5/0/tier-3/test-rados-scrub-scenarios.sh
  pipeline/scripts/5/1/tier-3/test-rados-mondb-trimming.sh
  pipeline/scripts/5/1/tier-3/test-rados-scrub-scenarios.sh
  suites/pacific/rados/tier-3_rados_test-scrubbing.yaml.yaml
  suites/pacific/rados/tier-3_raods_test-mon-db-trimming.yaml
  tests/rados/customer_scenarios.py
Labels: RADOS

#1050 fix ibmc location to get kafka package
  suites/nautilus/rgw/tier-2_rgw_test-bucket-notifications.yaml
  utility/utils.py
Labels: RGW

#1060 RGW MutiSite upgrade test suite from 4.x to 5 latest
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  tests/ceph_installer/test_ansible.py
Labels: pr-verified, RGW, Upgrade

#1065 Adding support for specifying root CA location
  cephci.yaml.template
  utility/utils.py
Labels: framework

#1064 add kafka tests to pipeline
  pipeline/scripts/4/3/tier-3/test-rgw-bucket-notifications.sh
Labels: RGW

#1067 Added crash ls TC into nautilus and pacific MS suite
  suites/nautilus/rgw/tier-1-extn_rgw_multisite-primary-to-secondary.yaml
  suites/pacific/rgw/tier-1-extn_rgw_multisite-primary-to-secondary.yaml
Labels: pr-verified, RGW

#1068 add radoslist test
  suites/nautilus/rgw/tier-2_rgw_image_test-bucket-lifecycle-and-listing.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#1062 Support image overrides via custom-config
  ceph/ceph_admin/bootstrap.py
  run.py
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_bootstrap.py
  tests/cephadm/test_cephadm_upgrade.py
  tests/cephadm/test_monitoring.py
Labels: pr-verified, framework

#1071 code changes for cephadm-ansible
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/cephadm_ansible.py
  suites/pacific/upgrades/tier-1_upgrade_cephadm.yaml
  tests/cephadm/test_cephadm_ansible.py
  tests/cephadm/test_client.py
Labels: cephadm-orchestrator

#1074 Adds support of environment variables in rgw script
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#1083 Add check to verify sync on secondary after user create
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: pr-verified, RGW

#1092 provision for polarion updates using xUnit Xml files
  pipeline/post-results.groovy
  pipeline/vars/lib.groovy
  run.py
  utility/xunit.py
Labels: framework

#1063 Added script file for executing 4.2 to 4.x latest upgrade suite
  pipeline/scripts/4/3/tier-1/test-rgw-single-site-upgrade.sh
  suites/nautilus/rgw/tier1_rgw_test-4x-upgrade-to-latest.yaml
Labels: RGW

#1099 Fix for Issue_1096
  run.py
Labels: framework

#1103 4.x deployment can fail when reuse option is used
  ceph/ceph.py
Labels: framework

#1105 Add bucket stat consistency tc to pacific
  pipeline/scripts/5/0/tier-2/test-rgw-using-s3cmd.sh
  pipeline/scripts/5/1/tier-2/test-rgw-using-s3cmd.sh
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd-5-0-only.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: RGW

#1079 adding tier-3 rados rebalance suites to pipeline
  pipeline/scripts/5/0/tier-3/test-rados-robust-rebalance.sh
  pipeline/scripts/5/1/tier-3/test-rados-robust-rebalance.sh
  suites/pacific/rados/tier-3_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_rebalance.py
Labels: RADOS

#1084 rados tier-3: PG Autoscaler - pool tests
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-3_raods_test-pool_functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#1108 Updated with custom log - rados
  ceph/rados/utils.py
  tests/rados/test_9281.py
Labels: RADOS

#1104 Porting RHOS-D quota scripts to Python
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  requirements.txt
  rhos_quota.py
  templates/quota-template-stats.html
Labels: framework

#1106 Added DBR brownfield and greenfield TCs into 4.x upgrade suite
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
Labels: pr-verified, RGW

#1100 update recipe files for the IBMc test runs.
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
  pipeline/post-results.groovy
  pipeline/unsigned-container-image-listener.groovy
  pipeline/vars/lib.groovy
Labels: framework

#1082 Adding Multifs kernel mount fstab test case
  suites/pacific/cephfs/tier-2_cephfs_test-multifs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/multifs/multifs_kernelmounts.py
Labels: Ceph-FS

#1077 Adding tests for admin_label feature
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/host.py
  suites/pacific/cephadm/tier-0_5-1_cephadm.yaml
  suites/pacific/cephadm/tier-1_ssl_dashboard_port.yaml
Labels: cephadm-orchestrator

#1119 convert buildartifacts to string in build section
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
Labels: framework

#1122 ecpool rebalance test case
  ceph/rados/utils.py
  suites/pacific/rados/tier-3_rados_test-ecpool-osd-rebalance.yaml
  tests/rados/test_osd_rebalance.py
Labels: RADOS

#1129 Fix issue with _admin label validation.
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/host.py
  suites/pacific/cephadm/tier-0_5-1_cephadm.yaml
Labels: cephadm-orchestrator

#1133 [post-results-job] fix null value issue before updating recipe files
  pipeline/post-results.groovy
  pipeline/signed-container-image-listener.groovy
Labels: framework

#1136 Added monitoring on dashboard login API call
  ceph/ceph_admin/helper.py
  tests/cephadm/test_bootstrap.py
Labels: cephadm-orchestrator

#1126 pool_tests.py: Large number of omap creations on objects
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-3_rados_test-pool-functionalities.yaml
  tests/rados/test_omap_entries.py
  utility/generate_omap_entries.py
Labels: RADOS

#1121 Checking subvolume default gid and uid
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_gid_uid.py
Labels: Ceph-FS

#1146 Include build artifacts in e-mail body
  pipeline/post-results.groovy
  pipeline/vars/lib.groovy
Labels: framework, Jenkins

#1148 Fix issue in sendEmail method.
  pipeline/post-results.groovy
  pipeline/vars/lib.groovy
Labels: framework
