Repository red-hat-storage/cephci, pull requests merged in 2022-07, with the labels that each got.

#1585 Update upstream groovy scripts
  pipeline/upstream_listener.groovy
  pipeline/upstream_test_executor.groovy
  pipeline/vars/v3.groovy
Labels: upstream

#1584 [cephci]: Fix tests suites with missing polarion ids
  suites/nautilus/rgw/sanity_rgw_multisite.yaml
  suites/nautilus/rgw/tier-0_rgw.yaml
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_containerized-regression.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_regression.yaml
  suites/nautilus/rgw/tier-1_rgw_test-4x-upgrade-to-latest.yaml
  suites/nautilus/rgw/tier-2_rgw-single-bucket-process.yaml
  suites/nautilus/rgw/tier-2_rgw_s3cmd_test-bucket-object-stats.yaml
  suites/nautilus/rgw/tier-2_rgw_test-bucket-acls-and-links.yaml
  suites/nautilus/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/nautilus/rgw/tier-2_rgw_test-bucket-ops-and-versioning.yaml
  suites/nautilus/rgw/tier-3_rgw_ganesha.yaml
  suites/pacific/rgw/tier-0_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_cephadm.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bilog-crash-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool-ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_ms-bucket-objects-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-metadata-sync.yaml
Labels: RGW

#1599 Fix: user creation failure while cluster deployed with 4.x ver and rhbuild was 5.x
  run.py
  suites/nautilus/rgw/tier-2_rgw_test-bucket-acls-and-links.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd-5-0-only.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#1610 Fix upstream executor pipeline.
  pipeline/upstream_test_executor.groovy
Labels: upstream

#1602 fix service validation retry issue
  ceph/ceph_admin/orch.py
Labels: cephadm-orchestrator

#1606 Integrated all supported RGW compression types in cephci
  suites/nautilus/rgw/tier-2_rgw_test-bucket-ops-and-versioning.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#1594 Rolling upgrade with --skip-tags ceph_infra
  suites/pacific/upgrades/tier-2_upgrade_skip-tag_ceph_infra.yaml
Labels: Polarion testcase

#1620 fix upstream executor status
  pipeline/upstream_test_executor.groovy
Labels: upstream

#1597 Metadata stat and ceph version validation
  tests/cephfs/cephfs_upgrade/metadata_version_validation.py
Labels: Ceph-FS

#1591 fs_util.get_stat() fix for general file stats
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#1564 Added test for cephfs nfs export for subvolume & fix for nfs failure
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/nfs/2_node_nfs.py
  tests/cephfs/nfs/nfs_snaphshot_clone.py
  tests/cephfs/nfs/read_only_nfs_export.py
  tests/cephfs/nfs/recreate_same_name_nfs.py
  tests/cephfs/nfs/subvolume_export.py
  tests/cephfs/nfs/zip_unzip_files_nfs.py
Labels: Ceph-FS

#1588 Adding scale test cases for cephfs
  tests/cephfs/cephfs_scale/__init__.py
  tests/cephfs/cephfs_scale/max_svg_sv.py
Labels: Ceph-FS

#1648 Fix upload compose script
  pipeline/scripts/ci/upload_compose.py
Labels: bug in framework

#1590 Osd deployment with LV and device paths.
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/osd.jinja
  compute/baremetal.py
  suites/pacific/cephadm/test-container-cli-args.yaml
  suites/pacific/cephadm/test-haproxy-deployment.yaml
  suites/pacific/cephadm/test-raw_osd-deployment.yaml
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  suites/pacific/cephadm/tier-2_dmfg_test-cluster-elasticity.yaml
  suites/pacific/rados/deploy-stretch-cluster-mode.yaml
  tests/misc_env/lvm_deployer.py
Labels: framework, cephadm-orchestrator, Ceph-System-Test

#1651 Fix ignore-latest-container flag
  ceph/utils.py
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.5-server-x86_64-large.yaml
  conf/inventory/rhel-8.6-server-x86_64.yaml
  conf/inventory/rhel-9.0-server-x86_64.yaml
  osp/osp-cred-ci-2.yaml
  run.py
  utility/psi_volume_cleanup.py
Labels: bug in framework

#1512 Verifying pg number limit
  suites/pacific/rados/tier-3_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#1656 [cephci] [#1632] Upgrade of 5.1 to 5.2 needs a script change
  tests/cephadm/test_cephadm_upgrade.py
Labels: RGW, Workaround, cephadm-orchestrator

#1647 Adding slow op requests test
  suites/pacific/rados/tier-2_rados_test-slow-op-requests.yaml
  tests/rados/rados_test_util.py
  tests/rados/test_slow_op_requests.py
Labels: RADOS

#1655 Add support for empty bucket notification
  pipeline/metadata/5.2.yaml
  suites/pacific/rgw/tier-2_rgw_test-empty-bucket-notifcations.yaml
Labels: pr-verified, RGW

#1644 Adding wait for MDS to move to running state
  tests/cephfs/cephfs_snapshot_management.py
  tests/cephfs/multifs/multifs_fusemounts.py
Labels: Ceph-FS

#1660 Adding Rados 6.0 test suites
  conf/quincy/rados/11-node-cluster.yaml
  conf/quincy/rados/7-node-cluster.yaml
  conf/quincy/rados/test-confs/pool-configurations.yaml
  pipeline/metadata/6.0.yaml
  suites/quincy/rados/deploy-stretch-cluster-mode.yaml
  suites/quincy/rados/tier-2_rados_basic_regression.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-ecpool-osd-rebalance.yaml
  suites/quincy/rados/tier-3_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-3_rados_test-osd-inprogress-rebalance.yaml
  suites/quincy/rados/tier-3_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-3_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-3_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-3_rados_test-stretch-mode-upgrade.yaml
Labels: RADOS

#1657 Fix email in rhceph-test-executor
  pipeline/test_executor.groovy
Labels: Jenkins

#1676 updating rados suites to rhel-9
  pipeline/metadata/6.0.yaml
Labels: RADOS
