Repository red-hat-storage/cephci, pull requests merged in 2022-02, with the labels that each got.

#1087 [OKR][BZ-2014304]: Support --limit and --tags option RHCS4
  pipeline/scripts/4/3/tier-2/test-upgrade-with-tags.sh
  suites/nautilus/upgrades/tier-2_upgrade_with-tags.yaml
  tests/ceph_ansible/test_ansible_upgrade.py
Labels: ceph-ansible

#1111 Attach polarion Id(s) to RHCeph 5x cephadm test cases
  suites/pacific/cephadm/tier-0_5-1_cephadm.yaml
  suites/pacific/cephadm/tier-0_cephadm.yaml
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  suites/pacific/cephadm/tier-1_skip_dashboard.yaml
  suites/pacific/cephadm/tier-1_ssl_dashboard_port.yaml
  suites/pacific/cephfs/tier-0_fs.yaml
  suites/pacific/cephfs/tier-1_fs.yaml
  suites/pacific/rbd/tier-0_rbd.yaml
  suites/pacific/rgw/tier-0_rgw.yaml
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/upgrades/tier-1_upgrade_cephadm.yaml
Labels: cephadm-orchestrator

#1085 Create and Delete subvolume on non-exist subvolume_group
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_non_exsit_subvol_group.py
Labels: Ceph-FS

#1160 Fix yaml parser error
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
Labels: Ceph-FS

#1165 Upgrade MS cluster running RHCS 5 GA to latest development build in 5x.
  pipeline/scripts/5/1/tier-3/test-rgw-ssl-multisite-upgrade.sh
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
  tests/cephadm/test_cephadm_upgrade.py
Labels: pr-verified, RGW

#1147 Integrates DBR scenarios into upgrade suite
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
Labels: pr-verified, RGW

#1169 fix issue with ssh-user
  suites/pacific/rbd/tier-0_rbd.yaml
Labels: P0, cephadm-orchestrator

#1170 Introduced sleep time to avoid rbd-mirror failure
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD

#1161 pool_workflows: object and snapshot creation/deletion
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-3_rados_test-pool-functionalities.yaml
  tests/rados/test_client_pg_access.py
Labels: RADOS

#1164 Validating logging mechanism on IBM-C
  requirements.txt
  run.py
Labels: framework

#1145 Adding multifs fuse mount test case with Fstab entry
  suites/pacific/cephfs/tier-2_cephfs_test-multifs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/multifs/multifs_fusemounts.py
  tests/cephfs/multifs/multifs_kernelmounts.py
Labels: Ceph-FS

#1150 Prepared framework to run unittests
  .gitignore
  requirements.txt
  tox.ini
  unittests/__init__.py
  unittests/ceph/__init__.py
  unittests/ceph/ceph_admin/__init__.py
  unittests/ceph/ceph_admin/test_add.py
  unittests/ceph/ceph_admin/test_alert_manager.py
  unittests/ceph/ceph_admin/test_apply.py
Labels: framework

#1173 Add Bucket Lifecycle test support on multi-site
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-primary-to-secondary.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-secondary-to-primary.yaml
Labels: RGW

#1176 Adding Multi FS test cases in CephFS
  suites/pacific/cephfs/tier-2_cephfs_test-multifs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/multifs/multifs_default_values.py
  tests/cephfs/multifs/multifs_multiplefs.py
Labels: Ceph-FS

#1080 Delete non-exist subvolume name
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_non_exist_subvolume.py
Labels: Ceph-FS

#1091 Automation of CEPH-9230:snap&clone of an imported image
  suites/nautilus/rbd/tier-2_rbd_regression.yaml
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  tests/rbd/exceptions.py
  tests/rbd/rbd_snap_clone_imported_image.py
  tests/rbd/rbd_utils.py
Labels: DNM, RBD

#1184 revert back work-around for BZ-2044978
  ceph/ceph_admin/helper.py
Labels: cephadm-orchestrator

#1172 Cephadm client-keyring implementation
  ceph/ceph_admin/client_keyring.py
  suites/pacific/cephadm/tier-2_dmfg_test-cluster-elasticity.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_client_keyring.py
Labels: cephadm-orchestrator

#1175 Add support to install rgw with ssl
  suites/nautilus/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  tests/ceph_installer/test_ansible.py
  utility/utils.py
Labels: pr-verified, RGW

#1186 Include cephadm-clients.yml playbook
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
Labels: cephadm-ansible

#1180 Introduce failure alert notifications in listener jobs
  pipeline/post-results.groovy
  pipeline/rhos_scripts/Jenkinsfile-cleanup-env.groovy
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  pipeline/signed-compose-listener.groovy
  pipeline/signed-container-image-listener.groovy
  pipeline/unsigned-compose-listener.groovy
  pipeline/unsigned-container-image-listener.groovy
Labels: framework

#1174 tests/rgw: add branch option
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: pr-verified, RGW

#1190 add rgw-ssl upgrade test to pipeline
  pipeline/scripts/4/3/tier-3/test-rgw-ssl-upgrade-4-to-latest.sh
  suites/nautilus/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
Labels: RGW

#1181 Adding rados test case CEPH-9228
  ceph/rados/utils.py
  suites/pacific/rados/tier-3_rados_test-osd-inprogress-rebalance.yaml
  tests/rados/rados_test_util.py
  tests/rados/test_osd_inprogress_rebalance.py
  utility/utils.py
Labels: RADOS

#1151 Added tier-2 nfs tests
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/__init__.py
  tests/cephfs/nfs/nfs_export_path.py
  tests/cephfs/nfs/nfs_snaphshot_clone.py
  tests/cephfs/nfs/nfs_subvolume_subvolumegroup.py
  tests/cephfs/nfs/read_only_nfs_export.py
Labels: Ceph-FS

#1086 Delete non-exist subvolume group name with force option
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_group_force.py
Labels: Ceph-FS

#1206 Added new config for rados suites.
  ceph/rados/pool_workflows.py
  conf/pacific/rados/11-node-cluster.yaml
  conf/pacific/rados/7-node-cluster.yaml
  conf/pacific/rados/sanity_rados.yaml
  conf/pacific/rados/tier_3_rados.yaml
  pipeline/scripts/5/0/tier-2/test-rados-basic-regression.sh
  pipeline/scripts/5/0/tier-2/test-rados-ec-pool-recovery.sh
  pipeline/scripts/5/0/tier-2/test-rados-robust-rebalance.sh
  pipeline/scripts/5/0/tier-3/test-rados-mondb-trimming.sh
  pipeline/scripts/5/0/tier-3/test-rados-pool-functionalities.sh
  pipeline/scripts/5/0/tier-3/test-rados-robust-rebalance.sh
  pipeline/scripts/5/0/tier-3/test-rados-scrub-scenarios.sh
  pipeline/scripts/5/0/tier-3/test-rados-stretch-cluster-upgrade.sh
  pipeline/scripts/5/1/tier-2/test-rados-basic-regression.sh
  pipeline/scripts/5/1/tier-2/test-rados-ec-pool-recovery.sh
  pipeline/scripts/5/1/tier-2/test-rados-robust-rebalance.sh
  pipeline/scripts/5/1/tier-3/test-rados-mondb-trimming.sh
  pipeline/scripts/5/1/tier-3/test-rados-pool-functionalities.sh
  pipeline/scripts/5/1/tier-3/test-rados-robust-rebalance.sh
  pipeline/scripts/5/1/tier-3/test-rados-scrub-scenarios.sh
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  suites/pacific/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/pacific/rados/tier-3_rados_test-mon-db-trimming.yaml
  suites/pacific/rados/tier-3_rados_test-pool-functionalities.yaml
Labels: RADOS

#1183 Adding snapshot mirror basic functionalities to tier_1 suite.
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_mirror_image.py
Labels: RBD

#1178 Added test_requirements.txt
  requirements.txt
  test_requirements.txt
  tox.ini
Labels: framework

#1213 Exclude test result with null value in email template
  pipeline/ibm-tier-x.groovy
Labels: framework, Jenkins

#1214 add rgw ssl upgrade suite from 4.xGA to 5.x latest
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
Labels: pr-verified, RGW

#1216 Added brownfield DBR scenrio in upgrade suite
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
Labels: RGW

#1218 Added upgrade suite for 4.x to 5.x with RGW tests
  conf/pacific/rgw/5-node-with-iscsi-role.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
Labels: RGW

#1227 move indexless tests down the order
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#1231 Fix rename add non exist
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_delete_non_exist_subvol_group.py
Labels: Ceph-FS

#1232 cron pipeline groovy scripts
  pipeline/cron-pipeline-test-executor.groovy
  pipeline/cron-pipeline.groovy
  pipeline/scripts/cron/5/1/stage-0/test-rados-pool-functionalities.sh
  pipeline/scripts/cron/5/1/stage-0/test-rados-scrub-scenarios.sh
  pipeline/scripts/cron/README.md
  pipeline/vars/lib.groovy
Labels: framework

#1223 Build tests with upstream Quincy build and repos.
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/osd.py
  conf/quincy/cephadm/6node-all-roles.yaml
  run.py
  suites/quincy/cephadm/test-build-sanity.yaml
  tests/cephadm/test_bootstrap.py
  tests/cephadm/test_mon.py
  tests/misc_env/install_prereq.py
  tests/parallel/test_parallel.py
  tests/rbd/test_rbd.py
  tests/rgw/sanity_rgw.py
Labels: cephadm-orchestrator, Quincy

#1241 Adding sh files for cephfs tier2 tests
  pipeline/scripts/5/1/tier-4/test-cephfs-clients.sh
  pipeline/scripts/5/1/tier-4/test-cephfs-multifs.sh
  pipeline/scripts/5/1/tier-4/test-cephfs-quota.sh
  pipeline/scripts/cron/5/1/stage-1/test-cephfs-nfs.sh
  pipeline/scripts/cron/5/1/stage-1/test-cephfs-snapshot-clone.sh
  pipeline/scripts/cron/5/1/stage-1/test-cephfs-volume-mgmt.sh
Labels: Ceph-FS

#1243 fix issue in install pre-req to install pkgs consideration
  tests/misc_env/install_prereq.py
Labels: cephadm-orchestrator

#1245 Adding support for RHEL-9 platform
  ceph/utils.py
  conf/inventory/ibm-vpc-rhel-7.9-minimal-amd64-3.yaml
  conf/inventory/ibm-vpc-rhel-8.4-minimal-amd64-1.yaml
  conf/inventory/ibm-vpc-rhel-8.5-minimal-amd64-1.yaml
  conf/inventory/rhel-8.5-server-x86_64.yaml
  conf/inventory/rhel-9-latest.yaml
  conf/inventory/rhel-9.0-server-x86_64.yaml
  run.py
  tests/misc_env/install_prereq.py
  tests/misc_env/sosreport.py
Labels: framework
