Repository red-hat-storage/cephci, pull requests merged in 2022-09, with the labels that each got.

#1674 cephadm-clients playbook to copy keyring with the same name as specified by the keyring parameter
  suites/pacific/cephadm/tier-1_cephadm-clients.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
Labels: pr-verified, cephadm-ansible

#1777 Automation: CEPH-11310 - Run IOs by mounting same subvolume with all the three mounts
  tests/cephfs/nfs/nfs_fuse_kernel_same_subvolume.py
Labels: Ceph-FS

#1732 To configure multiple public network using ceph config option
  conf/pacific/cephadm/5-node-cluster-multiple-subnet-openstack-only.yaml
  suites/pacific/cephadm/customer_bz/tier-2_multiple_subnet_openstack_only.yaml
  tests/cephadm/test_config.py
Labels: CephAdm

#1786 Abort the test suite when client is not properly configured
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
Labels: RADOS

#1790 Add conf and fix typo
  suites/pacific/cephadm/tier-0_cephadm.yaml
Labels: pr-verified

#1791 Update ceph packages post-upgrade to avoid failure
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
Labels: pr-verified, RGW

#1785 Integrate testcase single deletemarker for versioned object using LC
  suites/nautilus/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#1728 RBD FG suites for quincy
  conf/quincy/rbd/4-node-cluster-with-1-client.yaml
  conf/quincy/rbd/5-node-2-clusters.yaml
  pipeline/metadata/6.0.yaml
  suites/quincy/rbd/tier-1_rbd.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
Labels: RBD, PipelineV3.0

#1776 Added 2 nfs tests
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/existing_path_nfs_export.py
  tests/cephfs/nfs/test_data_integrity_nfs_cephfs_mounts.py
Labels: Ceph-FS

#1798 T2-CEPH-11314-Backup and restore data using existing NFS backup tools
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/nfs/data_backup_restore_bw_nfs_and_local_mounts.py
Labels: Ceph-FS

#1792 Integrate testcase CEPH-11192 in ceph-ci
  pipeline/metadata/4.3.yaml
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  suites/nautilus/rgw/tier-2_rgw_test-lc-prefix.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
Labels: pr-verified, RGW

#1789 adding singlesite to multisite migration suite in rgw pacific
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: pr-verified, RGW

#1770 Automation - Add tc to validate host can be safely stopped without re…
  suites/pacific/cephadm/tier-0_cephadm.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_node_safe_stop.py
Labels: CephAdm, DMFG

#1805 cephci global,suite conf files for ocp+odf env
  conf/pacific/integrations/6node-all-roles-ceph-env.yaml
  suites/pacific/integrations/system-test-ceph-env.yaml
Labels: Integrations

#1794 [Automation] Add tc to validate cephadm adopt fails to start OSDs whe…
  conf/pacific/upgrades/upgrades_custom_name.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-container_custom_name.yaml
Labels: DMFG

#1804 Integration of CEPH-11196 into cephci
  suites/nautilus/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
  suites/pacific/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
Labels: pr-verified, RGW

#1797 Modifying suite name for 6.0 for Monitor db trimming suite
  suites/quincy/rados/tier-3_rados_test-mon-db-trimming.yaml
Labels: RADOS

#1801 Adding 2 client config to support newly added tests in nfs suite
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
Labels: Ceph-FS

#1799 Adding cephfs tests to 6.0 metadata suite
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
Labels: Ceph-FS

#1796 Added metadata as per new suite addition to run in pipeline
  pipeline/metadata/5.3.yaml
Labels: DMFG

#1795 Adding close loop of bi_purge test (BZ 1910503) to rhcs-5.3 specific fixes.
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-2_rgw_test_5.3_specific_fixes.yaml
Labels: RGW

#1806 Fixes mismatch between conf and suite
  suites/quincy/rbd/tier-1_rbd_mirror.yaml
Labels: RBD, Tier-1

#1659 Verify ceph-ansible log file is created and contains the logs of a pa…
  suites/nautilus/ansible/tier-2_deploy_test-ceph-rpms.yaml
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible, DMFG

#1814 [rbd] [tier-2] Adding TCs to quincy suite with a fix
  suites/quincy/rbd/tier-2_rbd_regression.yaml
Labels: RBD, Tier-2

#1813 Adding prepare node script for Baremetal
  pipeline/rhcs-bm-executor.groovy
  pipeline/vars/node_bootstrap.bash
Labels: framework

#1788 Enhancement in setup repos
  ceph/ceph_admin/bootstrap.py
  ceph/utils.py
Labels: pr-verified

#1819 Modify upgrades suites to refer to a single testcase
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/nautilus/rgw/tier-1_rgw_test-4x-upgrade-to-latest.yaml
  suites/nautilus/rgw/tier-2_rgw_test-4x-ganesha-upgrade-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
Labels: RGW, Polarion testcase

#1821 RHCS 6.0 test conf/suite for SysTest
  conf/quincy/integrations/6node-all-roles-ceph-env.yaml
  suites/quincy/integrations/system-test-ceph-env.yaml
Labels: Ceph-System-Test

#1820 Enhance Enhance sanity_rgw_multisite test module
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#1808 Enhance sanity_rgw test module
  tests/rgw/sanity_rgw.py
Labels: pr-verified, RGW

#1802 integration of rgw quota management in cephci
  pipeline/metadata/4.3.yaml
  pipeline/metadata/5.3.yaml
  suites/nautilus/rgw/tier-2_rgw_test-quota-management.yaml
  suites/pacific/rgw/tier-2_rgw_test-quota-management.yaml
Labels: RGW

#1822 Decoupling rbd test with ceph version,trimming t0 suite
  suites/pacific/cephadm/tier-0.yaml
  suites/pacific/rbd/tier-0_rbd.yaml
Labels: P0, RBD, Tier-0

#1829 Fix for #1815 - rsync is failing in the first attempt.
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#1828 Update metadata file with rgw suite for execution
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
Labels: RGW, PipelineV3.0

#1834 [rbd] [tier-1] [downstream nautilus] Aligning module to all downstream versions
  suites/quincy/cephadm/tier-0.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD, Tier-1

#1835 Updated mon db trimming to psi only and added slow ops
  pipeline/metadata/5.3.yaml
Labels: RADOS

#1783 Logrotate functionality
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/restart.py
  suites/pacific/cephadm/tier-1_ssl_dashboard_port.yaml
  tests/ceph_installer/test_cephadm.py
Labels: DMFG

#1839 Fix ceph-common pkg install logic
  tests/rgw/sanity_rgw.py
Labels: pr-verified, RGW

#1842 Fix conf file in metadata file
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
Labels: pr-verified, RGW

#1847 Adding support for Tier-3 pipeline
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/psi-tier-3-pipeline-executor.groovy
Labels: RADOS, Jenkins

#1845 Integrated DBR reshard list and cancel command in suite
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
Labels: pr-verified, RGW

#1846 Add support for archive zone with single site
  conf/pacific/rgw/rgw_archive.yaml
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-2_rgw_archive.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: pr-verified, RGW

#1817 Cephfs subvolume 6.0 pipeline fixes
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_add_datapool_to_existing_fs.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_data_migrate.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_gid_uid.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_pool_layout.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_resize.py
Labels: Ceph-FS

#1851 Add support for Stages in upstream pipeline executor script for newly suites
  pipeline/metadata/quincy.yaml
  pipeline/upstream_test_executor.groovy
  pipeline/vars/v3.groovy
Labels: PipelineV3.0, upstream

#1852 Updating Polarian ID in cephci suites
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
Labels: RGW

#1855 Fix metadata remove non-existing test suite
  pipeline/metadata/6.0.yaml
Labels: RGW

#1857 Update stages in metadata file and fix name and discription in suite
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/rgw/tier-2_rgw_archive.yaml
Labels: pr-verified, RGW

#1679 Add TC to validate rm-cluster scenario
  ceph/ceph.py
  cli/__init__.py
  cli/ceph/__init__.py
  cli/ceph/ceph.py
  cli/ceph/mgr.py
  cli/cephadm/__init__.py
  cli/cephadm/cephadm.py
  cli/cephadm/exceptions.py
  cli/utilities/__init__.py
  cli/utilities/utils.py
  suites/pacific/cephadm/tier-1_remove_cluster.yaml
  tests/cephadm/test_remove_cluster.py
Labels: pr-verified, CephAdm, DMFG

#1860 Adding support for UPI pipeline trigger script
  pipeline/rh-upi-pipeline-trigger.groovy
Labels: framework, Jenkins

#1869 Metadata version validation fix
  tests/cephfs/cephfs_upgrade/metadata_version_validation.py
Labels: Ceph-FS

#1823 cephfs_upgrade 5x to 5x
  suites/pacific/cephfs/tier-0_cephfs_upgrade_5x_to_5x.yaml
Labels: Ceph-FS

#1871 Update testcase extra packages in 6.0 for rhel-9
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#1873 Fix parallel.py
  tests/parallel/test_parallel.py
Labels: pr-verified, RGW

#1875 fix for slow request failure - 6.0
  tests/rados/rados_test_util.py
Labels: RADOS

#1876 Update CLI utilities libraries to pass execute module parameters
  cli/ceph/ceph.py
  cli/ceph/mgr.py
  cli/cephadm/cephadm.py
  cli/utilities/utils.py
  tests/cephadm/test_remove_cluster.py
Labels: pr-verified, CephAdm, DMFG
