Repository red-hat-storage/cephci, pull requests merged in 2022-03, with the labels that each got.

#1236 Testcase to upload object with header and validate header using s3cmd
  pipeline/scripts/4/3/tier-3/test-rgw-using-s3cmd-bucket-object-stats.sh
  suites/nautilus/rgw/tier-2_rgw_s3cmd_test-bucket-object-stats.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: RGW

#1251 Add kafka tests to pacific suite
  pipeline/scripts/5/1/tier-3/test-rgw-bucket-notifications.sh
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
Labels: pr-verified, RGW

#1235 Adding SNMP feature tests at 5.1
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/snmp.jinja
  ceph/ceph_admin/jinja_templates/snmp_destination.jinja
  ceph/ceph_admin/snmp_gateway.py
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  tests/misc_env/install_prereq.py
  tests/misc_env/snmp_destination.py
Labels: test case, cephadm-orchestrator

#1258 T2-CEPH-83574158 - arbitary pool removal on volume deletion test
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_arbitrary_pool_removal.py
Labels: Ceph-FS, Tier-2

#1259 Added support of RGW Haproxy
  conf/nautilus/rgw/5-node-cluster-with-multiple-rgw.yaml
  conf/pacific/rgw/5-node-cluster-with-miltiple-rgw.yaml
  tests/misc_env/haproxy.py
Labels: RGW

#1264 [RGW] Using EC pool configured environment
  conf/nautilus/rgw/ec-profile-4+2-cluster.yaml
  conf/pacific/rgw/ec-profile-4+2-cluster.yaml
  pipeline/scripts/4/3/tier-3/test-rgw-tier-2-s3tests.sh
  pipeline/scripts/5/1/tier-2/test-rgw-secure-s3.sh
  suites/nautilus/rgw/tier-2_rgw_s3tests.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
  tests/rgw/test_s3.py
Labels: pr-verified, RGW

#1270 Multisite upgrade from 5.xGA to latest
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
Labels: RGW

#1273 Added workaround for grafana deployment for 5.1 test runs
  pipeline/cron-pipeline-test-executor.groovy
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
Labels: P0, Jenkins

#1275 Fix interop failures in RHEL 8.6
  ceph/ceph.py
  conf/inventory/rhel-8.6-server-x86_64.yaml
  pipeline/scripts/4/interop/test-cephfs-core-features.sh
  pipeline/scripts/4/interop/test-rbd-core-features.sh
  pipeline/scripts/4/interop/test-rgw-core-features.sh
  pipeline/scripts/4/interop/test-rhceph-image-on-rhel-8.sh
  pipeline/scripts/4/interop/test-rhceph-rhel-8-rpm.sh
  tests/ceph_installer/test_ansible.py
  tests/misc_env/install_prereq.py
Labels: bug in framework, pr-verified, InterOp

#1278 Fix issue with grafana work-around.
  pipeline/cron-pipeline-test-executor.groovy
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
Labels: P0

#1274 Removing the traces of logdna and logstash
  requirements.txt
  run.py
  setup.py
Labels: framework

#1284 [ceph/ceph.py] Fix RHCS version issue at verify_cluster_health
  ceph/ceph.py
Labels: P0, Quincy

#1299 RHCEPHQE-1456 Add delay between 2 RGW site
  ceph/ceph.py
  conf/inventory/ibm-vpc-rhel-7.9-minimal-amd64-3.yaml
  conf/inventory/ibm-vpc-rhel-8.5-minimal-amd64-1.yaml
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.5-server-x86_64.yaml
  conf/nautilus/rgw/ms-ec-profile-4+2-cluster.yaml
  conf/pacific/rgw/ms-ec-profile-4+2-cluster.yaml
  pipeline/scripts/4/3/tier-1/test-rgw-ecpool-multisite-primary-to-secondary.sh
  pipeline/scripts/5/1/tier-1/test-rgw-ecpool-multiisite-verifying-data-from-primary.sh
  pipeline/scripts/5/1/tier-2/test-rgw-ecpool-ssl-multisite-verify-io-from-primary.sh
  suites/nautilus/rgw/tier-1_rgw_ecpool_verifying-data-from-primary.yaml
  suites/nautilus/rgw/tier-1_rgw_multisite-primary-to-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_test-ms-verify-io-from-primary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_test-ms-verify-io-from-primary.yaml
  tests/misc_env/configure-tc.py
  tests/misc_env/install_prereq.py
Labels: RGW

#1283 Pushing the Logs to IBM-COS
  compute/ibm_vpc.py
  pipeline/ibm-tier-0.groovy
  pipeline/ibm-tier-x.groovy
Labels: framework

#1320 test-rados-stretch-cluster: created separate suites for stretch mode
  pipeline/scripts/5/0/tier-2/test-rados-stretch-cluster.sh
  pipeline/scripts/5/1/tier-2/test-rados-stretch-cluster.sh
  pipeline/scripts/cron/5/1/stage-3/test-rados-stretch-cluster-upgrade.sh
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/pacific/rados/tier-3_rados_test-stretch-mode-upgrade.yaml
Labels: RADOS

#1295 Added cephfs nfs tests
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/2_node_nfs.py
  tests/cephfs/nfs/recreate_same_name_nfs.py
  tests/cephfs/nfs/zip_unzip_files_nfs.py
Labels: Ceph-FS

#1305 Test single site conversion to multi-site
  pipeline/scripts/4/3/test-rgw_singlesite_to_multisite-tier-2.sh
  suites/nautilus/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW

#1318 test_pg_autoscale_flag.py: Added test to verify autoscale flag
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  tests/rados/test_pg_autoscale_flag.py
Labels: RADOS

#1339 Fixing fs snapshot TC
  tests/cephfs/snapshot_clone/subvolume_info_retain.py
Labels: Ceph-FS
