Repository red-hat-storage/cephci, pull requests merged in 2022-10, with the labels that each got.

#1868 Include gitclone support in test_client to support parallel execution…
  tests/cephadm/test_client.py
  utility/utils.py
Labels: pr-verified, RGW

#1885 Added tier-1 RGW tests and lc tests to upstream
  pipeline/metadata/quincy.yaml
  suites/quincy/upstream/tier-1_rgw_and_lc.yaml
Labels: upstream

#1884 [Quincy]: Tier-0 suites execution parallelly
  suites/quincy/rgw/test-basic-object-operations.yaml
  tests/rgw/sanity_rgw.py
Labels: pr-verified, RGW

#1883 Temp changes for s3-tests ceph-quincy
  conf/quincy/rgw/ec-profile-4+2-cluster.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
Labels: pr-verified, RGW

#1881 Adding upgrade suite for cephfs from 5x to 6x
  conf/quincy/cephfs/tier-0_fs.yaml
  suites/quincy/cephfs/tier-0_cephfs_upgrade_5x_to_6x.yaml
Labels: Ceph-FS

#1887 fix java installation(pre-req) for kafka in quincy
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#1870 passing config file name to read_io_info.py to verify respective io file
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#1850 Adding cephfs IOs to upgrade suites
  conf/pacific/upgrades/upgrades.yaml
  suites/pacific/upgrades/tier-1_upgrade_4x-to-5x-baremetal-without-dashboard.yaml
  suites/pacific/upgrades/tier-1_upgrade_cephadm.yaml
  suites/pacific/upgrades/tier-1_upgrade_cephadm_without_rgw.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-container.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-container_custom_name.yaml
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-rpm.yaml
  suites/pacific/upgrades/tier-2_dmfg_test-elasticity-after-upgrade-from-4-cdn-to-5-latest.yaml
  suites/pacific/upgrades/tier-2_dmfg_test-elasticity-after-upgrade-from-5-cdn-to-5-latest.yaml
  suites/pacific/upgrades/tier-2_upgrade_skip-tag_ceph_infra.yaml
  tests/cephfs/cephfs_upgrade/cephfs_io.py
Labels: Ceph-FS

#1896 Modifying cli_generic suite branch to address disparity
  suites/pacific/cephadm/tier-0.yaml
  suites/pacific/interop/test-ceph-sanity.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
Labels: RBD

#1818 [Automation] Add tc to validate legacy services infer cephadm shell
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-container.yaml
  tests/cephadm/test_legacy_services.py
Labels: pr-verified, DMFG

#1724 Add library support to execute cephadm-ansible module playbooks
  ceph/ceph.py
  cli/cephadm/ansible.py
  cli/utilities/packages.py
  cli/utilities/utils.py
  playbooks/bootstrap-cluster.yml
  suites/pacific/cephadm/test_cephadm_ansible_wrapper.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
  utility/install_prereq.py
Labels: pr-verified, cephadm-ansible-wrapper, DMFG

#1897 Add missing Polarion-ID
  suites/pacific/rbd/tier-0_rbd.yaml
Labels: RBD

#1899 Add test suite to upgrade an RBD mirroring cluster from 4x to 5x
  ceph/ceph.py
  run.py
  suites/pacific/rbd/tier-1_rbd_mirroring_upgrade-4-to-latest.yaml
  tests/ceph_ansible/add_rbd_mirror_daemon.py
  tests/rbd_mirror/mirror_setup.py
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD

#1898 Adds support of running RGW script from client node
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#1902 stretch_cluster.py: Adding sudo permissions for commands
  tests/rados/stretch_cluster.py
Labels: RADOS

#1913 Setting "run-on-rgw: true" for tier-0 qualifier suite for rgw testcase
  suites/pacific/cephadm/tier-0.yaml
  suites/quincy/cephadm/tier-0.yaml
Labels: pr-verified, RGW

#1903 [post result] Report portal launch name to have run_type and stage
  pipeline/post-results.groovy
  pipeline/vars/v3.groovy
Labels: pr-verified, PipelineV3.0

#1914 Fixes single site RGW suite issue
  tests/rgw/sanity_rgw.py
Labels: RGW

#1912 Adding email notification for tier-0 failure
  pipeline/post-results.groovy
Labels: framework

#1915 Alowing test to run on client rather than from rgw
  suites/pacific/cephadm/tier-0.yaml
  suites/quincy/cephadm/tier-0.yaml
Labels: pr-verified, RGW

#1918 rgw s3cmd suites execute from rgw-node
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: pr-verified, RGW

#1922 Domain name fix for interop test suite.
  suites/pacific/interop/test-ceph-sanity.yaml
Labels: InterOp

#1906 Adding test 9470, 9471, 9475 to quincy and pacific rbd-mirorr suites
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_9470.py
  tests/rbd_mirror/test_9471.py
  tests/rbd_mirror/test_9474.py
  tests/rbd_mirror/test_9475.py
Labels: RBD
