Repository red-hat-storage/cephci, pull requests merged in 2022-12, with the labels that each got.

#1959 Adding cephadm tier1 test suites for quincy
  ceph/ceph_admin/cephadm_ansible.py
  suites/quincy/cephadm/tier-1_cephadm-clients.yaml
  suites/quincy/cephadm/tier-1_remove_cluster.yaml
Labels: DMFG

#1833 [Automation] Add tc to validate Ceph cluster goes to error state afte…
  cli/ceph/ceph.py
  cli/ceph/orch/__init__.py
  cli/ceph/orch/orch.py
  cli/utilities/utils.py
  suites/pacific/iscsi/tier-1_cephadm_test-iscsi_multiple_deployment.yaml
  tests/cephadm/test_iscsi_multiple_removal_deployment.py
Labels: DMFG

#1993 Adding fs info command to basic tests
  tests/cephfs/cephfs_basic_tests.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2007 update to new metadata style
  pipeline/metadata/quincy.yaml
Labels: upstream

#1999 Merging config test to Cluster create
  suites/pacific/cephfs/tier-0_fs.yaml
  suites/pacific/cephfs/tier-1_fs.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-multifs.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-quota.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/pacific/cephfs/tier-2_fs.yaml
  suites/quincy/cephfs/tier-0_cephfs_upgrade_5x_to_6x.yaml
  suites/quincy/cephfs/tier-2_fs_scale.yaml
Labels: Ceph-FS

#1919 Add arg post result and report portal to upstream executor
  pipeline/upstream_test_executor.groovy
Labels: PipelineV3.0, upstream

#2012 Adding cephfs core features to upstream pipeline
  pipeline/metadata/quincy.yaml
  suites/quincy/cephfs/tier-1_cephfs_upstream-core-functionality.yaml
Labels: Ceph-FS, upstream

#2004 Including grafana service to support dashboard in nautilus conf
  conf/nautilus/rgw/5-node-cluster-with-multiple-rgw.yaml
  conf/nautilus/rgw/5-node-cluster.yaml
  conf/nautilus/rgw/ec-profile-4+2-cluster.yaml
  conf/nautilus/rgw/ms-ec-profile-4+2-cluster.yaml
  conf/nautilus/rgw/sanity-rgw.yaml
  conf/nautilus/rgw/sanity_rgw_multisite.yaml
  conf/nautilus/rgw/tier-0_rgw.yaml
  conf/nautilus/rgw/tier-1_rgw.yaml
  conf/nautilus/rgw/tier-2_rgw_ganesha.yaml
Labels: pr-verified, RGW

#2006 Added support of running sync lease command on any site
  utility/utils.py
Labels: pr-verified, RGW

#2014 Changes to run on rgw for nautilus suites
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#1992 [Probot/stale] Is closing stale issues/PRs really a good idea?
  .github/workflows/stale.yml
Labels: Integrations

#2018 Fix MON public network issue in PSI execution
  ceph/ceph_admin/bootstrap.py
Labels: CephAdm

#2022 Rgw 5.2GA to 6.x latest upgrade suite
  suites/quincy/rgw/tier-1_rgw_upgrade_4x_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-2GA_to_6x_latest.yaml
Labels: RGW

#1976 Adding krbd io handler to handle krbd associated IO tasks
  tests/rbd/krbd_io_handler.py
  tests/rbd/rbd_utils.py
  utility/utils.py
Labels: RBD

#1997 Added verification steps for snapshot schedule removal
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_mirror_snapshot.py
Labels: RBD

#1961 Add SSL capability to RGW Ingress daemon
  ceph/ceph_admin/helper.py
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
Labels: review-in-progress, RGW

#2025 run pytest unit tests on specific path
  .github/workflows/tests.yml
  tox.ini
Labels: framework

#1991 verify images in trash after force remove on images in trash
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_clonev2.py
  tests/rbd/rbd_trash.py
  tests/rbd/rbd_trash_remove.py
  tests/rbd/rbd_utils.py
Labels: RBD

#2030 [Report Poratl] Launch name change for upstream builds
  run.py
Labels: upstream

#2028 [upgrade-automation-MS]: Test suite for upgrade from 5.2GA to 6.0 latest
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_5_to_6_latest.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#2023 Tier-1 SSE-S3 feature automation.
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
Labels: RGW

#2033 Minor change in node name for Client install
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
Labels: RGW

#2037 rados/test_osd_rebalance: Fixed fetch osd container id
  tests/rados/test_osd_rebalance.py
Labels: script issue, RADOS

#2042 Fix for osd rebalance test suite failure.
  tests/rados/test_osd_rebalance.py
Labels: RADOS

#1990 [CephADM] [Tier1]: Add test case for label "no_schedule".
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_label_no_schedule.py
Labels: Tier-1, CephAdm, DMFG

#2010 [CephAdm] [Tier1] Add test cases for OS tuning profile.
  suites/quincy/cephadm/tier-1_os_tuning_profiles.yaml
  tests/cephadm/test_os_tuning_profile.py
Labels: Tier-1, CephAdm, DMFG

#2009 [SDK][CephAdm] Add ceph orch support.
  cli/ceph/orch/host.py
  cli/ceph/orch/label.py
  cli/ceph/orch/orch.py
  cli/ceph/orch/tuned_profile.py
  cli/cephadm/cephadm.py
Labels: DMFG

#1960 Integrated cloud transition basic workflow test
  conf/quincy/rgw/cloud_transition.yaml
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-2_rgw_cloud_transition.yaml
Labels: review-in-progress, pr-verified, RGW

#2040 Rbd cli migration issue
  suites/pacific/rbd/tier-0_rbd.yaml
Labels: RBD

#2034 Fix for nautilus:unable to find a keyring on /etc/ceph/ceph.client.ad…
  utility/utils.py
Labels: pr-verified, RGW

#2011 Verify Trash restore function, Move images to trash, restore them and validate
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/trash_restore.py
Labels: RBD

#2043 RGW: avoid return of duplicate interfaces
  tests/misc_env/configure-tc.py
Labels: RGW, needs-testing

#2044 Correcting ceph version in 6.0 metadata file for sse-s3 tests
  pipeline/metadata/6.0.yaml
Labels: RGW

#2038 Support to execute multiple daemon operations.
  ceph/ceph_admin/add.py
  tests/cephadm/test_daemon.py
Labels: cephadm-orchestrator

#2041 Polarion ID update for tier-1 testcase
  suites/pacific/rgw/tier-0_rgw.yaml
Labels: RGW

#2050 file name change to test_sse_s3_kms_with_vault.py
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
Labels: RGW

#2039 RADOS: add ssd tests
  ceph/ceph_admin/device.py
  ceph/rados/core_workflows.py
  ceph/rados/utils.py
  conf/pacific/rados/4-node-baremetal.yaml
  suites/pacific/rados/tier-3_rados_ssd-tests.yaml
  tests/rados/stretch_cluster.py
  tests/rados/test_osd_inprogress_rebalance.py
  tests/rados/test_osd_rebalance.py
Labels: RADOS, needs-testing

#2058 Added more delay to avoid metadata sync failure
  utility/utils.py
Labels: RGW

#2048 Adding missing RBD test suite for RHCS 6.0 Pipeline
  pipeline/metadata/6.0.yaml
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_cli_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
Labels: RBD

#2060 Report portal updates for PSI environment
  pipeline/post-results.groovy
  pipeline/psi-only-executor.groovy
  pipeline/scripts/ci/getPipelineStages.py
  pipeline/tier_executor.groovy
  pipeline/vars/v3.groovy
  utility/utils.py
Labels: PipelineV3.0, Report Portal

#2056 intergate sse-kms and sse-s3(mpu) tests
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
Labels: RGW

#1971 modifying read_io_info run as long_running to get the live output
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: review-in-progress, pr-verified, RGW

#2064 Add support for DBR multisite tests with tenanted users
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/rgw/tier-2_rgw_ms-dynamic-bucket-resharding.yaml
Labels: pr-verified, RGW

#2049 [Automation] Bootstrap cluster using cephadm-ansible wrapper modules,…
  cli/cephadm/exceptions.py
  cli/utilities/utils.py
  playbooks/bootstrap-cluster-overide-exisitng-keys.yml
  playbooks/get-mgr-config.yml
  playbooks/set-osd-config.yml
  suites/pacific/cephadm/test_cephadm_bootstrap_with_overriding_exisiting_ceph_keys.yaml
  tests/cephadm/test_cephadm_ansible_manage_services.py
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: Tier-1, Polarion testcase, CephAdm, cephadm-ansible-wrapper, DMFG

#2068 Add support for multisite with archive zone
  conf/pacific/rgw/rgw_ms_archive.yaml
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-2_rgw_ms-archive.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#2069 [upgrade-automation]: Test suite for upgrading from 5.3 to 6.0 latest
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_5-2GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
Labels: pr-verified, RGW
