Repository red-hat-storage/cephci, pull requests merged in 2022-06, with the labels that each got.

#1504 ceph_83574188 testing auto-cleanup after creation failure
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_auto_clean_up.py
Labels: Ceph-FS

#1503 fix-issue-1496: consider all node public subnets
  ceph/utils.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/ceph_installer/test_ansible.py
Labels: ceph-ansible

#1501 enable rbd mirror configuration for RDR
  suites/pacific/rbd/test_rbd_mirror_baremetal.yaml
  tests/rbd_mirror/test_configure_rbd_mirror.py
Labels: RBD

#1516 fix for subvolumegroup force
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_group_force.py
Labels: Ceph-FS

#1398 Added automation for bug-2053724
  suites/nautilus/cephfs/fault_tolerence_cephfs.yaml
  suites/pacific/cephfs/fault_tolerence_cephfs.yaml
  tests/cephfs/bug-2053724.py
Labels: Ceph-FS

#1551 [PACIFIC]Split RGW testsuite to reduce execution time
  pipeline/metadata/5.0.yaml
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
Labels: RGW

#1552 Split rgw suites to reduce execution time
  pipeline/metadata/5.0.yaml
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bilog-crash-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool-ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_ms-bucket-objects-gc-policy-on-secondary.yaml
Labels: RGW, PipelineV3.0

#1557 Add test suite for LC process for a single bucket
  pipeline/metadata/4.3.yaml
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  suites/nautilus/rgw/tier-2_rgw-single-bucket-process.yaml
  suites/pacific/rgw/tier-2_rgw-single-bucket-process.yaml
Labels: RGW

#1561 Remove Suites execution which does not exist
  pipeline/metadata/4.3.yaml
Labels: RGW

#1567 Fix Multiple test case IDs associated with test case
  suites/nautilus/rgw/tier-1_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw_ecpool_verifying-data-from-primary.yaml
  suites/nautilus/rgw/tier-1_rgw_multisite-secondary-to-primary.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_containerized-regression.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_regression.yaml
  suites/nautilus/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/nautilus/rgw/tier-2_rgw_image_test-bucket-lifecycle-and-listing.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-primary-to-secondary.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-secondary-to-primary.yaml
  suites/nautilus/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW
