Repository red-hat-storage/cephci, pull requests merged in 2022-05, with the labels that each got.

#1412 support multiple network interface(s) for a node.
  ceph/utils.py
  compute/openstack.py
  conf/pacific/cephadm/3-node-cluster-multiple-subnets.yaml
Labels: framework

#1411 Chekcing tfacon failure
  utility/utils.py
Labels: framework

#1410 CEPH-83574331 - Adding new data pools to cephfs which has existing FS
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_add_datapool_to_existing_fs.py
Labels: Ceph-FS

#1406 Reshuffling fs tier-0 and tier-1 tests
  suites/pacific/cephfs/tier-0_fs.yaml
  suites/pacific/cephfs/tier-1_fs.yaml
  tests/cephfs/bug-1980920.py
Labels: Ceph-FS

#1424 [pre-req] Drop iptables entries which affects ceph configuration
  tests/misc_env/install_prereq.py
Labels: framework

#1430 minor changes
  ceph/ceph.py
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
Labels: cephadm-orchestrator

#1436 Removed DBR scenarions from the suite
  suites/nautilus/rgw/tier-1_rgw_multisite_test-upgrade-4.x-to-latest.yaml
  suites/nautilus/rgw/tier-1_rgw_test-dynamic-resharding-greenfield.yaml
  suites/nautilus/rgw/tier-1_rgw_test-manual-resharding-greenfield.yaml
Labels: RGW

#1419 PipelineV3 - Adding metadata file at 5.2 from DMFG
  pipeline/metadata/5.2.yaml
Labels: PipelineV3.0

#1441 removed DBR runs from pipeline
  pipeline/scripts/4/2/tier-1/test-rgw-dynamic-resharding-greenfield.sh
  pipeline/scripts/4/2/tier-1/test-rgw-manual-resharding-greenfield.sh
  pipeline/scripts/4/3/tier-1/test-rgw-dynamic-resharding-greenfield.sh
  pipeline/scripts/4/3/tier-1/test-rgw-manual-resharding-greenfield.sh
Labels: RGW

#1440 provision of osds on nodes and configure public and cluster networks.
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/orch.py
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
  tests/misc_env/install_prereq.py
Labels: framework, cephadm-orchestrator

#1443 adding image creation steps to existing module
  tests/rbd_mirror/test_rbd_mirror_rename_image.py
Labels: RBD

#1416 Volume mgmt fix 83574163 and 83573428
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_create_vol_component_exist_name.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_invalid_pool_layout.py
Labels: Ceph-FS

#1282 rgw: nfs-ganesha upgrade tests added
  suites/nautilus/rgw/tier-2_rgw_test-4x-ganesha-upgrade-to-latest.yaml
Labels: RGW

#1450 Integrate support of bucket sync run command support in cephci
  suites/nautilus/rgw/tier-1-extn_rgw_multisite-primary-to-secondary.yaml
  suites/nautilus/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
Labels: RGW

#1453 Fixing conf file name for volume management
  pipeline/metadata/5.1.yaml
  pipeline/scripts/cron/5/1/stage-1/test-cephfs-volume-mgmt.sh
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
Labels: Ceph-FS

#1459 use hostname for ceph operations
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/host.py
  ceph/utils.py
  docs/source/getting_started.rst
Labels: framework, cephadm-orchestrator

#1458 fix service count validation with cross-verify retries.
  ceph/ceph_admin/orch.py
Labels: cephadm-orchestrator

#1461 Do not set shortname as hostname
  ceph/ceph.py
Labels: framework

#1451 RGW-MS : Longevity Automation: Deploying baremetal cluster from cephci
  conf/pacific/rgw/longevity.yaml
  suites/pacific/rgw/tier-1_longevity.yaml
  tests/misc_env/install_prereq.py
Labels: RGW

#1370 Adding Pre-requsites for Upgrade
  tests/cephfs/cephfs_upgrade/config.json
  tests/cephfs/cephfs_upgrade/upgrade_pre_req.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#1452 ceph-83573428 creating with exist names
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_create_vol_component_exist_name.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_resize.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_permissions.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_with_exist_names.py
Labels: Ceph-FS

#1390 script to collect upstream build information
  pipeline/scripts/ci/upstream_cli.py
Labels: upstream

#1472 Logging error message to test case's Log view
  run.py
  utility/log.py
  utility/utils.py
Labels: framework

#1471 minor improvements on cephadm-ansible and validation of service(s).
  ceph/ceph.py
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap.py
  ceph/ceph_admin/orch.py
Labels: framework, cephadm-ansible

#1438 Adding mds test case to tier-0
  suites/pacific/cephfs/tier-0_fs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/mds_Inc_dec.py
  tests/cephfs/mds_default_values.py
Labels: Ceph-FS

#1470 Metdadate update for 5.2 pipeline part-2
  pipeline/metadata/5.2.yaml
Labels: RGW

#1468 [4.3]RGW multipart object expiration through lc
  pipeline/metadata/4.3.yaml
  pipeline/scripts/4/3/tier-3/test-rgw-bucket-lc-multipart-object-expiration.sh
  suites/nautilus/rgw/tier-2_rgw_bucket_lc_multipart_object_expired.yaml
Labels: RGW

#1485 get_node_by_id: ignorecase on hostname
  ceph/utils.py
Labels: framework

#1493 renaming module name properly
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD
