Repository red-hat-storage/cephci, pull requests merged in 2023-08, with the labels that each got.

#2790 Suite rename for haproxy suite
  conf/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy_conf.yaml
  suites/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
Labels: RGW, lgtm

#2760 Adds support of warp mixed workload execution
  tests/misc_env/configure_warp.py
  tests/misc_env/haproxy.py
  tests/misc_env/push_warp_workload.py
Labels: pr-verified, RGW, lgtm

#2778 Adding missing DMFG quincy suites
  conf/quincy/cephadm/1admin-8node-1client-cluster.yaml
  conf/quincy/upgrades/1admin-3node-1client-cluster.yaml
  suites/quincy/cephadm/tier0-cephadm.yaml
  suites/quincy/cephadm/tier1-haproxy-deployment.yaml
  suites/quincy/upgrades/tier-1_upgrade_5x-to-6x_mix_os.yaml
  suites/quincy/upgrades/tier1-upgrade-cephadm-without-rgw.yaml
  suites/quincy/upgrades/tier1-upgrade-cephadm.yaml
Labels: lgtm

#2770 Provided parallel execution fix using asyncio for rbd trash purge test
  suites/pacific/interop/test-ceph-sanity.yaml
  suites/quincy/interop/test-ceph-sanity.yaml
  suites/quincy/rbd/basic-operations-unit-testing.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_trash_purge_schedule.py
Labels: RBD, lgtm

#2734 Adding RBD related methods to SDK
  cli/__init__.py
  cli/rbd/device.py
  cli/rbd/mirror/__init__.py
  cli/rbd/mirror/bootstrap.py
  cli/rbd/mirror/image.py
  cli/rbd/mirror/mirror.py
  cli/rbd/mirror/peer.py
  cli/rbd/mirror/pool.py
  cli/rbd/mirror/schedule.py
  cli/rbd/mirror/snapshot.py
  cli/rbd/pool.py
  cli/rbd/rbd.py
  cli/rbd/snap.py
  cli/utilities/check_data.py
  cli/utilities/dictionary.py
  cli/utilities/utils.py
Labels: RBD, lgtm

#2784 [Test] Add test to validate OSD spec with limit filter
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_osd_limit_filter.py
Labels: lgtm, CephAdm, DMFG

#2799 [TestFix] Fix Configure client test failure
  suites/pacific/ceph_volume/tier-2-ceph-volume.yaml
Labels: lgtm

#2791 adding code support to deploy Custom CRUSH rule EC pools
  ceph/rados/crushtool_workflows.py
  suites/pacific/rados/tier-2_rados_ec-pool_recovery.yaml
  tests/rados/test_ec_86.py
Labels: lgtm

#2795 Test NFS rootsquash cli option
  cli/ceph/nfs/export/export.py
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  tests/nfs/test_export_rootsquash.py
Labels: lgtm, DMFG, nfs-ganesha

#2796 CEPH-10792: Verify functionality of OSD config parameter 'osd_scrub_chunk_max'
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_scrub_chunk_max.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review

#2786 fixing io timeout error for cosbench workload and monitoring ceph status, cluster fill while workload in progress
  tests/misc_env/push_cosbench_workload.py
  utility/utils.py
Labels: pr-verified, RGW, lgtm

#2798 Adding reef to upstream listener job
  pipeline/upstream_listener.groovy
Labels: lgtm, upstream

#2806 Updates to test executor to use ceph-ci project
  pipeline/test_executor.groovy
Labels: lgtm

#2804 Updating metadata files to run tier-0 suites
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.1.yaml
  utility/rp_client.py
Labels: lgtm

#2809 [tfa-fix]: add client installation to suite
  suites/pacific/rgw/tier-1_rgw.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#2797 fix execution issue with OSP
  suites/quincy/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_io_perf.py
  utility/io/fio_profiles.py
Labels: lgtm, nvmeof

#2808 Including 10s sleep before verification of io in MS
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#2811 [Utility] Update reports utility to support different options
  cephci/reports.py
  cephci/utils/utility.py
Labels: framework, lgtm

#2814 Fix haproxy lc testcase failure
  suites/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#2816 [LibFix] Update default config check
  cephci/utils/configs.py
Labels: framework, lgtm

#2794 Renaming conf file name for tier-3_fs
  conf/pacific/cephfs/tier-3_cephfs_4clients_4osd.yaml
Labels: lgtm

#2801 [Test] Add test to validate rootsquash scenario
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  tests/nfs/nfs_verify_file_access_with_rootsquash.py
Labels: lgtm

#2825 Adding suites and configs for reef
  conf/reef/cephadm/1admin-8node-1client-cluster.yaml
  conf/reef/cephadm/1admin_10node_1client_cephadm_scale.yaml
  conf/reef/cephadm/1admin_4node_1client_mix_os.yaml
  conf/reef/cephadm/tier-0.yaml
  conf/reef/cephadm/tier-1_9node_mix_client.yaml
  conf/reef/cephmgr/1admin-3node-1client-ceph-volume.yaml
  conf/reef/mgr/3node-1client-cluster.yaml
  conf/reef/upgrades/upgrade_4-node-cluster.yaml
  conf/reef/upgrades/upgrade_8-node-cluster_mix_os.yaml
  suites/reef/ceph_volume/tier-2-ceph-volume.yaml
  suites/reef/cephadm/tier-0.yaml
  suites/reef/cephadm/tier-1-mix-clients.yaml
  suites/reef/cephadm/tier0-cephadm.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-modules.yaml
  suites/reef/cephadm/tier1-cephadm-clients.yaml
  suites/reef/cephadm/tier1-container-cli-args.yaml
  suites/reef/cephadm/tier1-haproxy-deployment.yaml
  suites/reef/cephadm/tier1-os-tuning-profiles.yaml
  suites/reef/cephadm/tier1-remove-cluster.yaml
  suites/reef/cephadm/tier1-skip-dashboard.yaml
  suites/reef/cephadm/tier1-ssl-dashboard-port.yaml
  suites/reef/cephadm/tier2-cluster-elasticity.yaml
  suites/reef/cephadm/tier2-multiple-subnet.yaml
  suites/reef/cephadm/tier2-osd-scenarios.yaml
  suites/reef/cephadm/tier2-permissive-mode-scenarios.yaml
  suites/reef/cephadm/tier2-rgw-with-warn-state.yaml
  suites/reef/cephadm/tier2-verify-custom-container.yaml
  suites/reef/cephadm/tier4-crash_configuration.yaml
  suites/reef/cephadm/tier4-service-operations.yaml
  suites/reef/mgr/tier-1-cephapi-auth-api.yaml
Labels: lgtm

#2815 [Test] Add test to validate mgr spam logs not present in cephadm logs
  cli/cephadm/cephadm.py
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_cephadm_log_spam.py
Labels: lgtm, CephAdm, DMFG

#2792 Checking the rados memory pools
  suites/pacific/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  suites/reef/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_bluestore_features.py
  tests/rados/test_bluestoretool_workflows.py
Labels: RADOS, lgtm, Ready-for-review

#2830 CEPH-83575440: Test to verify MANY_OBJECTS_PER_PG health warning
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/quincy/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_mon_pg_warn.py
Labels: RADOS, lgtm, Tier-2, Polarion testcase, Ready-for-review

#2834 core_workflows: Updated command to be executed on client node.
  ceph/rados/core_workflows.py
Labels: lgtm, tfa-issue-fix

#2813 Adding separate test for rbd mirror daemon deployment to make the test suites compatible with baremetal pipeline
  suites/quincy/baremetal_pipeline/tier-3_rbd_persistent_write_back_cache.yaml
  suites/quincy/rbd/tier-1_rbd_mirror.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_failback.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_failover_recovery.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_image_trash_purge.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_scale_osd.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
Labels: RBD, lgtm

#2828 Fixing FS create utility function
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#2793 Fixing reimage to handle multiple clusters
  pipeline/baremetal/6.1.yaml
  pipeline/vars/v3.groovy
Labels: lgtm

#2774 Adding Extensa conf to baremetal pipeline
  conf/quincy/baremetal_pipeline/extensa_conf.yaml
  suites/quincy/baremetal_pipeline/deploy_extensa.yaml
Labels: lgtm

#2810 [Reef] Add checks for supporting reef
  ceph/ceph_admin/__init__.py
  tests/cephadm/test_custom_container.py
Labels: framework, lgtm

#2812 [Utility] Add support vault server in config
  cephci/utils/configs.py
  examples/cephci.yaml
Labels: framework, lgtm

#2803 Enhance NVMeOF subsystem limit exploration test case
  suites/quincy/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
Labels: lgtm, nvmeof

#2832 [NFS] nfs coredump
  tests/nfs/nfs_verify_file_operations.py
Labels: lgtm, DMFG, nfs-ganesha

#2831 [NFS]Add specstorage support
  cli/io/spec_storage.py
  cli/utilities/packages.py
  conf/quincy/nfs/tier-2.yaml
  suites/quincy/nfs/tier-2_nfs_ganesha_spec_storage.yaml
  tests/nfs/nfs_spec_storage.py
Labels: lgtm, DMFG, nfs-ganesha

#2802 [NFS-Ganesha][Automation]Rootsquash enable using conf file
  cli/ceph/nfs/export/export.py
  cli/utilities/utils.py
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  tests/nfs/nfs_rootsquash_using_conf.py
Labels: lgtm, DMFG, nfs-ganesha

#2818 Adding standalone script for purging the ceph cluster
  purge_cluster.py
Labels: lgtm

#2800 Enhance NVMeOF namespace limit test case and handle fio
  ceph/nvmeof/gateway.py
  conf/quincy/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_ns_limit.py
Labels: lgtm, nvmeof

#2838 added nvmeof suites to reef folder
  conf/reef/nvmeof/ceph_nvmeof_cluster.yaml
  conf/reef/nvmeof/ceph_nvmeof_functional.yaml
  conf/reef/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  conf/reef/nvmeof/ceph_nvmeof_sanity.yaml
  conf/reef/nvmeof/ceph_nvmeof_scale_cluster.yaml
  conf/reef/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  suites/reef/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof.yaml
  suites/reef/nvmeof/tier-2_nvmeof_baremetal_scale.yaml
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
Labels: lgtm, nvmeof, Reef

#2820 [Conf] Add nfs suites for Reef
  conf/reef/nfs/12node-1admin-4client.yaml
  conf/reef/nfs/1admin-3client-7node.yaml
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  suites/reef/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm

#2836 osd on specific device
  tests/misc_env/osd_specific_device.py
Labels: lgtm

#2821 integrating sts,lc and policy testcases into cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_sts_aswi.yaml
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/quincy/baremetal_pipeline/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, lgtm

#2829 Adding fs tc [11329] [83572726] [11340]
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/verify_race_condition_between_MDS.py
  tests/cephfs/clients/mds_conf_modifying.py
  tests/cephfs/clients/multiple_clients_permission_mounted_directories.py
Labels: Ceph-FS, lgtm, Tier-3, Tier-2, Polarion testcase

#2827 CephFS - Tier2-CEPH-83575825
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/nfs/test_cephfs_nfs_transfer_file_bw_nfs_and_localfs.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2842 Renaming nfs test folder within cephfs to avoid conflict with new NFS tests
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_nfs/2_node_nfs.py
  tests/cephfs/cephfs_nfs/__init__.py
  tests/cephfs/cephfs_nfs/data_backup_restore_bw_nfs_and_local_mounts.py
  tests/cephfs/cephfs_nfs/existing_path_nfs_export.py
  tests/cephfs/cephfs_nfs/modifying_nfs_cluster_invalid_value.py
  tests/cephfs/cephfs_nfs/move_data_bw_nfs_and_cephfs_mounts.py
  tests/cephfs/cephfs_nfs/nfs_config_reset.py
  tests/cephfs/cephfs_nfs/nfs_export_config.py
  tests/cephfs/cephfs_nfs/nfs_export_path.py
  tests/cephfs/cephfs_nfs/nfs_fuse_kernel_same_subvolume.py
  tests/cephfs/cephfs_nfs/nfs_info_cluster_id_and_ls_export_detailed.py
  tests/cephfs/cephfs_nfs/nfs_io_network_failures.py
  tests/cephfs/cephfs_nfs/nfs_mount_with_fstab.py
  tests/cephfs/cephfs_nfs/nfs_non_exist_export_path.py
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
  tests/cephfs/cephfs_nfs/nfs_snaphshot_clone.py
  tests/cephfs/cephfs_nfs/nfs_subvolume_subvolumegroup.py
  tests/cephfs/cephfs_nfs/nfs_update_cluster_node_changes.py
  tests/cephfs/cephfs_nfs/read_only_nfs_export.py
  tests/cephfs/cephfs_nfs/recreate_same_name_nfs.py
  tests/cephfs/cephfs_nfs/subvolume_export.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_transfer_file_bw_nfs_and_localfs.py
  tests/cephfs/cephfs_nfs/test_data_integrity_nfs_cephfs_mounts.py
  tests/cephfs/cephfs_nfs/test_nfs_mount.py
  tests/cephfs/cephfs_nfs/zip_unzip_files_nfs.py
Labels: lgtm

#2841 Enhance NVMeOF scale test modules
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
  tests/nvmeof/test_ceph_nvmeof_ns_limit.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
Labels: lgtm, nvmeof

#2837 Include multiple-gateway deployment in the cluster without HA and run IOs on the target
  conf/quincy/nvmeof/ceph_nvmeof_functional.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
Labels: lgtm, nvmeof

#2844 Updating RGW reef sanity suite for both single and multisite
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/sanity_rgw_multisite.yaml
  suites/reef/rgw/tier-1_rgw.yaml
Labels: RGW, lgtm, Reef

#2846 CEPH-83575440: Test to verify effect of change in MGR parameter 'mon_pg_warn_max_object_skew'
  tests/rados/test_mon_pg_warn.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review

#2787 Adding skip_tc for skipping the TC
  run.py
  templates/result-email-template.html
Labels: lgtm

#2852 Cephfs - Tier2 - CEPH-83575937
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_file_attributes_retention.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2854 Baremetal pipeline : Add conf files for mero, extensa and folio in reef, add extensa setup suite in baremetal
  conf/reef/baremetal/extensa_conf.yaml
  conf/reef/baremetal/folio_conf.yaml
  conf/reef/baremetal/mero_conf.yaml
  suites/reef/baremetal/extensa_suite.yaml
Labels: lgtm

#2843 [LibFix] Add failed TC details in xUnit results
  run.py
  utility/xunit.py
Labels: framework, lgtm

#2783 [Test] Add test to validate nfs ganesha multi node deployment
  conf/quincy/nfs/tier-0.yaml
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  suites/quincy/nfs/tier-1_nfs_ganesha.yaml
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_multi_node_cluster.py
Labels: lgtm

#2845 [Fix][Nfs-Ganesha]Fix spec storage lib
  cli/io/spec_storage.py
  cli/utilities/packages.py
Labels: lgtm, nfs-ganesha

#2819 [Test][Nfs] Add test to verify multi client file access with rootsquash
  cli/utilities/utils.py
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  tests/nfs/test_nfs_rootsquash_file_access_from_multiple_clients.py
Labels: lgtm

#2856 [NFS-Ganesha][Phase2]Add testcase automation
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_verify_file_ops_hard_links.py
Labels: lgtm, nfs-ganesha

#2849 Tests to configure NVMeOF GW for VMware clients
  ceph/nvmeof/gateway.py
  suites/quincy/nvmeof/tier-0_nvmeof_bdev_vmware_esx.yaml
  suites/reef/nvmeof/tier-0_nvmeof_bdev_vmware_esx.yaml
  tests/nvmeof/test_ceph_nvmeof_vmware_clients.py
Labels: lgtm, nvmeof

#2850 Polarion-ID updates for NVMe-OF suits
  suites/quincy/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof.yaml
Labels: lgtm, nvmeof

#2862 CephFS-HA Deployment-CephFS T-2 83575000
  conf/pacific/cephfs/octo_magna_plena_17_node_env.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_deployment_cli.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2869 [NFS-Ganesha][Phase 2]Add test case automation
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_verify_file_modification.py
Labels: lgtm, nfs-ganesha

#2870 Configure VMware Esx host and validate NVMeOF subsystem and Esx host connectivity
  ceph/nvmeof/gateway.py
  suites/quincy/nvmeof/tier-0_nvmeof_vmware_esx.yaml
  tests/nvmeof/test_ceph_nvmeof_vmware_clients.py
Labels: lgtm, nvmeof

#2872 Test NFS export client addr option
  cli/ceph/nfs/export/export.py
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_client_permission_export.py
Labels: lgtm

#2863 Test file truncate operation on NFS Mount
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_file_truncate.py
Labels: lgtm

#2874 Cephci Integration of CEPH-83576431
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/reef/rgw/tier-1_rgw_multisite.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, Polarion testcase, close-loop-automation

#2861 [LibFix] Add library support to update xUnit with error message
  run.py
  utility/log.py
  utility/xunit.py
Labels: framework, lgtm

#2858 covered other dm-cache scenarios
  suites/quincy/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/reef/rbd/tier-2_rbd_cache_scenarios.yaml
  tests/rbd/test_rbd_dm_cache.py
  utility/lvm_utils.py
Labels: RBD, lgtm

#2864 Fixing and Enhancing all rados suites to run on both BM and RHOS-d pipeline
  ceph/rados/core_workflows.py
  conf/pacific/rados/11-node-cluster.yaml
  conf/pacific/rados/13-node-cluster.yaml
  conf/quincy/rados/11-node-cluster.yaml
  conf/quincy/rados/13-node-cluster.yaml
  conf/reef/rados/11-node-cluster.yaml
  conf/reef/rados/13-node-cluster.yaml
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/pacific/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/pacific/rados/tier-2_rados_test-clay-ecpool.yaml
  suites/pacific/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/pacific/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/pacific/rados/tier-2_rados_test-osd-inprogress-rebalance.yaml
  suites/pacific/rados/tier-2_rados_test-osd-rebalance-many-pools.yaml
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/quincy/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-osd-inprogress-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance-many-pools.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/tier-2_rados_test-osd-inprogress-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance-many-pools.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/pool_tests.py
  tests/rados/test_bluestore_configs.py
  tests/rados/test_bluestore_features.py
  tests/rados/test_bluestoretool_workflows.py
  tests/rados/test_osd_heartbeat.py
Labels: RADOS, lgtm

#2847 [RADOS] Core-workflow modules to control and modify QoS mClock parameters
  ceph/rados/core_workflows.py
Labels: RADOS, lgtm, Ready-for-review

#2876 Clone scale: Add test coverage to create max clone from single snapshot of subvolume
  suites/quincy/cephfs/tier-3_cephfs_scale.yaml
  tests/cephfs/cephfs_scale/max_clones_from_snap.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#2880 [Rados] Code improvements to address RHCS 7 pipeline failures
  tests/rados/test_bluestoretool_workflows.py
  tests/rados/test_osd_heartbeat.py
  tests/rados/test_pg_split.py
  tests/rados/test_scrub_chunk_max.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#2747 [Test] Check set and get global configuration values
  playbooks/set-ceph-config.yml
  playbooks/set-osd-config.yml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: lgtm

#2877 Adding a custom inventory file for NVMeOF scale test requirements
  conf/inventory/rhel-9.2-server-x86_64-xlarge.yaml
Labels: framework, lgtm, nvmeof

#2884 Osd rootdisk issue: Resolved root disk add atempt issue during osd deploy
  conf/reef/baremetal/mero_conf.yaml
  suites/reef/baremetal/mero_suite.yaml
  tests/misc_env/osd_specific_device.py
Labels: lgtm

#2871 Adding RBD related workflows for wrapper around the CLI module
  ceph/rbd/initial_config.py
  ceph/rbd/utils.py
  ceph/rbd/workflows/cleanup.py
  ceph/rbd/workflows/encryption.py
  ceph/rbd/workflows/krbd_io_handler.py
  ceph/rbd/workflows/pool.py
  ceph/rbd/workflows/rbd.py
  ceph/rbd/workflows/rbd_mirror.py
  suites/quincy/rbd/tier-3_rbd_mirror_encrypted_image.yaml
  tests/rbd_mirror/test_encryption_on_mirrored_image.py
Labels: lgtm

#2886 added image operations with persistent cache
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/reef/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/test_rbd_persistent_write_back_cache.py
Labels: lgtm

#2883 reef upgrade suites
  suites/reef/upgrades/tier1-upgrade-5x-cdn-7x-cephadm.yaml
  suites/reef/upgrades/tier1-upgrade-5x-to-7x-mix-os.yaml
  suites/reef/upgrades/tier1-upgrade-5x-to-7x.yaml
  suites/reef/upgrades/tier1-upgrade-6GA-to-7x.yaml
  suites/reef/upgrades/tier1-upgrade-6x-to-7x.yaml
  suites/reef/upgrades/tier2-upgrade-staggered-5x-to-7x.yaml
  suites/reef/upgrades/tier2-upgrade-staggered-6x-to-7x.yaml
Labels: lgtm

#2881 Fix for test cases related to OSD full scenarios
  ceph/rados/core_workflows.py
  tests/rados/test_osd_full.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix
