Repository red-hat-storage/cephci, pull requests merged in 2023-06, with the labels that each got.

#2608 [Enhancement] CEPH-83571710: Tier-2 test to verify parallel IOPs on a pool
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_object_ops.py
Labels: RADOS, Tier-2, Ready-for-review

#2606 Rename tier2_cephfs_scale.yaml to tier3_cephfs_scale.yaml
  suites/quincy/cephfs/tier-3_cephfs_scale.yaml
Labels: Ceph-FS

#2609 Integrate polarion testcase :CEPH-10740 to cephci
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-metadata-sync.yaml
Labels: pr-verified, RGW, Tier-2

#2592 adding fill workload preparation code for cosbench
  tests/misc_env/push_cosbench_workload.py
Labels: pr-verified, RGW

#2610 Integrate bucket notifications testcases into cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/quincy/rgw/tier-2_rgw_6_1_fixes.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#2591 Test to verify mirror pool replica size changes when mirroring I/O are in progress
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_mirror_replica_count.py
Labels: RBD

#2615 Adding a suite file for performance TCs
  suites/pacific/cephfs/tier-3_cephfs_test_performance.yaml
Labels: Ceph-FS

#2614 Adding Recovery TC's to a suite file
  suites/pacific/cephfs/tier-4_cephfs_recovery.yaml
Labels: Ceph-FS

#2613 Adding CephFS Bugs TC into a suite file
  suites/pacific/cephfs/tier-3_cephfs.yaml
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/__init__.py
  tests/cephfs/cephfs_bugs/test_cephfs_pool_size_change.py
  tests/cephfs/cephfs_bugs/test_write_fsync_on_file_kernel_mount.py
Labels: Ceph-FS

#2616 update new client node
  suites/quincy/integrations/ocs_rgw_ssl.yaml
Labels: Integrations

#2597 Quincy tests: Adding missing tests from pacific to Quincy suites.
  ceph/rados/crushtool_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-4_rados_test-pool-osd-recovery.yaml
  tests/rados/test_crushtool_workflows.py
  tests/rados/test_data_migration_bw_pools.py
  tests/rados/test_omap_entries.py
Labels: RADOS

#2620 Introduce notimeout on exec command
  ceph/ceph.py
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  utility/utils.py
Labels: nvmeof

#2618 [Pipeline] - Splitting tier-2_rbd_regression test suite into feature-wise test suite
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/pacific/rbd/tier-2_rbd_regression_Image_migration.yaml
  suites/pacific/rbd/tier-2_rbd_regression_trash.yaml
  suites/pacific/rbd/tier-2_rbd_trash_purge.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression_Image_migration.yaml
  suites/quincy/rbd/tier-2_rbd_regression_trash.yaml
  suites/quincy/rbd/tier-2_rbd_trash_purge.yaml
Labels: RBD, Ready-for-review

#2601 [Tier-2 Automation] CEPH-83573320 - Copy source image which is mirrored and check the behaviour
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_mirror_image_migration.py
Labels: RBD, Tier-2

#2599 Fixing nfs HA sanity virtual IP issue
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/nfs_ha_sanity.py
Labels: Ceph-FS

#2619 adding bucket lifecycle and policy testcases into cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/quincy/rgw/tier-2_rgw_6_1_fixes.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#2611 CEPH-83574048 : Adding LC transition object acl, and at multisite
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
Labels: RGW, Tier-2, close-loop-automation

#2621 Adding fs tc 11330
  suites/pacific/cephfs/tier-3_cephfs.yaml
  tests/cephfs/clients/client_option_value_verification.py
Labels: Ceph-FS

#2625 Adding missing Scale Tests to cephfs_scale suite file
  suites/quincy/cephfs/tier-3_cephfs_scale.yaml
Labels: Ceph-FS

#2627 Adding missing TC to mds_pinning suite file
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/mds_pinning_node_reboots.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_split_merge.py
Labels: Ceph-FS

#2628 Adding missing TC's under clients suite file
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/integrity_check_after_remount.py
Labels: Ceph-FS

#2623 Automate:bz-2182022 [Inditex] Test duplicates at archive zone
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: RGW, Tier-2, close-loop-automation

#2633 Add FS tc_11267
  suites/pacific/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_recovery/fs_down_flag.py
  tests/cephfs/cephfs_recovery/fs_scrub.py
Labels: Ceph-FS

#2624 [Inditex]bug-1937618, retain bucket policies at archive site
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: RGW, close-loop-automation, Tier-4

#2529 Add TC CEPH-83573802
  cli/utilities/operations.py
  cli/utilities/utils.py
  suites/pacific/cephadm/tier-4-service-operations.yaml
  suites/quincy/cephadm/tier-4-service-operations.yaml
  tests/cephadm/test_osd_service_operations.py
Labels: New testcase, DMFG

#2642 Adding fs tc 11241
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/shutdown_mds_bring_one_by_one.py
Labels: Ceph-FS

#2612 [Lib] Add support for cephadm preflight execution
  cephci/prereq.py
  cephci/utils/configure.py
  cli/exceptions.py
Labels: framework

#2636 pipeline fix for delete clone with io test
  tests/rbd/delete_clones_with_io.py
Labels: RBD

#2634 CEPH-83571692: ceph-bluestore-tool functionalities
  ceph/rados/bluestoretool_workflows.py
  suites/pacific/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_bluestoretool_workflows.py
Labels: RADOS, Tier-2

#2643 Adding fs tc 11240
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_shutdown_together_io_continue.py
Labels: Ceph-FS

#2641 Optimize wait time required for OMAP entries to get reflected | Temporarily exclude pool data migration tests
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/test_omap_entries.py
Labels: RADOS, Ready-for-review

#2646 [Rados] Legacy code: Enable application on OSD pools before IOPS
  tests/rados/radosbench.py
Labels: RADOS

#2637 CEPH-83572758 | BZ-2214864: Verify feasibility of IOPS on a cluster after one OSD reaches FULL state
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_full.py
Labels: RADOS, Tier-2, Ready-for-review

#2640 Test bucket stats should pass for deleted buckets in archive zone
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW, close-loop-automation, Tier-4

#2644 Ceph-ci integradtion of CEPH-83574626
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_ms-dbr-disable.yaml
  suites/quincy/rgw/tier-2_rgw_ms-dbr-disable.yaml
Labels: pr-verified, RGW

#2622 Adds support of pushing warp workload on ceph cluster
  tests/misc_env/push_warp_workload.py
Labels: pr-verified, RGW

#2645 integrating CEPH-83574669 into cephci
  suites/pacific/rgw/tier-2_rgw_ms-dynamic-bucket-resharding.yaml
Labels: pr-verified, RGW

#2632 Automation of rados paramter checking
  conf/quincy/rados/test-confs/rados_config_parameters.ini
  pipeline/metadata/6.1.yaml
  suites/quincy/rados/tier-2_rados_test_parameters.yaml
  tests/rados/monitor_configurations.py
  tests/rados/test_config_parameter_chk.py
Labels: RADOS, Ready-for-review

#2647 added pool deletion steps
  tests/rbd_mirror/test-image-delete-from-secondary.py
  tests/rbd_mirror/test-image-delete-primary-site.py
  tests/rbd_mirror/test_image_removal_from_secondary.py
  tests/rbd_mirror/test_mirror_move_primary_trash_restore.py
  tests/rbd_mirror/test_mirror_move_secondary_trash.py
  tests/rbd_mirror/test_rbd_image_meta_mirroring.py
Labels: RBD

#2656 Adding TC for NFS RO and RW export tc_83574001
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_ro_rw_access.py
Labels: Ceph-FS

#2639 [CephMgr][Tier2] Verify enabling and disabling ceph-mgr plugins
  suites/quincy/cephmgr/tier-2-cephmgr.yaml
  tests/mgr/test_cephmgr_plugins.py
Labels: DMFG, CephMgr

#2648 [Conf] Add Suite for NFS-Ganesha
  conf/quincy/nfs/tier-0.yaml
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
Labels: New testcase, nfs-ganesha

#2662 Move Tier-2 RGW bucket_lc_multipart_object_expired under sanity-tier2…
  pipeline/metadata/5.3.yaml
Labels: RGW

#2664 cephci integration of CEPH-83574423
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_ms-dbr-disable.yaml
  suites/quincy/rgw/tier-2_rgw_ms-dbr-disable.yaml
Labels: pr-verified, RGW

#2667 Enhancement to specify maximum namespaces per subsystem
  ceph/nvmeof/gateway.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
Labels: nvmeof

#2670 Stretch_clusters: Adding Site reboot, Maintenance mode tests.
  ceph/rados/core_workflows.py
  conf/pacific/rados/stretch-mode-host-location-attrs.yaml
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  suites/pacific/rados/deploy-stretch-cluster-mode.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/cephadm/test_client.py
  tests/rados/monitor_configurations.py
  tests/rados/stretch_cluster.py
  tests/rados/test_stretch_site_down.py
  tests/rados/test_stretch_site_maintenance_modes.py
  tests/rados/test_stretch_site_reboot.py
Labels: RADOS, Ready-for-review

#2672 [FibFix] Fix CloudProvider libraries
  cephci/cleanup.py
  cli/cloudproviders/__init__.py
  cli/cloudproviders/openstack.py
  cli/cloundproviders/__init__.py
  cli/cloundproviders/openstack.py
  cli/cluster/node.py
  cli/cluster/volume.py
Labels: framework

#2653 Adding fs util function for enable & disable of mds log
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2659 Splitted RBD mirror regression suites into feature wise test suite
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_failover_recovery.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_image_trash_purge.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_failover_recovery.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_image_trash_purge.yaml
Labels: RBD

#2663 CEPH-83574008 : cephfs nfs export creation using config file
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_export_config.py
Labels: Ceph-FS

#2657 [RGW]Cephci polarion update
  suites/pacific/cephadm/test-haproxy-deployment.yaml
  suites/pacific/rgw/tier-0_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_cephadm.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-listing-versioning-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_multisite_test-upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_ssl_test-upgrade-4-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw-single-bucket-process.yaml
  suites/pacific/rgw/tier-2_rgw_archive.yaml
  suites/pacific/rgw/tier-2_rgw_ms-archive.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool-ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_ms-bucket-objects-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
Labels: RGW, Tier-1, Tier-2, Polarion testcase

#2674 Integrate polarion TC CEPH-11206 to cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
Labels: pr-verified, RGW, Tier-1

#2652 Add Test case to clean up the nvme-of gateway entities
  suites/quincy/nvmeof/ceph_nvmeof_deployment.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
Labels: nvmeof

#2681 [Quincy][Upgrades]Add ibm upgrade suites
  ceph/ceph_admin/__init__.py
  suites/quincy/upgrades/tier-1-upgrade-ibm-5x-to-6x.yaml
  suites/quincy/upgrades/tier-1-upgrade-multisite-ibm-5x-to-6x.yaml
Labels: DMFG

#2686 Integrate polarion TC CEPH-10650 with cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, Tier-4

#2687 Updating suites and conf for RGW reef testing
  conf/reef/rgw/rgw_multisite.yaml
  conf/reef/rgw/tier-0_rgw.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/sanity_rgw_multisite.yaml
  suites/reef/rgw/tier-0_rgw.yaml
  suites/reef/rgw/tier-1_rgw_multisite.yaml
Labels: framework, RGW

#2683 [Fix] Fix step to enable repo
  tests/cephadm/test_cephadm_ansible_wrapper.py
  utility/install_prereq.py
Labels: test-fix

#2690 Test bucket versioning is never suspended at archive site
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
Labels: RGW, Tier-2, close-loop-automation

#2693 update os from rhel-8 to rhel-9 for ms suite
  pipeline/metadata/5.3.yaml
Labels: pr-verified, RGW
