Repository red-hat-storage/cephci, pull requests merged in 2023-07, with the labels that each got.

#2696 [RGW]cephci polarion update-2
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#2695 [LibFix] Fix 'bootstrap' library to support ibm build
  ceph/ceph_admin/bootstrap.py
  cephci.yaml.template
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: bug in framework

#2703 Pass run config to test case
  run.py
Labels: framework

#2694 Adding tests to perform cache flush with IOs stopped abruptly
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/rbd_peristent_writeback_cache.py
  tests/rbd/test_rbd_persistent_writeback_cache_flush.py
Labels: RBD

#2698 [LibFix] Update cloud provider libraries
  cephci/cleanup.py
  cli/cloudproviders/__init__.py
  cli/cloudproviders/openstack.py
  cli/cluster/node.py
  cli/cluster/volume.py
Labels: framework

#2700 [Lib] Add utility to provision cluster
  cephci/provision.py
  cli/cloudproviders/openstack.py
  cli/cluster/node.py
  cli/cluster/volume.py
Labels: framework

#2701 Removed the tests which are taking more execution time
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
Labels: RADOS, Ready-for-review

#2685 83572891_83572890
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_admin_daemon_socket_dump.py
  tests/cephfs/cephfs_system/mds_admin_daemon_socket_perf_flush_log.py
Labels: Ceph-FS

#2699 integrating rgw testing through curl
  suites/pacific/rgw/tier-2_rgw_test_5-3_specific_fixes.yaml
Labels: pr-verified, RGW, close-loop-automation

#2706 Fixes command failure happening due to incorrect node name
  tests/misc_env/push_cosbench_workload.py
  utility/utils.py
Labels: RGW

#2705 Fixes minor issues of COSBench for bare metal deployment
  tests/misc_env/cosbench.py
Labels: RGW

#2658 IO Perf Test
  ceph/nvmeof/gateway.py
  setup.py
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  suites/quincy/nvmeof/ceph_nvmeof_deployment.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_io_perf.py
  utility/io/fio_profiles.py
  utility/utils.py
Labels: nvmeof

#2691 Add Test to run IOs using multiple-initiators against multi-subsystems based NVMe-of targets
  conf/quincy/nvmeof/ceph_nvmeof_cluster.yaml
  suites/quincy/nvmeof/ceph_nvmeof_deployment.yaml
Labels: nvmeof

#2688 Scale testing - NVMeOF Single GW components
  conf/quincy/upi/octo-9-node-env.yaml
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_scale.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
Labels: nvmeof

#2710 [LibFix] Fix `Container.run` library
  cli/utilities/containers.py
Labels: bug in framework

#2715 [LibFix] Fix `tier-1_service_apply_spec.yaml` test suite
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
Labels: bug in framework

#2718 Adding numpy and scipy as part of prepareclients
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2677 Modifying the fs system tests
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_node_failure_ops.py
  tests/cephfs/cephfs_system/mds_node_remove_with_IO.py
  tests/cephfs/cephfs_system/mon_failure_with_client_IO.py
  tests/cephfs/cephfs_system/mon_node_failure_ops.py
  tests/cephfs/cephfs_system/osd_failure_with_client_IO.py
  tests/cephfs/cephfs_system/osd_node_failure_ops.py
  tests/cephfs/cephfs_system/snap_rollback_with_node_reboots.py
  tests/cephfs/cephfs_utilsV1.py
  tests/io/io_utils.py
Labels: DNM, Ceph-FS

#2684 Mounting exports using config
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/nfs/test_nfs_mount.py
Labels: DNM, Ceph-FS

#2720 tfa: tier-1_rgw_multisite_upgrade-5-to-latest, configure_vault_agent.
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
Labels: RGW

#2711 [LibFix] Fix disconnnect library
  cephci/prereq.py
  cephci/utils/configure.py
  cli/ceph/orch/orch.py
Labels: bug in framework, Ready-for-review

#2483 [CephAdm][Tier2] Verify custom container deployment using orch command
  suites/pacific/cephadm/tier2-verify-custom-container.yaml
  suites/quincy/cephadm/tier2-verify-custom-container.yaml
  tests/cephadm/test_custom_container.py
Labels: Polarion testcase, CephAdm, DMFG, Ready-for-review

#2713 Removing TC:"deploying RGW service with cephadm" as its not applicable to 5.x
  suites/pacific/cephadm/tier-2-rgw-with-warn-state.yaml
Labels: RGW

#2723 Including support for v1 ceph-qe-script in cephci for rgw-ms
  tests/rgw/sanity_rgw_multisite.py
Labels: bug in framework, pr-verified, RGW

#2704 Automated dm-cache and dm-write cache scenario for RBD images
  suites/pacific/rbd/tier-1_rbd_mirroring_upgrade-5-to-latest.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_scale_osd.yaml
  suites/quincy/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_scale_osd.yaml
  tests/rbd/test_rbd_dm_cache.py
  utility/lvm_utils.py
Labels: RBD

#2719 Adding support for multiple clients to run IO in parallel
  tests/cephfs/test_io.py
  tests/io/fs_io.py
  tests/io/io_utils.py
Labels: Ceph-FS

#2716 fixing tfa issues upload object failed and sync stuck for gc suites
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  utility/utils.py
Labels: pr-verified, RGW

#2733 [Utility] Add utility to report results to polarion
  cephci/reports.py
  cephci/utils/configs.py
  examples/cephci.yaml
  requirements.txt
Labels: framework

#2728 Improvise io perf to run with mulitple images
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_io_perf.py
Labels: nvmeof

#2727 Calculate maximum storage in a pool that is available to be used
  tests/misc_env/cosbench.py
  tests/misc_env/push_cosbench_workload.py
  utility/utils.py
Labels: pr-verified, RGW

#2732 Adding TC 83573999
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_config_reset.py
Labels: Ceph-FS

#2731 [Test] Add test to validate spam log not present in cephadm log
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_cephadm_log_spam.py
Labels: CephAdm, DMFG

#2737 NVMeOF single GW scale testing support on VMs
  conf/quincy/nvmeof/ceph_nvmeof_scale_cluster.yaml
  suites/quincy/nvmeof/ceph_nvmeof_openstack_scale.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
Labels: nvmeof

#2740 Explore NVMeOF namespace limitations with incremental scale test
  conf/quincy/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  suites/quincy/nvmeof/ceph_nvmeof_namespace_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_ns_limit.py
Labels: nvmeof

#2749 [Rados][TFA] Fixes for scheduled pipeline test failures
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/rados_test_util.py
  tests/rados/stretch_cluster.py
  tests/rados/test_bluestore_configs.py
  tests/rados/test_cephdf.py
  tests/rados/test_osd_df.py
Labels: RADOS

#2751 [Interop] Update `quincy` latest version
  pipeline/scripts/interop/test-ceph-features.sh
Labels: InterOp

#2742 Run IO perf test with iterations
  ceph/nvmeof/gateway.py
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  tests/nvmeof/test_io_perf.py
Labels: nvmeof

#2757 [TestFix] Fix indentation for test case to deploy OSD
  suites/pacific/cephadm/tier-1_5-1_service-apply-spec.yaml
Labels: test-fix

#2767 fixes command failures in folio suite file and adds client role in folio conf
  conf/quincy/baremetal_pipeline/folio_conf.yaml
  suites/quincy/baremetal_pipeline/tier-1_rgw.yaml
Labels: RGW

#2758 [NFS-Ganesha][File Operation]Add two test case automation support
  cli/utilities/utils.py
  suites/quincy/nfs/tier-0_nfs_ganesha.yaml
  tests/nfs/nfs_verify_file_operations.py
Labels: DMFG, nfs-ganesha

#2750 adding fs tc 83574014 (re)
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/modifying_nfs_cluster_invalid_value.py
Labels: Ceph-FS

#2764 Removing verification as IO file not generated as part of V1
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
Labels: pr-verified, RGW

#2765 Test to explore single GW Subsystem scale limit
  conf/quincy/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
  suites/quincy/nvmeof/ceph_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
Labels: nvmeof

#2771 modified the nvmeof test suite files
  conf/quincy/nvmeof/ceph_nvmeof_sanity.yaml
  pipeline/metadata/6.1.yaml
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
  suites/quincy/nvmeof/ceph_nvmeof_deployment.yaml
  suites/quincy/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof.yaml
Labels: nvmeof

#2741 Include Data Integrity test for nvme-of targets
  conf/quincy/nvmeof/ceph_nvmeof_funcl.yaml
  suites/quincy/nvmeof/ceph_nvmeof_functl_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
Labels: nvmeof

#2773 NVMeoF Scale test with 1 subsystem and 256 namespaces
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_baremetal_scale.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
Labels: nvmeof

#2772 [TFA-Fix]: failure seen with kafka notification testcases
  suites/quincy/rgw/tier-2_rgw_6_1_fixes.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_test_bucket_notifications.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#2776 Include tests for multiple Initiator to the functional suite
  conf/quincy/nvmeof/ceph_nvmeof_functional.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
Labels: nvmeof

#2769 [NFS-Ganesha][Deplloyment]Add automation support for deployment using…
  conf/quincy/nfs/tier-1-8node.yaml
  suites/quincy/nfs/tier-1_nfs_ganesha.yaml
Labels: DMFG, nfs-ganesha

#2779 [TestFix] Fix specification config for testsuite 'tier-1_service_appl…
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
Labels: test-fix

#2756 [Utility] Add support to collect cluster information
  cephci/cluster_conf.py
  cephci/provision.py
  cli/cloudproviders/openstack.py
  cli/cluster/volume.py
  examples/cluster-conf.yaml
Labels: framework

#2782 [nvmeof] normalize dict join without update
  tests/nvmeof/test_ceph_nvmeof_gateway.py
Labels: nvmeof

#2785 [nvmeof] fix issues on dict join
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
  tests/nvmeof/test_ceph_nvmeof_ns_limit.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
Labels: nvmeof, test-fix

#2761 Fixing issue 10169
  conf/pacific/cephfs/tier-3_cephfs_bugs.yaml
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
Labels: Ceph-FS

#2789 Fix tox issue with value type comparison
  tests/rados/test_osd_args.py
Labels: framework

#2777 Update rgw suites to baremetal execution
  suites/quincy/baremetal_pipeline/tier-1_rgw.yaml
  suites/quincy/baremetal_pipeline/tier-1_rgw_ms.yaml
  suites/quincy/baremetal_pipeline/tier-2_rgw_regression.yaml
Labels: RGW
