Repository red-hat-storage/cephci, pull requests merged in 2023-11, with the labels that each got.

#3076 Update the code with new discovery port
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3086 [TestFix] Fix NFS multi deployment test
  suites/quincy/nfs/tier1-nfs-ganesha-multinode-deployment.yaml
Labels: lgtm

#3083 [LibFix] Update script to add centos epel repo
  ceph/ceph_admin/bootstrap.py
  ceph/utils.py
  cli/utilities/configure.py
  tests/ceph_installer/test_ceph_deploy.py
Labels: framework, lgtm, upstream

#3078 [Nfs-Ganesha][Automation]Add symoblic and hard link scenario
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_verify_hard_links_inode.py
  tests/nfs/nfs_verify_symbolic_links_file_other_file_system.py
Labels: lgtm, nfs-ganesha

#3081 [NFS][Test] Add test to validate nfs share file create and permissions
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_verify_multi_depth_dir_and_permissions.py
Labels: lgtm

#3077 [LibFix] Fix cephadm ansible wrapper tests
  cli/ops/cephadm_ansible.py
  cli/utilities/operations.py
  cli/utilities/utils.py
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-modules.yaml
  tests/cephadm/ansible_wrapper/ceph_config/get-ceph-config.yaml
  tests/cephadm/ansible_wrapper/ceph_config/set-ceph-config.yaml
  tests/cephadm/ansible_wrapper/ceph_orch_apply/deploy-osd-service.yaml
  tests/cephadm/ansible_wrapper/ceph_orch_daemon/set-ceph-orch-daemon-state.yaml
  tests/cephadm/ansible_wrapper/ceph_orch_host/add-ceph-orch-host.yaml
  tests/cephadm/ansible_wrapper/ceph_orch_host/set-ceph-orch-host-state.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/cephadm-bootstrap.yaml
  tests/cephadm/test_cephadm_ansible_bootstrap.py
  tests/cephadm/test_cephadm_ansible_operations.py
Labels: framework, lgtm

#3079 Adding Automation for CEPH-83573868
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/verify_root_squash_in_caps.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3082 [TestFix] Update permissive mode tests
  cli/utilities/configure.py
  suites/pacific/cephadm/tier-2-permissive-mode-scenarios.yaml
  suites/quincy/cephadm/tier-2-permissive-mode-scenarios.yaml
  suites/reef/cephadm/tier2-permissive-mode-scenarios.yaml
  tests/cephadm/test_cephadm_ansible_bootstrap.py
Labels: framework, lgtm, test-fix

#3085 Fixing scale max_snap issue
  tests/cephfs/cephfs_scale/max_smallfile_snap.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3075 cephfs-mirroring config tests and utility file for automating the cephfs-mirroring feature
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3084 Adding FS TC CEPH-11264
  suites/pacific/cephfs/tier-4_cephfs_recovery.yaml
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_generic/__init__.py
  tests/cephfs/cephfs_generic/test_data_migrate_bw_buckets.py
Labels: Ceph-FS, lgtm, Polarion testcase

#3088 [SuiteFix][Quincy][Cephadm] Remove redundant test from apply spec suite
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
Labels: lgtm

#3091 Discovery port updates and CEPH-83576093 Reboot Gateway node
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3094 Fix for permissive mode test suite
  cli/utilities/utils.py
  tests/cephadm/test_ceph_health_detail_when_mon_offline.py
Labels: lgtm

#3093 [TestFix] Update CephAdm ansible bootstrap test cases
  cli/ops/cephadm_ansible.py
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/pacific/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/pacific/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-docker.yaml
  suites/pacific/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-registry-details.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/quincy/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/quincy/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-docker.yaml
  suites/quincy/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-registry-details.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-docker.yaml
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-registry-details.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-custom-ssh.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-exisitng-keys.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-registry-details.yaml
  tests/cephadm/ansible_wrapper/cephadm_registry_login/login-to-registry.yaml
  tests/cephadm/ansible_wrapper/cephadm_registry_login/logout-from-registry.yaml
  tests/cephadm/test_cephadm_ansible_bootstrap.py
  tests/cephadm/test_cephadm_ansible_operations.py
Labels: framework, lgtm, test-fix

#3087 Add enhanced io module and integrate to snapshot schedule automation
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: lgtm

#3090 Automating toggle journaling feature
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/rbd.py
  ceph/rbd/workflows/rbd_mirror.py
  suites/pacific/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/reef/rbd/tier-2_rbd_mirror_image_operations.yaml
  tests/rbd_mirror/test_mirroring_toggle_journaling_feature.py
Labels: lgtm, approved

#3097 Automation of CEPH-9925-[RADOS]: remove an omap entry of a replica using ceph-objectstore-tool and list-inconsistent-obj
  tests/rados/test_osd_inconsistency_pg.py
Labels: RADOS, lgtm, Ready-for-review

#3098 Added rados tests to check for inconsistency after OSD epcoh changes.
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_inconsistency_osd_epoch.py
  tests/rados/test_stretch_site_maintenance_modes.py
Labels: RADOS, lgtm, Tier-3

#3103 [TestFix] Fix remove cluster test case
  tests/cephadm/test_remove_cluster.py
Labels: lgtm, test-fix

#3095 [LibFix] Cleanup cephadm ansible wraper libraries
  ceph/ceph_admin/__init__.py
  playbooks/add-host-to-cluster.yaml
  playbooks/add-host-to-cluster_with_admin_label.yaml
  playbooks/bootstrap-cluster-custom-ssh.yml
  playbooks/bootstrap-cluster-overide-exisitng-keys.yml
  playbooks/bootstrap-cluster-registry-details.yml
  playbooks/bootstrap-cluster.yml
  playbooks/deploy-osd-service.yml
  playbooks/get-mgr-config.yml
  playbooks/login-to-registry.yaml
  playbooks/logout-from-registry.yaml
  playbooks/set-ceph-config.yml
  playbooks/set-ceph-orch-daemon-state.yml
  playbooks/set-ceph-orch-host-state.yml
  tests/cephadm/test_cephadm_ansible_wrapper.py
  utility/install_prereq.py
Labels: framework, lgtm

#3104 fixing cephfs-mirror issue found in tfa
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3065 Test to fail RBD mirroring when secondary gets full
  suites/pacific/rbd/tier-3_rbd_mirror_secondary_full.yaml
  suites/quincy/rbd/tier-3_rbd_mirror_secondary_full.yaml
  suites/reef/rbd/tier-3_rbd_mirror_secondary_full.yaml
  tests/rbd_mirror/test_rbd_mirror_secondary_full.py
Labels: RBD, lgtm, approved

#3107 [LibFix] Fix cli.ops.generate_bootstrap_config library
  cli/ops/cephadm.py
Labels: lgtm, tfa-issue-fix

#3108 [LibFix] Fix CephAdm ansible bootstrap to support ibm build
  tests/cephadm/test_cephadm_ansible_bootstrap.py
Labels: bug in framework, lgtm

#3089 CephCI-Integradtion CEPH83575880
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW, lgtm, Tier-2, close-loop-automation

#3099 [Nfs-Ganesha][Automation]Add hard and symbolic link scenario
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_hard_links_delete_file.py
  tests/nfs/nfs_hard_links_server_reboot.py
  tests/nfs/nfs_hard_symbolic_links_rename.py
Labels: lgtm, nfs-ganesha

#3105 Core_workflows.py: Added method to simulate network delay and packet loss
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_pg_split.py
  tests/rados/test_stretch_site_down.py
Labels: RADOS, lgtm, Tier-4

#3112 change back discovery port to listener port
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3100 Perform multisite deployment through cephadm, as there is issue with cephadm-preflight.yml playbook
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/reef/rgw/tier-1_rgw_ms_upgrade_multirealm_61GA_to_7x_latest.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3111 Incorporate tox to run s3tests from Reef 7.0 onwards
  tests/rgw/test_s3.py
Labels: RGW, lgtm

#3102 Testing image operations on snapshot mirrored cluster
  suites/pacific/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/reef/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  tests/rbd_mirror/test_image_operations_on_snap_mirroring.py
Labels: lgtm, approved

#3121 Adding nvme disk to persistent cache suite
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/reef/rbd/tier-3_rbd_persistent_write_back_cache.yaml
Labels: lgtm, approved

#3125 CEPH-83572702: Replacement of an OSD with retention of its ID
  ceph/ceph_admin/osd.py
  ceph/rados/core_workflows.py
  ceph/rados/utils.py
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/test_osd_replacement.py
Labels: RADOS, lgtm, Ready-for-review

#3109 Adding cephfs mirroring tc 83575625
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/validate_file_dir_stats_modification_on_mirrored_cluster.py
Labels: Ceph-FS, lgtm, Polarion testcase

#3106 [NFS][SCALE] Add nfs scale test with IO
  tests/nfs/nfs_scale_with_multi_io.py
Labels: lgtm

#3113 cephfs-t2-CEPH-83574107-and-utils-fix-to-handle-multifs
  conf/pacific/cephfs/tier-1_cephfs_mirror.yaml
  conf/reef/cephfs/tier-1_cephfs_mirror.yaml
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_validate_cephfs-mirroring_on_multifs_setup.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3120 [CephAdm][Automation]Bootstrap with spec file
  cli/ops/cephadm.py
  suites/quincy/cephadm/tier-2-bootstrap-along-with-spec-file.yaml
  suites/reef/cephadm/tier-2-bootstrap-along-with-spec-file.yaml
Labels: lgtm, CephAdm, DMFG

#3092 Test to cover RBD mirror daemon related metrics
  ceph/rbd/workflows/rbd_mirror_metrics.py
  suites/quincy/rbd/tier-2_rbd_mirror_metrics.yaml
  suites/reef/rbd/tier-2_rbd_mirror_metrics.yaml
  tests/rbd_mirror/test_rbd_mirror_journal_metrics.py
  tests/rbd_mirror/test_rbd_mirror_snapshot_metrics.py
Labels: RBD, lgtm, approved

#3128 Test suite changes with respect to baremetal pipeline
  conf/quincy/baremetal_pipeline/mero_conf.yaml
  conf/reef/nvmeof/ceph_nvmeof_functional.yaml
  conf/reef/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  conf/reef/nvmeof/ceph_nvmeof_sanity.yaml
  conf/reef/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_128k_blocksize_10vols.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_16kbs_10vols.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3122 Rados Mon serviceability scenarios: Added test to perform mon serviceability tests
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/test_mon_system_operations.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, lgtm, Tier-3

#3132 add do-not-skip-test-case option to framework
  run.py
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
Labels: framework, lgtm

#3133 minor updates for reef-nvmeotcp
  conf/reef/baremetal/mero_conf.yaml
Labels: lgtm, nvmeof

#3126 [Cephadm][Automation]Upgrade with standby mgr
  conf/quincy/upgrades/1admin-3node-1client-3mgr-upgrade.yaml
  conf/reef/upgrades/1admin-3node-1client-3mgr-upgrade.yaml
  suites/quincy/upgrades/tier-2-upgrade-rhcs-5x-to-6x-standby-mgr.yaml
  suites/reef/upgrades/tier-2-upgrade-rhcs-5x-to-7x-standby-mgr.yaml
  tests/cephadm/test_upgrade_standby_mgr_remove_active_mgr.py
Labels: lgtm, DMFG

#3137 [TFA issue fix]TypeError: the JSON object must be str, bytes or bytearray, not bool'
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3139 Fix TFA issue observed in Bucket_radoslist
  suites/reef/rgw/sanity_rgw.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3110 Adding FS TC 83574109
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirror_auth_caps.py
Labels: lgtm

#3130 Fixing the tier2-cluster-elasticity suite
  conf/reef/cephadm/1admin_10node_1client_cephadm_scale.yaml
  suites/reef/cephadm/tier2-cluster-elasticity.yaml
Labels: lgtm

#3123 Remove Known-issue comment from testcase since BZ is verified for qui…
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: RGW, lgtm

#3127 Ceph-ci integration: dellifecycle via s3cmd
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, lgtm, close-loop-automation, Tier-4

#3142 Change polarian for tc: delete lifecycle
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: RGW, lgtm

#3135 CEPH-83574120 - Modify the remote directory - Negative Scenario
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_modify_remote_snapshots.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3144 nvmeotcp changes needed for baremetal pipeline
  ceph/nvmeof/nvme_cli.py
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
  tests/nvmeof/test_io_perf.py
Labels: lgtm, nvmeof

#3138 Enhance nvmeof scale tests to 7.1 requirements
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
Labels: lgtm, nvmeof

#3129 CEPH-11681: Tier-2 test to perform various operations on OMAPs and OSD OMAP compaction
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_osd_compaction.py
  tests/rados/test_osd_inconsistency_pg.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review

#3140 adding tier-3 suite for rgw baremetal execution and adding rgw role for node5 in mero conf
  conf/reef/baremetal/mero_conf.yaml
  suites/reef/baremetal/tier-3_rgw.yaml
Labels: RGW, lgtm

#3145 Adding cephfs tc 83575625 fix
  tests/cephfs/cephfs_mirroring/validate_file_dir_stats_modification_on_mirrored_cluster.py
Labels: lgtm

#3146 fixing FS script issues
  tests/cephfs/cephfs_bugs/test_custom_fscid_cephfs.py
  tests/cephfs/cephfs_bugs/test_mds_laggy_thrown_out.py
  tests/cephfs/cephfs_bugs/test_rm_on_lost_found_dir.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm, tfa-issue-fix

#3147 [inv] Add inventory for RHEL 8.9 & 9.3
  conf/inventory/rhel-8-latest.yaml
  conf/inventory/rhel-8.9-server-x86_64-large.yaml
  conf/inventory/rhel-8.9-server-x86_64.yaml
  conf/inventory/rhel-9-latest.yaml
  conf/inventory/rhel-9.3-server-x86_64-large.yaml
  conf/inventory/rhel-9.3-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.3-server-x86_64.yaml
Labels: framework, lgtm

#3148 Adding mds laggy file
  tests/cephfs/cephfs_bugs/test_mds_laggy_thrown_out.py
Labels: lgtm

#3149 [TFA]Remove duplicate testcase in a suite
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3136 Adding cephfs TC 11340 fix
  tests/cephfs/clients/multiple_clients_permission_mounted_directories.py
Labels: lgtm

#3150 Disabling email and gchat notifications from old listener jobs
  pipeline/signed-compose-listener.groovy
  pipeline/signed-container-image-listener.groovy
  pipeline/unsigned-compose-listener.groovy
  pipeline/unsigned-container-image-listener.groovy
Labels: lgtm

#3143 Pre upgrade config enhancements and json config file creation
  tests/cephfs/cephfs_upgrade/upgrade_pre_req.py
Labels: lgtm

#3160 Rados: Added methods to increase recovery threads during mon replacement
  ceph/rados/core_workflows.py
  tests/rados/monitor_configurations.py
  tests/rados/test_mon_system_operations.py
  tests/rados/test_pg_autoscale_flag.py
Labels: lgtm, Ready-for-review, tfa-issue-fix

#3163 [LibFix] Fix cephadm shell --mount
  cli/cephadm/cephadm.py
Labels: lgtm

#3164 [LibFix] Fix install_cephadm call with extra param
  cli/utilities/configure.py
Labels: lgtm

#3165 Remove client from NS limitations conf file
  conf/reef/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
Labels: lgtm, nvmeof, tfa-issue-fix

#3167 [SuiteFix][Nfs] Fix Tier-1 nfs suite
  suites/reef/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm

#3171 [Libfix] Fix wrongly typed volume to attach_volume
  cli/cluster/node.py
Labels: lgtm

#3157 [libfix] Add ceph_instance to run.py
  ceph/ceph.py
  run.py
Labels: lgtm

#3166 Adding rbd python tests to cephci
  ceph/rbd/workflows/rbd_python.py
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  suites/reef/rbd/tier-2_rbd_regression.yaml
  tests/rbd/test_rbd_python_module.py
Labels: lgtm, approved

#3168 [TFA] re-arranging rgw testcase
  suites/reef/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3172 Test for Performance counter network connection metrics
  suites/quincy/rbd/tier-2_rbd_mirror_metrics.yaml
  suites/reef/rbd/tier-2_rbd_mirror_metrics.yaml
  tests/rbd_mirror/test_rbd_mirror_connection_metrics.py
  tests/rbd_mirror/test_rbd_mirror_snapshot_metrics.py
Labels: RBD, lgtm, approved

#3174 Cephci Integration for polarion Testcase : CEPH-11204
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3180 [LibFix] Add support for ibm build repos withoud '.repo' extension
  ceph/ceph_admin/bootstrap.py
  ceph/utils.py
Labels: bug in framework, lgtm

#3182 Adding RHCS 7.0 support for ocs deploy cluster
  conf/reef/integrations/7_node_ceph.yaml
  pipeline/rhcs_deploy.groovy
  suites/reef/integrations/ocs.yaml
  suites/reef/integrations/ocs_rgw_ssl.yaml
Labels: lgtm

#3131 [Test] Add test to validate crash log creation
  cli/utilities/utils.py
  suites/reef/cephadm/tier4-crash_configuration.yaml
  tests/cephadm/test_verify_crash_reports.py
Labels: lgtm

#3183 RHCEPHQE-12173: TFA fix for MON daemon crash in RADOS regression
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  tests/rados/test_crash_daemon.py
  tests/rados/test_osd_replacement.py
Labels: RADOS, lgtm, tfa-issue-fix

#3185 test_osd_inconsistency_pg script code fix for TFA issue
  ceph/rados/core_workflows.py
  tests/rados/test_osd_inconsistency_pg.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#3181 [Libfix] Add file support to ceph.orch.apply
  cli/ceph/orch/orch.py
Labels: lgtm

#3175 Tier2 - CephFS-MIrroring-HA - CEPH-83575333
  suites/pacific/cephfs/tier-2_cephfs_mirror_ha.yaml
  suites/reef/cephfs/tier-2_cephfs_mirror_ha.yaml
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring_ha_using_spec.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3153 [Test][Cephadm] Add test to validate pid limit of services
  cli/utilities/containers.py
  cli/utilities/utils.py
  suites/reef/cephadm/tier4-service-operations.yaml
  tests/cephadm/test_validate_pid_limit.py
Labels: lgtm, approved

#3184 CEPH-83580881 | CEPH-83580882: Tier-2 test to verify precedence of osd_memory_target param at different levels
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_memory_target.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review, close-loop-automation

#3179 Adding test - Concurrent writes with exclusive lock. persistent write cache
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/reef/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/krbd_io_handler.py
  tests/rbd/rbd_peristent_writeback_cache.py
  tests/rbd/rbd_utils.py
  tests/rbd/test_concurrent_write_pwl_cache.py
Labels: lgtm, approved

#3159 Automation of the CEPH-9369 - RADOS: Time scheduled scrubbing: Observe cpu and memory usage during scrubbing
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_scrub_cpu_memory_usage.py
Labels: RADOS, lgtm, Ready-for-review

#3195 CEPH-83580881 | Code fix to address false failure
  tests/rados/test_osd_memory_target.py
Labels: RADOS, lgtm, Ready-for-review

#3155 Fixing NFS Issues
  tests/cephfs/cephfs_nfs/2_node_nfs.py
  tests/cephfs/cephfs_nfs/modifying_nfs_cluster_invalid_value.py
  tests/cephfs/cephfs_nfs/nfs_config_reset.py
  tests/cephfs/cephfs_nfs/nfs_export_config.py
  tests/cephfs/cephfs_nfs/nfs_info_cluster_id_and_ls_export_detailed.py
  tests/cephfs/cephfs_nfs/nfs_io_network_failures.py
  tests/cephfs/cephfs_nfs/nfs_mount_with_fstab.py
  tests/cephfs/cephfs_nfs/nfs_multiple_export_using_single_conf.py
  tests/cephfs/cephfs_nfs/nfs_non_exist_export_path.py
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
  tests/cephfs/cephfs_nfs/recreate_same_name_nfs.py
  tests/cephfs/cephfs_nfs/subvolume_export.py
  tests/cephfs/cephfs_nfs/zip_unzip_files_nfs.py
Labels: lgtm

#3173 Fixing client stuck issue
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/mds_scrub_after_failover.py
Labels: lgtm

#3191 Adding test to compare performance with or without pwl cache
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/reef/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/krbd_io_handler.py
  tests/rbd/test_performance_pwl_cache.py
  utility/utils.py
Labels: lgtm, approved

#3188 Updating the daemon placement in stretch mode
  conf/pacific/rados/stretch-mode-host-location-attrs.yaml
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  conf/reef/rados/stretch-mode-host-location-attrs.yaml
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
Labels: RADOS, lgtm, tfa-issue-fix

#3194 [test-fix] Add fix for OSD deployed with limit filter spec test failure
  suites/quincy/cephadm/tier-1_cephadm-clients.yaml
  suites/quincy/cephadm/tier-1_service_apply_spec.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3154 [Automation][Cephadm] Validate Ceph-Common additional package
  tests/cephadm/test_package_validation.py
Labels: lgtm, DMFG

#3190 Stretch Workflows: Added test to verify Netsplits in Stretch mode
  ceph/rados/core_workflows.py
  ceph/rados/crushtool_workflows.py
  ceph/rados/monitor_workflows.py
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_pg_autoscale_flag.py
  tests/rados/test_stretch_netsplit_scenarios.py
  tests/rados/test_stretch_site_down.py
  tests/rados/test_stretch_site_maintenance_modes.py
  tests/rados/test_stretch_site_reboot.py
Labels: RADOS, lgtm, Tier-3, tfa-issue-fix

#3197 [TestFix] Fix nfs scale down test
  suites/reef/cephadm/tier2-cluster-elasticity.yaml
Labels: lgtm

#3186 [Test][Cephadm] Add test to validate mon stack auth
  cli/ceph/ceph.py
  cli/ops/cephadm.py
  suites/reef/mgr/tier-1-cephapi-auth-api.yaml
  tests/cephadm/test_mon_stack_auth.py
Labels: lgtm

#3200 [Lib] Add temp yaml file creation through config
  cli/utilities/utils.py
Labels: lgtm

#3036 [Tier2] Redploy non-collocated OSDs
  conf/quincy/ceph_volume/1admin-1clinet-5node-single-volume.yaml
  conf/reef/ceph_volume/1admin-1clinet-5node-single-volume.yaml
  suites/quincy/ceph_volume/tier2-ceph-volume-redeploy.yaml
  suites/reef/ceph_volume/tier2-ceph-volume-redeploy.yaml
  tests/ceph_volume/test_ceph_volume_redeploy.py
Labels: lgtm
