Repository red-hat-storage/cephci, pull requests merged in 2023-10, with the labels that each got.

#2977 Adding FS 83575096
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_active_power_off.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_node_replacement.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#2975 Scrub enhancement fix
  tests/rados/test_scrub_enhancement.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#2928 Updating suite file to configure specific OSD
  suites/reef/baremetal/mero_suite.yaml
  tests/cephfs/test_io.py
  tests/io/io_utils.py
Labels: lgtm

#2980 [Conf]update conf files
  conf/quincy/cephadm/1admin_4node_1client_mix_os.yaml
  conf/quincy/cephadm/tier-1_9node_mix_client.yaml
  conf/quincy/cephadm/tier-2_rhos01_multiple_subnet_openstack_only.yaml
  conf/quincy/cephadm/tier-2_rhosd_multiple_subnet_openstack_only.yaml
  conf/reef/cephadm/1admin-4node-1client-mix-os.yaml
  conf/reef/cephadm/1admin_4node_1client_mix_os.yaml
  conf/reef/cephadm/rhos01-1admin-5node-multiple-subnet.yaml
  conf/reef/cephadm/rhosd-1admin-5node-multiple-subnet.yaml
  conf/reef/cephadm/tier-1_9node_mix_client.yaml
Labels: lgtm, DMFG

#2982 Replace/modify polarion testcase to avoid multiple/inactive polarion testcases
  suites/reef/rgw/sanity_rgw_multisite.yaml
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_5_3GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_6_1GA_to_7x_latest.yaml
  suites/reef/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW, lgtm, Polarion testcase

#2967 [NFS-Ganesha]Add failover testcase
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_verify_failover_with_file_ops.py
Labels: lgtm, nfs-ganesha

#2974 [NFS-Ganesha]Add support to get pid and rss
  tests/nfs/nfs_operations.py
Labels: lgtm, nfs-ganesha

#2978 Adding Reef suites and conf files
  conf/reef/cephfs/tier-0_fs.yaml
  conf/reef/cephfs/tier-1_cephfs_mirror.yaml
  conf/reef/cephfs/tier-1_fs.yaml
  conf/reef/cephfs/tier-2_cephfs_9-node-cluster.yaml
  conf/reef/cephfs/tier-2_cephfs_upgrade.yaml
  conf/reef/cephfs/tier-3_cephfs_4clients_4osd.yaml
  suites/reef/cephfs/tier-0_fs.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_fs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test-multifs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-nfs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-quota.yaml
  suites/reef/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/reef/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/reef/cephfs/tier-2_cephfs_test_file_and_dir_layout.yaml
  suites/reef/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/reef/cephfs/tier-2_fs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_scale.yaml
  suites/reef/cephfs/tier-3_cephfs_test_cephfs-top.yaml
  suites/reef/cephfs/tier-3_cephfs_test_performance.yaml
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
Labels: lgtm

#2979 [TestFix] Fix ceph mgr test suite
  cli/utilities/utils.py
  suites/reef/cephmgr/tier2-cephmgr.yaml
  tests/mgr/test_cephmgr_validate_mgr_status.py
  tests/mgr/test_dashboard_url.py
Labels: lgtm, tfa-issue-fix

#2984 Remove nvmeof test suites and conf files at Quincy
  conf/quincy/nvmeof/ceph_nvmeof_cluster.yaml
  conf/quincy/nvmeof/ceph_nvmeof_functional.yaml
  conf/quincy/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  conf/quincy/nvmeof/ceph_nvmeof_sanity.yaml
  conf/quincy/nvmeof/ceph_nvmeof_scale_cluster.yaml
  conf/quincy/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  pipeline/metadata/6.1.yaml
  pipeline/metadata/quincy.yaml
  suites/quincy/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  suites/quincy/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/quincy/nvmeof/tier-0_nvmeof_vmware_esx.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_baremetal_scale.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
Labels: lgtm, nvmeof

#2987 fixing tfa issue - RHCEPHQE-11122
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_file_attributes_retention.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#2970 Fixing client evict loop
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#2878 [Lib] Add FIPS support
  ceph/ceph.py
  cli/utilities/utils.py
  run.py
  tests/misc_env/install_prereq.py
Labels: framework, lgtm

#2989 [quincy][cephadm][mix client]Add support for RHCS6 client in RHEL8
  conf/quincy/cephadm/tier-1_9node_mix_client.yaml
  suites/quincy/cephadm/tier-1-mix-clients.yaml
  tests/cephadm/test_client.py
Labels: lgtm, DMFG

#2991 remove abort-on-fail flag to allow rest of the tests to run
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2972 Reads Balancer: adding automation for offline tool
  ceph/rados/core_workflows.py
  ceph/rados/crushtool_workflows.py
  conf/pacific/rados/stretch-mode-host-location-attrs.yaml
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  conf/reef/rados/stretch-mode-host-location-attrs.yaml
  suites/reef/rados/tier-2_rados_test-clay-ecpool.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_reads_balancer.py
  tests/rados/test_stretch_site_maintenance_modes.py
Labels: RADOS, lgtm, Tier-3, tfa-issue-fix

#2993 Add comment known issue for s3tests
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2985 [NFS-Ganesha][Automation][Failover]Export config scenarios
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_ha_failover_edit_export_config_client_permission.py
  tests/nfs/nfs_ha_failover_edit_export_config_with_ro.py
Labels: lgtm, nfs-ganesha

#2994 modify sanity suite to remove known failures
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/reef/rgw/tier-1_rgw_multisite.yaml
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2997 removing & adding the v1 acls test from ssl_env to non_ssl_env
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2996 Fix for tfa failure tier-2-osd-scenarios.yaml
  suites/quincy/cephadm/tier-2-osd-scenarios.yaml
  tests/cephadm/test_osd_memory_target.py
  tests/cephadm/test_replace_osd.py
Labels: lgtm

#2998 Added fips test case
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
Labels: lgtm, nvmeof

#2971 CEPH-9408: System Test: Replace a failed OSD Host
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, lgtm, Ready-for-review, Tier-4, tfa-issue-fix

#3000 [tfa]: change to sanity_multisite test in suite tier-2_rgw_ms_async_data_notification.yaml
  suites/reef/rgw/tier-2_rgw_ms_async_data_notification.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3003 Remove client evict test flag from pacific
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
Labels: lgtm

#3004 [tfa] reduce the latency variance to avoid read timeouts
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2992 Adding skipped in xunit files
  utility/xunit.py
Labels: lgtm

#2988 Adding cephfs tc 83575090
  tests/cephfs/cephfs_nfs/nfs_ha_spec_file_add_host_while_IOs.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3006 Remove RBD image after NVMeoF namespace
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3005 Test to check "require-osd-release" warning generated on cluster
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  tests/rados/test_upgrade_warn.py
Labels: RADOS, lgtm, Tier-3

#3014 Fix for the podman pull registry issue
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.5-server-x86_64-large.yaml
  conf/inventory/rhel-8.6-server-x86_64.yaml
  conf/inventory/rhel-8.7-server-x86_64-large.yaml
  conf/inventory/rhel-8.7-server-x86_64.yaml
  conf/inventory/rhel-8.8-server-x86_64-large.yaml
  conf/inventory/rhel-8.8-server-x86_64.yaml
  conf/inventory/rhel-9.0-server-x86_64-large.yaml
  conf/inventory/rhel-9.0-server-x86_64.yaml
  conf/inventory/rhel-9.1-server-x86_64.yaml
  conf/inventory/rhel-9.2-server-x86_64-large.yaml
  conf/inventory/rhel-9.2-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.2-server-x86_64.yaml
Labels: lgtm

#3017 Fixing certificate failure
  tests/misc_env/install_prereq.py
Labels: lgtm

#3016 [LibFix] Fix cephadm.prepare-hot library
  cli/cephadm/cephadm.py
  tests/cephadm/test_prepare_host.py
Labels: framework, lgtm

#3013 [LibFix] Fix ceph.osd libraries
  cli/ceph/ceph.py
  cli/ceph/osd/osd.py
  cli/ceph/osd/pool.py
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
  tests/cephadm/test_cephadm_staggered_upgrade.py
  tests/cephadm/test_osd_memory_target.py
  tests/cephadm/test_replace_osd.py
  tests/mgr/test_cephmgr_validate_crush_rule.py
Labels: framework, lgtm

#3001 [Nfs][TestFix] Fix pynfs test
  tests/nfs/nfs_verify_pynfs.py
Labels: lgtm

#3010 [Nfs-Ganesha][Failover][Automation]Add new sceanrio
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_ha_failover_delete_export.py
  tests/nfs/nfs_ha_failover_with_untar.py
Labels: lgtm, nfs-ganesha

#3002 Tier 2 - CEPH-83575085
  tests/cephfs/cephfs_nfs/test_all_nfs_vers_mount_and_perform_failover.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3019 Cephci intergration of polraion tc : CEPH-11516
  suites/pacific/rgw/tier-2_rgw-single-bucket-process.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#2999 Adding fs tc 11331
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/mds_journal_value_conf_verification.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3020 [LibFix] Fix ceph.cephadm libraries
  cli/cephadm/cephadm.py
  cli/ops/__init__.py
  cli/ops/cephadm.py
  cli/utilities/configs.py
  cli/utilities/configure.py
Labels: framework, lgtm

#3024 [LibFix] Add test case to bootstrap cluster with mgr image config
  suites/reef/cephadm/tier1-cephadm-bootstrap-with-mgr-image-config.yaml
  tests/cephadm/test_cephadm_bootstrap.py
Labels: framework, lgtm

#3026 [TestFix] Fix module calls based on new changes to MGR lib
  tests/nfs/nfs_ha_failover_delete_export.py
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_file_access_with_rootsquash.py
  tests/nfs/nfs_verify_scale.py
Labels: lgtm

#3029 Adding a missing NFS TC to suite
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  suites/reef/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_deployment_cli.py
Labels: Ceph-FS, lgtm

#3034 [Lib] Add registry details support for bootstrap module
  tests/cephadm/test_cephadm_bootstrap.py
Labels: framework, lgtm

#3012 [dmfg][upi]update suite
  suites/reef/cephadm/upi/upi-dmfg-deployment.yaml
Labels: lgtm, DMFG

#3007 Adding FS TC 83575781
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_rm_on_lost_found_dir.py
Labels: Ceph-FS, lgtm

#3035 [Conf][Nfs] Add missing test to reef suite
  suites/reef/nfs/tier0-nfs-ganesha.yaml
Labels: lgtm

#3009 [Nfs] Add test to verify file append
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_file_append.py
Labels: lgtm

#3032 Mero 4 node conf with 4 clients
  conf/reef/baremetal/mero_4_node_4_client_conf
  suites/reef/baremetal/mero_4_node_4_client.yaml
Labels: lgtm

#3025 Updating relaese for 5.3 deployment for archive cluster
  suites/quincy/rgw/tier-1_rgw_ms_archive_test-upgrade-5-to-latest.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2981 Automation of the inconsistent pg test case(CEPH-9924)
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_osd_inconsistency_pg.py
Labels: RADOS, lgtm, Ready-for-review

#3039 updating cephadm_ansible.py to take str for matching rhcs version
  ceph/ceph_admin/cephadm_ansible.py
Labels: RGW, lgtm, tfa-issue-fix

#3021 Changed the release version from tier-0 to rc
  suites/quincy/rbd/tier-2_rbd_upgrade_5x_to_6x.yaml
Labels: RBD, lgtm

#3030 [Test][Nfs] Add test to validate read write operations
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_verify_read_write_operations.py
Labels: lgtm

#3038 Tier3-CEPH-83575762
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_create_unlink_ops_concorrently.py
Labels: Ceph-FS, lgtm, Tier-3, Polarion testcase

#3041 [LibFix] Fix osd cli libraries
  cli/ceph/ceph.py
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: framework, lgtm

#3028 Addition of test suite for EC2+2@4
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/deploy-stretch-cluster-mode.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_osd_heartbeat.py
  tests/rados/test_pg_split.py
Labels: RADOS, lgtm, Tier-3

#3040 CEPH-83575467 Restart of NVMeOF gw
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3037 Snapshot schedule and retention functional tests for vol and subvol
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/reef/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3027 [Nfs-Ganesha][Automation][Scenario] setuid bit
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/nfs_verify_setuid_bit.py
Labels: lgtm, nfs-ganesha

#3042 [TFA] Removed upstream luks encryption as it covered in downstream test suites
  suites/pacific/rbd/tier-0_rbd.yaml
  suites/quincy/e2e/poc/test-rbd-core-features.yaml
  suites/quincy/rbd/basic-operations-unit-testing.yaml
  suites/quincy/rbd/tier-1_rbd.yaml
  suites/reef/rbd/tier-1_rbd.yaml
Labels: RBD, lgtm, approved

#3043 Use exception object instead of ex.message while logging
  tests/rbd/rbd_clone_delete_parent_image.py
  tests/rbd/rbd_exclusive_lock_rm_image.py
Labels: lgtm, approved

#2900 Automating negative scenario: snapshot mirroring on pool level
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/cleanup.py
  ceph/rbd/workflows/rbd_mirror.py
  suites/pacific/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/reef/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  tests/rbd_mirror/test_encryption_on_mirrored_image.py
  tests/rbd_mirror/test_snapshot_mirroring_on_pool_negative.py
Labels: lgtm, approved, pinned

#3045 Install rbd-nbd before running device map in krbd
  ceph/rbd/workflows/krbd_io_handler.py
  tests/rbd/krbd_io_handler.py
Labels: RBD, lgtm, approved

#3022 Test to snapshot based mirroring of cloned images
  suites/quincy/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/reef/rbd/tier-2_rbd_mirror_image_operations.yaml
  tests/rbd_mirror/test_rbd_mirror_cloned_image.py
Labels: RBD, lgtm, approved

#3047 Adding FS TC 83575630
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_large_omap.py
Labels: lgtm, Polarion testcase

#3048 [LibFix] Refactor cli bootstrap module
  cli/ops/cephadm.py
  cli/utilities/configure.py
  tests/cephadm/test_cephadm_bootstrap.py
Labels: framework, lgtm

#3049 [LibFix] Update Ceph ansible exception
  cli/cephadm/ansible.py
Labels: framework, lgtm

#3044 Monitor Serviceability tests in Stretch mode and default mode
  ceph/rados/monitor_workflows.py
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/test_mon_addition_removal.py
  tests/rados/test_stretch_mon_replacements.py
Labels: RADOS, lgtm, Tier-3

#3051 add start time using local node date : Fix for snapshot schedule test start time issue in jenkins
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: lgtm

#3050 [Lib] Add cephadm ansible operations library
  cli/ops/cephadm_ansible.py
  cli/utilities/configure.py
  suites/reef/cephadm/tier1-cephadm-bootstrap-with-mgr-image-config.yaml
  tests/cephadm/test_cephadm_bootstrap.py
Labels: framework, lgtm

#3053 Rados-tier4 suite: Adding the removed suite
  suites/pacific/rados/tier-4_rados_tests.yaml
Labels: lgtm

#3052 [Tests] Add test suites for upstream dmfg
  conf/reef/cephadm/1admin-4node-1client-cluster.yaml
  conf/reef/cephadm/2admin-5node-1client-cluster.yaml
  suites/reef/upstream/tier0-sanity-test.yaml
  suites/reef/upstream/tier1-cephadm-basic-regression.yaml
Labels: test case, lgtm, upstream

#3055 [SuiteFix] Rename nfs tier-1 suite
  suites/quincy/nfs/tier1-nfs-ganesha-multinode-deployment.yaml
  suites/reef/nfs/tier1-nfs-ganesha-multinode-deployment.yaml
Labels: lgtm

#3056 Adding image mode mirroring to journal to snapshot test case
  suites/pacific/rbd/tier-2_rbd_mirror_image_operations.yaml
Labels: RBD, lgtm, approved

#3058 Bare metal fix- Reduced the OSDs to 10
  tests/rados/test_config_parameter_chk.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#3054 [LibFix] Fix bootstrap workflow to support IBM build
  cli/ops/cephadm_ansible.py
  cli/utilities/configure.py
  tests/cephadm/test_cephadm_bootstrap.py
Labels: framework, lgtm

#3063 [DMFG][UPI]Add upgrade suite fix
  suites/reef/upgrades/upi/upi-dmfg-upgrade-6x-to-7x.yaml
Labels: lgtm, DMFG

#3031 Adding CEPH-83575628 to upgrade Suite
  suites/reef/cephfs/tier-0_cephfs_upgrade_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_6x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_ibm_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_ibm_6x_to_7x.yaml
  tests/cephfs/cephfs_upgrade/cephfs_mds_failover.py
Labels: Polarion testcase

#3059 Fixing MDS pinning TCs
  suites/reef/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/mds_pinning_equal_dir_on_two_mdss.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_max_min_dir_on_two_mdss.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_node_reboots.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_split_merge.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_unequal_dir_on_two_mdss.py
Labels: lgtm

#3067 Follow up to PR 3059
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
Labels: lgtm

#3070 Fix for tier0-cephadm test suite
  ceph/ceph_admin/host.py
  suites/reef/cephadm/tier0-cephadm.yaml
  tests/cephadm/test_node_safe_stop.py
Labels: lgtm

#3057 [Nfs-Ganesha][Automation] Add symlink scenario
  suites/quincy/nfs/tier1-nfs-ganesha.yaml
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_verify_symbolic_links_permissions.py
Labels: lgtm, nfs-ganesha

#3066 CEPH-83574780: Negative test to verify addition of OSD on an unavailable disk
  ceph/ceph.py
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  tests/rados/test_add_new_osd.py
Labels: RADOS, lgtm, Ready-for-review, Tier-4

#3069 [LibFix] Fix setup_repos for upstream base url
  ceph/utils.py
Labels: framework, lgtm

#3068 Automation of CEPH-83571735 and CEPH-9938
  tests/rados/test_osd_inconsistency_pg.py
Labels: RADOS, lgtm, Ready-for-review

#3071 CEPH-83573855: Verify crash health warning after crashing a daemon
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  tests/rados/test_crash_daemon.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review

#3073 [LibFix] Update bootstrap library to support different config file format
  cli/ops/cephadm.py
  suites/reef/cephadm/tier1-cephadm-bootstrap-with-mgr-image-config.yaml
Labels: framework, lgtm

#3072 [Nfs-Ganesha][Automation]Add sym link scenario
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_verify_symbolic_links_users.py
Labels: lgtm, nfs-ganesha

#3062 Adding tests to verify deep flatten feature in RBD
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/cleanup.py
  ceph/rbd/workflows/rbd.py
  cli/rbd/feature.py
  cli/rbd/rbd.py
  suites/pacific/rbd/tier-4_rbd_negative_scenario_regression.yaml
  suites/quincy/rbd/tier-4_rbd_negative_scenario_regression.yaml
  suites/reef/rbd/tier-4_rbd_negative_scenario_regression.yaml
  tests/rbd/test_rbd_deep_flatten_negative.py
  tests/rbd_mirror/test_encryption_on_mirrored_image.py
  tests/rbd_mirror/test_snapshot_mirroring_on_pool_negative.py
Labels: RBD, lgtm, approved

#3061 snap schedule service restart test automation
  suites/pacific/cephfs/tier-4_cephfs_recovery.yaml
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, lgtm, Polarion testcase, Tier-4

#3060 [NFS][Tier-1] Add test to validate permissions on nfs share
  suites/quincy/nfs/tier1-nfs-ganesha.yaml
  suites/reef/nfs/tier1-nfs-ganesha.yaml
  tests/nfs/nfs_verify_read_write_operations.py
Labels: lgtm

#3033 Adding cephfs tc 83574389
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/mds_scrub_after_failover.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#3080 CEPH-83576087 Reboot the client
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof
