Repository red-hat-storage/cephci, pull requests merged in 2023-03, with the labels that each got.

#2270 Add data omap offload with fifo log type on upgrade pacific
  suites/pacific/rgw/tier-1_rgw_multisite_test-upgrade-4-to-latest.yaml
Labels: pr-verified, RGW

#2260 Mandate ceph build override arguments
  run.py
  utility/utils.py
Labels: framework

#2269 Integration of CEPH-83574832 in cephci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#2272 [Lib] Add support to install ceph storage licence
  cli/utilities/packages.py
  utility/install_prereq.py
Labels: framework, DMFG

#2274 Integrating bucket lifecycle transition feature automation (8 tests)
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
Labels: pr-verified, RGW, Tier-3, Tier-2

#2268 [Cephadm][Tier-1]Automate cephadm bootstrap with docker
  cli/utilities/packages.py
  cli/utilities/utils.py
  playbooks/bootstrap-cluster.yml
  playbooks/login-to-registry.yaml
  suites/pacific/cephadm/test_validate_cephadm_bootstrap_cases.yaml
  suites/pacific/cephadm/test_validate_cephadm_with_docker.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: Tier-1, cephadm-ansible, CephAdm

#2273 [Fix] Add steps to enable licence to installing cephadm
  ceph/ceph_admin/__init__.py
  cli/utilities/utils.py
  run.py
  tests/cephadm/test_cephadm_ansible_wrapper.py
  utility/install_prereq.py
Labels: DMFG

#2229 CEPH-11409 Delayed Deletion - Create a clone of a RBD image and try to delete the parent image while the relationship is active
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_clone_delete_parent_image.py
  tests/rbd/rbd_utils.py
Labels: RBD

#2242 Verification of image sync continuation after multiple mirror daemon restart
  suites/quincy/rbd/tier-2_rbd_upgrade_5x_to_6x.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_mirror_daemon_restart_imagesync.py
Labels: RBD, Tier-2

#2204 adding support for automation of kafka sasl scram mechanism testing
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  tests/rgw/sanity_rgw.py
  utility/utils.py
Labels: pr-verified, RGW

#2283 Integration of CEPH-83575439 on cephci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#2284 update ocs global conf.
  conf/pacific/integrations/7_node_ceph.yaml
  suites/pacific/integrations/ocs.yaml
Labels: InterOp, Integrations

#2286 Cloud Transition with multipart upload,ETag
  suites/quincy/rgw/tier-2_rgw_cloud_transition.yaml
Labels: RGW

#2287 update rados regression test suite
  suites/quincy/upstream/tier-2_rados_basic_regression.yaml
Labels: upstream

#2285 [Tier-2][Ceph-Mgr] Validate ceph insights functionality
  cli/ceph/ceph.py
  conf/pacific/cephmgr/tier-2-cephmgr-4node.yaml
  suites/pacific/cephmgr/tier-2_validate_cephmgr_insights_functionality.yaml
  tests/mgr/test_cephmgr_validate_insights.py
Labels: Tier-2, DMFG, CephMgr

#2293 add comment for known issue of event time with multipart uploads
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: RGW

#2292 [Cephadm][Tier-2] Validate cephadm bootstrap with selinux permissive
  cli/ceph/ceph.py
  cli/utilities/utils.py
  suites/pacific/cephadm/tier-2_cephadm_scenarios_with_permissive_mode.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
  tests/cephadm/test_verify_cluster_health_after_reboot.py
Labels: Tier-2, CephAdm, DMFG

#2294 commenting event time 0.00 issue as known issue for multipart upload events in quincy suites
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#2290 extending support for bucket notifications suites (using kafka security) to run on ibm cloud
  tests/rgw/sanity_rgw.py
  utility/utils.py
Labels: pr-verified, RGW

#2296 CEPH-83571666: Test to verify ceph df stats after creating and deleting objects from a pool
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS, Tier-2

#2282 [Automation-Tier2] Verify Exclusive lock feature on RBD image
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/exceptions.py
  tests/rbd/rbd_clone_delete_parent_image.py
  tests/rbd/rbd_exclusive_lock_rm_image.py
  tests/rbd/rbd_utils.py
Labels: RBD, Ready-for-review

#2295 CEPH-10839: osd heartbeat_check log should display hostname:port
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  suites/quincy/rados/tier-2_rados_basic_regression.yaml
  tests/rados/test_osd_heartbeat.py
Labels: RADOS, Tier-2

#2300 CEPH-83575281 Zonegroup placement remove
  suites/quincy/rgw/tier-2_rgw_cloud_transition.yaml
Labels: RGW

#2301 Tier2: sse-s3 on brownfield cluster
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
Labels: pr-verified, RGW, Tier-2

#2304 Update metadata file with respect to its tier for RGW suite
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
Labels: RGW, PipelineV3.0

#2305 Adding polarian IDs for the LC reshard tests
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#2306 Include polarian id CEPH-10215 in cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#2291 [Pipeline Failure]-RBD 6.0 failure with tier_1 rbd mirror suite
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD, Ready-for-review

#2224 [Lib] Add support to collect information from cluster
  cli/ceph/orch/device.py
  cli/ceph/orch/orch.py
  cli/utilities/utils.py
  utility/gather_info.py
Labels: framework

#2312 Integration of CEPH-10737 in cephci
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
Labels: pr-verified, RGW

#2315 Integrates bucket enable and disable TC in DBR suite
  suites/pacific/rgw/tier-2_rgw_ms-dynamic-bucket-resharding.yaml
Labels: pr-verified, RGW

#2311 Move to rhel-9 agents with py3.9
  pipeline/cvp.groovy
  pipeline/ibm-scheduled-pipeline-executor.groovy
  pipeline/osp-results-notifier.groovy
  pipeline/post-results.groovy
  pipeline/psi-only-executor.groovy
  pipeline/psi-post-umb.groovy
  pipeline/psi-scheduled-pipeline-executor.groovy
  pipeline/psi-tier-3-pipeline-executor.groovy
  pipeline/released.groovy
  pipeline/rhcs_delete.groovy
  pipeline/rhcs_deploy.groovy
  pipeline/test_executor.groovy
  pipeline/tier_executor.groovy
Labels: framework

#2319 CephFS-T2-11229
  tests/cephfs/cephfs_mds_pinning/mds_pinning_max_dir_on_two_mds.py
Labels: Ceph-FS

#2308 pool_tests.py: Adding PG count and min_size tests
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS

#2313 Automated delayed replication scenario - per-image
  suites/quincy/rbd/tier-2_rbd_upgrade_5x_to_6x.yaml
  tests/rbd_mirror/test_delayed_replication_handler.py
Labels: RBD, Tier-2, Ready-for-review

#2255 Adding Cephfs CEPH-11313
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/file_lock_on_mounts.py
  tests/cephfs/clients/file_lock_utitlity.py
Labels: Ceph-FS

#2271 Adding FS CEPH-10560
  tests/cephfs/cephfs_perf/__init__.py
  tests/cephfs/cephfs_perf/fuse_kernel_performance.py
Labels: Ceph-FS

#2297 Fixing CI Issues
  tests/cephfs/clients/client_fstab_auto_mount.py
  tests/cephfs/multifs/multifs_fusemounts.py
Labels: Ceph-FS

#2316 Adding TC 11231
  tests/cephfs/multifs/multifs_mds_pinning_node_reboots.py
Labels: Ceph-FS

#2314 CephFS - T2 - 11228 - Max Dir Pinning TC
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/mds_pinning_max_dir_pinning.py
Labels: Ceph-FS

#2307 [Ceph-Mgr][Tier2]Verify mgr balancer
  cli/ceph/balancer.py
  cli/ceph/ceph.py
  cli/ceph/config_key.py
  suites/pacific/cephmgr/tier-2_cephmgr.yaml
  tests/mgr/test_cephmgr_throttling.py
Labels: Tier-2, DMFG

#2320 Adding test coverage for datalog and mdlog trim
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
Labels: RGW, Tier-2, close-loop-automation

#2317 [Tier2] [Cephadm] Validate ceph health log when node is offline
  cli/ceph/ceph.py
  cli/utilities/utils.py
  suites/pacific/cephadm/tier-2_cephadm_scenarios_with_permissive_mode.yaml
  tests/cephadm/test_ceph_health_detail_when_mon_offline.py
Labels: Tier-2, CephAdm, DMFG

#2330 [metadata][6.0] Add upgrade test suite for RC tests
  pipeline/metadata/6.0.yaml
Labels: DMFG, metadata

#2310 Adding FS TC-11233
  tests/cephfs/cephfs_multifs/__init__.py
  tests/cephfs/cephfs_multifs/multifs_split_merge.py
Labels: Ceph-FS

#2323 Changing the ID for the TC
  tests/cephfs/clients/file_lock_on_mounts.py
Labels: Ceph-FS

#2318 Adding FS TC-83573992
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_info_cluster_id_and_ls_export_detailed.py
Labels: Ceph-FS

#2333 Fixing snapshot reboot
  tests/cephfs/snapshot_clone/snapshot_reboot.py
Labels: Ceph-FS

#2334 Automation CEPH-11674 - pg split and merge scenario
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_pg_split.py
Labels: RADOS

#2289 Testing of nodeep-scrub flag
  ceph/rados/rados_scrub.py
  tests/rados/scheduled_scrub_scenarios.py
Labels: RADOS, Tier-2

#2327 CEPH-10878: Verify ceph osd df stats when one or more OSDs are out
  ceph/ceph_admin/osd.py
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  ceph/rados/utils.py
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_df.py
Labels: RADOS, Tier-2

#2325 Accommodate EC pool coverage for snapshot based mirroring test
  suites/pacific/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  tests/rbd_mirror/test_rbd_mirror_snapshot.py
Labels: RBD, Ready-for-review

#2328 CephFS-T2 - 11230
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/mds_pinning_equal_dir_on_two_mdss.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_max_min_dir_on_two_mdss.py
  tests/cephfs/cephfs_mds_pinning/mds_pinning_unequal_dir_on_two_mdss.py
Labels: Ceph-FS

#2341 updates for split merge
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/rados_test_util.py
  tests/rados/test_pg_split.py
Labels: RADOS

#2337 CEPH-83571714: Verify reduction in blocks when data in an object is removed
  ceph/ceph.py
  ceph/ceph_admin/osd.py
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  ceph/rados/utils.py
  ceph/utils.py
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/monitor_configurations.py
  tests/rados/test_objectstore_block.py
Labels: RADOS, Tier-2

#2275 CEPH-83573322 - Migrate the images from 2 different source pools to destination and check the behaviour
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_migration_2diff_ec_pool_ec.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-2

#2336 CEPH-83573293 - Move image from rep pool to rep pool while it is being used and check the behavior
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_image_Live_migration_rep2Rep.py
Labels: RBD, Tier-2, Ready-for-review

#2322 Automated Delayed replication - Failback scenario
  suites/quincy/rbd/tier-2_rbd_upgrade_5x_to_6x.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_delayed_replication_handler.py
Labels: RBD, Tier-2, Ready-for-review

#2278 Added test CEPH-11258
  suites/pacific/cephfs/tier-2_fs.yaml
  suites/pacific/cephfs/tier-3_cephfs.yaml
  tests/cephfs/osd_add_rm_FS_IO.py
  tests/cephfs/stand_by_replay_mds.py
Labels: Ceph-FS

#2347 CephFS T3 - CEPH-11220
  tests/cephfs/cephfs_perf/cephfs_io_read_write_from_diff_clients.py
Labels: Ceph-FS

#2350 Py3.9 on tox checks
  .github/mergify.yml
  .github/workflows/tests.yml
  tox.ini
Labels: framework

#2345 Include CEPH-10643 in cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#2359 Cephci-integration of CEPH-10644 and CEPH-10647
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#2363 Automation_issue_mds
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
Labels: Ceph-FS

#2364 Integrate CEPH-83575500 to cephci
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW

#2362 Integrate CEPH-83574912 and CEPH-83574914 to cephci
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: RGW

#2367 [CephADM][Tier-2] Fix Polarion ID
  suites/pacific/cephadm/test-haproxy-deployment.yaml
Labels: CephAdm, DMFG

#2298 Merging the report portal launches
  pipeline/post-results.groovy
  pipeline/scripts/ci/update_results.py
  pipeline/vars/upload_results.groovy
  utility/rp_client.py
Labels: PipelineV3.0, Report Portal

#2358 Automating sync-point snap delete verification
  suites/pacific/rbd/tier-1_rbd_mirroring_upgrade-5-to-latest.yaml
  tests/rbd/rbd_utils.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_sync_point_snapshot_deletion.py
Labels: RBD, Tier-2, Ready-for-review

#2309 [Automation-Tier2] Verify Deletion of Protected snapshot on RBD image
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_delete_protected_snapshot_krbd.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-2, Ready-for-review

#2365 BZ-2174235:[SERPRO]No metadata loss post a bucket is resharded.
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
Labels: pr-verified, RGW, Tier-2, close-loop-automation

#2351 [Config] Update test suites for CephAdm Anisble wrapper module
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/cephadm/test_validate_cephadm_with_docker.yaml
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  suites/quincy/cephadm/test_cephadm_bootstrap_custom_ssh.yaml
  suites/quincy/cephadm/test_cephadm_bootstrap_with_overriding_exisiting_ceph_keys.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
Labels: Jenkins, cephadm-ansible-wrapper, DMFG

#2354 [Config] Update test suites for CephAdm permissive mode scenarios
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/cephadm/tier-2-permissive-mode-scenarios.yaml
  suites/quincy/cephadm/tier-2-permissive-mode-scenarios.yaml
Labels: Jenkins, CephAdm, DMFG

#2357 Adding FS TC_83573429
  tests/cephfs/cephfs_utilsV1.py
  tests/mds_fail_with_rank.py
Labels: Ceph-FS

#2353 [Config] Update test suites for CephAdm cli args
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/cephadm/tier-1-container-cli-args.yaml
  suites/quincy/cephadm/tier-1-container-cli-args.yaml
Labels: Jenkins, CephAdm, DMFG

#2352 Monitor sync performance and consistency via bucket stats
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: pr-verified, RGW, Tier-2

#2331 [CephADM][Tier-4] Verify ceph orch stop command behavior on mon and mgr
  cli/ceph/orch/orch.py
  suites/pacific/cephadm/tier-4-service-operations.yaml
  suites/quincy/cephadm/tier-4-service-operations.yaml
  tests/cephadm/test_cluster_service_operations.py
Labels: Tier-2, CephAdm, DMFG

#2378 Integrate tc-CEPH-83575419 to cephci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW, Tier-2, close-loop-automation

#2379 Integration of CEPH-10641 in cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2380 Add support to check for omap in cluster health
  utility/utils.py
Labels: pr-verified, RGW

#2371 CephFS T3 - 11222
  tests/cephfs/cephfs_perf/cephfs_stress_io_from_multiple_clients.py
Labels: Ceph-FS

#2383 set config parameters during multisite deployment
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: pr-verified, RGW

#2384 CEPH:10417 - Test invalid inputs to arguments of 'ceph osd reweight-by' cmds
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  tests/rados/test_osd_args.py
Labels: RADOS, Ready-for-review, Tier-4

#2366 [CephAdm][Tier2]Configure RGW in warn state
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/cephadm/tier-2-rgw-with-warn-state.yaml
  suites/quincy/cephadm/tier-2-rgw-with-warn-state.yaml
Labels: Tier-2, CephAdm, DMFG

#2386 Integrate CEPH-83574915, CEPH-83574916 into CephCI
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: RGW

#2381 Upstream test-executor Pipeline changes
  pipeline/upstream_test_executor.groovy
Labels: upstream

#2335 Adding FS polarion ID to upgrade suite
  suites/pacific/cephfs/tier-2_cephfs_upgrade_4x_5x.yaml
  suites/quincy/cephfs/tier-0_cephfs_upgrade_53_to_6x.yaml
  suites/quincy/cephfs/tier-0_cephfs_upgrade_5x_to_6x.yaml
Labels: Ceph-FS

#2387 Automation of the test case Scrub and Deep-scrub on large omaps
  ceph/rados/core_workflows.py
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_scrub_omap.py
Labels: RADOS, Tier-2

#2349 [Ceph-Volume] [Tier-2] Check LVM tags post removing OSD
  cli/ceph/ceph.py
  cli/ceph/orch/orch.py
  cli/ceph/orch/osd.py
  cli/utilities/utils.py
  conf/pacific/ceph_volume/tier-2_cephvolume_5node_.yaml
  conf/quincy/ceph_volume/tier-2_cephvolume_5node_.yaml
  run.py
  suites/pacific/ceph_volume/tier-2-ceph-volume.yaml
  suites/quincy/ceph_volume/tier-2-ceph-volume.yaml
  tests/ceph_volume/__init__.py
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
Labels: Tier-2, DMFG, close-loop-automation, CephVolume

#2375 Adding FS TC-11333_rebased
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_life_cycle.py
Labels: Ceph-FS

#2332 CEPH-83573327 - Verify image migration from Ec pool to Ec with default k_m values
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_image_Live_migration_rep2Rep.py
  tests/rbd/rbd_image_migration.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-2, Ready-for-review

#2394 [Lib] Include rbd config methods
  tests/rbd/rbd_utils.py
Labels: RBD, Ready-for-review

#2348 CephFS Tier 3 - CEPH-11221
  tests/cephfs/cephfs_perf/cephfs_io_read_write_from_multiple_clients.py
Labels: Ceph-FS

#2377 Adding TC_83573264,TC_83573430
  tests/cephfs/cephfs_recovery/__init__.py
  tests/cephfs/cephfs_recovery/fs_down_flag.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2390 Adding TC_CEPH-11254
  tests/cephfs/cephfs_system/mon_node_failure_ops.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2321 [Automation- Teir2] Disable RBD features when image is moved to trash and verify
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_features_disable.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-2, Ready-for-review

#2400 Integrate testcase CEPH-11574 to cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2373 added standby CEPH-11345 & CEPH-11259
  suites/pacific/cephfs/tier-2_fs.yaml
  tests/cephfs/mds_rm_add.py
  tests/cephfs/mon_rm_add.py
Labels: Ceph-FS

#2355 [CephADM][Tier-2] Deploy and validate SNMP V2c Gateway service
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/snmp_destination.jinja
  conf/quincy/cephadm/tier-2_10node_cephadm_scale.yaml
  suites/pacific/cephadm/tier-2-cluster-elasticity.yaml
  suites/quincy/cephadm/tier-2-cluster-elasticity.yaml
Labels: test case, Tier-2, CephAdm

#2401 upgrade of multisite with archive zone from 5.x(GA) to 6.x
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/quincy/rgw/tier-1_rgw_ms_archive_test-upgrade-5-to-latest.yaml
Labels: pr-verified, RGW

#2408 fix odf RHCS deploy interop suite
  suites/quincy/integrations/ocs.yaml
Labels: InterOp, Integrations

#2369 crushtool_workflows.py: Added methods to facilitate crushtool testing
  ceph/rados/crushtool_workflows.py
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  tests/rados/test_crushtool_workflows.py
Labels: RADOS

#2399 [Tier-2][Ceph-Volume] Verify zap LVM device
  suites/pacific/ceph_volume/tier-2-ceph-volume.yaml
  suites/quincy/ceph_volume/tier-2-ceph-volume.yaml
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
Labels: Tier-2, DMFG, close-loop-automation, CephVolume

#2398 Adding TC_CEPH-83574012
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_update_cluster_node_changes.py
Labels: Ceph-FS

#2396 CEPH-83572740: Check Cluster Health warning when Objects have large number of OMAP entries
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/test_omap_entries.py
Labels: RADOS, Tier-2

#2376 CEPH-10312: Test to verify MAX_AVAIL value is correctly updated in ceph df upon addition of an OSD with 0 weight
  ceph/ceph_admin/add.py
  ceph/rados/utils.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-4_rados_tests.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  tests/rados/pool_tests.py
  tests/rados/test_cephdf.py
Labels: DNM, RADOS, Ready-for-review, Tier-4

#2414 update script name for lc testcase
  fragments/rgw/lc_policy/lc_rule_prefix_and_tag.yaml
  fragments/rgw/lc_policy/lc_rule_prefix_non_current_days.yaml
  suites/luminous/rgw/sanity_containerized_rgw_lvm.yaml
  suites/luminous/rgw/sanity_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw.yaml
  suites/nautilus/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
  suites/nautilus/rgw/tier-2_rgw_multisite_test-bucket-lifecycle-primary-to-secondary.yaml
  suites/nautilus/upgrades/upgrade_rgw_test.yaml
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/quincy/upstream/tier-1_rgw_and_lc.yaml
Labels: RGW

#2405 Adding split and merge suites to quincy folder
  suites/quincy/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_pg_split.py
Labels: RADOS

#2421 83574013 ID fix
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/nfs/nfs_update_cluster_node_changes.py
Labels: Ceph-FS

#2259 RBD mirror Image feature reflection test case automation
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_mirror_image_features.py
Labels: RBD, Ready-for-review

#2206 CEPH-9489: Test Case automation for scale osd with mirroring
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/osd.py
  conf/pacific/rbd/rbd_mirror_large.yaml
  conf/quincy/rbd/rbd_mirror_large.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_scale_osd.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_scale_osd.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test-add-remove-osd-with-mirroring.py
Labels: RBD, pinned, Ready-for-review

#2388 [Lib] Add method to get mgr services
  ceph/ceph.py
  cli/ceph/mgr.py
Labels: framework, DMFG, RESTful API

#2344 [Lib] Add libraries to execute RESTful API
  api/__init__.py
  api/cephapi/__init__.py
  api/cephapi/auth/__init__.py
  api/cephapi/auth/auth.py
  api/cephapi/auth/check.py
  api/cephapi/auth/logout.py
  api/restful/__init__.py
Labels: framework, DMFG, RESTful API

#2382 [Test] Add TC to automate 'auth' cephapi
  conf/pacific/mgr/3node-1client-cluster.yaml
  conf/quincy/mgr/3node-1client-cluster.yaml
  suites/pacific/mgr/tier-1-cephapi-auth-api.yaml
  suites/quincy/mgr/tier-1-cephapi-auth-api.yaml
  tests/mgr/test_cephapi_auth.py
Labels: test case, Tier-1, CephAdm, DMFG, RESTful API
