Repository red-hat-storage/cephci, pull requests merged in 2023-01, with the labels that each got.

#2035 verify if the clone of a image within the Pool also gets mirrored
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_clone_mirror.py
Labels: RBD, Tier-2

#2055 [Automation] Bootstrap with custom ssh and support for manage services
  playbooks/bootstrap-cluster-custom-ssh.yml
  playbooks/restart-mgr-service.yml
  playbooks/stop-osd-service.yml
  suites/pacific/cephadm/test_cephadm_bootstrap_custom_ssh.yaml
Labels: cephadm-ansible, CephAdm, cephadm-ansible-wrapper, DMFG

#2070 marking test user quota max objects as known issue
  suites/nautilus/rgw/tier-2_rgw_test-quota-management.yaml
  suites/pacific/rgw/tier-2_rgw_test-quota-management.yaml
Labels: pr-verified, RGW

#2024 Automated TC 9225: Delete clones with krbd IO
  suites/quincy/rbd/tier-1_rbd.yaml
  tests/rbd/delete_clones_with_io.py
  tests/rbd/krbd_io_handler.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-1

#2074 Making the ingress tests openstack only
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
Labels: RGW

#2075 Correcting flow of single site to multisite and CEPH-83575355 automation.
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW

#2082 RHCEPHQE-6394:[Pipeline failure]:RBD 6.0 failure with configure clients
  suites/quincy/rbd/tier-2_rbd_regression.yaml
Labels: RBD

#2052 Adding MDS pinning test
  conf/pacific/cephfs/tier-2_cephfs_mds_pinning.yaml
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/mds_pinning_load_balancing.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2080 Added automation of pre-varification & verification of kernel bugs fo…
  suites/nautilus/cephfs/tier-0_fs_kernel.yaml
  suites/nautilus/cephfs/tier-1_fs_kernel.yaml
  suites/pacific/cephfs/tier-0_fs_kernel.yaml
  suites/pacific/cephfs/tier-1_fs_kernel.yaml
  tests/cephfs/kernel_update.py
Labels: Ceph-FS

#1929 Adding manual peer for clusters where mirroring is enabled using ceph-ansible
  ceph/ceph.py
  pipeline/metadata/5.3.yaml
  suites/pacific/rbd/tier-1_rbd_mirroring_upgrade-4-to-latest.yaml
  tests/ceph_ansible/add_rbd_mirror_daemon.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_mirror.py
  tests/rbd_mirror/test_rbd_mirror_image.py
Labels: RBD, Upgrade, pinned

#2015 Adding tests to rename snapshots
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_rename_cloned_snapshot.py
  tests/rbd/rbd_snapshot_rename.py
  tests/rbd/rbd_utils.py
Labels: RBD

#2085 change DBR tests to sanity run in 6.0 pipeline
  pipeline/metadata/6.0.yaml
Labels: RGW

#2087 [RHEL Interop] Update RHCS Release version to 5.3
  pipeline/scripts/interop/test-ceph-features.sh
Labels: InterOp

#2088 Removing tier-2_rados_test-pool-functionalities test suite from openstack-only pipeline
  pipeline/metadata/5.3.yaml
Labels: RADOS

#2091 Polarion activity organinze TCs in snapshot clone
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  tests/cephfs/snapshot_clone/clone_cancel_in_progress.py
Labels: Ceph-FS

#2094 Removing msgrv2 compression modes from pcific suite
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
Labels: RADOS

#2097 tier-2_rados_basic_regression: added test to quincy suite
  suites/quincy/rados/tier-2_rados_basic_regression.yaml
Labels: RADOS

#2076 Validating kernel mount options for FS
  suites/pacific/cephfs/tier-1_fs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/fs_kernel_mount_options.py
Labels: Ceph-FS

#2090 [Pipeline Failure 6.0] - test_rbd_mirror_snapshot_cluster/test_rbd_mirror_snapshot_pool
  tests/rbd_mirror/test-image-delete-from-secondary.py
  tests/rbd_mirror/test-image-delete-primary-site.py
  tests/rbd_mirror/test_9470.py
  tests/rbd_mirror/test_9471.py
  tests/rbd_mirror/test_9474.py
  tests/rbd_mirror/test_9475.py
  tests/rbd_mirror/test_9500_shrink_img_at_secondary.py
  tests/rbd_mirror/test_rbd_image_meta_mirroring.py
  tests/rbd_mirror/test_rbd_mirror_daemon_status.py
  tests/rbd_mirror/test_rbd_mirror_rename_image.py
  tests/rbd_mirror/test_rbd_mirror_snapshot.py
Labels: RBD

#2098 Tier2- client TC - CEPH-11224
  ceph/utils.py
  conf/pacific/cephfs/tier-2_cephfs_9-node-cluster.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/cephfs_utils.py
  tests/cephfs/clients/__init__.py
  tests/cephfs/clients/multiclients_io_on_same_directory.py
Labels: Ceph-FS, Tier-2

#2086 [CephAdm] [Quincy] Adding test suite.
  conf/quincy/cephadm/tier-2_multiple_subnet_openstack_only.yaml
  pipeline/metadata/6.0.yaml
  suites/quincy/cephadm/tier-1_skip_dashboard.yaml
  suites/quincy/cephadm/tier-1_ssl_dashboard_port.yaml
  suites/quincy/cephadm/tier-1_test-container-cli-args.yaml
  suites/quincy/cephadm/tier-2_multiple_subnet_openstack_only.yaml
Labels: Jenkins, Quincy, CephAdm, DMFG

#2084 adding sse-s3 and sse-kms tests on multisite
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
Labels: RGW

#2096 CEPH-83573618 - verify Snap mirroring on journaling based image after disable journaling on image
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_clone_mirror.py
  tests/rbd_mirror/test_rbd_mirror_journal_to_snap.py
Labels: RBD, Tier-2

#2103 Adapt rbd_trash_remove.py to test for both ecpools and replicated pools
  tests/rbd/rbd_trash_remove.py
Labels: RBD

#2111 add support for kafka broker with rgw ssl
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_test_bucket_notifications.yaml
Labels: pr-verified, RGW

#2113 [LibFix] Update packages module to install unsigned package
  cli/utilities/packages.py
Labels: CephAdm, DMFG

#2095 [CephAdm] [Tier1] Add test case for removal and redeploy.
  cli/ceph/orch/daemon.py
  cli/ceph/orch/orch.py
  conf/pacific/cephadm/tier-1_5node_cephadm_bootstrap.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
  tests/cephadm/test_redeploy_service.py
  tests/cephadm/test_remove_service.py
Labels: Tier-1, CephAdm, DMFG

#2114 [Lib] Add method to get RHCS & RHEL build version
  cli/utilities/utils.py
Labels: CephAdm, DMFG

#2124 adding retry for ibm upload directory function
  pipeline/scripts/ci/upload_compose.py
Labels: framework

#2121 fixing CI-Issue - RHCEPHQE-7034 RHCEPHQE-7033
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
Labels: Ceph-FS

#2120 Add testsuite for RGW upgrade from 5.3 latest to 6.0 latest
  pipeline/metadata/6.0.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_5-3_latest_to_6x_latest.yaml
Labels: pr-verified, RGW

#2110 signed listeners to send email for completion (both pass and fail)
  pipeline/signed-compose-listener.groovy
  pipeline/signed-container-image-listener.groovy
Labels: pr-verified, P0, PipelineV3.0

#2077 test_scrub_log.py: Added test to verify the scrub & deep-scrub logs
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/test_scrub_log.py
Labels: RADOS

#2115 [LibFix] Add different classes in `install_prereq.py` to configure CephAdm Ansible node
  utility/install_prereq.py
Labels: CephAdm, DMFG

#2108 [Fix] Update CephAdm Ansible test module to support boostraping using any builds
  playbooks/bootstrap-cluster.yml
  suites/quincy/cephadm/test_cephadm_ansible_wrapper.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: cephadm-ansible, Quincy, CephAdm

#2133 fix upstream pipeline
  pipeline/upstream_test_executor.groovy
Labels: upstream
