Repository red-hat-storage/cephci, pull requests merged in 2023-02, with the labels that each got.

#2105 Adapted EC pool changes for rbd_snap_clone_imported_image
  tests/rbd/rbd_snap_clone_imported_image.py
  tests/rbd/rbd_utils.py
Labels: RBD

#2144 Adopt to new black(23.1.0)
  ceph/ceph_admin/client_keyring.py
  ceph/ceph_admin/dashboard.py
  ceph/rados/core_workflows.py
  ceph/rados/rados_scrub.py
  compute/ibmcloud.py
  pipeline/scripts/ci/cos_cli.py
  pipeline/scripts/ci/getPipelineStages.py
  pipeline/scripts/ci/upstream_cli.py
  run.py
  tests/ceph_ansible/docker_to_podman.py
  tests/ceph_ansible/filestore_to_bluestore.py
  tests/ceph_ansible/shrink_daemon.py
  tests/ceph_ansible/switch_rpm_to_container.py
  tests/ceph_ansible/test_ansible_upgrade.py
  tests/cephfs/CEPH-11220.py
  tests/cephfs/CEPH-11221.py
  tests/cephfs/CEPH-11222.py
  tests/cephfs/CEPH-11262.py
  tests/cephfs/active_active_mdsfailover_test.py
  tests/cephfs/ceph-83574186.py
  tests/cephfs/cephfs_clientsIO_test.py
  tests/cephfs/cephfs_utils.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_auto_clean_up.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_create_vol_component_exist_name.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_delete_non_exist_subvol_group.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_non_exist_subvol_group.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_non_exist_subvolume.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_pool_name_option_test.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_gid_uid.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_group_force.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_invalid_pool_layout.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_isolated_namespace.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_metadata.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_with_exist_names.py
  tests/cephfs/snapshot_clone/clone_threads.py
  tests/cephfs/test_clone_threads.py
  tests/iscsi/CEPH-10451.py
  tests/mgr/test_mgr_keyring.py
  tests/misc_env/update-kernel.py
  tests/rados/scheduled_scrub_scenarios.py
  tests/rados/test_9281.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/upgrades/test_upgrade.py
  utility/utils.py
Labels: bug in framework

#2142 Switch to RHEL-8.7 nightly image
  conf/inventory/rhel-8.7-server-x86_64-large.yaml
  conf/inventory/rhel-8.7-server-x86_64.yaml
Labels: framework

#2146 Moving Snapshot suite to PSI only environment
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
Labels: Ceph-FS

#2092 Send consolidated email when stages are aborted for a particular build
  pipeline/post-results.groovy
  pipeline/tier_executor.groovy
Labels: PipelineV3.0

#2149 Adding Testcase for polarion: CEPH-11199
  suites/pacific/rgw/tier-1_rgw_test-lc-multiple-bucket.yaml
Labels: pr-verified, RGW

#2127 Moving test suite to PSI env which are Failing with RBD cli migration script
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
Labels: RBD

#2132 CEPH-11413 - restore an image which is marked for deletion. Verify if this image can be used as a normal image after. Create snaps and clones from it
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/trash_restore_create_clone_snap.py
Labels: RBD, Tier-2

#2134 Add ecpool testing to Trash restore module
  tests/rbd/trash_restore.py
Labels: RBD

#2130 Adding EC pool testing for the trash module
  tests/rbd/rbd_trash.py
Labels: RBD

#2143 RBD pipeline issue fix
  tests/rbd_mirror/rbd_mirror_utils.py
Labels: RBD

#2153 Integrate CEPH-83574831 with ceph-ci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: pr-verified, RGW

#2155 T2 automation of CEPH-83574449
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: RGW, Tier-2

#2151 Pipeline Failure 6.0- Mirroring of cloned image for tier-2_rbd_mirror_regression
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_clone_mirror.py
  tests/rbd_mirror/test_rbd_mirror_journal_to_snap.py
Labels: RBD

#2158 CephFS-Tier-2-CEPH-11298
  tests/cephfs/clients/rsync_bw_fs_and_other_location.py
Labels: Ceph-FS

#2164 Fixing failure of seen in upstream RGW
  pipeline/metadata/quincy.yaml
  suites/quincy/cephadm/sanity-test.yaml
  suites/quincy/rgw/test-basic-object-operations.yaml
  suites/quincy/upstream/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/quincy/upstream/tier-1_rgw_and_lc.yaml
Labels: pr-verified, RGW, upstream

#2165 T2 automation of RGW Ingress with and without SSL
  pipeline/metadata/5.3.yaml
  suites/pacific/rgw/tier-2_rgw_ingress_with_ssl.yaml
Labels: RGW

#2169 [Lib] Add libraries to setup user & ceph SSH keys
  utility/install_prereq.py
Labels: CephAdm, DMFG

#2131 [Test] Add test to add host to cluster using `ceph_orch_host module`
  playbooks/add-host-to-cluster.yaml
  suites/pacific/cephadm/test_cephadm_ansible_wrapper.yaml
  suites/quincy/cephadm/test_cephadm_ansible_wrapper.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: cephadm-ansible, CephAdm, cephadm-ansible-wrapper

#2173 Adds functionlity to calculate available ceph storage
  tests/rgw/sanity_rgw.py
  utility/utils.py
Labels: pr-verified, RGW

#2174 Include build type from job parameter
  pipeline/rhcs_deploy.groovy
Labels: Integrations

#2172 Adding clients to cephfs-mirror suite.
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
Labels: Ceph-FS

#2183 [RHEL-Interop] Update interop script to support latest RHCS builds
  pipeline/scripts/interop/test-ceph-features.sh
  suites/quincy/interop/test-ceph-sanity.yaml
Labels: InterOp, Nautilus, Quincy

#2184 Install ibm-vpc==0.10.0 for Python-3.9
  setup.py
Labels: framework

#2072 [CephAdm] [Tier 1] Verify removal of service from existing cluster
  cli/ceph/orch/orch.py
  suites/pacific/cephadm/tier-1_remove_services_from_existing_cluster.yaml
  tests/cephadm/test_remove_service_from_existing_cluster.py
Labels: Tier-1, DMFG

#2178 tier-2_rados_basic_regression: assimilate configurations from ceph.conf
  conf/pacific/rados/test-confs/cluster-configs
  conf/quincy/rados/test-confs/cluster-configs
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  suites/quincy/rados/tier-2_rados_basic_regression.yaml
  tests/rados/test_config_assimilation.py
Labels: RADOS

#2135 CEPH-11417-Pool Mirror-Try deleting the primary on the relationship (which has snaps and clone configured), and observe the behavior
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_mirror_move_primary_trash_restore.py
Labels: RBD, Tier-2

#2166 CephFS-Tier2-CEPH-11299
  tests/cephfs/clients/mirgate_data_bw_fs_and_remote_using_scp.py
Labels: Ceph-FS

#2182 [Test] Add TC to automate `ceph_orch_apply` module
  playbooks/deploy-osd-service.yml
  suites/pacific/cephadm/test_cephadm_ansible_wrapper.yaml
  suites/quincy/cephadm/test_cephadm_ansible_wrapper.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: cephadm-ansible, CephAdm, DMFG

#2188 fix upstream failure on build args
  pipeline/metadata/quincy.yaml
Labels: upstream

#2190 Fix logger issue in bootstrap.py
  ceph/ceph_admin/bootstrap.py
Labels: upstream

#2189 [RHEL-Interop] Revert RHCS4 support for RHEL 8 interop test run
  pipeline/scripts/interop/test-ceph-features.sh
Labels: InterOp

#2161 Adding FS TC CEPH-11300
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/fs_basic_bash_cmds.py
Labels: Ceph-FS

#2193 [Cephci-Integration][T2-Automation]: CEPH-9353
  suites/pacific/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW

#2154 Adapt test-image-delete-from-secondary to test for both ecpools and replicated pools
  tests/rbd_mirror/test-image-delete-from-secondary.py
Labels: RBD

#2175 Adapt test-image-delete-from-primary to test for both ecpools and replicated pools
  tests/rbd_mirror/test-image-delete-primary-site.py
Labels: RBD

#2163 CEPH-10470 After disabling Journal, the image should be removed in secondary node
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_image_removal_from_secondary.py
Labels: RBD, Tier-2

#2180 [Pipeline failure 5.3] - RBD IOs failure for tier_2_rados_test_stretch_mode
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  tests/rbd/rbd_faster_exports.py
  tests/rbd/rbd_trash.py
  tests/rbd/rbd_trash_remove.py
Labels: RBD

#2195 [Pipeline failure]-rbd_cli_migration test case failed for 6.0
  pipeline/metadata/6.0.yaml
Labels: RBD

#2196 Moving TC's under clients directory
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/client_fs_information_restriction.py
  tests/cephfs/clients/client_mds_restriction.py
  tests/cephfs/clients/fs_basic_bash_cmds.py
  tests/cephfs/clients/multifs_mount_same_client.py
  tests/cephfs/clients/test_no_data_sharing_multifs.py
Labels: Ceph-FS

#2194 Adding fs scale suite
  suites/quincy/cephfs/tier-2_fs_scale.yaml
  tests/cephfs/cephfs_scale/max_smallfile_snap.py
  tests/cephfs/cephfs_scale/max_snapshots_single_volume.py
  tests/cephfs/cephfs_scale/max_subvolumes.py
Labels: Ceph-FS

#2212 Porting fs cephx test from nautilus to pacific
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/cephfs_utils.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/multiclient_cephx_restrict_fs.py
Labels: Ceph-FS

#2071 Adding test for filling cluster for specific percentage
  suites/pacific/cephfs/tier-3_cephfs_io.yaml
  suites/quincy/cephfs/tier-3_cephfs_io.yaml
  tests/cephfs/test_io.py
  tests/io/__init__.py
  tests/io/fs_io.py
  tests/io/io_utils.py
  tests/io/rbd_io.py
  utility/utils.py
Labels: Ceph-FS

#2213 Adding test CEPH-11337
  tests/cephfs/integrity_check_after_remount.py
Labels: Ceph-FS

#2207 Tuning error message of rbd utils
  tests/rbd/rbd_utils.py
Labels: P1, RBD

#2102 [Tier-1] [CephAdm] Validate ceph orch host drain and delete
  playbooks/set-ceph-orch-host-state.yml
  suites/pacific/cephadm/test_cephadm_ansible_wrapper.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: Tier-1, CephAdm, DMFG

#2198 [Upgrade][Quincy][Cephadm]Adding upgrade scenarios
  cli/ceph/orch/label.py
  conf/quincy/upgrades/upgrade_4-node-cluster.yaml
  conf/quincy/upgrades/upgrade_8-node-cluster_mix_os.yaml
  suites/quincy/upgrades/tier-1_upgrade_5x-to-6x.yaml
  suites/quincy/upgrades/tier-1_upgrade_5x-to-6x_mix_os.yaml
  tests/cephadm/test_remove_labels_installer.py
Labels: Upgrade, DMFG

#2209 Cephfs-T2-CEPH-10529
  tests/cephfs/cephfs_utils.py
  tests/cephfs/clients/mirgate_data_bw_fs_and_remote_using_scp.py
  tests/cephfs/clients/multiple_clients_posix_calls.py
Labels: Ceph-FS

#2216 fix for cephci issue - CEPH-11299
  tests/cephfs/clients/mirgate_data_bw_fs_and_remote_using_scp.py
Labels: Ceph-FS

#2032 test_client.py : deploy multiple clients with different RHCS and RHEL…
  ceph/ceph_admin/__init__.py
  ceph/utils.py
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.6-server-x86_64.yaml
  conf/pacific/rados/6-node-cluster-6-clients.yaml
  run.py
  suites/pacific/rados/tier-2_rados_cidr_blocklisting.yaml
  tests/cephadm/test_client.py
  tests/misc_env/install_prereq.py
  utility/utils.py
Labels: framework, RADOS

#2215 Temporarily default m,k = 2,1 fo rbd tests
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-1, Tier-0

#2225 Adds new TCs for DBR feature
  suites/pacific/rgw/tier-2_rgw_ms-dynamic-bucket-resharding.yaml
Labels: pr-verified, RGW

#2223 Changes to cloud transition workflow retain_head_object changes
  suites/quincy/rgw/tier-2_rgw_cloud_transition.yaml
Labels: RGW

#2230 fix libarrow with epel repo for rhel/centos-9 pkgs
  ceph/ceph_admin/__init__.py
  suites/quincy/upstream/tier-1-cephadm-basic-regression.yaml
Labels: upstream

#2187 tier-2_rados_basic_regression: Verification of Fragmentation scores
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/rados_prep.py
Labels: RADOS

#2192 [Pipeline failure] - test_rbd_mirror and test_rbd_mirror_daemon_status failure
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_mirror_move_primary_trash_restore.py
Labels: RBD

#2228 Fix to include only current execution result in email sent
  pipeline/upstream_test_executor.groovy
Labels: upstream

#2239 [Cephadm][Tier-1] Automate bootstrap cases
  playbooks/bootstrap-cluster-custom-ssh.yml
  playbooks/bootstrap-cluster-overide-exisitng-keys.yml
  playbooks/bootstrap-cluster-registry-details.yml
  playbooks/login-to-registry.yaml
  playbooks/logout-from-registry.yaml
  suites/pacific/cephadm/test_cephadm_bootstrap_custom_ssh.yaml
  suites/pacific/cephadm/test_cephadm_bootstrap_with_overriding_exisiting_ceph_keys.yaml
  suites/pacific/cephadm/test_validate_cephadm_bootstrap_cases.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: Tier-1, CephAdm, DMFG

#2210 Moving upgrade suite from IBM to PSI-only
  pipeline/metadata/6.0.yaml
Labels: Ceph-FS

#2222 Post Result pipeline changes
  pipeline/post-results.groovy
Labels: pr-verified, Jenkins

#2226 PSI-only jenkin job Abort execution if new build available
  pipeline/psi-only-executor.groovy
  pipeline/tier_executor.groovy
Labels: pr-verified, Jenkins

#2220 Adding FS TC-11336
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/client_evict.py
  tests/cephfs/clients/client_fstab_auto_mount.py
Labels: Ceph-FS

#2219 T2-CEPH-11334
  suites/pacific/cephfs/tier-2_cephfs_test_file_and_dir_layout.yaml
  tests/cephfs/cephfs_file_and_dir_layout/__init__.py
  tests/cephfs/cephfs_file_and_dir_layout/file_dir_layout_lifecycle_ops.py
Labels: Ceph-FS

#2240 [CephAdm][Tier1] Add test case for cephadm operation via admin node
  suites/pacific/cephadm/tier-1_cephadm_operations_via_admin_node.yaml
  tests/cephadm/test_cephadm_operations_via_admin.py
Labels: CephAdm, DMFG
