Repository red-hat-storage/cephci, pull requests merged in 2023-04, with the labels that each got.

#2423 [unittests] fix isort issue
  tests/mgr/test_cephapi_auth.py
Labels: framework

#2415 Fix for report portal launch failure
  pipeline/scripts/ci/update_results.py
Labels: PipelineV3.0

#2416 Fixes for post results and tier executor
  pipeline/post-results.groovy
  pipeline/tier_executor.groovy
  pipeline/vars/email.groovy
Labels: PipelineV3.0

#2422 Integrate multiple changes on ceph-qe-scripts into cephCI
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ms-sync-policy-from-primary.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/upstream/tier-1_rgw_and_lc.yaml
Labels: RGW

#2403 Rados tier-4 tests: Pool - OSD resiliency tests
  ceph/rados/core_workflows.py
  conf/pacific/rados/13-node-cluster.yaml
  conf/pacific/rados/test-confs/pool-configurations.yaml
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  tests/rados/test_clay_ecpool.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, Tier-4

#2426 CrushtoolWorkflows.py: Addressing minor comments and moving to tier-4
  ceph/rados/core_workflows.py
  ceph/rados/crushtool_workflows.py
  suites/pacific/rados/tier-2_rados_basic_regression.yaml
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  tests/rados/test_crushtool_workflows.py
Labels: RADOS

#2430 [Ceph-Volume][Tier 2]Upgrade from 4x to 5x with add and remove osd.
  suites/pacific/ceph_volume/tier-2-ceph-volume-upgrade-4x-to-5x.yaml
Labels: Tier-2, DMFG

#2303 Pacific support for multiple realm multisite configuration
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
Labels: pr-verified, RGW

#2420 Supporting RBD persistent write bach cache feature basic functionality
  ceph/ceph_admin/osd.py
  conf/quincy/upi/octo-5-node-env.yaml
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/rbd_peristent_writeback_cache.py
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_persistent_write_back_cache.py
Labels: RBD, Ready-for-review

#2438 Test to verify write operation should fail from secondary site in rbd mirroring
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_rbd_mirror_journal_to_snap.py
Labels: RBD, Ready-for-review

#2431 CEPH-83571715: Verify cluster behavior when OSDs are near-full, backfill-full, and completely full
  ceph/rados/pool_workflows.py
  ceph/rados/rados_bench.py
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_full.py
Labels: RADOS, Tier-3, Ready-for-review

#2440 integrating s3cmd malformed url test cases into cephci
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_test-s3cmd-malformed-url.yaml
Labels: pr-verified, RGW

#2441 Integrating polarion TC-CEPH-11623 to cephci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_test_5.3_specific_fixes.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2444 Adding TC FS ceph_83574291
  tests/cephfs/ceph_83574291.py
Labels: Ceph-FS

#2443 [CEPH-83574719] Validate pwl without exclusive-lock
  suites/quincy/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  tests/rbd/rbd_peristent_writeback_cache.py
  tests/rbd/test_rbd_persistent_write_back_cache.py
Labels: RBD, Ready-for-review

#2457 [Fix] Allow client node to add additional repo
  tests/misc_env/install_prereq.py
Labels: framework, InterOp

#2432 Enable CephCI to run tests for Crimson
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap.py
  conf/crimson/dsal_rados_conf.yaml
  conf/crimson/dsal_rbd_conf.yaml
  run.py
  suites/crimson/tier-1_rbd.yaml
  suites/crimson/tier-2_rados.yaml
  utility/upstream_recipe.py
  utility/utils.py
Labels: framework, RBD, RADOS, crimson

#2458 [Interop][Pacific][Quincy] Add conf file.
  conf/pacific/interop/6node-all-roles.yaml
  conf/quincy/interop/6node-all-roles.yaml
Labels: InterOp

#2465 Temporary execution switch onto centos-8 builds.
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
  pipeline/scripts/ci/upstream_cli.py
  pipeline/upstream_listener.groovy
  pipeline/vars/v3.groovy
Labels: upstream

#2466 Fix upstream listener job
  pipeline/upstream_listener.groovy
Labels: upstream

#2445 CEPH-11393 - Delayed Deletion - Verify there is no name collision with a trashed image
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/trash_restore_same_name_image.py
Labels: RBD, Tier-2, Ready-for-review

#2468 [Fix] Avoid validating '/etc/ceph' dir after rm-cluster
  tests/cephadm/test_remove_cluster.py
Labels: test case, DMFG

#2467 Integrate CEPH-83574600, CEPH-83574601 to cephCI
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: RGW

#2389 Automation on Bluestore pinned configuration parameter
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_bluestore_features.py
Labels: RADOS, Tier-2

#2470 Integrate testcase CEPH-9744 to cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2462 [Tier1][Cephadm][Quincy]Deployment with mix os
  conf/quincy/cephadm/1admin_4node_1client_mix_os.yaml
  suites/quincy/cephadm/tier-1-mix-os-deployment.yaml
Labels: Tier-1, CephAdm

#2460 Fixing concurrent clone issue
  tests/cephfs/snapshot_clone/clone_threads.py
Labels: Ceph-FS

#2446 Fixing ci Issue RHCEPHQE-8158
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_life_cycle.py
Labels: Ceph-FS

#2454 Adding FS TC_11255
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/osd_node_failure_ops.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2456 Adding test CEPH-11414 trash restore parent image when IO running on clone
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_trash_restore_image_having_clone.py
  tests/rbd/rbd_utils.py
  utility/utils.py
Labels: RBD, Ready-for-review

#2472 TESCO: rgw segfaults on s3CopyObj with an admin user.
  suites/pacific/rgw/tier-1_rgw_ms-bucket-listing-versioning-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_test_5.3_specific_fixes.yaml
Labels: RGW, Tier-2, close-loop-automation

#2437 [Ceph-Volume] Validate LVM persistent naming
  cli/ceph/orch/orch.py
  cli/utilities/utils.py
  suites/pacific/ceph_volume/tier-2-ceph-volume.yaml
  tests/ceph_volume/test_ceph_volume_validate_persistent_naming.py
Labels: DMFG, CephVolume

#2453 [Tier2][Ceph-Mgr]Enable dashboard plug-in in non-active mgr
  cli/ceph/mgr.py
  suites/pacific/cephmgr/tier-2_cephmgr.yaml
  tests/mgr/test_cephmgr_dashboard_plugin.py
  tests/mgr/test_dashboard_plugin_with_ceph_mgr.py
Labels: Tier-2, DMFG

#2471 Updates to signed listeners to remove IBM dependency and to trigger execution.
  pipeline/signed-compose-listener.groovy
  pipeline/signed-container-image-listener.groovy
Labels: PipelineV3.0

#2459 CEPH-83574482 Verifying trash purge functionality on images with and without clones
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_trash_purge.py
  tests/rbd/rbd_utils.py
Labels: RBD, Tier-2, Ready-for-review

#2463 CEPH-9864-Disable some existing Image Feature which have Image metadata set on it, with IO in progress
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/image_with_metadata_feature_disable.py
Labels: RBD, Tier-2, Ready-for-review

#2474 Integrate: Testcase CEPH-9749 to cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2481 [RGW]Automation: Upgrade single site cluster from 6.0GA to 6.x latest
  pipeline/metadata/6.1.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_6-0GA_to_6x_latest.yaml
Labels: pr-verified, RGW

#2484 Integration of CEPH-83575567 in ceph ci
  pipeline/metadata/6.1.yaml
  suites/quincy/rgw/tier-2_rgw_test_basic_sanity_with_d3n_enabled.yaml
Labels: pr-verified, RGW

#2486 Cephci Integration for polarion TC: CEPH-9814
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
Labels: pr-verified, RGW, Tier-2

#2473 [Ceph-Mgr] [Tier-2] Validate ceph insights
  ceph/ceph.py
  cli/ceph/ceph.py
  suites/pacific/cephmgr/tier-2_cephmgr.yaml
  suites/quincy/cephmgr/tier-2_cephmgr.yaml
  tests/mgr/test_cephmgr_validate_insights.py
  tests/mgr/test_cephmgr_validate_mgr_status.py
Labels: DMFG, CephMgr

#2489 Adding the tests to the pipeline and omap test suite to pacific
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rados/tier-2_rados_test_omap.yaml
Labels: RADOS

#2488 [RADOS] Adding missing suite file and entries in pipeline metadata for 5.3, 6.0 and 6.1
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/quincy/rados/tier-2_rados_test-clay-ecpool.yaml
Labels: RADOS

#2491 [6.1][RGW-Automation]: Multisite upgrade from 6.0GA to 6.x latest
  pipeline/metadata/6.1.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_6-0GA_to_6x_latest.yaml
Labels: pr-verified, RGW

#2434 [LibFix] Fix approach to subscribe repos
  cephci.yaml.template
  cli/utilities/packages.py
  cli/utilities/utils.py
  tests/misc_env/install_prereq.py
Labels: bug in framework, framework

#2464 Adding fs tc 83573836
  tests/cephfs/ceph_83573836.py
Labels: Ceph-FS

#2480 Adding FS TC 11266 (re-raised)
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_node_remove_with_IO.py
Labels: Ceph-FS

#2499 Integrate CEPH-83575142 to cephCI
  suites/pacific/rgw/tier-1_rgw_ms-sync-policy-from-primary.yaml
Labels: RGW

#2419 RBD image live in migration from s3 object
  conf/pacific/rbd/tier-0_rbd.yaml
  conf/quincy/rbd/4-node-cluster-with-1-client.yaml
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_migration_image_s3_object.py
Labels: RBD, Tier-2

#2494 Multisite deployment with multipe rgws via HAproxy.
  conf/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy_conf.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
  tests/rgw/sanity_rgw.py
  tests/rgw/sanity_rgw_multisite.py
Labels: pr-verified, RGW, Tier-2

#2500 Adding trash purge schedule verification
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_trash_purge_schedule.py
Labels: RBD, Tier-2

#2508 Fix for tier-2_rbd_regression - suites failure in regression
  tests/rbd/rbd_utils.py
Labels: RBD

#2510 update client node in ocs_rgw_ssl.yaml
  suites/pacific/integrations/ocs_rgw_ssl.yaml
Labels: Integrations

#2504 BZ 1991808: Test LC from primary to secondary
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
Labels: pr-verified, RGW

#2513 Adding retry for .snap dir listing after it is mounted
  tests/cephfs/snapshot_clone/cross_platform_snaps.py
Labels: Ceph-FS

#2512 Fixing NFS export with retry
  tests/cephfs/nfs/nfs_io_network_failures.py
Labels: Ceph-FS

#2515 [CephMgr] Validate Supervised optimisation upmap and crush-compat
  suites/pacific/cephmgr/tier-2_cephmgr.yaml
  suites/quincy/cephmgr/tier-2_cephmgr.yaml
  tests/mgr/test_cephmgr_validate_supervised_optimisation.py
Labels: DMFG, CephMgr

#2505 [Cephadm][upgrade][tier-1]Upgrade from rhcs 6 ga to rhcs 6 latest
  suites/quincy/upgrades/tier-1_upgrade_6GA-to-6x.yaml
Labels: Upgrade, Tier-1, CephAdm, DMFG

#2511 CEPH-83573650- Verify parent snap deletion after clone flattening
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_clone_delete_parent_snapshot.py
Labels: RBD, Tier-2

#2495 Add FS CEPH_11328
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/fill_cluster_full_del.py
  tests/io/fs_io.py
Labels: Ceph-FS

#2519 [Fix] Fix string formatter
  tests/cephadm/test_admin_add_labels.py
Labels: script issue, CephAdm, DMFG

#2523 [TestFix] Add step to wait for OSD status
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-modules.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: test case, DMFG

#2509 [rm-cluster] Add validation for log directory removal
  tests/cephadm/test_remove_cluster.py
Labels: DMFG

#2521 [Cephadm][Tier1]Mix clients configuration
  conf/quincy/cephadm/tier-1_9node_mix_client.yaml
  suites/quincy/cephadm/tier-1-mix-clients.yaml
Labels: Tier-1, CephAdm, DMFG

#2478 [CephADM][Tier-2]Verify OSD replacement feature from CLI using ceph o…
  cli/ceph/orch/daemon.py
  cli/ceph/orch/daemons/__init__.py
  cli/ceph/orch/daemons/add.py
  suites/pacific/cephadm/tier-2-osd-scenarios.yaml
  suites/quincy/cephadm/tier-2-osd-scenarios.yaml
  tests/cephadm/test_replace_osd.py
Labels: Polarion testcase, CephAdm, DMFG

#2452 Adding test suite to cover rbd mirror failback scenario
  conf/pacific/rbd/3_clusters_5_node.yaml
  conf/quincy/rbd/3_clusters_5_node.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_failback.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_failback.yaml
  tests/rbd_mirror/rbd_mirror_reconfigure_primary_cluster.py
  tests/rbd_mirror/rbd_mirror_utils.py
  tests/rbd_mirror/test_configure_mirror_snapshot.py
Labels: RBD, Ready-for-review
