Repository red-hat-storage/cephci, pull requests merged in 2023-05, with the labels that each got.

#2520 Adding TC FS CEPH-11311
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_nfs_node_failure_ops.py
Labels: Ceph-FS

#2537 Adding TC FS CEPH-11320
  suites/pacific/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/snap_rollback_with_node_reboots.py
Labels: Ceph-FS

#2524 Adding FS TC 83575042
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/file_unlink_on_clients.py
Labels: Ceph-FS

#2497 Adding TC CEPH-83575569
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  tests/cephfs/snapshot_clone/snap_schedule.py
Labels: Ceph-FS

#2536 TFA: RHCEPHQE-8552:Bilog trimming test - is failing in regression
  suites/pacific/rgw/tier-1_rgw_ms-bilog-crash-on-primary.yaml
Labels: RGW

#2543 Fix for client configuration for RBD - tier-2_rbd_encryption
  suites/quincy/rbd/tier-2_rbd_encryption.yaml
Labels: RBD, Ready-for-review

#2545 [Rados] Pipeline metadata updates due to test suite name change
  pipeline/metadata/5.0.yaml
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  pipeline/metadata/archived/5.3.yaml
  pipeline/metadata/archived/6.0.yaml
  pipeline/metadata/archived/6.1.yaml
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
Labels: RADOS, metadata

#2538 Integrates warp configuration support
  tests/misc_env/configure_warp.py
Labels: pr-verified, RGW

#2534 CEPH-9849 - Create an Image, take snapshot, create clone, then set meta-data option on that Clone
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_flatten_image_feature_disable.py
Labels: RBD, Tier-2, Ready-for-review

#2527 Expand and shrink image at secondary site
  pipeline/metadata/5.3.yaml
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_9500_shrink_img_at_secondary.py
  tests/rbd_mirror/test_expand_or_shrink_img_at_secondary.py
Labels: RBD, Ready-for-review

#2547 [run.py]Fix build type issue.
  run.py
  tests/cephadm/test_client.py
Labels: framework

#2518 Adding clone resize to luks encryption tests
  suites/pacific/rbd/tier-2_rbd_encryption.yaml
  suites/quincy/rbd/tier-2_rbd_encryption.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_encryption.py
Labels: RBD, Ready-for-review

#2541 ceph-nvmeof test
  ceph/nvmeof/__init__.py
  ceph/nvmeof/gateway.py
  ceph/nvmeof/initiator.py
  ceph/nvmeof/nvme_cli.py
  conf/quincy/nvmeof/ceph_nvmeof_cluster.yaml
  run.py
  suites/quincy/nvmeof/ceph_nvmeof_deployment.yaml
  tests/nvmeof/__init__.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
Labels: Quincy

#2546 CEPH-83571646: Test to verify BlueStore Checksum algorithms
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/stretch_cluster.py
  tests/rados/test_bluestore_configs.py
Labels: RADOS, Tier-2

#2551 Adding TC 83574327-8
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/ceph_auth_caps_modifying_permissions.py
  tests/cephfs/clients/create_user_with_permissions.py
Labels: Ceph-FS

#2555 Integrate polarion tc : CEPH-10753 to cephci
  suites/pacific/rgw/tier-2_rgw_ms-dynamic-bucket-resharding.yaml
Labels: pr-verified, RGW, Tier-2

#2549 adding bucket notification suite for multisite
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/quincy/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
Labels: pr-verified, RGW

#2522 [CephMgr][Tier-2] Validate pg_autoscaler when crush rule applied
  cli/ceph/ceph.py
  cli/ceph/osd/__init__.py
  cli/ceph/osd/crush.py
  cli/ceph/osd/osd.py
  cli/ceph/osd/pool.py
  suites/pacific/cephmgr/tier-2-cephmgr.yaml
  suites/quincy/cephmgr/tier-2-cephmgr.yaml
  tests/mgr/test_cephmgr_validate_crush_rule.py
Labels: DMFG, CephMgr

#2554 CEPH-83571646: Test to verify tuning of BlueStore Cache Sizes
  suites/pacific/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/monitor_configurations.py
  tests/rados/test_bluestore_configs.py
Labels: DNM, RADOS, Tier-2, Ready-for-review

#2548 CEPH-9185 - RADOS: Degraded object improvements:Testing the cluster b…
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
Labels: RADOS, Tier-2

#2558 Include nvmeof test suite in 6.1 metadata yaml
  pipeline/metadata/6.1.yaml
Labels: nvmeof

#2567 Fixing fs tc 83574327_8
  tests/cephfs/clients/ceph_auth_caps_modifying_permissions.py
  tests/cephfs/clients/create_user_with_permissions.py
Labels: Ceph-FS

#2568 [Update] Update latest RHEL image configs
  conf/inventory/rhel-8-latest.yaml
  conf/inventory/rhel-8.8-server-x86_64-large.yaml
  conf/inventory/rhel-8.8-server-x86_64.yaml
  conf/inventory/rhel-9-latest.yaml
  conf/inventory/rhel-9.2-server-x86_64.yaml
Labels: framework

#2561 [Lib] Add library to read configs
  cephci/__init__.py
  cephci/utils/__init__.py
  cephci/utils/configs.py
  examples/cephci.yaml
Labels: framework

#2409 CEPH-83573341 - Set read only on namespace and migrate the images and verify if migration is blocked
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/readonly_namespace_image_migration.py
Labels: RBD, Tier-2, Ready-for-review

#2562 CEPH-9515 - Delete the parent snapshot of a clone having a snapshot on the mirrored image
  suites/pacific/rbd/tier-2_rbd_mirror_regression.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_regression.yaml
  tests/rbd_mirror/test_rbd_mirror_delete_parent_snap.py
Labels: RBD, Tier-2, Ready-for-review

#2552 [Tier2][Cephadm]Staggered Upgrade
  cli/ceph/orch/orch.py
  cli/ceph/orch/upgrade.py
  cli/ceph/osd/osd.py
  suites/quincy/upgrades/tier-2_upgrade_staggered_5x-to-6x.yaml
  tests/cephadm/test_cephadm_staggered_upgrade.py
Labels: Upgrade, Tier-2, CephAdm, DMFG

#2557 removing report portal code from run.py
  run.py
Labels: framework

#2570 Adding fs tc 83575574
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/clients/verify_user_read_write_permissions.py
Labels: Ceph-FS

#2566 [Lib] Add library to setup pre-install steps
  cephci/prereq.py
  cephci/utils/configure.py
  cli/exceptions.py
  cli/utilities/containers.py
Labels: framework

#2571 Adding NFS HA basic sanity
  suites/pacific/cephfs/tier-0_fs.yaml
  tests/cephfs/nfs_ha_sanity.py
Labels: Ceph-FS

#2575 Test to validate rbd data compression hint settings at multiple levels
  suites/pacific/rbd/tier-2_rbd_regression.yaml
  suites/quincy/rbd/tier-2_rbd_regression.yaml
  tests/rbd/rbd_utils.py
  tests/rbd/test_rbd_compression.py
Labels: RBD

#2572 ceph-nvmeof baremetal suite
  ceph/nvmeof/gateway.py
  conf/quincy/upi/octo-7-node-env.yaml
Labels: nvmeof

#2577 fix issue with gw deployment.
  ceph/nvmeof/gateway.py
Labels: nvmeof

#2580 suppress exit code check on disabling firewalld
  ceph/nvmeof/gateway.py
Labels: nvmeof

#2582 CEPH-83571646: Modification of test module to validate BlueStore Checksum type at pool level
  tests/rados/test_bluestore_configs.py
Labels: RADOS

#2581 CEPH-11032: Modification of test module to wait for host reboot
  ceph/rados/core_workflows.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS

#2589 Fix TFA issue RHCEPHQE-9001
  tests/rgw/sanity_rgw.py
Labels: pr-verified, RGW

#2573 Adding FS TC_11265
  conf/quincy/cephfs/tier-3_non_collocated.yaml
  tests/cephfs/cephfs_system/cluster_down_up.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#2569 Fixing nfs mount with retry
  tests/cephfs/nfs/read_only_nfs_export.py
Labels: Ceph-FS

#2587 Fix TFA issue RHCEPHQE-8789
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
Labels: pr-verified, RGW

#2586 TFA: Updating new Vault server details for sse tests failure
  suites/pacific/rgw/tier-2_rgw_test-multisite-async-data-notification.yaml
  suites/pacific/rgw/tier-3_rgw_multisite_archive_with_haproxy.yaml
Labels: pr-verified, RGW

#2593 fixing the upstream rados suite
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
Labels: RADOS

#2595 [LibFix] Add utility to collect cluster info
  cephci/cluster_info.py
Labels: framework

#2583 CEPH-83573339-Set read only on namespace for client-X and run IOs and observe the behavior
  tests/rbd/rbd_utils.py
  tests/rbd/readonly_namespace_image_migration.py
  utility/utils.py
Labels: RBD, Tier-2, Ready-for-review

#2596 Adding suite file for cephfs-top feature
  suites/pacific/cephfs/tier-3_cephfs_test_cephfs-top.yaml
  tests/cephfs/cephfs_top/__init__.py
  tests/cephfs/cephfs_top/cephfs_cephfs-top_verify_mgr_module_for_stats.py
Labels: Ceph-FS

#2604 [Fix] Fix issue in validating ceph module operation
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  tests/cephadm/test_remove_cluster.py
Labels: test case

#2605 [TC] Skip docker bootstrap TCs due to bz #2184673
  suites/pacific/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
  suites/quincy/cephadm/tier-1-cephadm-ansible-wrapper-bootstrap-module.yaml
Labels: test case
