Repository red-hat-storage/cephci, pull requests merged in 2023-09, with the labels that each got.

#2887 Fixing nfs_ha sanity suite
  tests/cephfs/nfs_ha_sanity.py
Labels: lgtm

#2848 Added IO perf tests
  ceph/nvmeof/gateway.py
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  tests/misc_env/install_prereq.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_io_perf.py
  utility/utils.py
Labels: lgtm, nvmeof

#2873 Adding fs tc 83575088
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/nfs_ha_create_using_spec_ingress.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2859 Adding fs tc 83575082
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_nfs/nfs_multiple_export_using_single_conf.py
Labels: Ceph-FS, lgtm, Tier-2

#2894 Adding tier-3 encryption test case to reef
  suites/reef/rbd/tier-3_rbd_mirror_encrypted_image.yaml
Labels: lgtm

#2889 Update polarion IDs for NVMeOF scale tests
  suites/quincy/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/quincy/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
Labels: lgtm, nvmeof

#2890 [LibFix] Add workaround from KCS article `6995089`
  tests/ceph_installer/test_ansible.py
Labels: lgtm

#2865 [Nfs]Add test to validate lookups while mutliple IO in progress
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_verify_multiple_parallel_io_and_lookups.py
Labels: lgtm

#2839 [Nfs] Add nfs scale with spec storage
  suites/quincy/nfs/tier-2_nfs_ganesha_spec_storage.yaml
  tests/nfs/nfs_verify_scale.py
Labels: lgtm

#2868 Data Interegrity verification when client is rebooted
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
Labels: lgtm, nvmeof

#2901 Removing nfs ha sanity TC
  suites/pacific/cephfs/tier-0_fs.yaml
  suites/quincy/baremetal_pipeline/tier-0_fs.yaml
Labels: lgtm

#2905 [TestFix] Fix rm failure in nfs cleanup
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_readdir_ops.py
Labels: lgtm

#2879 [TestFix] Fix container not found error in test
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
Labels: lgtm

#2860 [Lib] [CLI] Add support to handle multiple IO tools
  ceph/ceph.py
  cephci/utils/configure.py
  cli/exceptions.py
  cli/io/fio.py
  cli/io/small_file.py
Labels: lgtm

#2907 [Test][NfsGanesha][Phase2] Add test to validate parallel ops from dif…
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  tests/nfs/nfs_verify_parallel_rm_write_lookup.py
Labels: lgtm

#2908 Adding reef support for kernel mount
  tests/cephfs/cephfs_utils.py
Labels: lgtm

#2885 Automation of the scrub enhancement feature
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_scrub_enhancement.py
Labels: RADOS, lgtm, Ready-for-review

#2903 Adding test case to deploy GW collocatio with mon and mgr nodes
  conf/quincy/nvmeof/ceph_nvmeof_functional.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
Labels: lgtm, nvmeof

#2902 [Rados] Enhancement of recovery modules to account for mClock Scheduler
  ceph/rados/core_workflows.py
  tests/rados/pool_tests.py
  tests/rados/stretch_cluster.py
  tests/rados/test_omap_entries.py
  tests/rados/test_osd_inprogress_rebalance.py
  tests/rados/test_osd_rebalance.py
  tests/rados/test_osd_rebalance_snap.py
  tests/rados/test_slow_op_requests.py
Labels: RADOS, lgtm

#2912 Adding monitoring of 6.1 and 7.0
  pipeline/psi-post-umb.groovy
Labels: lgtm

#2913 Switching to latest key instead of tier-0
  pipeline/vars/umb.groovy
Labels: lgtm

#2909 fixing rados test issues identified in CI runs ( TFA fixes )
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/quincy/rados/tier-2_rados_test-clay-ecpool.yaml
  suites/quincy/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_pg_split.py
Labels: RADOS, lgtm, tfa-issue-fix

#2896 Updating mero conf
  conf/quincy/baremetal_pipeline/mero_conf.yaml
  conf/reef/baremetal/mero_conf.yaml
Labels: lgtm

#2914 Updating release of upgrade suite deployment
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/quincy/rgw/tier-1_rgw_ms_archive_test-upgrade-5-to-latest.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_5-3_latest_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
  suites/reef/rgw/tier-1_rgw_archive_ms_upgrade_61GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_ms_upgrade_5_3GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_ms_upgrade_6_1GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_ms_upgrade_multirealm_61GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_5_3GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_6_1GA_to_7x_latest.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2926 [reef][upgrade]change
  suites/reef/upgrades/tier1-upgrade-ibm-5x-to-7x-mix-os.yaml
  suites/reef/upgrades/tier1-upgrade-ibm-5x-to-7x.yaml
  suites/reef/upgrades/tier1-upgrade-ibm-6x-to-7x.yaml
  suites/reef/upgrades/tier2-upgrade-ibm-staggered-5x-to-7x.yaml
Labels: lgtm, DMFG

#2915 CephFS upgrade tests in 7.0
  suites/reef/cephfs/tier-0_cephfs_upgrade_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_6x_to_7x.yaml
Labels: Ceph-FS, lgtm, Polarion testcase

#2916 Tier-3 - CEPH-83575622 - cephfs_watchlist_bz
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_validate_deadlock_bw_unlink_and_rename.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-3, Polarion testcase, close-loop-automation

#2904 [Reef][UPI]Add upi suite
  suites/reef/cephadm/upi/upi-dmfg-deployment.yaml
  suites/reef/upgrades/upi/upi-dmfg-upgrade-5x-to-7x.yaml
  suites/reef/upgrades/upi/upi-dmfg-upgrade-6x-to-7x.yaml
Labels: lgtm, DMFG

#2910 Clone scale automation changes for compatibility on Baremetal
  tests/cephfs/cephfs_scale/max_clones_from_snap.py
Labels: Ceph-FS, lgtm, Polarion testcase

#2931 [TestFix] Disable RESTful api failing test
  suites/pacific/mgr/tier-1-cephapi-auth-api.yaml
  suites/quincy/mgr/tier-1-cephapi-auth-api.yaml
  suites/reef/mgr/tier-1-cephapi-auth-api.yaml
Labels: lgtm

#2932 Tier-3 - CEPH-83575623 - Customer Case Test Coverage
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_fsstress_on_kernel_and_fuse.py
Labels: Ceph-FS, lgtm, Tier-3, Polarion testcase, close-loop-automation

#2927 Fixing NFS TC failures
  tests/cephfs/cephfs_nfs/2_node_nfs.py
  tests/cephfs/cephfs_nfs/modifying_nfs_cluster_invalid_value.py
  tests/cephfs/cephfs_nfs/nfs_config_reset.py
  tests/cephfs/cephfs_nfs/nfs_export_config.py
  tests/cephfs/cephfs_nfs/nfs_io_network_failures.py
  tests/cephfs/cephfs_nfs/nfs_mount_with_fstab.py
  tests/cephfs/cephfs_nfs/nfs_multiple_export_using_single_conf.py
  tests/cephfs/cephfs_nfs/nfs_non_exist_export_path.py
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
  tests/cephfs/cephfs_nfs/recreate_same_name_nfs.py
  tests/cephfs/cephfs_nfs/subvolume_export.py
  tests/cephfs/cephfs_nfs/zip_unzip_files_nfs.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#2899 Adding FS TC 83575196 NFS HA Failover
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_failover.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Polarion testcase

#2897 Adding script to reimage dell servers in Octo lab
  utility/reimage_octo_nodes.py
Labels: lgtm

#2898 Generate workload.xml file parallel read,write,list,delete operation …
  suites/quincy/baremetal_pipeline/tier-1_rgw.yaml
  suites/quincy/baremetal_pipeline/tier-1_rgw_ms.yaml
  tests/misc_env/push_cosbench_workload.py
Labels: pr-verified, P0, RGW, lgtm

#2923 Integration of polarion testcase : CEPH-83575477 to cephci
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, lgtm, Tier-3

#2929 cephci integration of CEPH83575816
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#2933 Changing the build from ga to rc
  suites/quincy/cephfs/tier-0_cephfs_upgrade_53_to_6x.yaml
Labels: lgtm

#2934 [LibFix] Fix ansible wrapper playbook failure
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-modules.yaml
  tests/cephadm/test_cephadm_ansible_wrapper.py
Labels: lgtm, tfa-issue-fix

#2935 [Fix] Fix private registry image to quay
  suites/pacific/cephadm/tier2-verify-custom-container.yaml
  suites/quincy/cephadm/tier2-verify-custom-container.yaml
  suites/reef/cephadm/tier2-verify-custom-container.yaml
Labels: lgtm

#2922 Adding cephfs TC 83574329
  suites/pacific/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_mds_pinning/map_and_unmap_directory_trees_to_a_mds_rank.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2937 automate s3_copy_via_encryption and chown_of_an_sse-s3_bucket
  suites/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
Labels: review-in-progress, RGW, lgtm, Tier-2, close-loop-automation

#2917 [Nfs] Add HA support for NFS
  cli/ceph/nfs/cluster/cluster.py
  cli/utilities/filesys.py
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_nfs_ha.py
Labels: lgtm

#2891 Osd enhancements pr
  tests/misc_env/homogenous_osd_cluster.py
  tests/misc_env/osd_specific_device.py
Labels: lgtm

#2936 [Automation][NFS-Ganesha][HA]Add testcase
  cli/utilities/utils.py
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_ha_readdir_operation.py
Labels: lgtm, nfs-ganesha

#2940 [Rados] Increasing wait timeout for OSD host reboot and OSD removal
  tests/rados/test_cephdf.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#2911 Eklavya multisite environment for baremetal and scale tests
  suites/reef/baremetal/eklavya_conf.yaml
  suites/reef/baremetal/eklavya_suite.yaml
Labels: review-in-progress, RGW, lgtm

#2930 [Rados][TFA] Verification of OSD state with scrubbing post large OMAP warning
  ceph/rados/pool_workflows.py
  tests/rados/test_scrub_omap.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#2938 [TestFix] Add long running support for untar operation
  cli/io/io.py
Labels: lgtm

#2942 [TFA-Fix]: Fix the workflow of nfs
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#2888 added NVMeoF modules
  ceph/ceph_admin/nvmeof.py
  ceph/nvmeof/nvmeof_gwcli.py
  pipeline/metadata/main.yaml
  pipeline/metadata/quincy.yaml
  suites/quincy/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/reef/nvmeof/tier-2_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/ceph_installer/test_cephadm.py
  tests/cephadm/test_nvmeof.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
  tests/nvmeof/test_ceph_nvmeof_ns_limit.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
  tests/nvmeof/test_io_perf.py
  tests/nvmeof/test_nvme_cli.py
Labels: lgtm, nvmeof

#2895 Added RBD immutable object cache test
  suites/quincy/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/reef/rbd/tier-2_rbd_cache_scenarios.yaml
  tests/rbd/test_rbd_immutable_cache.py
Labels: RBD, lgtm

#2946 Updated quincy upgrade suites to use correct tags from recipe file
  suites/quincy/upgrades/tier-1_upgrade_5x-to-6x_mix_os.yaml
  suites/quincy/upgrades/tier-1_upgrade_6GA-to-6x.yaml
  suites/quincy/upgrades/tier-2_upgrade_staggered_5x-to-6x.yaml
  suites/reef/upgrades/upi/upi-dmfg-upgrade-6x-to-7x.yaml
Labels: lgtm

#2950 [Reef][Upgrade]Update suite
  suites/reef/upgrades/tier2-upgrade-ibm-staggered-6x-to-7x.yaml
  suites/reef/upgrades/tier2-upgrade-rhcs-staggered-5x-to-7x.yaml
Labels: Upgrade, lgtm

#2918 [Nfs Ganesha][Test] Add test to verify file lock with root squash
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/nfs_verify_file_lock_root_squash.py
Labels: lgtm

#2949 [tfa-fix]: Remove Rate limits test from suite tier-1-extn_rgw
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: RGW, lgtm, tfa-issue-fix

#2951 removing known issue comments for BZ-2149259 and BZ-2187982 from bucket notifications suites
  suites/quincy/rgw/tier-2_rgw_6_1_fixes.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications_kafka_sasl.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: RGW, lgtm, tfa-issue-fix

#2954 [Config] Add new inventory for large flavour
  conf/inventory/rhel-9.2-server-x86_64-large.yaml
Labels: lgtm

#2952 Adding baremetal conf file for nvmeof test execution
  conf/reef/nvmeof/octo-6-node-env.yaml
  suites/reef/nvmeof/tier-2_nvmeof_scale_ns.yaml
Labels: lgtm, nvmeof

#2956 [Config] Fix inventory vm-size
  conf/inventory/rhel-8.8-server-x86_64-large.yaml
  conf/inventory/rhel-9.2-server-x86_64-xlarge.yaml
Labels: lgtm

#2953 Modifying suites to remove multiple polarion IDs which have been marked as Inactive in Polarion
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/pacific/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/pacific/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/pacific/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/quincy/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
Labels: lgtm

#2957 nvmeof functional regression tests
  conf/quincy/nvmeof/ceph_nvmeof_functional.yaml
  conf/reef/nvmeof/ceph_nvmeof_functional.yaml
  suites/quincy/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  suites/reef/nvmeof/tier-0_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
Labels: lgtm, nvmeof

#2920 [LibFix] Add container rmi and inspect lib
  ceph/ceph.py
  cli/utilities/containers.py
  cli/utilities/packages.py
Labels: lgtm

#2947 [NFS-Ganesha][Automation]Add config edit scenarios
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/nfs_edit_export_config_with_1client_access.py
  tests/nfs/nfs_edit_export_config_with_ro.py
Labels: lgtm, nfs-ganesha

#2945 [Nfs] Add tests to validate pynfs and file lock with HA
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_verify_file_lock_ha.py
  tests/nfs/nfs_verify_pynfs_ha.py
Labels: lgtm

#2963 [Test] Add ceph-mgr suites for reef
  suites/reef/cephmgr/tier2-cephmgr.yaml
Labels: lgtm, tfa-issue-fix

#2882 [Tier0][Test] Validate package and image version
  conf/pacific/smoke/1admin-4node-1client-bvt.yaml
  conf/quincy/smoke/1admin-4node-1client-bvt.yaml
  suites/pacific/smoke/build.yaml
  suites/quincy/smoke/build.yaml
  suites/reef/smoke/build.yaml
  tests/cephadm/test_package_validation.py
Labels: lgtm

#2944 Reads balancer : adding tests to verify functionality of online commands
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/quincy/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  tests/rados/test_pg_split.py
  tests/rados/test_reads_balancer.py
Labels: test case, RADOS, lgtm, Tier-3, Reef

#2960 [TestFix] [Nfs] Fix rm operation timeout
  cli/io/io.py
  tests/nfs/nfs_operations.py
Labels: lgtm

#2958 [Nfs][Test] Verify nfs process kill and failover
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  tests/nfs/nfs_verify_nfs_kill_process_failover.py
Labels: lgtm

#2962 [TestFix] Fix ceph-volume test case issues
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
Labels: lgtm, tfa-issue-fix

#2961 Stretch Cluster upgrade: Updated repos and stretch deployment methods.
  pipeline/metadata/5.1.yaml
  pipeline/metadata/5.2.yaml
  pipeline/metadata/5.3.yaml
  pipeline/metadata/6.0.yaml
  pipeline/metadata/6.1.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  tests/rados/stretch_cluster.py
Labels: RADOS, lgtm, tfa-issue-fix

#2964 Fixes for tier-2_fs suite failures in CI runs
  suites/pacific/cephfs/tier-2_fs.yaml
  tests/cephfs/snapshot_clone/clone_threads.py
  tests/cephfs/test_clone_threads.py
Labels: lgtm

#2966 Tier2 - CephFS-NFS - CEPH-83575097
  suites/pacific/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_deployment_with_non_default_port.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2973 Handle NFS failures due to BZ2228066
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/pacific/cephfs/tier-2_cephfs_test-nfs.yaml
Labels: Ceph-FS, lgtm, tfa-issue-fix

#2976 Tier2 - CephFS-NFS - CEPH-83575095
  tests/cephfs/cephfs_nfs/test_cephfs_upgrade_nfs_standalone_to_nfs_ha_cluster.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2948 Tier2 : NFS new automation for post upgrade CephFS validation
  suites/pacific/cephfs/tier-1_fs.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_6x_to_7x.yaml
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-2, Polarion testcase

#2955 Adding CephFS IBM upgrade suites for 5x_to_7x and 6x_to_7x workflows
  suites/reef/cephfs/tier-0_cephfs_upgrade_ibm_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_ibm_6x_to_7x.yaml
Labels: Ceph-FS, Upgrade, lgtm

#2969 workaround for inducing nvmeof image in test run
  ceph/ceph_admin/bootstrap.py
  ceph/nvmeof/nvmeof_gwcli.py
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
  tests/nvmeof/test_io_perf.py
  tests/nvmeof/test_nvme_cli.py
Labels: lgtm, nvmeof
