Repository red-hat-storage/cephci, pull requests merged in 2024-08, with the labels that each got.

#3939 Adding FS TC CEPH-83593150
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  suites/squid/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_generic/validate_xattr_set_get.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#3923 RADOS TFA fixes and bugzilla automations
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_test_omap.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  tests/rados/customer_scenarios.py
  tests/rados/stretch_cluster.py
  tests/rados/test_omap_entries.py
  tests/rados/test_pg_dups_trimming.py
  tests/rados/test_scrub_log.py
  tests/rados/test_stretch_site_maintenance_modes.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, lgtm, tfa-issue-fix, 7.1-bugs-automate

#3947 [Rados] TFA fix for osd df stats & removal of superblock redundancy test
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_mon_mgr_weight.py
  tests/rados/test_osd_df.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#3949 [Test] Add test to perform AD DC validation
  suites/squid/smb/tier-1-smb-ad-dc.yaml
  tests/smb/smb_ad_dc.py
Labels: lgtm

#3944 [tfa][dmfg] Fix AttributeError for string split method applied on list
  tests/cephadm/test_verify_log_rotate_tcmu_runner.py
Labels: lgtm, DMFG, tfa-issue-fix

#3906 backtrace damage repair by scrub
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_recovery/backtrace_damage_repair_by_scrub.py
  tests/cephfs/mds_backtrace_damage.py
Labels: Ceph-FS, lgtm

#3940 [Test] Validate OSD blocklist clients
  cli/ceph/osd/blocklist.py
  cli/ceph/osd/osd.py
  suites/quincy/cephadm/tier-2-osd-scenarios.yaml
  suites/reef/cephadm/tier2-osd-scenarios.yaml
  suites/squid/cephadm/tier2-osd-scenarios.yaml
  tests/cephadm/test_osd_blocklist_operations.py
Labels: lgtm

#3943 minor change add known issue
  suites/squid/rgw/sanity_rgw.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_test_basic_sanity_with_d3n_enabled.yaml
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: RGW, lgtm

#3951 NVMeOF Add Namespace Code Implementation is done
  rest/endpoints/nvmeof/nvmeof.py
  rest/workflows/nvmeof/nvmeof.py
  suites/reef/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  tests/nvmeof/test_nvmeof_rest_sanity.py
Labels: lgtm, nvmeof

#3914 CephFS multiMDS Test Gaps
  conf/quincy/cephfs/tier-2_cephfs_8mds-cluster.yaml
  conf/reef/cephfs/tier-2_cephfs_8mds-cluster.yaml
  conf/squid/cephfs/tier-2_cephfs_8mds-cluster.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-multi-mds.yaml
  suites/reef/cephfs/tier-2_cephfs_test-multi-mds.yaml
  suites/squid/cephfs/tier-2_cephfs_test-multi-mds.yaml
  tests/cephfs/cephfs_multi_mds/__init__.py
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_functional.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, New testcase, lgtm, Tier-2, Ready-for-review, Test Gaps

#3948 Mtls support for NVMeoF service deployment
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/nvmeof.jinja
  suites/reef/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  utility/ssl_certs.py
Labels: lgtm, nvmeof

#3921 [Rados] Cluster fill method for Rados Performance workflow
  ceph/rados/core_workflows.py
  ceph/rados/perf_workflow.py
  suites/reef/rados/tier-2_rados_test-perf.yaml
  tests/rados/test_rados_perf.py
Labels: RADOS, lgtm

#3933 [Test] Verify adjust retention size for Prometheus
  suites/reef/cephadm/tier1-service-apply-spec.yaml
  suites/squid/cephadm/tier1-service-apply-spec.yaml
  tests/cephadm/test_adjust_prometheus_retention_size.py
Labels: lgtm

#3957 Adding minor fixes to nfs failure
  tests/cephfs/cephfs_nfs/nfs_info_cluster_id_and_ls_export_detailed.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/validate_root_squash.py
Labels: lgtm

#3932 adding kernel stress in the coverage
  suites/pacific/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/quincy/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/reef/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/squid/cephfs/tier-1_fs_kernel_pipeline.yaml
Labels: lgtm

#3919 integrating rgw-admin notification commands test into cephci
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW, lgtm, 7.1-bugs-automate

#3955 NVMEoF REST cleanup
  rest/common/config/config.json
  rest/common/utils/rest.py
  rest/endpoints/nvmeof/nvmeof.py
  rest/workflows/nvmeof/nvmeof.py
  suites/reef/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  tests/nvmeof/test_nvmeof_rest_sanity.py
Labels: lgtm

#3952 New Automation for MDS Standy-Replay systemic test
  suites/quincy/cephfs/tier-4_cephfs_system.yaml
  suites/reef/cephfs/tier-4_cephfs_system.yaml
  suites/squid/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_failover_standby_replay_systemic_test.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Polarion testcase

#3959 Fixing Arguments in mirror suite
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_snap_status_using_asok.py
Labels: lgtm

#3953 fixing tfa too many open files for s3select on squid and adding known issue for curl multipart etag empty on quincy
  suites/pacific/rgw/tier-2_rgw_test_5-3_specific_fixes.yaml
  suites/reef/rgw/tier-4-rgw.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3910 integrating apple session policy batch deletes hotfix tests into cephci
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_sts_aswi.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_sts_aswi.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_sts_aswi.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, hotfix

#3958 TFA: RHCEPHQE-15386: IBM upgrade post swift_object_expiration cluster is in bad state.
  suites/reef/rgw/tier-1_rgw_ibm_ssl_multisite_upgrade_61GA_to_71x_latest.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3963 [Squid][SMB]Add Polarion ID
  suites/squid/smb/tier-0-smb.yaml
  suites/squid/smb/tier-1-smb-500-shares-declarative.yaml
  suites/squid/smb/tier-1-smb-500-shares.yaml
  suites/squid/smb/tier-1-smb-ad-dc.yaml
  suites/squid/smb/tier-2-smb-load.yaml
  suites/squid/smb/tier-2-smb-multi-connections.yaml
Labels: lgtm, smb

#3960 TFA fix for CG quiesce post-upgrade test
  suites/reef/cephfs/tier-1_cephfs_cg_quiesce.yaml
  suites/squid/cephfs/tier-1_cephfs_cg_quiesce.yaml
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3962 Verification of bluestore_min_alloc_size before and after OSD deployment
  ceph/rados/core_workflows.py
  conf/squid/rados/stretch-mode-host-location-attrs.yaml
  suites/reef/rados/tier-2_rados_test_parameters.yaml
  suites/squid/rados/tier-2_rados_test_parameters.yaml
  tests/rados/test_bluestore_min_alloc_size.py
Labels: RADOS, lgtm, 7.1-bugs-automate

#3950 Online Reads Balancer: Fixing the online read balancer tests
  ceph/ceph_admin/shell.py
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  tests/rados/test_norecovery_flag_functionality.py
  tests/rados/test_online_reads_balancer.py
  tests/rados/test_osd_full.py
  tests/rados/test_osd_replicated_inconsistency_scenario.py
Labels: RADOS, lgtm, 8.0

#3970 [Squid][SMB][Automation]Add scenarios
  cli/ceph/orch/orch.py
  cli/ceph/smb/smb.py
  suites/squid/smb/tier-1-smb.yaml
  tests/smb/smb_cifs_mount.py
  tests/smb/smb_operations.py
  tests/smb/smb_service_restart.py
Labels: lgtm, smb

#3937 Added the swift at root and object torrent scripts to CI
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/upstream/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
Labels: RGW, lgtm, Tier-2

#3972 Fixing Root sqaush issue
  tests/cephfs/clients/validate_root_squash.py
Labels: lgtm

#3981 [NFS-Ganesha] Test partial deallocation with NFS v4.2
  suites/squid/nfs/tier0-nfs-ganesha-vers-4-2.yaml
  tests/nfs/test_nfs_partial_deallocation.py
Labels: lgtm

#3974 [Test][Cephadm] Add test to validate cephadm stray host warning post …
  suites/reef/upgrades/tier1-upgrade-rhcs-5x-to-7x.yaml
  tests/cephadm/test_stray_host_err_post_upgrade.py
Labels: lgtm

#3971 Modify nvmeof sanity test suite with hostnqn addition for host add to subsystem
  suites/reef/nvmeof/tier-1_nvmeof_sanity.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
  tests/nvmeof/test_io_perf.py
Labels: lgtm, nvmeof

#3976 Support s3tests from ceph-squid branch
  tests/rgw/test_s3.py
Labels: RGW, lgtm, tfa-issue-fix

#3967 Enable s3-tests in reef
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm

#3964 CephFS multiMDS Test Gaps - Functional workflow 3, 4
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_functional.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Polarion testcase, Test Gaps

#3980 Adding EC support for quota scripts
  tests/cephfs/quota/quota_bytes.py
  tests/cephfs/quota/quota_bytes_decrease.py
  tests/cephfs/quota/quota_bytes_increase.py
  tests/cephfs/quota/quota_bytes_remove.py
  tests/cephfs/quota/quota_files.py
  tests/cephfs/quota/quota_files_bytes.py
  tests/cephfs/quota/quota_files_decrease.py
  tests/cephfs/quota/quota_files_increase.py
  tests/cephfs/quota/quota_files_remove.py
  tests/cephfs/quota/quota_reboot.py
Labels: lgtm

#3979 NVMe 4GW HA failover and failback test with mTLS configuration
  ceph/ceph_admin/helper.py
  ceph/nvmegw_cli/__init__.py
  ceph/nvmegw_cli/connection.py
  ceph/nvmegw_cli/execute.py
  ceph/nvmegw_cli/gateway.py
  ceph/nvmegw_cli/host.py
  ceph/nvmegw_cli/listener.py
  ceph/nvmegw_cli/log_level.py
  ceph/nvmegw_cli/namespace.py
  ceph/nvmegw_cli/subsystem.py
  ceph/nvmegw_cli/version.py
  suites/reef/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
  tests/nvmeof/workflows/ha.py
  tests/nvmeof/workflows/nvme_gateway.py
  utility/ssl_certs.py
Labels: test case, lgtm, nvmeof

#3969 integrating rgw user cap user-info-without-keys tests into cephci
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3968 [TFA] Changes include timeout, know issue and interchange of testcase
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_cephadm.yaml
  suites/pacific/rgw/tier-2_rgw_multisite_scenarios.yaml
  suites/quincy/rgw/tier-1_rgw_ms_upgrade_6-0GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_6-0GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3983 [Tier-3] Cephci integration of polarion testcase : CEPH-83581962
  suites/reef/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
  suites/squid/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
Labels: pr-verified, RGW, lgtm, Tier-3

#3946 Automation of-CEPH-83593830 - Verify the scrub and deep-scrub parameters
  ceph/rados/rados_scrub.py
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_scrub_parameters.py
Labels: RADOS, lgtm, Polarion testcase

#3985 minor change in NVMe ha module
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
Labels: lgtm, nvmeof

#3986 [NFS-Ganesha][Squid] Add upgrade suite for NFS
  suites/squid/nfs/tier1-nfs-ganesha-upgrade-ibm-7x-to-8x-latest.yaml
  suites/squid/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-8x-latest.yaml
Labels: lgtm

#3989 [TFA] Remove testcase realated to Bug-2298084 as this RFE wont fix for quincy
  suites/pacific/rgw/tier-1_rgw_cephadm.yaml
  suites/pacific/rgw/tier-2_rgw_multisite_scenarios.yaml
  suites/quincy/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3984 [Tier-3]CEPH-83575305 - Disable dynamic reshard on primary, and let it be enabled on secondary
  suites/squid/rgw/baremetal/scale_rgw_multi_site.yaml
  tests/misc_env/push_cosbench_workload.py
Labels: RGW, lgtm, Tier-3, baremetal

#3995 [SMB][Squid]Add smb image support
  ceph/ceph_admin/bootstrap.py
  cli/ops/cephadm.py
Labels: lgtm, smb

#3994 NVMeOF REST sanity remaining
  rest/common/config/config.json
  rest/endpoints/nvmeof/nvmeof.py
  rest/workflows/nvmeof/nvmeof.py
  tests/nvmeof/test_nvmeof_rest_sanity.py
Labels: lgtm, approved

#3992 TFA-FIX-Added the number of objects parameter as a user input
  suites/quincy/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_client_pg_access.py
Labels: RADOS, lgtm, tfa-issue-fix

#3988 [test][dmfg] Verify rgw realm/zone deployment using spec file
  suites/quincy/cephadm/customer_bz/tier4-deploy-rgw-using-spec-file.yaml
  tests/cephadm/test_deploy_rgw_using_spec.py
Labels: lgtm, CephAdm, DMFG, close-loop-automation

#3978 cephfs_journal_tool functional(journal,header)
  suites/quincy/cephfs/tier-4_cephfs_recovery.yaml
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  suites/squid/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_journal_tool/cephfs_journal_tool_header_mode.py
  tests/cephfs/cephfs_journal_tool/cephfs_journal_tool_journal_mode.py
Labels: lgtm

#3965 mds cache oversized warning counter
  suites/quincy/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  suites/squid/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/test_mds_cache_oversized_warning_counter.py
Labels: lgtm

#4004 Change in conf file to use second client for IO
  suites/quincy/cephfs/tier-4_cephfs_system.yaml
  suites/reef/cephfs/tier-4_cephfs_system.yaml
  suites/squid/cephfs/tier-4_cephfs_system.yaml
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3997 Adding EC support for tier-2_cephfs_test_file_and_dir_layout
  tests/cephfs/cephfs_file_and_dir_layout/file_dir_layout_lifecycle_ops.py
Labels: lgtm

#3973 Updating mon deployment strategy with stretch mode
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/common_svc_template.jinja
  conf/pacific/rados/stretch-mode-host-location-attrs.yaml
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  conf/reef/rados/3AZ-cluster.yaml
  conf/reef/rados/stretch-mode-host-location-attrs.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-replica1.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-replica1.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_stretch_deployment_with_placement.py
Labels: RADOS, lgtm

#4008 [Squid][SMB][Automation]File Operation
  suites/squid/smb/tier-1-smb.yaml
  tests/smb/smb_clients_operations.py
  tests/smb/smb_operations.py
Labels: lgtm, smb

#3956 CEPH-83593841: Re-creation of OSD superblock upon corruption
  ceph/rados/objectstoretool_workflows.py
  suites/reef/rados/tier-2_rados_test_bluestore.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_osd_superblock.py
Labels: RADOS, lgtm, Tier-2, Polarion testcase, 7.1-bugs-automate

#3993 CEPH-83594645: Ensure client connection over v1 port does not crash
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-bugfixes.yaml
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_v1client.py
Labels: RADOS, lgtm, Tier-2, Polarion testcase, Ready-for-review, 7.1-bugs-automate

#4000 [8.0] New NVMe deployment support and suites modification
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_blocksize_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_1vol_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/squid/nvmeof/tier-1_nvmeof_ha_sanity.yaml
  suites/squid/nvmeof/tier-1_nvmeof_sanity.yaml
  suites/squid/nvmeof/tier-1_nvmeof_vmware_esx_sanity.yaml
  suites/squid/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_e2e_fips.yaml
  suites/squid/nvmeof/tier-2_nvmeof_functional_Regression.yaml
  suites/squid/nvmeof/tier-2_nvmeof_gateway_operations.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_128-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_64-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_128-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_64-sub_ns.yaml
  suites/squid/nvmeof/tier-3_6-nvmeof-gw_128-sub_ns.yaml
  suites/squid/nvmeof/tier-3_6-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_6-nvmeof-gw_64-sub_ns.yaml
  suites/squid/nvmeof/tier-3_8-nvmeof-gw_128-sub_ns.yaml
  suites/squid/nvmeof/tier-3_8-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_8-nvmeof-gw_64-sub_ns.yaml
  suites/squid/nvmeof/tier-3_nvmeof_bdev_fio_operations.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_blocksize_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_1vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_1vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_1vol_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/squid/nvmeof/tier-3_nvmeof_namespace_limit.yaml
  suites/squid/nvmeof/tier-3_nvmeof_restart_operations.yaml
  suites/squid/nvmeof/tier-3_nvmeof_scale_ns.yaml
  suites/squid/nvmeof/tier-3_nvmeof_scale_sub_ns.yaml
  suites/squid/nvmeof/tier-4_nvmeof_namespace_operations.yaml
  suites/squid/nvmeof/tier-4_nvmeof_neg_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
  tests/nvmeof/test_io_perf.py
  tests/nvmeof/workflows/ha.py
  tests/nvmeof/workflows/nvme_utils.py
  utility/systemctl.py
Labels: lgtm, nvmeof, 8.0

#4002 Adding ceph-sys-test project to cleanup script
  utility/psi_quota.py
  utility/psi_remove_vms.py
  utility/psi_volume_cleanup.py
Labels: lgtm

#4012 [Squid][SMB][Automation]File Operations
  suites/squid/smb/tier-1-smb.yaml
  tests/smb/smb_clients_operations.py
Labels: lgtm, smb

#4021 [Squid][SMB]Update suites
  suites/squid/smb/tier-1-smb-500-shares.yaml
  suites/squid/smb/tier-2-smb-load.yaml
  suites/squid/smb/tier-2-smb-multi-connections.yaml
  suites/squid/smb/tier-2-smb.yaml
Labels: lgtm

#4022 Adding tier 0 kernel pipeline
  suites/quincy/cephfs/tier-0_fs_kernel.yaml
  suites/reef/cephfs/tier-0_fs_kernel.yaml
  suites/squid/cephfs/tier-0_fs_kernel.yaml
Labels: lgtm

#3977 [Baremetal] update scale baremetal ms cluster with new nodes
  conf/baremetal/mero_multisite_1admin_3node_along_client.yaml
  suites/reef/baremetal/deploy/rh/mero_multisite_1admin_3node_along_client.yaml
  suites/reef/rgw/baremetal/mero_scale_rgw_multi_site.yaml
Labels: lgtm

#4017 [Squid][DMFG][UPI]Add suite
  suites/squid/cephadm/upi/upi-bootstrap-with-spec.yaml
  suites/squid/cephadm/upi/upi-service-apply-spec.yaml
Labels: lgtm, DMFG

#4018 [TFA][Ceph-Volume] Fix ceph-volume fails to get an inventory list test
  tests/ceph_volume/test_ceph_volume_get_inventory_list.py
Labels: lgtm, tfa-issue-fix

#4020 [Test][Cephadm] Add test to validate set max_mds count post upgrade
  cli/ceph/fs/fs.py
  suites/reef/upgrades/tier1-upgrade-rhcs-5x-to-7x.yaml
  tests/cephadm/test_validate_mds_post_upgrade.py
Labels: lgtm, CephAdm

#4032 Adding backtrace repair to squid
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  suites/squid/cephfs/tier-4_cephfs_recovery.yaml
Labels: lgtm

#4003 Adding EC support for FS Mirror suite
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirror_auth_caps.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirror_disconnect.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirror_ha_conversion.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_modify_remote_snapshots.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_multiple_snapshots.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_snap_status_using_asok.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_validate_cephfs-mirroring_on_multifs_setup.py
  tests/cephfs/cephfs_mirroring/validate_file_dir_stats_modification_on_mirrored_cluster.py
Labels: lgtm

#4014 Adding EC support to tier-1
  tests/cephfs/cephfs_snapshot_management.py
  tests/cephfs/client_authorize.py
  tests/cephfs/dir_pinning.py
  tests/cephfs/fs_kernel_mount_options.py
  tests/cephfs/no_recover_session_mount.py
  tests/cephfs/subvolume_authorize.py
Labels: lgtm

#4015 Fixing upgarde and squid issue
  tests/cephfs/cephfs_upgrade/upgrade_pre_req.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#4024 Adding EC support for vol mgmt suite
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_auto_clean_up.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_create_vol_component_exist_name.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_delete_non_exist_subvol_group.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_life_cycle.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_invalid_pool_layout.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_non_exist_subvol_group.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_pool_name_option_test.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_gid_uid.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_group_force.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_invalid_pool_layout.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_isolated_namespace.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_metadata.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_permissions.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_with_exist_names.py
  tests/cephfs/cephfs_vol_management/fs_del_allow_pool_false.py
Labels: lgtm

#4025 Adding EC support tier-2_fs
  tests/cephfs/mds_rm_add.py
  tests/cephfs/mon_rm_add.py
  tests/cephfs/stand_by_replay_mds.py
  tests/cephfs/test_io.py
Labels: lgtm

#4027 [Lib] Add library support for RESTful module operations
  api/__init__.py
  api/restful/pool.py
Labels: lgtm, CephMgr

#4030 CEPH-8359546: Switch NVMeoF with mTLS to Non-mTLS
  ceph/ceph_admin/helper.py
  suites/reef/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
  tests/nvmeof/workflows/nvme_utils.py
Labels: test case, lgtm, nvmeof, squid, 8.0

#4010 New Automation for MDS Standby Replay destructive tests
  suites/quincy/cephfs/tier-4_cephfs_system.yaml
  suites/reef/cephfs/tier-4_cephfs_system.yaml
  suites/squid/cephfs/tier-4_cephfs_system.yaml
  tests/cephfs/cephfs_system/mds_standby_replay_node_failure_ops.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Polarion testcase

#4031 [Test][Cephadm] Add test to validate host add without NOPASSWD in sud…
  cli/ceph/orch/host.py
  suites/reef/cephadm/tier4-service-operations.yaml
  suites/squid/cephadm/tier4-service-operations.yaml
  tests/cephadm/test_add_host_with_nopasswd_sudoers_file.py
Labels: lgtm, CephAdm

#3999 [TFA] s3cmd malformed url testcase rearrange
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#4006 [TFA] update timout, testcase description and name
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_6-0GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/upgrades/tier-1-upgrade-multisite-ibm-5x-to-6x.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/squid/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#4005 [TFA] disable sync testcase failed with "radosgw-admin" not found
  suites/squid/rgw/tier-2_rgw_ingress_multi_realm.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#4019 tfa-RHCEPHQE-15610: comment the known issue of md5sum mismatch on obj…
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4023 Adding haproxy config in squid for archive-colocate zone
  suites/squid/rgw/tier-2_rgw_3_way_multisite.yaml
  suites/squid/rgw/tier-3_archive_zone_colocate_data_zone.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4036 remove file.rdu.redhat.com references
  ceph/ceph.py
  ceph/utils.py
  tests/iscsi/update-kernel-iscsi.py
Labels: lgtm, approved

#4040 TFA fix for cg quiesce read and write failure after quiesce release
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4039 Disable cephadm before initiating cluster purge.
  purge_ceph_cluster.py
Labels: framework, lgtm

#4011 modification polarion tc ids
  suites/pacific/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/quincy/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/reef/cephfs/tier-1_fs_kernel_pipeline.yaml
  suites/squid/cephfs/tier-1_fs_kernel_pipeline.yaml
  tests/cephfs/clients/mds_journal_value_conf_verification.py
Labels: lgtm

#3991 [Squid] Add NFS scale tests
  suites/reef/nfs/tier-2_nfs_ganesha_spec_storage.yaml
  suites/squid/nfs/tier-2_nfs_ganesha_spec_storage.yaml
Labels: lgtm

#3990 [Test] Validate Mgr daemon RESTful module
  cli/ceph/ceph.py
  cli/ceph/restful/__init__.py
  cli/ceph/restful/restful.py
  suites/squid/cephmgr/tier2-restful-module.yaml
  tests/mgr/test_restful_module_enable.py
Labels: lgtm, CephMgr

#4029 [NFS-Ganesha][TFA][Tier1] Fix NFS Ganesha HA test failures
  conf/baremetal/nfs_extensa_1admin_3node_4client.yaml
  suites/reef/nfs/baremetal/tier1-nfs-ganesha-ha.yaml
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  suites/squid/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/nfs_ha_failover_delete_export.py
  tests/nfs/nfs_ha_failover_edit_export_config_client_permission.py
  tests/nfs/nfs_ha_failover_edit_export_config_with_ro.py
  tests/nfs/nfs_ha_failover_with_untar.py
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_test_multiple_filesystem_exports.py
  tests/nfs/nfs_verify_failover_with_file_ops.py
  tests/nfs/nfs_verify_file_lock_ha.py
Labels: lgtm

#4009 Adding EC support to nfs tests
  tests/cephfs/cephfs_nfs/2_node_nfs.py
  tests/cephfs/cephfs_nfs/data_backup_restore_bw_nfs_and_local_mounts.py
  tests/cephfs/cephfs_nfs/existing_path_nfs_export.py
  tests/cephfs/cephfs_nfs/modifying_nfs_cluster_invalid_value.py
  tests/cephfs/cephfs_nfs/move_data_bw_nfs_and_cephfs_mounts.py
  tests/cephfs/cephfs_nfs/nfs_config_reset.py
  tests/cephfs/cephfs_nfs/nfs_export_config.py
  tests/cephfs/cephfs_nfs/nfs_export_path.py
  tests/cephfs/cephfs_nfs/nfs_fuse_kernel_same_subvolume.py
  tests/cephfs/cephfs_nfs/nfs_ha_create_using_spec_ingress.py
  tests/cephfs/cephfs_nfs/nfs_ha_spec_file_add_host_while_IOs.py
  tests/cephfs/cephfs_nfs/nfs_info_cluster_id_and_ls_export_detailed.py
  tests/cephfs/cephfs_nfs/nfs_io_network_failures.py
  tests/cephfs/cephfs_nfs/nfs_mount_with_fstab.py
  tests/cephfs/cephfs_nfs/nfs_multiple_export_using_single_conf.py
  tests/cephfs/cephfs_nfs/nfs_non_exist_export_path.py
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
  tests/cephfs/cephfs_nfs/nfs_snaphshot_clone.py
  tests/cephfs/cephfs_nfs/nfs_subvolume_subvolumegroup.py
  tests/cephfs/cephfs_nfs/nfs_update_cluster_node_changes.py
  tests/cephfs/cephfs_nfs/read_only_nfs_export.py
  tests/cephfs/cephfs_nfs/recreate_same_name_nfs.py
  tests/cephfs/cephfs_nfs/subvolume_export.py
  tests/cephfs/cephfs_nfs/test_all_nfs_vers_mount_and_perform_failover.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_file_attributes_retention.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_active_power_off.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_deployment_cli.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_deployment_with_non_default_port.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_failover.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_keeplive_services.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_node_replacement.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_snapshot_access.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_transfer_file_bw_nfs_and_localfs.py
  tests/cephfs/cephfs_nfs/test_cephfs_upgrade_nfs_standalone_to_nfs_ha_cluster.py
  tests/cephfs/cephfs_nfs/test_data_integrity_nfs_cephfs_mounts.py
  tests/cephfs/cephfs_nfs/test_nfs_mount.py
  tests/cephfs/cephfs_nfs/zip_unzip_files_nfs.py
Labels: lgtm

#4044 Reduce retries checking for ceph health to be ok
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, tfa-issue-fix
