Repository red-hat-storage/cephci, pull requests merged in 2024-03, with the labels that each got.

#3456 Test rootsquash with enable and disable on multi exports
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_multivolume_rootsquash.py
  tests/nfs/nfs_operations.py
Labels: lgtm

#3457 fixing ingress daemon failures on reef using rhos-01 floating ip as vip
  suites/reef/rgw/tier-2_rgw_ingress_multi_realm.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3459 Reducing the ios for nfs mount
  tests/cephfs/cephfs_nfs/2_node_nfs.py
Labels: lgtm

#3463 Adding code changes Rados TFA fixes.
  ceph/rados/core_workflows.py
  tests/rados/customer_scenarios.py
  tests/rados/test_pg_split.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
  tests/rados/test_stretch_site_maintenance_modes.py
Labels: RADOS, lgtm, tfa-issue-fix

#3466 Updating mero2 config file
  conf/baremetal/mero2_1admin_4node_4client.yaml
Labels: lgtm

#3454 [LibFix] Update provisioner to support multiple cloud
  cephci/provision.py
  cli/cloudproviders/openstack.py
  cli/cluster/node.py
Labels: framework, lgtm

#3453 [Libs] Add baremetal cloud libraries
  cephci/utils/configs.py
  cli/cloudproviders/__init__.py
  cli/cloudproviders/baremetal.py
  examples/cephci.yaml
Labels: framework, lgtm

#3450 mds backtrace damage repoduce
  tests/cephfs/mds_backtrace_damage.py
Labels: Ceph-FS, lgtm

#3474 [NFS-Ganesha] Test remount of the NFS share on windows client
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_test_remount_windows.py
Labels: lgtm

#3475 Moving clara dmfg config to baremetal folder
  conf/baremetal/dmfg_clara_1admin_5node_2client.yaml
Labels: lgtm

#3478 [Configs] Update baremetal config files
  suites/reef/baremetal/deploy/dmfg_clara_1admin_4node_3client.yaml
  suites/reef/baremetal/deploy/nfs_folio3_3node_4client.yaml
  suites/reef/baremetal/upgrade/rh_dmfg_clara_1admin_4node_3client.yaml
  suites/reef/baremetal/upgrade/rh_nfs_folio3_1admin_3node_4client.yaml
Labels: lgtm, baremetal

#3479 [ConfigFix] Rename DMFG baremetal configs
  suites/reef/baremetal/dmfg_clara_1admin_5node_2client.yaml
  suites/reef/baremetal/upgrade/rh_dmfg_clara_1admin_5node_2client.yaml
Labels: lgtm, baremetal

#3480 [ConfigFix] Fix DMFG baremetal deployment suite path
  suites/reef/baremetal/deploy/dmfg_clara_1admin_5node_2client.yaml
Labels: framework, lgtm, baremetal

#3451 CEPHFS - Tier3 - CEPH-83584084
  suites/pacific/cephfs/tier-3_cephfs_bugs.yaml
  suites/quincy/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/create_large_file.py
  tests/cephfs/cephfs_bugs/test_validate_mclientcaps_revoke_ack.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Tier-3, Polarion testcase

#3461 Fio-as-a-service: containerised fio for ceph devices
  cli/io/fio/FIOaaS/Dockerfile
  cli/io/fio/FIOaaS/README.md
  cli/io/fio/FIOaaS/fio_files/1mbps_clients.fio
  cli/io/fio/FIOaaS/fio_files/default_directory.fio
  cli/io/fio/FIOaaS/fio_files/default_file.fio
Labels: lgtm, approved

#3444 [NFS][Scale][Windows] Add changes for windows scale with nfs
  cli/io/fio.py
  suites/reef/nfs/nfs_scale_windows_clients_with_fio.yaml
  tests/nfs/nfs_window_scale_fio_support.py
Labels: lgtm

#3465 Adding version check for granularity
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/snap_schedule.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3484 Logging more cluster details
  utility/validate_cluster_health.py
Labels: lgtm

#3483 Adding NFS extensa config file
  conf/baremetal/nfs_extensa_1admin_3node_4client.yaml
  suites/reef/baremetal/deploy/nfs_extensa_3node_4client.yaml
  suites/reef/baremetal/upgrade/rh_nfs_extensa_3node_4client.yaml
Labels: lgtm

#3487 [Config] Fix NFS baremetal upgrade testsuite name
  suites/reef/baremetal/upgrade/rh_nfs_extensa_1admin_3node_4client.yaml
Labels: framework, lgtm, baremetal

#3488 [Config] Add baremetal config for mero2 cluster
  suites/reef/baremetal/deploy/mero2_1admin_4node_4client.yaml
  suites/reef/baremetal/upgrade/rh_mero2_1admin_4node_4client.yaml
Labels: framework, lgtm, baremetal

#3471 Fixing sockertimeout in client suite
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/mds_scrub_after_failover.py
Labels: lgtm

#3473 Stretch tests: Adding -ve scenarios in stretch mode
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_osd_df.py
  tests/rados/test_stretch_deployment_with_placement.py
  tests/rados/test_stretch_negative_scenarios.py
Labels: RADOS, lgtm, Tier-4

#3489 [Configs] Update baremetal configs
  conf/baremetal/mero1_1admin_4node_4client.yaml
  conf/reef/baremetal/cali_conf.yaml
  conf/reef/baremetal/mero_conf.yaml
  suites/reef/baremetal/cali_suite.yaml
  suites/reef/baremetal/clara_suite.yaml
  suites/reef/baremetal/deploy/mero1_1admin_4node_4client.yaml
  suites/reef/baremetal/mero_suite.yaml
  suites/reef/baremetal/upgrade/rh_mero1_1admin_4node_4client.yaml
Labels: framework, lgtm, baremetal

#3469 [tfa-fix] Add purge cluster in suite for cluster redeployment
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3470 [tfa-fix] Remove dashboard parameter from the bootstrap modules
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-custom-ssh.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-exisitng-keys.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/cephadm-bootstrap.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3491 [Baremetal] Test suite for NFS
  suites/reef/nfs/baremetal/tier1-nfs-ganesha-phase2.yaml
Labels: lgtm, baremetal

#3492 [LibFix] Update baremetal provisioner libraries
  cephci/utils/configs.py
  cli/cloudproviders/baremetal.py
  cli/cluster/node.py
Labels: framework, lgtm, baremetal

#3493 [ConfigFix] Rename NFS deploy test suite
  suites/reef/baremetal/deploy/nfs_extensa_1admin_3node_4client.yaml
Labels: framework, lgtm

#3481 Ceph-ci Integration: Etag validation of aws complete multipart upload
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, Tier-1, lgtm

#3460 [Automation][Cephadm]Add osd crush device class scenario
  suites/quincy/cephadm/tier-1-osd-crush-device-class.yaml
  suites/reef/cephadm/tier-1-osd-crush-device-class.yaml
  tests/cephadm/test_osd_crush_device_class.py
Labels: lgtm, CephAdm

#3468 Add support to separate sync rgws from io rgws daemons in a multisite environment
  conf/reef/rgw/3-way-ms-ec-profile-2+2@4nodes.yaml
  suites/reef/rgw/tier-2_rgw_3_way_multisite.yaml
Labels: pr-verified, RGW, lgtm

#3482 [Automation][NFS-Gaensha]Add windows client scenarios
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_verify_file_access_linux_v4_windows_v3.py
  tests/nfs/nfs_verify_linux_windows_clients_v3_io.py
  tests/nfs/nfs_verify_windows_parallel_readdir.py
Labels: lgtm, nfs-ganesha

#3495 Removing pdb statements
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
Labels: lgtm

#3485 [NFS-Ganesha] Test the readonly permissions with windows client
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/test_nfs_export_readonly_windows.py
Labels: lgtm

#3464 [Tier-2] Cephci Integration of polarion tc : CEPH-83575141
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, early-automation-7.1

#3496 Pipeline fix for sending email for rhos-d quota usage.
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  utility/psi_quota.py
Labels: lgtm

#3490 Adding rados stretch cluster config for extensa nodes
  conf/baremetal/rados_extensa_1admin_5node_1client.yaml
  suites/reef/baremetal/deploy/rados_extensa_5node_1client.yaml
  suites/reef/baremetal/upgrade/rh_rados_extensa_1admin_5node_1client.yaml
Labels: framework, lgtm, baremetal

#3499 [LibFix] Update cluster-conf library to create config
  cephci/cluster_conf.py
Labels: framework, lgtm, baremetal

#3498 [Lib] Update steps to get public IP for baremetal
  cli/cloudproviders/baremetal.py
Labels: framework, lgtm, baremetal

#3506 [Lib] Add baremetal provisioning support
  cephci/cluster_conf.py
  cephci/provision.py
  cli/cloudproviders/baremetal.py
  cli/cloudproviders/openstack.py
Labels: framework, lgtm, baremetal

#3500 [Ganesha] Test rootsquash with parallel readdir operation
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_verify_readdir_operation.py
Labels: lgtm

#3398 Adding db and wal to an OSD
  ceph/rados/core_workflows.py
  suites/quincy/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/reef/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  tests/rados/test_add_db_wal_cbt.py
Labels: RADOS, lgtm, Polarion testcase, Ready-for-review, baremetal

#3503 Modified code to remove the configuration parameter settings
  ceph/rados/rados_scrub.py
  tests/rados/scheduled_scrub_scenarios.py
Labels: RADOS, lgtm, tfa-issue-fix

#3504 RBD group image add and IO usecase
  ceph/rbd/workflows/group.py
  ceph/rbd/workflows/krbd_io_handler.py
  ceph/rbd/workflows/rbd.py
  cli/rbd/group.py
  cli/rbd/rbd.py
  suites/quincy/rbd/tier-2_rbd_group.yaml
  suites/reef/rbd/tier-2_rbd_group.yaml
  tests/rbd/test_rbd_groups_image_usecase.py
Labels: lgtm, approved

#3511 Update polarion ID in the testcase
  suites/quincy/baremetal_pipeline/tier-1_rgw_ms.yaml
Labels: RGW, lgtm, Tier-3, baremetal

#3494 CI integration for non-ascii S3 request tests
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: lgtm

#3390 Integration of LC cloud automation(IBM-COS)
  suites/reef/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW, Tier-1, lgtm, Tier-2

#3510 [Tier-3] CEPH-83575074: cleanup workload bi-directional object workload
  suites/quincy/baremetal_pipeline/tier-1_rgw_ms.yaml
  tests/misc_env/push_cosbench_workload.py
Labels: pr-verified, RGW, lgtm, Tier-3, baremetal

#3512 [Tier-2] cephci integration of polarion ID : CEPH-83575140
  suites/reef/rgw/tier-1_rgw_ms_upgrade_7_0GA_to_7x_latest.yaml
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, early-automation-7.1

#3501 Rados TFA fixes
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/pool_tests.py
  tests/rados/rados_test_util.py
  tests/rados/stretch_cluster.py
  tests/rados/test_bluestore_configs.py
  tests/rados/test_osd_inconsistency_pg.py
  tests/rados/test_pg_log_limit.py
  tests/rados/test_scrub_log.py
  tests/rados/test_stretch_deployment_with_placement.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
Labels: RADOS, lgtm, tfa-issue-fix

#3508 cephfs-metrics functional test workflow
  suites/reef/cephfs/tier-2_cephfs_mirror_metrics.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_configure_cephfs_mirroring.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_metrics.py
Labels: Ceph-FS, lgtm, RHCS-7.1-New-Feature

#3477 Test to integrate LDAP users with RGW on containerised ceph
  suites/reef/rgw/tier-2_rgw_ldap_integration.yaml
Labels: RGW, lgtm

#3507 CEPH-83571692: Extending coverage for non-collocated operations with CBT
  ceph/rados/bluestoretool_workflows.py
  ceph/rados/core_workflows.py
  conf/pacific/rados/11-node-cluster.yaml
  conf/quincy/rados/11-node-cluster.yaml
  conf/reef/rados/11-node-cluster.yaml
  suites/pacific/rados/tier-2_rados_test_cot_cbt.yaml
  suites/quincy/rados/tier-2_rados_test_cot_cbt.yaml
  suites/reef/rados/tier-2_rados_test_cot_cbt.yaml
  tests/misc_env/lvm_deployer.py
  tests/rados/test_add_db_wal_cbt.py
  tests/rados/test_bluestoretool_workflows.py
  utility/lvm_utils.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review

#3513 RADOS TFA fixes for osd stats, health warns, omap entries
  ceph/rados/core_workflows.py
  ceph/rados/objectstoretool_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_mon_pg_warn.py
  tests/rados/test_objectstore_block.py
  tests/rados/test_osd_df.py
  tests/rados/test_osd_memory_target.py
  tests/rados/test_osd_onode_trimming.py
  tests/rados/test_osdmap_trim.py
Labels: RADOS, lgtm, tfa-issue-fix

#3505 [Nfs]Add test to validate edit export permissions
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_edit_export_config_with_1client_access.py
Labels: lgtm

#3515 RADOS TFA fix for 'mon_pg_warn_max_object_skew'
  tests/rados/test_mon_pg_warn.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#3497 Adding parse results to specstorage
  cli/io/spec_storage.py
  suites/reef/cephfs/tier-2_cephfs_io.yaml
  tests/cephfs/cephfs_spec_storage.py
Labels: lgtm

#3516 Adding disable console logging
  run.py
  utility/log.py
Labels: needs-testing, lgtm

#3517 Updated startup log to use common logger
  run.py
Labels: lgtm

#3522 [Config] Restructure baremetal configs
  suites/reef/baremetal/deploy/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/reef/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/reef/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/reef/baremetal/deploy/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/reef/baremetal/deploy/rh/nfs_folio3_3node_4client.yaml
  suites/reef/baremetal/deploy/rh/rados_extensa_5node_1client.yaml
  suites/reef/baremetal/upgrade/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/reef/baremetal/upgrade/rh/mero1_1admin_4node_4client.yaml
  suites/reef/baremetal/upgrade/rh/mero2_1admin_4node_4client.yaml
  suites/reef/baremetal/upgrade/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/reef/baremetal/upgrade/rh/nfs_folio3_1admin_3node_4client.yaml
  suites/reef/baremetal/upgrade/rh/rados_extensa_1admin_5node_1client.yaml
Labels: framework, lgtm, baremetal

#3521 adding known issue for s3tests list_buckets_bad_auth and invaild_auth on reef
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3524 [NFS-Ganesha] Revert v3 changes
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_multivolume_rootsquash.py
  tests/nfs/nfs_operations.py
Labels: lgtm

#3527 Fix for sending email for rhosd cleanup
  pipeline/rhos_scripts/Jenkinsfile-cleanup-env.groovy
Labels: lgtm

#3520 [NFS-Ganesha][Automation]Add window scenario
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_verify_enable_rootsquash_window_v3_linux_v4.py
Labels: lgtm, nfs-ganesha

#3528 upgrade fix for slowness issue
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
Labels: lgtm

#3523 Suite to test compression and encryption with S/W QAT enabled on the …
  suites/reef/rgw/tier-1_rgw_sw_qat.yaml
Labels: RGW, lgtm

#3531 [TFA-Fix] Enable log to console in run.py of cephci
  run.py
Labels: pr-verified, framework, RGW, lgtm, tfa-issue-fix

#3529 Disable sync between zones in case of multizone configuration
  suites/pacific/rgw/tier-1_rgw_cephadm.yaml
  suites/reef/rgw/tier-1_rgw_with_multi_realm.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3514 Updating the resource details based on new cloud
  compute/ibm_vpc.py
  conf/inventory/ibm-vpc-rhel-9.2-minimal_ref.yaml
  run.py
Labels: lgtm

#3538 integrating s3select query generation tests on csv objects
  suites/reef/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, lgtm

#3518 Fix mirror dir issue
  tests/cephfs/cephfs_mirroring/validate_file_dir_stats_modification_on_mirrored_cluster.py
Labels: lgtm

#3535 cephci integration of CEPH-83574044
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3540 [Tier-3] Remove known issue from TC for BZ-2266248
  suites/reef/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3544 Remove known issue commnet since BZ2257978 is verified
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3537 [Tier-3] polarion integration of polarion ID : CEPH-11478
  suites/reef/baremetal/tier-3_rgw.yaml
Labels: pr-verified, RGW, lgtm, Tier-3

#3530 CEPH-83582009 | CEPH-83582010: EIO flag on a replica-1 pool
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/quincy/rados/tier-2_rados_test-replica1.yaml
  suites/quincy/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-replica1.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-4_rados_test-pool-osd-recovery.yaml
  tests/rados/test_osd_memory_target.py
  tests/rados/test_replica1.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, lgtm, Tier-2, Ready-for-review, RHCS-7.1-New-Feature

#3525 Test archive zone colocation with data zone on same ceph cluster
  conf/reef/rgw/tier-3_archive_zone_colocate_data_zone_conf.yaml
  suites/reef/rgw/tier-3_archive_zone_colocate_data_zone.yaml
Labels: RGW, lgtm, Tier-3

#3542 Fixing tier-3 TC 11330
  tests/cephfs/clients/client_option_value_verification.py
Labels: lgtm

#3539 Adding multisite config file for extensa and clara nodes
  conf/baremetal/rgw_multisite_extensa_clara.yaml
Labels: lgtm

#3548 Adding retry for wipefs in reimage script
  pipeline/scripts/ci/reimage-octo-node.sh
  pipeline/scripts/ci/server_setup_utils.sh
Labels: lgtm

#3550 Update cephci with product bugs as part of TFA
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
  suites/reef/rgw/tier-2_rgw_test_lifecycle.yaml
Labels: lgtm

#3546 Cephci integration : CEPH-11478
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, lgtm, Tier-3

#3534 [Tier-3] Cephci integration of CEPH-83575879
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: pr-verified, RGW, lgtm, Tier-3, early-automation-7.1

#3554 Fixing FS Test case
  suites/pacific/cephfs/tier-3_cephfs.yaml
  suites/quincy/cephfs/tier-3_cephfs.yaml
  suites/reef/cephfs/tier-3_cephfs.yaml
  tests/cephfs/osd_add_rm_FS_IO.py
Labels: Ceph-FS, lgtm

#3553 CEPH-83582326 - Deploy the cluster with the RocksDB compress enabled with the LZ4compression and perform regression tests
  suites/reef/rados/tier-2_rados_test_parameters.yaml
  tests/rados/test_config_parameter_chk.py
Labels: RADOS, lgtm, Polarion testcase, Ready-for-review

#3555 Correcting suite file names
  suites/reef/baremetal/deploy/rh/rados_extensa_1admin_5node_1client.yaml
Labels: lgtm

#3558 Include s3tests tescases in regression execution of reef and quincy
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3532 Integrating tests for LC improvements testcases in active zones
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: RGW, Tier-1, lgtm, Tier-3, RHCS-7.1-New-Feature

#3557 Changes in vault install script to accomodate failures for baremetal
  tests/misc_env/install_vault.py
Labels: lgtm

#3526 [TestFix] Fix Tier 0 NFS failure
  tests/nfs/nfs_edit_export_config_with_1client_access.py
Labels: lgtm

#3565 [ConfFix] Fix multisite baremetal cluster config path
  conf/baremetal/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/reef/baremetal/deploy/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/reef/baremetal/upgrade/rh/extensa_clara_multisite_1admin_4node_1client.yaml
Labels: framework, lgtm, baremetal

#3569 Include known issue BZ2271806 for bucket tagging in s3tests
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3566 Remove known issue of aws-etag empty issue from reef
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3552 Integration of the Java S3tests suite
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  tests/rgw/java_s3tests.py
Labels: RGW, lgtm

#3561 Add s3_copy_via_encryption and chown_of_an_sse-s3_bucket in reef suites
  suites/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
  suites/reef/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
Labels: lgtm

#3567 adding right yaml for kafka_none_persistent in notification suites
  suites/nautilus/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3568 Cephci integration: CEPH-83574088:Changing the value of rgw_data_log_…
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/reef/rgw/tier-2_rgw_multisite_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-3

#3545 Integration of assume-role test at multisite.
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW, lgtm, Tier-3

#3564 [Tier-3] Cephci integration of polarion testcase : CEPH-83575077
  suites/quincy/baremetal_pipeline/tier-1_rgw_ms.yaml
  suites/reef/baremetal/deploy/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  tests/misc_env/push_cosbench_workload.py
Labels: pr-verified, RGW, lgtm, Tier-3, baremetal

#3571 Include known issue BZ2272164
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm, tfa-issue-fix
