Repository red-hat-storage/cephci, pull requests merged in 2024-05, with the labels that each got.

#3643 [NFS-Ganesha][HA] Test file remove with node reboot
  cli/utilities/utils.py
  suites/reef/nfs/tier1-nfs-ganesha-ha-windows.yaml
  tests/nfs/nfs_failover_with_rm_operation_windows.py
  tests/nfs/nfs_ha_client_update_permission_windows.py
Labels: lgtm

#3648 [Test][Cephadm] Verify wrong image name while upgrade
  suites/reef/upgrades/tier1-upgrade-rhcs-6x-to-7x.yaml
  tests/cephadm/test_cephadm_upgrade.py
Labels: lgtm

#3660 [ConfFix] Add missing polarion id's to tests
  suites/pacific/cephadm/tier-1_cephadm-clients.yaml
  suites/quincy/cephadm/tier-1_cephadm-clients.yaml
Labels: lgtm

#3661 [Fix] Add ceph-volume conf for reef
  conf/reef/ceph_volume/tier-2_cephvolume_5node_.yaml
  suites/reef/ceph_volume/tier2-ceph-volume-lvm.yaml
Labels: lgtm

#3663 Improved logging and added polarion Id
  suites/reef/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  tests/nvmeof/workflows/ha.py
Labels: lgtm, approved, nvmeof

#3665 [DMFG][Bare-Metal]Update suite
  suites/reef/cephadm/upi/upi-dmfg-deployment.yaml
Labels: lgtm

#3651 CG quiesce post upgrade validation test
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
Labels: Ceph-FS, lgtm, Polarion testcase, RHCS-7.1-New-Feature

#3654 fixing sse test failures in single site suite because of wrong module
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
  suites/reef/rgw/tier-1_rgw_sw_qat.yaml
  suites/reef/rgw/tier-2_rgw_ms_async_data_notification.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3658 [Config] Add RHEL 9.4 & 8.10 inventories
  conf/inventory/rhel-8.10-server-x86_64-large.yaml
  conf/inventory/rhel-8.10-server-x86_64.yaml
  conf/inventory/rhel-9-latest.yaml
  conf/inventory/rhel-9.4-server-x86_64-large.yaml
  conf/inventory/rhel-9.4-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.4-server-x86_64.yaml
Labels: framework, lgtm

#3666 [Reef][Cephadm][Customer Bug]Update Suite
  suites/reef/cephadm/tier1-service-apply-spec.yaml
Labels: lgtm, CephAdm, DMFG

#3671 Update new cmd syntax in testlib, add retry cnt for read in io_tool
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_utils.py
Labels: Ceph-FS, lgtm, early-automation-7.1

#3657 fixing issue with kafka re-installation on baremetal
  utility/utils.py
Labels: RGW, lgtm, tfa-issue-fix

#3672 NVMe baremetal test cluster config and suite
  conf/baremetal/nvme_cali_1admin_6node_2client.yaml
  suites/reef/baremetal/deploy/rh/nvme_cali_1admin_6node_2client.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_16-sub_ns.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_2-sub_ns.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_8-sub_ns.yaml
  suites/reef/nvmeof/tier-3_4-nvmeof-gw_16-sub_ns.yaml
  suites/reef/nvmeof/tier-3_4-nvmeof-gw_2-sub_ns.yaml
  suites/reef/nvmeof/tier-3_4-nvmeof-gw_8-sub_ns.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_1vol_bm.yaml
Labels: lgtm, approved, nvmeof, baremetal

#3674 TFA fixes for Stretch mode BM pipeline failures
  ceph/rados/core_workflows.py
  suites/quincy/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/reef/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  tests/rados/monitor_configurations.py
  tests/rados/pool_tests.py
  tests/rados/test_bluestore_configs.py
  tests/rados/test_osd_memory_target.py
Labels: RADOS, lgtm, tfa-issue-fix

#3676 Fixing upgrade suites failing
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_upgrade/metadata_version_validation.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3668 [TFA][NFS-Ganesha][Non HA]Fix the windows client tests failures
  cli/utilities/utils.py
  suites/reef/nfs/tier1-nfs-ganesha-windows-clients.yaml
  tests/nfs/nfs_edit_export_config_with_1client_access.py
  tests/nfs/nfs_export_rootsquash_windows.py
  tests/nfs/nfs_multivolume_rootsquash.py
  tests/nfs/nfs_rootsquash_post_io_operation_windows.py
  tests/nfs/nfs_test_remount_windows.py
  tests/nfs/nfs_verify_enable_rootsquash_window_v3_linux_v4.py
  tests/nfs/nfs_verify_file_access_linux_v4_windows_v3.py
  tests/nfs/nfs_verify_linux_windows_clients_v3_io.py
  tests/nfs/nfs_verify_mount_linux_v4_windows_clinet_v3.py
  tests/nfs/nfs_verify_mount_mutli_os_with_mount_combinations.py
  tests/nfs/nfs_verify_multi_client_reboot_with_io.py
  tests/nfs/nfs_verify_readdir_operation.py
  tests/nfs/nfs_verify_v3_mount_window_linux.py
  tests/nfs/nfs_verify_window_clinets_file_rename_lookups.py
  tests/nfs/nfs_verify_windows_parallel_readdir.py
  tests/nfs/test_nfs_export_readonly_windows.py
Labels: lgtm

#3667 Adding tc 83589266
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  tests/cephfs/cephfs_bugs/validate_ceph_ops_wtih_fs_fail.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#3653 Remove known issue BZ2271806 since BZ isverified for 7.1
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3686 [Fix] Correct utils import
  cephci/prereq.py
Labels: lgtm

#3683 New Automation,TFA fixes,Crash check
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_system_test.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
  tests/cephfs/snapshot_clone/cg_snap_utils.py
Labels: Ceph-FS, lgtm, tfa-issue-fix, early-automation-7.1

#3688 Moving a TC to Baremetal Suite
  suites/reef/cephfs/tier-3_cephfs_bugs.yaml
  suites/reef/cephfs/tier-3_cephfs_bugs_baremetal.yaml
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3689 update nvmeof baremetal configuration
  conf/baremetal/nvme_cali_1admin_6node_2client.yaml
Labels: lgtm, nvmeof, baremetal

#3669 TFA fixes for rados suite failures
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/cephadm/test_client.py
  tests/rados/test_inconsistency_osd_epoch.py
  tests/rados/test_pg_split.py
  tests/rados/test_rados_preempt_scrub.py
Labels: RADOS, lgtm, tfa-issue-fix

#3681 TFA fix for the Inconsistent objects in EC pool functionality check
  ceph/rados/core_workflows.py
  tests/rados/test_osd_ecpool_inconsistency_scenario.py
Labels: RADOS, lgtm, tfa-issue-fix

#3682 TFA Fix for Scheduled scrub validation
  suites/pacific/rados/tier-2_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/scheduled_scrub_scenarios.py
Labels: RADOS, lgtm, tfa-issue-fix

#3685 [RADOS] TFA fix for ceph df stats and ceph osd df stats
  conf/reef/rados/depressa-cluster.yaml
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_cephdf.py
  tests/rados/test_osd_df.py
Labels: RADOS, lgtm, Ready-for-review, tfa-issue-fix

#3644 [Test][Cephadm]Ceph MGR repeatedly goes unresponsive requiring a restart
  suites/quincy/upgrades/tier-2_upgrade_5x-to-6x-node-offline.yaml
  tests/cephadm/test_verify_upgrade_when_host_offline.py
Labels: pr-verified, Upgrade, lgtm, approved, Tier-4, Reef

#3680 pool_tests.py: Adding validations for pool based warnings on cluster
  ceph/rados/core_workflows.py
  conf/pacific/rados/test-confs/pool-configurations.yaml
  conf/quincy/rados/test-confs/pool-configurations.yaml
  conf/reef/rados/test-confs/pool-configurations.yaml
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/monitor_configurations.py
  tests/rados/pool_tests.py
Labels: RADOS, lgtm, tfa-issue-fix

#3691 [Cephadm][Test] Add test to validate bootstrap with CA signed ssh keys
  cli/utilities/utils.py
  suites/reef/cephadm/tier4-bootstrap-with-ca-signed-ssh-keys.yaml
  tests/ceph_installer/test_cephadm.py
Labels: lgtm

#3662 NVMeOF REST sanity part 1
  rest/common/config/config.json
  rest/endpoints/nvmeof/__init__.py
  rest/endpoints/nvmeof/nvmeof.py
  rest/workflows/nvmeof/__init__.py
  rest/workflows/nvmeof/nvmeof.py
  run.py
  suites/reef/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  tests/nvmeof/rest/__init__.py
  tests/nvmeof/rest/test_nvmeof_rest_sanity.py
Labels: lgtm

#3695 Adding retry command for nfs touch
  suites/reef/cephfs/tier-2_cephfs_test-nfs.yaml
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3697 [TFA][NFS-Ganesha][HA]Fix the windows client tests failures
  suites/reef/nfs/tier1-nfs-ganesha-ha-windows.yaml
  tests/nfs/nfs_failover_with_rm_operation_windows.py
  tests/nfs/nfs_ha_client_update_permission_windows.py
  tests/nfs/nfs_ha_export_delete_windows.py
  tests/nfs/nfs_ha_reboot_with_file_modify.py
  tests/nfs/nfs_verify_ha_readonly_windows.py
Labels: lgtm

#3692 [NFS-Ganesha]Add NFS vers 4.2 tier 1 Test Suite
  suites/reef/nfs/nfs-vers-4_2/tier1-nfs-ganesha-phase2-v4_2.yaml
  suites/reef/nfs/nfs-vers-4_2/tier1-nfs-ganesha-v4_2.yaml
Labels: lgtm

#3693 Verify ceph status is healthy before starting snap schedule test
  suites/reef/cephfs/tier-0_cephfs_upgrade_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_6x_to_7x.yaml
  tests/cephfs/snapshot_clone/snap_schedule.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3670 [Test] Add ceph-volume sanity test
  cli/ceph/auth/__init__.py
  cli/ceph/auth/auth.py
  cli/ceph/ceph.py
  cli/ceph/ceph_volume/lvm.py
  cli/cephadm/cephadm.py
  conf/reef/cephmgr/tier-2-cephmgr-4node.yaml
  suites/quincy/ceph_volume/tier1-ceph-volume-sanity.yaml
  suites/reef/ceph_volume/tier1-ceph-volume-sanity.yaml
  tests/ceph_volume/test_ceph_volume_sanity.py
Labels: lgtm

#3696 Adding IO suites for baremetal pipeline
  suites/reef/baremetal/io/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/reef/baremetal/io/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/reef/baremetal/io/rh/mero1_1admin_4node_4client.yaml
  suites/reef/baremetal/io/rh/mero2_1admin_4node_4client.yaml
  suites/reef/baremetal/io/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/reef/baremetal/io/rh/nfs_folio3_3node_4client.yaml
  suites/reef/baremetal/io/rh/nvme_cali_1admin_6node_2client.yaml
  suites/reef/baremetal/io/rh/rados_extensa_1admin_5node_1client.yaml
Labels: lgtm

#3684 TFA: deleted bucket stats and bucket pol retain at archive zone
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: RGW, lgtm, tfa-issue-fix

#3675 Integrate Java Maven tests into cephCI
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  tests/rgw/java_s3tests.py
Labels: RGW, lgtm

#3698 [Tests] Add smoke tests for squid
  conf/squid/smoke/1admin-4node-1client-bvt.yaml
  suites/squid/smoke/build.yaml
  suites/squid/smoke/bvt.yaml
Labels: test case, Tier-0, lgtm

#3703 Fixing nfs Read only issue
  tests/cephfs/cephfs_nfs/nfs_ro_rw_access.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#3570 RBD migration of images with qcow external data
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/migration.py
  ceph/rbd/workflows/rbd.py
  cli/rbd/migration.py
  cli/rbd/rbd.py
  suites/quincy/rbd/tier-3_rbd_migration.yaml
  suites/reef/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_rbd_image_migration_qcow.py
Labels: RBD, lgtm, approved

#3694 [ConfFix] Fix wrong polarion id
  suites/reef/cephadm/tier4-bootstrap-with-ca-signed-ssh-keys.yaml
Labels: lgtm

#3708 [squid][upgrade]Add upgrade suite
  conf/squid/upgrades/1admin-3node-1client-upgrade.yaml
  suites/squid/upgrades/tier1-upgrade-ibm-6x-to-8x.yaml
  suites/squid/upgrades/tier1-upgrade-ibm-7x-to-8x.yaml
  suites/squid/upgrades/tier1-upgrade-rhcs-6x-to-8x.yaml
  suites/squid/upgrades/tier1-upgrade-rhcs-7x-to-8x.yaml
  suites/squid/upgrades/tier1-upgrade-with-monitoring-stack-ibm-7x-to-8x.yaml
  suites/squid/upgrades/tier1-upgrade-with-monitoring-stack-rhcs-7x-to-8x.yaml
  suites/squid/upgrades/tier2-upgrade-ibm-staggered-6x-to-8x.yaml
  suites/squid/upgrades/tier2-upgrade-ibm-staggered-7x-to-8x.yaml
  suites/squid/upgrades/tier2-upgrade-rhcs-staggered-6x-to-8x.yaml
  suites/squid/upgrades/tier2-upgrade-rhcs-staggered-7x-to-8x.yaml
Labels: Upgrade, lgtm, squid

#3712 Adding baremetal deploy, upgrade and io suites for 8.0
  suites/squid/baremetal/deploy/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/squid/baremetal/deploy/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/squid/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/squid/baremetal/deploy/rh/nfs_folio3_3node_4client.yaml
  suites/squid/baremetal/deploy/rh/nvme_cali_1admin_6node_2client.yaml
  suites/squid/baremetal/deploy/rh/rados_extensa_1admin_5node_1client.yaml
  suites/squid/baremetal/io/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/squid/baremetal/io/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/squid/baremetal/io/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/io/rh/mero2_1admin_4node_4client.yaml
  suites/squid/baremetal/io/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/squid/baremetal/io/rh/nfs_folio3_3node_4client.yaml
  suites/squid/baremetal/io/rh/nvme_cali_1admin_6node_2client.yaml
  suites/squid/baremetal/io/rh/rados_extensa_1admin_5node_1client.yaml
  suites/squid/baremetal/upgrade/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/squid/baremetal/upgrade/rh/extensa_clara_multisite_1admin_4node_1client.yaml
  suites/squid/baremetal/upgrade/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/upgrade/rh/mero2_1admin_4node_4client.yaml
  suites/squid/baremetal/upgrade/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/squid/baremetal/upgrade/rh/nfs_folio3_1admin_3node_4client.yaml
  suites/squid/baremetal/upgrade/rh/rados_extensa_1admin_5node_1client.yaml
Labels: lgtm

#3714 [TFA] Including RGW suites for squid execution
  conf/squid/rgw/3-way-ms-ec-profile-2+2@4nodes.yaml
  conf/squid/rgw/cloud_transition.yaml
  conf/squid/rgw/ec-profile-4+2-cluster.yaml
  conf/squid/rgw/migrate_default_single_to_multisite.yaml
  conf/squid/rgw/ms-ec-profile-4+2-cluster.yaml
  conf/squid/rgw/rgw_ms_archive.yaml
  conf/squid/rgw/rgw_multisite.yaml
  conf/squid/rgw/tier-0_rgw.yaml
  conf/squid/rgw/tier-1_rgw_multirealm.yaml
  conf/squid/rgw/tier-2_rgw_ms_archive_with_haproxy_conf.yaml
  conf/squid/rgw/tier-3_archive_zone_colocate_data_zone_conf.yaml
  suites/squid/rgw/baremetal/scale_rgw_multi_site.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
  suites/squid/rgw/migrate_default_single_to_multisite.yaml
  suites/squid/rgw/sanity_rgw.yaml
  suites/squid/rgw/sanity_rgw_multisite.yaml
  suites/squid/rgw/tier-1_rgw.yaml
  suites/squid/rgw/tier-1_rgw_archive_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_datalog_and_crash.yaml
  suites/squid/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_multirealm_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_multisite.yaml
  suites/squid/rgw/tier-1_rgw_sw_qat.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_with_multi_realm.yaml
  suites/squid/rgw/tier-2_rgw_3_way_multisite.yaml
  suites/squid/rgw/tier-2_rgw_cloud_transition.yaml
  suites/squid/rgw/tier-2_rgw_ingress_multi_realm.yaml
  suites/squid/rgw/tier-2_rgw_ldap_integration.yaml
  suites/squid/rgw/tier-2_rgw_ms-archive.yaml
  suites/squid/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/squid/rgw/tier-2_rgw_ms_failover_failback.yaml
  suites/squid/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_multisite_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_multisite_scenarios.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/squid/rgw/tier-2_rgw_sts_aswi.yaml
  suites/squid/rgw/tier-2_rgw_test_basic_sanity_with_d3n_enabled.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_sasl.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
  suites/squid/rgw/tier-2_rgw_test_lifecycle.yaml
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-3_archive_zone_colocate_data_zone.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: framework, RGW, Upgrade, lgtm, PipelineV3.0

#3713 [Suite][Squid] Add NFS suites for Squid
  conf/squid/nfs/1admin-12node-4client.yaml
  conf/squid/nfs/1admin-7node-3client.yaml
  suites/squid/nfs/baremetal/tier1-nfs-ganesha-phase2.yaml
  suites/squid/nfs/tier0-nfs-ganesha-v3.yaml
  suites/squid/nfs/tier0-nfs-ganesha-vers-4-2.yaml
  suites/squid/nfs/tier0-nfs-ganesha.yaml
  suites/squid/nfs/tier1-nfs-ganesha-phase2-v4-2.yaml
  suites/squid/nfs/tier1-nfs-ganesha-v4-2.yaml
  suites/squid/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm

#3709 [squid][dmfg] Add cephadm conf and suite
  conf/squid/cephadm/1admin-10node-1client-cephadm-scale.yaml
  conf/squid/cephadm/1admin-4node-1client-cluster.yaml
  conf/squid/cephadm/1admin-4node-1client-mix-os.yaml
  conf/squid/cephadm/1admin-8node-1client-cluster.yaml
  conf/squid/cephadm/1admin-9node-mix-client.yaml
  conf/squid/cephadm/2admin-3node-1rgw-1client-sanity.yaml
  conf/squid/cephadm/2admin-5node-1client-cluster.yaml
  conf/squid/cephadm/rhos01-1admin-5node-multiple-subnet.yaml
  conf/squid/cephadm/rhosd-1admin-5node-multiple-subnet.yaml
  suites/squid/cephadm/tier0-cephadm.yaml
  suites/squid/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/squid/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-docker.yaml
  suites/squid/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-registry-details.yaml
  suites/squid/cephadm/tier1-cephadm-ansible-wrapper-modules.yaml
  suites/squid/cephadm/tier1-cephadm-bootstrap-with-mgr-image-config.yaml
  suites/squid/cephadm/tier1-cephadm-clients.yaml
  suites/squid/cephadm/tier1-container-cli-args.yaml
  suites/squid/cephadm/tier1-haproxy-deployment.yaml
  suites/squid/cephadm/tier1-mix-clients.yaml
  suites/squid/cephadm/tier1-mix-os-deployment.yaml
  suites/squid/cephadm/tier1-os-tuning-profiles.yaml
  suites/squid/cephadm/tier1-osd-crush-device-class.yaml
  suites/squid/cephadm/tier1-remove-cluster.yaml
  suites/squid/cephadm/tier1-service-apply-spec.yaml
  suites/squid/cephadm/tier1-skip-dashboard.yaml
  suites/squid/cephadm/tier1-ssl-dashboard-port.yaml
  suites/squid/cephadm/tier2-bootstrap-along-with-spec-file.yaml
  suites/squid/cephadm/tier2-cluster-elasticity.yaml
  suites/squid/cephadm/tier2-osd-scenarios.yaml
  suites/squid/cephadm/tier2-permissive-mode-scenarios.yaml
  suites/squid/cephadm/tier2-rgw-with-warn-state.yaml
  suites/squid/cephadm/tier2-rhos01-cephadm-matching-subnets.yaml
  suites/squid/cephadm/tier2-rhos01-multiple-subnet-openstack-only.yaml
  suites/squid/cephadm/tier2-rhosd-cephadm-matching-subnets.yaml
  suites/squid/cephadm/tier2-rhosd-multiple-subnet-openstack-only.yaml
  suites/squid/cephadm/tier2-verify-custom-container.yaml
  suites/squid/cephadm/tier4-bootstrap-with-ca-signed-ssh-keys.yaml
  suites/squid/cephadm/tier4-crash-configuration.yaml
  suites/squid/cephadm/tier4-service-operations.yaml
  suites/squid/cephadm/upi/upi-dmfg-deployment.yaml
  suites/squid/cephadm/upi/upi-multi-osd-with-encryption.yaml
Labels: lgtm, CephAdm, DMFG, squid

#3706 Adding the squid suites for Cephfs
  conf/squid/cephfs/tier-0_fs.yaml
  conf/squid/cephfs/tier-1_cephfs_cg_quiesce.yaml
  conf/squid/cephfs/tier-1_cephfs_mirror.yaml
  conf/squid/cephfs/tier-1_fs.yaml
  conf/squid/cephfs/tier-2_cephfs_9-node-cluster.yaml
  conf/squid/cephfs/tier-2_cephfs_mirror_ha.yaml
  conf/squid/cephfs/tier-2_cephfs_upgrade.yaml
  conf/squid/cephfs/tier-3_cephfs_4clients_4osd.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_71_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_ibm_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_ibm_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_fs.yaml
  suites/squid/cephfs/tier-1_cephfs_cg_quiesce.yaml
  suites/squid/cephfs/tier-1_cephfs_cg_quiesce_systemic.yaml
  suites/squid/cephfs/tier-1_cephfs_mirror.yaml
  suites/squid/cephfs/tier-1_fs.yaml
  suites/squid/cephfs/tier-2_cephfs_generic.yaml
  suites/squid/cephfs/tier-2_cephfs_io.yaml
  suites/squid/cephfs/tier-2_cephfs_mirror_ha.yaml
  suites/squid/cephfs/tier-2_cephfs_mirror_ha_metrics.yaml
  suites/squid/cephfs/tier-2_cephfs_mirror_metrics.yaml
  suites/squid/cephfs/tier-2_cephfs_test-clients.yaml
  suites/squid/cephfs/tier-2_cephfs_test-multifs.yaml
  suites/squid/cephfs/tier-2_cephfs_test-nfs.yaml
  suites/squid/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  suites/squid/cephfs/tier-2_cephfs_test-quota.yaml
  suites/squid/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/squid/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/squid/cephfs/tier-2_cephfs_test_file_and_dir_layout.yaml
  suites/squid/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/squid/cephfs/tier-2_fs.yaml
  suites/squid/cephfs/tier-3_cephfs.yaml
  suites/squid/cephfs/tier-3_cephfs_bugs.yaml
  suites/squid/cephfs/tier-3_cephfs_bugs_baremetal.yaml
  suites/squid/cephfs/tier-3_cephfs_scale.yaml
  suites/squid/cephfs/tier-3_cephfs_test_cephfs-top.yaml
  suites/squid/cephfs/tier-3_cephfs_test_performance.yaml
  suites/squid/cephfs/tier-4_cephfs_recovery.yaml
  suites/squid/cephfs/tier-4_cephfs_system.yaml
Labels: lgtm

#3715 fixed tfa issues in functional regression script
  suites/reef/cephfs/tier-1_cephfs_cg_quiesce.yaml
  suites/reef/cephfs/tier-1_cephfs_cg_quiesce_systemic.yaml
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_system_test.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
Labels: lgtm

#3716 [squid][dmfg] Add ceph-volume conf and suite
  conf/squid/ceph_volume/1admin-1client-5node-single-volume.yaml
  conf/squid/ceph_volume/1admin-4node-1client-ceph-volume.yaml
  conf/squid/ceph_volume/2admin-5node-1client.yaml
  suites/squid/ceph_volume/tier1-ceph-volume-lvm-cli-validations.yaml
  suites/squid/ceph_volume/tier1-ceph-volume-sanity.yaml
  suites/squid/ceph_volume/tier2-ceph-volume-lvm.yaml
  suites/squid/ceph_volume/tier2-ceph-volume-non-collocated.yaml
  suites/squid/ceph_volume/tier2-ceph-volume-redeploy.yaml
  suites/squid/ceph_volume/tier2-ceph-volume.yaml
Labels: lgtm, DMFG, CephVolume, squid

#3721 [squid][dmfg] Add ceph-mgr conf and suite
  conf/squid/cephmgr/1admin-4node-1client-ceph-mgr.yaml
  conf/squid/mgr/1admin-4node-1client-mgr.yaml
  suites/squid/cephmgr/tier2-cephmgr.yaml
  suites/squid/mgr/tier1-cephapi-auth-api.yaml
Labels: lgtm, DMFG, CephMgr, squid

#3707 [Squid][SMB]Add smb support
  cli/ceph/ceph.py
  cli/ceph/smb/__init__.py
  cli/ceph/smb/apply.py
  cli/ceph/smb/cluster.py
  cli/ceph/smb/share.py
  cli/ceph/smb/smb.py
  conf/squid/smb/1admin-4node-1client-cluster.yaml
  run.py
  suites/squid/smb/tier-0-smb.yaml
  tests/smb/__init__.py
  tests/smb/smb_deployment_declarative_method.py
  tests/smb/smb_deployment_imperative_method.py
  tests/smb/smb_operations.py
Labels: lgtm, DMFG, smb

#3719 [Squid][Nfs][SuiteFix] Add baremetal suites for nfs ganesha
  suites/squid/nfs/baremetal/tier1-nfs-ganesha-ha.yaml
  suites/squid/nfs/baremetal/tier1-nfs-ganesha-multinode-deployment.yaml
Labels: lgtm

#3679 CLI changes to QOS suite for new HA build
  suites/reef/nvmeof/tier-1_nvmeof_qos.yaml
  suites/reef/nvmeof/tier-2_nvmeof_gateway_operations.yaml
Labels: lgtm, approved

#3702 cephfs metrics funcational automation
  suites/reef/cephfs/tier-2_cephfs_test-metrics.yaml
  tests/cephfs/cephfs_metrics/cephfs_metrics_functional.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#3711 [TFA][NFS-Ganesha]Fix the v3 linux client test failures in pipeline
  suites/reef/nfs/tier0-nfs-ganesha-v3.yaml
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_file_lock.py
  tests/nfs/nfs_verify_file_lock_root_squash.py
Labels: lgtm

#3728 [squid][dmfg] Fix duplicate suite and conf for cephmgr
  conf/squid/mgr/1admin-4node-1client-mgr.yaml
  suites/squid/cephmgr/tier1-cephapi-auth-api.yaml
Labels: lgtm, DMFG, CephMgr, squid

#3729 Squid test suites
  conf/squid/nvmeof/ceph_nvmeof_4-nvmeof-gw_scale_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_functional.yaml
  conf/squid/nvmeof/ceph_nvmeof_ha_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_ha_cluster_4nodes.yaml
  conf/squid/nvmeof/ceph_nvmeof_namespace_scale_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_sanity.yaml
  conf/squid/nvmeof/ceph_nvmeof_scale_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  conf/squid/nvmeof/ceph_nvmeof_vmware_sanity.yaml
  conf/squid/nvmeof/octo-6-node-env.yaml
  suites/squid/nvmeof/tier-1_nvmeof_ha_sanity.yaml
  suites/squid/nvmeof/tier-1_nvmeof_sanity.yaml
  suites/squid/nvmeof/tier-1_nvmeof_vmware_esx_sanity.yaml
  suites/squid/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_e2e_fips.yaml
  suites/squid/nvmeof/tier-2_nvmeof_functional_Regression.yaml
  suites/squid/nvmeof/tier-2_nvmeof_gateway_operations.yaml
  suites/squid/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_1-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_16-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_4-sub_ns.yaml
  suites/squid/nvmeof/tier-3_2-nvmeof-gw_8-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_1-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_16-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_2-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_4-sub_ns.yaml
  suites/squid/nvmeof/tier-3_4-nvmeof-gw_8-sub_ns.yaml
  suites/squid/nvmeof/tier-3_nvmeof_bdev_fio_operations.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_blocksize_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_1vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_1vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_1vol_bm.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  suites/squid/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/squid/nvmeof/tier-3_nvmeof_namespace_limit.yaml
  suites/squid/nvmeof/tier-3_nvmeof_restart_operations.yaml
  suites/squid/nvmeof/tier-3_nvmeof_scale_ns.yaml
  suites/squid/nvmeof/tier-3_nvmeof_scale_sub_ns.yaml
  suites/squid/nvmeof/tier-4_nvmeof_namespace_operations.yaml
  suites/squid/nvmeof/tier-4_nvmeof_neg_tests.yaml
Labels: lgtm, nvmeof, squid

#3722 Fixing the versioned bucket test on colocated archive zone
  suites/reef/rgw/tier-3_archive_zone_colocate_data_zone.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3726 [Conf] Add RHEL 8.10 inventory files
  conf/inventory/rhel-8-latest.yaml
  conf/inventory/rhel-8.10-server-x86_64-large.yaml
  conf/inventory/rhel-8.10-server-x86_64.yaml
Labels: framework, lgtm

#3730 RBD squid changes
  conf/squid/rbd/3_clusters_5_node.yaml
  conf/squid/rbd/4-node-cluster-with-1-client.yaml
  conf/squid/rbd/5-node-2-clusters.yaml
  conf/squid/rbd/rbd_mirror_large.yaml
  suites/squid/rbd/tier-1_rbd.yaml
  suites/squid/rbd/tier-1_rbd_mirror.yaml
  suites/squid/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/squid/rbd/tier-2_rbd_encryption.yaml
  suites/squid/rbd/tier-2_rbd_group.yaml
  suites/squid/rbd/tier-2_rbd_mirror_failback.yaml
  suites/squid/rbd/tier-2_rbd_mirror_failover_recovery.yaml
  suites/squid/rbd/tier-2_rbd_mirror_image_operations.yaml
  suites/squid/rbd/tier-2_rbd_mirror_image_trash_purge.yaml
  suites/squid/rbd/tier-2_rbd_mirror_metrics.yaml
  suites/squid/rbd/tier-2_rbd_mirror_recreate_secondary_cluster.yaml
  suites/squid/rbd/tier-2_rbd_mirror_scale_osd.yaml
  suites/squid/rbd/tier-2_rbd_mirror_snapshot_regression.yaml
  suites/squid/rbd/tier-2_rbd_namespace.yaml
  suites/squid/rbd/tier-2_rbd_regression.yaml
  suites/squid/rbd/tier-2_rbd_regression_Image_migration.yaml
  suites/squid/rbd/tier-2_rbd_regression_trash.yaml
  suites/squid/rbd/tier-2_rbd_rest.yaml
  suites/squid/rbd/tier-2_rbd_trash_purge.yaml
  suites/squid/rbd/tier-2_rbd_upgrade_5x_to_7x.yaml
  suites/squid/rbd/tier-2_rbd_upgrade_6x_to_7x.yaml
  suites/squid/rbd/tier-3_journal_mirroring_regression.yaml
  suites/squid/rbd/tier-3_rbd_migration.yaml
  suites/squid/rbd/tier-3_rbd_mirror_encrypted_image.yaml
  suites/squid/rbd/tier-3_rbd_mirror_secondary_full.yaml
  suites/squid/rbd/tier-3_rbd_mirror_upgrade_5xto7x_scale.yaml
  suites/squid/rbd/tier-3_rbd_mirror_upgrade_6xto7x_scale.yaml
  suites/squid/rbd/tier-3_rbd_operations.yaml
  suites/squid/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/squid/rbd/tier-3_rbd_snap_operations.yaml
  suites/squid/rbd/tier-3_snap_mirroring_regression.yaml
  suites/squid/rbd/tier-4_rbd_negative_scenario_regression.yaml
Labels: lgtm

#3725 [TFA] Rearranging testcase in archive zone cluster
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3733 RBD Baremetal test tfa fix for pool pg issue
  suites/reef/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/reef/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
Labels: lgtm, approved

#3704 Stretch_mode.py: Added -ve scenarios in stretch mode testing
  ceph/rados/core_workflows.py
  ceph/rados/monitor_workflows.py
  suites/pacific/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/pool_tests.py
  tests/rados/test_stretch_mon_replacements.py
Labels: RADOS, lgtm, 7.0-bugs-automate

#3735 Adding log statements for intermittent failure
  tests/cephfs/cephfs_bugs/test_mds_inject_health_dummy.py
Labels: lgtm

#3731 To add module that can enable, collect_and_upload, and disable debug …
  suites/reef/cephfs/tier-0_cephfs_upgrade_70_to_71.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/cephfs_logs_util.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
Labels: lgtm

#3736 [Rados] Automation coverage for bug fixes: 2011756 & 2229651
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  tests/rados/monitor_configurations.py
  tests/rados/test_bug_fixes.py
Labels: RADOS, lgtm, Tier-3, Polarion testcase, 7.1-bugs-automate

#3737 TFA fixes for snap schedule test failure
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/snapshot_clone/snap_schedule.py
Labels: lgtm
