Repository red-hat-storage/cephci, pull requests merged in 2024-01, with the labels that each got.

#3266 copying the rgw multisite scenarios suite for pacific and quincy runs
  suites/pacific/rgw/tier-2_rgw_multisite_scenarios.yaml
Labels: RGW, lgtm

#3258 [tfa-fix] Add fix for handling ibm repo URL
  cli/utilities/utils.py
Labels: lgtm, tfa-issue-fix

#3272 [RADOS] New common module for host related serviceability scenarios
  ceph/rados/serviceability_workflows.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, lgtm, Ready-for-review

#3263 TFA and archive zone workaround automation for BZ-2213138
  suites/pacific/rgw/tier-2_rgw_multisite_archive_with_haproxy.yaml
  suites/reef/rgw/tier-2_rgw_ms_archive_with_haproxy.yaml
Labels: RGW, lgtm, tfa-issue-fix, hotfix

#3273 [Tier-4] Integration polarion tc : CEPH-10649 to cephci
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/reef/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, lgtm, Tier-4

#3271 [TFA] adding tenant user cretaion tc before tc bucket_policy_modify i…
  suites/reef/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3267 [NFS][Suites][Reef]Update polarion id
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  suites/reef/nfs/tier1-nfs-ganesha-ha.yaml
  suites/reef/nfs/tier1-nfs-ganesha-multinode-deployment.yaml
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
  suites/reef/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm

#3277 [TestFix] Fix tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh…
  suites/quincy/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
Labels: lgtm

#3278 [TestFix] Fix tier4-crash_configuration.yaml
  tests/cephadm/test_verify_crash_configuration.py
  tests/cephadm/test_verify_crash_reports.py
Labels: lgtm

#3275 [Tier-2] Cephci integration of polarion tc : CEPH-83575137
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3255 [Automation][Cephadm][tier2]Add matching subnets scenario
  suites/quincy/cephadm/tier2-rhos01-cephadm-matching-subnets.yaml
  suites/quincy/cephadm/tier2-rhosd-cephadm-matching-subnets.yaml
  suites/reef/cephadm/tier2-rhos01-cephadm-matching-subnets.yaml
  suites/reef/cephadm/tier2-rhosd-cephadm-matching-subnets.yaml
  tests/cephadm/test_cephadm_change_public_network.py
Labels: lgtm, Tier-2, CephAdm, DMFG

#3262 [Test][Cephadm] Add n-1 to n upgrade as non-root user
  suites/quincy/upgrades/tier-2-upgrade-5x-to-6x-non-root-user.yaml
  tests/ceph_installer/test_cephadm.py
Labels: lgtm

#3252 [TFA][DMFG][Upgrade][Tier1]4x_to_5x_rpm
  ceph/ceph_admin/cephadm_ansible.py
  suites/pacific/upgrades/tier-1_upgrade_test-4x-to-5x-rpm.yaml
  tests/ceph_ansible/test_ansible_upgrade.py
Labels: lgtm, DMFG, tfa-issue-fix

#3280 [SuiteFix] Fix wrong polarion id
  suites/quincy/upgrades/tier-2-upgrade-5x-to-6x-non-root-user.yaml
Labels: lgtm

#3281 Include check_sched_active snaputil module, correct iso time format
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: lgtm

#3274 cephci integration of CEPH-9220
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3284 [TFA-fix] s3cmd bucket creation failure
  suites/pacific/rgw/tier-1_rgw.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3282 Integration of close loop bug 2169298
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: RGW, lgtm, Tier-2, close-loop-automation

#3283 Tier-2 polarion intergration to reef for TC : CEPH-83575137
  suites/reef/rgw/tier-2_rgw_multisite_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3288 [TFA] issue fix for swift_enabling_versioning_on_a_bucket_that_is_S3_…
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/reef/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3292 Using rbd config instead of rbd image-meta to set journal delay
  ceph/rbd/workflows/journal_mirror_ops.py
  cli/rbd/config/config.py
  cli/rbd/config/image.py
  cli/rbd/rbd.py
Labels: lgtm

#3287 Deployment of Pluto environment in cephci
  suites/reef/baremetal/pluto/pluto_conf.yaml
  suites/reef/baremetal/pluto/pluto_suite.yaml
Labels: RGW, lgtm, baremetal

#3298 [TFA issue fix] remove abort on failure from enabling service testcase
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-sync-policy-from-primary.yaml
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
  suites/reef/rgw/tier-2_rgw_multisite_regression_extended.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3253 Scale test - 2 NVMeOF GWs with 1 subsystem and 400 namespaces
  conf/reef/nvmeof/ceph_nvmeof_subsystem_scale_cluster.yaml
  conf/reef/nvmeof/octo-6-node-env.yaml
  suites/reef/nvmeof/ceph_nvmeof_baremetal_sanity.yaml
  suites/reef/nvmeof/tier-2_2-nvmeof-gw_1-sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_baremetal_scale.yaml
  suites/reef/nvmeof/tier-2_nvmeof_subsystem_limit.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway_scale.py
Labels: lgtm, nvmeof

#3290 Adding vsphere ceph deployment for odf
  conf/reef/integrations/ocs_rgw_ssl_openstack_conf.yaml
  suites/reef/integrations/ocs_rgw_ssl_vsphere.yaml
Labels: lgtm

#3291 [TFA][NFS-Ganesha]Fix tier0 and tier1 failures
  tests/nfs/nfs_edit_export_config_with_1client_access.py
  tests/nfs/nfs_edit_export_config_with_ro.py
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_verify_readdir_ops.py
  tests/nfs/nfs_verify_setuid_bit.py
  tests/nfs/test_export_rootsquash.py
Labels: lgtm, nfs-ganesha, tfa-issue-fix

#3304 Include known issue for bucket check fix tescase
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: pr-verified, RGW, lgtm

#3286 Address the IAM failures in s3tests suite
  tests/rgw/test_s3.py
Labels: RGW, lgtm

#3293 Adding FS TC 83580026
  suites/pacific/cephfs/tier-1_cephfs_mirror.yaml
  suites/reef/cephfs/tier-1_cephfs_mirror.yaml
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_multiple_snapshots.py
Labels: Ceph-FS, lgtm, Polarion testcase

#3276 Adding utilities for retrieving ceph version
  suites/reef/baremetal/upgrade_suite_RH.yaml
  tests/misc_env/validate_version.py
  utility/utils.py
  utility/validate_cluster_health.py
Labels: lgtm

#3305 CEPH-10046: Tier-3 test to verify automatic periodic trimming of osdmaps
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_osdmap_trim.py
Labels: RADOS, lgtm, Tier-3, Polarion testcase, Ready-for-review

#3300 [Tier-1] Automate - Ceph 83575814
  suites/reef/nvmeof/tier-1_nvmeof_functional_Regression.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, nvmeof

#3297 New Automation to add BZ 2247187 client evict defer workflow
  suites/pacific/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  tests/cephfs/cephfs_bugs/test_client_blocklist_large_session_metadata.py
  tests/cephfs/cephfs_bugs/test_defer_client_evict_on_laggy_osd.py
Labels: Ceph-FS, lgtm, Polarion testcase

#3312 [SuiteFix] Moving `Nfs Ganesha copy operations` to tier-2
  suites/reef/nfs/tier0-nfs-ganesha.yaml
  suites/reef/nfs/tier1-nfs-ganesha-phase2.yaml
Labels: lgtm

#3313 [tfa-fix] Add fix for RGW failure in apply spec suite
  suites/pacific/cephadm/tier-1_cephadm-clients.yaml
  suites/pacific/cephadm/tier-1_service_apply_spec.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3315 Adding new test to odf suite
  suites/reef/integrations/ocs_rgw_ssl_vsphere.yaml
Labels: lgtm

#3310 [Reef][NFS-Ganesha][Upgrade]Add suite
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-ibm-7x-to-7x-latest.yaml
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-7x-latest.yaml
Labels: Upgrade, lgtm, DMFG, nfs-ganesha

#3279 Test case to automate performance comparison of immutable cache and without cache
  ceph/rbd/workflows/cleanup.py
  ceph/rbd/workflows/krbd_io_handler.py
  suites/quincy/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/reef/rbd/tier-2_rbd_cache_scenarios.yaml
  tests/rbd/test_performance_immutable_cache.py
Labels: lgtm, approved

#3318 [SuiteFix] Add tests post upgrade for nfs
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-ibm-7x-to-7x-latest.yaml
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-7x-latest.yaml
Labels: lgtm

#3319 Remove known issue comment from bucket check testcase
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3317 CEPH-83573252: Tier-3 test to verify hard limit for PG log trimming
  suites/pacific/rados/tier-3_rados-recovery_tests.yaml
  suites/quincy/rados/tier-3_rados-recovery_tests.yaml
  suites/reef/rados/tier-3_rados-recovery_tests.yaml
  tests/rados/test_osdmap_trim.py
  tests/rados/test_pg_log_limit.py
Labels: RADOS, lgtm, Tier-3, Polarion testcase, Ready-for-review

#3303 Modified methods to create pools and images parallely/sequentially as per suite input
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/rbd.py
Labels: lgtm, approved

#3308 [TFA] [Rados] Fix for verification of osd_memory_target value from ceph config dump
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  tests/rados/test_osd_memory_target.py
Labels: RADOS, lgtm, tfa-issue-fix

#3321 Fixing pipeline issues
  suites/pacific/rbd/tier-3_journal_mirroring_regression.yaml
  suites/pacific/rbd/tier-4_rbd_negative_scenario_regression.yaml
  suites/quincy/rbd/tier-3_journal_mirroring_regression.yaml
Labels: lgtm, approved

#3302 [NFS-Ganesha][Setup][Core-Dump]addition
  cli/utilities/utils.py
  tests/nfs/nfs_client_permission_export.py
  tests/nfs/nfs_edit_export_config_with_1client_access.py
  tests/nfs/nfs_edit_export_config_with_ro.py
  tests/nfs/nfs_file_append.py
  tests/nfs/nfs_file_truncate.py
  tests/nfs/nfs_ha_failover_edit_export_config_client_permission.py
  tests/nfs/nfs_ha_failover_edit_export_config_with_ro.py
  tests/nfs/nfs_ha_failover_with_untar.py
  tests/nfs/nfs_ha_readdir_operation.py
  tests/nfs/nfs_hard_links_delete_file.py
  tests/nfs/nfs_hard_links_server_reboot.py
  tests/nfs/nfs_hard_symbolic_links_rename.py
  tests/nfs/nfs_operations.py
  tests/nfs/nfs_rootsquash_using_conf.py
  tests/nfs/nfs_spec_storage.py
  tests/nfs/nfs_verify_bonnie.py
  tests/nfs/nfs_verify_failover_with_file_ops.py
  tests/nfs/nfs_verify_failover_with_io.py
  tests/nfs/nfs_verify_file_lock.py
  tests/nfs/nfs_verify_file_lock_ha.py
  tests/nfs/nfs_verify_file_lock_root_squash.py
  tests/nfs/nfs_verify_file_modification.py
  tests/nfs/nfs_verify_file_operations.py
  tests/nfs/nfs_verify_file_ops_hard_links.py
  tests/nfs/nfs_verify_file_ops_soft_links.py
  tests/nfs/nfs_verify_hard_links_inode.py
  tests/nfs/nfs_verify_multi_depth_dir_and_permissions.py
  tests/nfs/nfs_verify_multi_node_cluster.py
  tests/nfs/nfs_verify_multiple_parallel_io_and_lookups.py
  tests/nfs/nfs_verify_nfs_ha.py
  tests/nfs/nfs_verify_nfs_kill_process_failover.py
  tests/nfs/nfs_verify_parallel_rm_write_lookup.py
  tests/nfs/nfs_verify_pynfs.py
  tests/nfs/nfs_verify_pynfs_ha.py
  tests/nfs/nfs_verify_read_write_operations.py
  tests/nfs/nfs_verify_readdir_ops.py
  tests/nfs/nfs_verify_setuid_bit.py
  tests/nfs/nfs_verify_stress.py
  tests/nfs/nfs_verify_symbolic_links_file_other_file_system.py
  tests/nfs/nfs_verify_symbolic_links_permissions.py
  tests/nfs/nfs_verify_symbolic_links_users.py
  tests/nfs/test_export_readonly.py
  tests/nfs/test_export_rootsquash.py
  tests/nfs/test_file_ops_copy.py
  tests/nfs/test_file_ops_renames.py
  tests/nfs/test_nfs_rootsquash_file_access_from_multiple_clients.py
Labels: lgtm, nfs-ganesha

#3324 [DMFG][Upgrade][Reef]Build to Build
  suites/reef/upgrades/tier1-upgrade-ibm-7x-to-7x-latest.yaml
  suites/reef/upgrades/tier1-upgrade-rhcs-7x-to-7x-latest.yaml
Labels: Upgrade, lgtm, DMFG

#3296 [Test] Validate deploy OSD using DriveGroup spec crush_device_class
  cli/ops/cephadm.py
  suites/quincy/ceph_volume/tier2-ceph-volume-redeploy.yaml
  suites/reef/ceph_volume/tier2-ceph-volume-redeploy.yaml
  tests/ceph_volume/test_osd_deploy_with_spec_crush_device_class.py
Labels: lgtm

#3325 Adding this to allow longer fqdn names
  suites/reef/integrations/ocs_rgw_ssl_vsphere.yaml
Labels: lgtm

#3330 [TestFix][TFA][DMFG] Fix tier-2-ceph-volume suite
  cli/ceph/osd/pool.py
  tests/ceph_volume/test_ceph_volume_lvm_tags_after_osd_rm.py
Labels: lgtm

#3289 Integration of tests for remote site downloads at archive and active …
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: RGW, lgtm, Tier-2, 7.0-bugs-automate

#3326 [TFA]moving large object upload tests to other suite which doesnot configure network delay
  suites/nautilus/rgw/tier-2_rgw_test-quota-management.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_ecpool_ms-bucket-objects-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/pacific/rgw/tier-2_rgw_test-quota-management.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3237 RGW Multisite Active-Paasive, Failover and Faiback
  suites/pacific/rgw/tier-2_rgw_ms_failover_failback.yaml
  suites/reef/rgw/tier-2_rgw_ms_failover_failback.yaml
Labels: RGW, lgtm

#3333 [TestFix][TFA][NFS] Fix Nfs Verify multiple parallel io and lookups test
  tests/nfs/nfs_verify_multiple_parallel_io_and_lookups.py
Labels: lgtm

#3331 [TFA issue fix] s3cmd download from primary
  suites/reef/rgw/tier-2_rgw_3_way_multisite.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3335 Removing snap rollback test from pacific
  suites/pacific/rbd/tier-3_snap_mirroring_regression.yaml
  tests/rbd_mirror/test_rbd_snap_mirroring_with_snap_clone_op.py
Labels: lgtm

#3332 [TFA][DMFG][Cephadm][Quincy]Fix bootstrap-along-with-spec-file
  suites/quincy/cephadm/tier-2-bootstrap-along-with-spec-file.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3322 integrating bucket lc reverse transition testcase
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/reef/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#3339 Adding yaml extension to conf file
  conf/reef/baremetal/mero_4_node_4_client_conf.yaml
Labels: lgtm

#3329 TFA fix for rmdir on sched_snap, add sched_snap_cleanup to snap_utils lib, Enhance multifs test workflow with all BZ2224060 supported scenarios
  suites/pacific/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/pacific/cephfs/tier-4_cephfs_recovery.yaml
  suites/reef/cephfs/tier-2_cephfs_test-snapshot-clone.yaml
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, lgtm

#3344 [TFA issue fix]Correct the polarion id
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
  suites/reef/rgw/tier-2_rgw_multisite_regression_extended.yaml
Labels: RGW, lgtm, tfa-issue-fix

#3320 [fix] segregate nvmeof testsuites with tiers from polarion
  suites/reef/nvmeof/tier-1_nvmeof_sanity.yaml
  suites/reef/nvmeof/tier-1_nvmeof_vmware_esx_sanity.yaml
  suites/reef/nvmeof/tier-2_2-nvmeof-gw_1-sub_ns.yaml
  suites/reef/nvmeof/tier-2_nvmeof_e2e_fips.yaml
  suites/reef/nvmeof/tier-2_nvmeof_functional_Regression.yaml
  suites/reef/nvmeof/tier-2_nvmeof_gateway_operations.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_16-sub_ns.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_2-sub_ns.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_4-sub_ns.yaml
  suites/reef/nvmeof/tier-3_2-nvmeof-gw_8-sub_ns.yaml
  suites/reef/nvmeof/tier-3_nvmeof_bdev_fio_operations.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_block_size.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128k_blocksize_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_128kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_16kbs_1vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_10vols_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvme_4kbs_1vol_bm.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_16k_block_size.yaml
  suites/reef/nvmeof/tier-3_nvmeof_librbd_vs_nvmeof_4kbs_1vol.yaml
  suites/reef/nvmeof/tier-3_nvmeof_namespace_limit.yaml
  suites/reef/nvmeof/tier-3_nvmeof_restart_operations.yaml
  suites/reef/nvmeof/tier-3_nvmeof_scale_ns.yaml
  suites/reef/nvmeof/tier-3_nvmeof_scale_sub_ns.yaml
  suites/reef/nvmeof/tier-4_nvmeof_namespace_operations.yaml
Labels: lgtm, nvmeof

#3307 Adding reimage support for supermicro
  utility/baremetal/reimage_octo_nodes.py
  utility/baremetal/utils.py
Labels: lgtm

#3345 [NFS-Ganesha][Reef][Upgrade]update upgrade suite
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-ibm-7x-to-7x-latest.yaml
  suites/reef/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-7x-latest.yaml
  tests/nfs/nfs_verify_multiple_parallel_io_and_lookups.py
Labels: Upgrade, lgtm, nfs-ganesha

#3348 [DMFG][Reef]Adding missing suite
  suites/reef/cephadm/test-haproxy-deployment.yaml
  suites/reef/cephadm/tier-2_rhos01_multiple_subnet_openstack_only.yaml
Labels: lgtm, DMFG

#3349 [TFA] Fix rgw sanity failure and remove ISCSI test case
  conf/quincy/cephadm/tier-2_10node_cephadm_scale.yaml
  suites/quincy/cephadm/tier-2-cluster-elasticity.yaml
Labels: lgtm

#3328 dups_trimming.py: Updated the workflow to work with verification of Online Trimming
  ceph/rados/serviceability_workflows.py
  conf/quincy/baremetal_pipeline/mero_4_node_4_client_conf.yaml
  suites/pacific/rados/tier-2-rados-basic-regression.yaml
  suites/pacific/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/quincy/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_pg_dups_trimming.py
Labels: RADOS, lgtm, tfa-issue-fix, baremetal

#3347 [Suite][Nfs Ganesha] Add Tier-0 suite for nfs v3
  suites/reef/nfs/tier0-nfs-ganesha-v3.yaml
Labels: lgtm, DMFG, nfs-ganesha

#3336 Adding conf and suites for quincy
  conf/quincy/cephfs/tier-1_cephfs_mirror.yaml
  conf/quincy/cephfs/tier-1_fs.yaml
  conf/quincy/cephfs/tier-2_cephfs_9-node-cluster.yaml
  conf/quincy/cephfs/tier-2_cephfs_mirror_ha.yaml
  conf/quincy/cephfs/tier-3_cephfs_4clients_4osd.yaml
  suites/pacific/cephfs/tier-3_cephfs_scale.yaml
  suites/quincy/cephfs/tier-0_fs.yaml
  suites/quincy/cephfs/tier-1_cephfs_mirror.yaml
  suites/quincy/cephfs/tier-1_fs.yaml
  suites/quincy/cephfs/tier-2_cephfs_mirror_ha.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-clients.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-multifs.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-nfs.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-nfs_ha.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-quota.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/quincy/cephfs/tier-2_cephfs_test_file_and_dir_layout.yaml
  suites/quincy/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/quincy/cephfs/tier-2_fs.yaml
  suites/quincy/cephfs/tier-3_cephfs_bugs.yaml
  suites/quincy/cephfs/tier-3_cephfs_test_cephfs-top.yaml
  suites/quincy/cephfs/tier-3_cephfs_test_performance.yaml
  suites/quincy/cephfs/tier-4_cephfs_recovery.yaml
Labels: lgtm

#3354 Adding Mon Deployment step as per label
  suites/reef/integrations/ocs_rgw_ssl_vsphere.yaml
Labels: lgtm

#3351 fixing ingress deployment failure by using loopback address as vip
  suites/pacific/rgw/tier-2_rgw_ingress_with_ssl.yaml
  suites/pacific/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/reef/rgw/tier-2_rgw_ingress_multi_realm.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#3334 [NfsGanesha][Lib] Add V3 support
  cli/ceph/config_key.py
  tests/nfs/nfs_operations.py
Labels: Tier-0, lgtm, DMFG, nfs-ganesha, Reef

#3350 [tfa-fix] Add fix for IBM TFA issue which failed for repo addition
  cli/ops/cephadm_ansible.py
  cli/utilities/configure.py
  suites/quincy/cephadm/tier-2-permissive-mode-scenarios.yaml
  tests/cephadm/ansible_wrapper/cephadm_bootstrap/bootstrap-with-registry-details.yaml
Labels: lgtm, DMFG, tfa-issue-fix

#3343 Enabling zlib compression on the multisite+archive
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
Labels: RGW, lgtm, Tier-2

#3361 [ConfigFix] Update black package version to stable version 23.12.0
  test_requirements.txt
Labels: lgtm, dependencies

#3365 [TFA] Fix IndexError
  tests/cephadm/test_package_validation.py
Labels: lgtm

#3356 Updating the networks of hosts in CIDR testing
  conf/pacific/rados/6-node-cluster-4-clients.yaml
  conf/quincy/rados/6-node-cluster-4-clients.yaml
  conf/reef/rados/6-node-cluster-4-clients.yaml
  suites/pacific/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/quincy/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
Labels: RADOS, lgtm, tfa-issue-fix

#3346 Performing image operations at scale
  ceph/rbd/utils.py
  ceph/rbd/workflows/krbd_io_handler.py
  ceph/rbd/workflows/rbd.py
  cli/rbd/rbd.py
  suites/quincy/rbd/tier-3_rbd_operations.yaml
  suites/reef/rbd/tier-3_rbd_operations.yaml
  tests/rbd/test_rbd_image_operations.py
Labels: lgtm, approved
