Repository red-hat-storage/cephci, pull requests merged in 2024-12, with the labels that each got.

#4267 Enable log dump for NVMe suites
  cephci/cluster_info.py
Labels: lgtm

#4257 [Test] Validate the status of hosts in cluster post upgrade
  suites/reef/upgrades/tier1-upgrade-rhcs-5x-to-7x.yaml
  tests/cephadm/test_host_status_post_upgrade.py
Labels: lgtm

#4264 Cephci integration : CEPH-83574431
  suites/reef/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#4272 Automation for CEPH-83594298
  ceph/rbd/workflows/group.py
  cli/rbd/group.py
  suites/squid/rbd/tier-2_rbd_group.yaml
  tests/rbd/test_rbd_groups_image_clone.py
Labels: RBD, lgtm, approved

#4281 Adding cluster status check to baremetal upgrade suites
  suites/squid/baremetal/upgrade/rh/dmfg_clara_1admin_5node_2client.yaml
  suites/squid/baremetal/upgrade/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/upgrade/rh/mero2_1admin_4node_4client.yaml
  suites/squid/baremetal/upgrade/rh/mero_multisite_1admin_3node_along_client.yaml
  suites/squid/baremetal/upgrade/rh/nfs_extensa_1admin_3node_4client.yaml
  suites/squid/baremetal/upgrade/rh/nfs_folio3_1admin_3node_4client.yaml
  suites/squid/baremetal/upgrade/rh/rados_extensa_1admin_5node_1client.yaml
Labels: lgtm

#4275 [Squid][NFS-Ganesha] Update sanity test suites
  suites/squid/nfs/tier0-nfs-ganesha-vers-4-2.yaml
  suites/squid/nfs/tier0-nfs-ganesha.yaml
  suites/squid/nfs/tier1-nfs-ganesha-phase2-v4-2.yaml
  suites/squid/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm

#4286 [TFA] Including set-env for the testcase post setting multisite
  suites/reef/rgw/tier-3_archive_zone_colocate_data_zone.yaml
  suites/squid/rgw/tier-3_archive_zone_colocate_data_zone.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#4284 Add known issue of s3tests test_schema_definition and test_alias_cycl…
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4258 NVMe upgrade test suite changes w.r.t 8.0 and 7.1z2
  suites/squid/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade.yaml
  suites/squid/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade_with_mtls.yaml
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade.yaml
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade_with_mtls.yaml
Labels: lgtm, nvmeof

#4279 RHCEPHQE-16997: Additional validation of pools during create and remove fs
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/fs_del_allow_pool_false.py
Labels: enhancement, Ceph-FS, lgtm, test-gap-analysis

#4273 Test case Automation: CEPH-83594299 - Cloning and Flattening a …
  suites/squid/rbd/tier-2_rbd_group.yaml
  suites/squid/rbd/tier-2_rbd_regression.yaml
  tests/rbd/test_rbd_clone_flatten_group_snapshot.py
Labels: RBD, lgtm

#4270 [RADOS] Test suite reduction part-1
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-clay-ecpool.yaml
  suites/reef/rados/tier-2_rados_test-mgr-daemon.yaml
  suites/reef/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/tier-3_rados-recovery_tests.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/reef/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-2-rados-basic-regression.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-clay-ecpool.yaml
  suites/squid/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test-mgr-daemon.yaml
  suites/squid/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/squid/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/squid/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/squid/rados/tier-2_rados_test-replica1.yaml
  suites/squid/rados/tier-2_rados_test-scrubbing.yaml
  suites/squid/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  suites/squid/rados/tier-2_rados_test_cot_cbt.yaml
  suites/squid/rados/tier-2_rados_test_omap.yaml
  suites/squid/rados/tier-2_rados_test_parameters.yaml
  suites/squid/rados/tier-2_rados_trim_tests.yaml
  suites/squid/rados/tier-3_rados-recovery_tests.yaml
  suites/squid/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
Labels: RADOS, lgtm

#4288 RADOS: TFA fix for slow_osd_heartbeat & CBT/COT Library improvements
  ceph/rados/bluestoretool_workflows.py
  ceph/rados/core_workflows.py
  ceph/rados/crushtool_workflows.py
  ceph/rados/objectstoretool_workflows.py
  tests/rados/stretch_cluster.py
  tests/rados/test_bug_fixes.py
Labels: RADOS, lgtm, tfa-issue-fix

#4297 [TFA-Fix] Removed dependency of .env file in rest/common/utils/rest.py
  rest/common/utils/rest.py
  suites/reef/rbd/tier-2_rbd_rest.yaml
  suites/squid/rbd/tier-2_rbd_rest.yaml
  tests/rbd/rest/test_rbd_rest_pool_image_creation.py
Labels: lgtm, approved

#4298 [TFA-fix] Added long_running parameter for migration operations
  tests/rbd/test_rbd_image_migration_qcow.py
Labels: lgtm, approved

#4287 Automation for CEPH-83594338
  suites/squid/rbd/tier-2_rbd_group.yaml
  tests/rbd/test_rbd_groups_image_clone.py
Labels: RBD, lgtm, approved

#4301 Updating Root-CA cert to Current-IT-Root-CAs
  conf/inventory/rhel-7.8-server-x86_64.yaml
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.10-server-x86_64-large.yaml
  conf/inventory/rhel-8.10-server-x86_64.yaml
  conf/inventory/rhel-8.2-server-x86_64-large.yaml
  conf/inventory/rhel-8.2-server-x86_64.yaml
  conf/inventory/rhel-8.3-server-x86_64-large.yaml
  conf/inventory/rhel-8.3-server-x86_64.yaml
  conf/inventory/rhel-8.4-server-x86_64.yaml
  conf/inventory/rhel-8.5-server-x86_64-large.yaml
  conf/inventory/rhel-8.5-server-x86_64.yaml
  conf/inventory/rhel-8.6-server-x86_64.yaml
  conf/inventory/rhel-8.7-server-x86_64-large.yaml
  conf/inventory/rhel-8.7-server-x86_64.yaml
  conf/inventory/rhel-8.8-server-x86_64-large.yaml
  conf/inventory/rhel-8.8-server-x86_64.yaml
  conf/inventory/rhel-8.9-server-x86_64-large.yaml
  conf/inventory/rhel-8.9-server-x86_64.yaml
  conf/inventory/rhel-9.0-server-x86_64-large.yaml
  conf/inventory/rhel-9.0-server-x86_64.yaml
  conf/inventory/rhel-9.1-server-x86_64.yaml
  conf/inventory/rhel-9.2-server-x86_64-large.yaml
  conf/inventory/rhel-9.2-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.2-server-x86_64.yaml
  conf/inventory/rhel-9.3-server-x86_64-large.yaml
  conf/inventory/rhel-9.3-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.3-server-x86_64.yaml
  conf/inventory/rhel-9.4-server-x86_64-large.yaml
  conf/inventory/rhel-9.4-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.4-server-x86_64.yaml
  conf/inventory/rhel-9.5-server-x86_64-large.yaml
  conf/inventory/rhel-9.5-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.5-server-x86_64.yaml
Labels: lgtm

#4302 Updating the certificate names
  conf/inventory/rhel-7.8-server-x86_64.yaml
  conf/inventory/rhel-7.9-server-x86_64.yaml
  conf/inventory/rhel-8.10-server-x86_64-large.yaml
  conf/inventory/rhel-8.10-server-x86_64.yaml
  conf/inventory/rhel-8.2-server-x86_64-large.yaml
  conf/inventory/rhel-8.2-server-x86_64.yaml
  conf/inventory/rhel-8.3-server-x86_64-large.yaml
  conf/inventory/rhel-8.3-server-x86_64.yaml
  conf/inventory/rhel-8.4-server-x86_64.yaml
  conf/inventory/rhel-8.5-server-x86_64-large.yaml
  conf/inventory/rhel-8.5-server-x86_64.yaml
  conf/inventory/rhel-8.6-server-x86_64.yaml
  conf/inventory/rhel-8.7-server-x86_64-large.yaml
  conf/inventory/rhel-8.7-server-x86_64.yaml
  conf/inventory/rhel-8.8-server-x86_64-large.yaml
  conf/inventory/rhel-8.8-server-x86_64.yaml
  conf/inventory/rhel-8.9-server-x86_64-large.yaml
  conf/inventory/rhel-8.9-server-x86_64.yaml
  conf/inventory/rhel-9.0-server-x86_64-large.yaml
  conf/inventory/rhel-9.0-server-x86_64.yaml
  conf/inventory/rhel-9.1-server-x86_64.yaml
  conf/inventory/rhel-9.2-server-x86_64-large.yaml
  conf/inventory/rhel-9.2-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.2-server-x86_64.yaml
  conf/inventory/rhel-9.3-server-x86_64-large.yaml
  conf/inventory/rhel-9.3-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.3-server-x86_64.yaml
  conf/inventory/rhel-9.4-server-x86_64-large.yaml
  conf/inventory/rhel-9.4-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.4-server-x86_64.yaml
  conf/inventory/rhel-9.5-server-x86_64-large.yaml
  conf/inventory/rhel-9.5-server-x86_64-xlarge.yaml
  conf/inventory/rhel-9.5-server-x86_64.yaml
Labels: lgtm

#4294 Tier-2 : CEPH-83604080 - Restart MDS repeated while the IO's are in-p…
  suites/quincy/cephfs/tier-2_cephfs_test-multi-mds.yaml
  suites/reef/cephfs/tier-2_cephfs_test-multi-mds.yaml
  suites/squid/cephfs/tier-2_cephfs_test-multi-mds.yaml
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_functional.py
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_repeated_restart_mds.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, Polarion testcase, close-loop-automation

#4280 Fixing specstorage and baremetal nfs ha suite
  cli/io/spec_storage.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_active_power_off.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_ha_failover.py
Labels: lgtm

#4290 remove nvmeof image set before upgrade
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade.yaml
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade_with_mtls.yaml
Labels: lgtm, nvmeof

#4291 [RHCEPHQE-17079] CEPH-83604070: Create and Delete FS iteratively using the same name with IO
  suites/quincy/cephfs/teir-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/reef/cephfs/teir-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/squid/cephfs/teir-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_create_delete_loop.py
Labels: Ceph-FS, New testcase, lgtm, test-gap-analysis

#4278 Moving the test to weekly suites to adhere to new CI
  suites/quincy/cephfs/tier-2_cephfs_test-clients.yaml
  suites/quincy/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/reef/cephfs/tier-2_cephfs_test-clients.yaml
  suites/reef/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/squid/cephfs/tier-2_cephfs_test-clients.yaml
Labels: lgtm

#4285 New system test workflow automation and inclusion in suite
  suites/squid/cephfs/tier-3_cephfs_system_test.yaml
  tests/cephfs/cephfs_system/cephfs_systest_sv_clone_ops.py
Labels: Ceph-FS, lgtm

#4282 Test to verify Ceph configuration values are accessible via cephadm-ansible
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_cephadm_ansible.py
Labels: RADOS, lgtm, Tier-2, Polarion testcase, close-loop-automation

#4230 TFA-FIX:CEPH-83595932-To verify crashes while executing drain and mgr failover commands
  ceph/rados/core_workflows.py
  ceph/rados/serviceability_workflows.py
  ceph/rados/utils.py
  suites/reef/rados/test_rados_all_generic_features.yaml
  suites/reef/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  suites/squid/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_node_drain_customer_bug.py
Labels: RADOS, lgtm, tfa-issue-fix

#4224 Execution RGW Accounts tests via test_s3.py
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  tests/rgw/test_s3.py
Labels: RGW, lgtm, Tier-3, Tier-2, tfa-issue-fix

#4309 Include known issue for intermittent crash seen with kafka multipart
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4304 Test case automation for ceph-83594544
  suites/squid/rbd/tier-2_rbd_group.yaml
  tests/rbd/test_rbd_disallow_group_snapshot_rollback.py
Labels: RBD, lgtm

#4316 [RADOS] TFA fix for slow osd heartbeat & ceph orch service module
  ceph/rados/core_workflows.py
  tests/rados/test_bug_fixes.py
Labels: RADOS, lgtm, tfa-issue-fix

#4312 Add MDS ops for replay and flush, change run_time to 4hrs
  suites/squid/cephfs/tier-3_cephfs_system_test.yaml
  tests/cephfs/cephfs_system/cephfs_system_utils.py
  tests/cephfs/cephfs_system/cephfs_systest_client_io.py
  tests/cephfs/cephfs_system/cephfs_systest_mds_ops.py
  tests/cephfs/cephfs_system/cephfs_systest_sv_clone_ops.py
Labels: Ceph-FS, lgtm

#4314 Test Automation - CEPH-83594545
  suites/squid/rbd/tier-2_rbd_group.yaml
  tests/rbd/test_rbd_group_commands_validation.py
Labels: RBD, lgtm

#4303 Automation for CEPH-83594558: Scale-level cloning from group snapshot
  suites/squid/rbd/tier-3_rbd_snap_operations.yaml
  tests/rbd/test_scale_group_snap_clone.py
Labels: RBD, lgtm

#4283 Added methods daemon config get and daemon config show
  tests/rados/monitor_configurations.py
  tests/rados/test_bluestore_min_alloc_size.py
Labels: RADOS, lgtm

#4305 [RADOS] Test suite reduction part-2: regression
  conf/reef/rados/11-node-cluster.yaml
  conf/reef/rados/11-node-replica1-cluster.yaml
  conf/reef/rados/13-node-cluster-4-clients.yaml
  conf/reef/rados/13-node-cluster.yaml
  conf/reef/rados/4-node-ec-cluster-1-client.yaml
  conf/reef/rados/6-node-cluster-4-clients.yaml
  conf/reef/rados/stretch-mode-host-location-attrs.yaml
  conf/reef/rados/test-confs/pool-configurations.yaml
  conf/squid/rados/11-node-cluster.yaml
  conf/squid/rados/11-node-replica1-cluster.yaml
  conf/squid/rados/13-node-cluster-4-clients.yaml
  conf/squid/rados/13-node-cluster.yaml
  conf/squid/rados/4-node-ec-cluster-1-client.yaml
  conf/squid/rados/6-node-cluster-4-clients.yaml
  conf/squid/rados/7node-1client-stretch-mode-rhos-d.yaml
  conf/squid/rados/stretch-mode-host-location-attrs.yaml
  conf/squid/rados/test-confs/pool-configurations.yaml
  suites/reef/rados/test_rados_all_generic_features.yaml
  suites/reef/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
Labels: RADOS, lgtm

#4315 subvolume idempotence and earmark scenarios
  suites/quincy/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/reef/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/squid/cephfs/tier-2_cephfs_test-volume-management_arch.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvol_idempotence_earmark.py
Labels: lgtm

#4319 Updating service account psi-ceph-jenkins user to ceph-qe-sa user
  pipeline/rhos_scripts/quota-template.html
  pipeline/vars/common.groovy
  pipeline/vars/lib.groovy
  pipeline/vars/upload_results.groovy
  pipeline/vars/v3.groovy
Labels: lgtm, approved

#4306 Changing the test suite for transition tests to 3 way ms in reef as well
  suites/reef/rgw/tier-2_rgw_3_way_multisite.yaml
  suites/reef/rgw/tier-2_rgw_singlesite_to_multisite.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4318 CI Integration for 2 tests, CRLF Injection using Curl and higher than…
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm

#4320 TFA fix for CG quiesce tests
  suites/squid/cephfs/tier-1_cephfs_cg_quiesce.yaml
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_system_test.py
  tests/cephfs/snapshot_clone/cg_snap_utils.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4308 Adding Validation for subvolume info for cloned Volumes
  tests/cephfs/snapshot_clone/clone_attributes.py
Labels: lgtm

#4325 Added the Test to verify RBD image with zero size to pacific
  suites/pacific/rbd/tier-2_rbd_regression.yaml
Labels: lgtm, approved

#4327 Replacing master branch with main branch in cephci
  pipeline/rhcs_delete.groovy
  pipeline/rhcs_deploy.groovy
  pipeline/rhos_scripts/Jenkinsfile-cleanup-cloud-volumes.groovy
  pipeline/rhos_scripts/Jenkinsfile-cleanup-env.groovy
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  pipeline/signed-compose-listener.groovy
  pipeline/signed-container-image-listener.groovy
  pipeline/unsigned-compose-listener.groovy
  pipeline/unsigned-container-image-listener.groovy
Labels: lgtm

#4322 RHCEPHQE-17138: CEPH-83604097 - Basic info validation after volume creation and deletion
  suites/quincy/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/quincy/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/reef/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_test_volume.py
  tests/cephfs/cephfs_vol_management/fs_del_allow_pool_false.py
Labels: Ceph-FS, New testcase, lgtm, test-gap-analysis

#4330 [TFA-Fix]- Reducing the execution time of scheduled scrub test suite
  suites/pacific/rados/tier-2_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  suites/squid/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/scheduled_scrub_scenarios.py
Labels: RADOS, lgtm

#4331 [RADOS] Add ceph-bluestore-tool coverage for live OSDs
  tests/rados/test_bluestoretool_workflows.py
  tests/rados/test_cephdf.py
  tests/rados/test_cephvolume_workflows.py
  tests/rados/test_replica1.py
Labels: RADOS, lgtm

#4328 adding tier-1 kernel suite to squid
  suites/squid/cephfs/tier-1_fs_kernel.yaml
Labels: lgtm

#4335 TFA in reef for rgw accounts and adding support for topic creation in account
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  tests/rgw/test_s3.py
Labels: review-in-progress, RGW, lgtm, tfa-issue-fix

#4336 Adding cluster configs to test_parallel
  tests/parallel/test_parallel.py
Labels: lgtm

#4333 Improvements to monitor election strategy
  ceph/rados/monitor_workflows.py
  tests/rados/monitor_configurations.py
  tests/rados/test_election_strategies.py
Labels: RADOS, lgtm, Tier-2

#4299 adding support for testing rgw ssl deployment with cephadm generate_cert
  suites/squid/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
Labels: pr-verified, RGW, Tier-1, lgtm, 8.0

#4326 updated conf path in rgw squid suites
  suites/squid/rgw/tier-1_rgw_ms_datalog_and_crash.yaml
  suites/squid/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_3_way_multisite.yaml
  suites/squid/rgw/tier-2_rgw_cloud_transition.yaml
  suites/squid/rgw/tier-2_rgw_ingress_multi_realm.yaml
  suites/squid/rgw/tier-2_rgw_ms-archive.yaml
  suites/squid/rgw/tier-2_rgw_ms-archive_resharding_granular_sync.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/squid/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_multisite_scenarios.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/squid/rgw/tier-2_rgw_sts_aswi.yaml
  suites/squid/rgw/tier-2_rgw_test_basic_sanity_with_d3n_enabled.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_sasl.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-3_archive_zone_colocate_data_zone.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: RGW, lgtm
