Repository red-hat-storage/cephci, pull requests merged in 2025-08, with the labels that each got.

#5089 Xunit file is updated with a feature of components in a column
  utility/xunit2gsheet.py
Labels: lgtm, ceph-ci-review

#5013 Vault and Hashicorp.repo support in IBMC
  tests/misc_env/install_vault.py
Labels: RGW, lgtm, approved

#5090 [CephFS]: [RHCEPHQE-21088]: TFA additional health check and error handling
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_disruptive.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_functional.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_negative.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_subvolume.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5084 TFA fix for the checking preempted log
  ceph/rados/core_workflows.py
  tests/rados/test_noscrub_nodeepscrub_check.py
  tests/rados/test_rados_preempt_scrub.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5058 [TFA][DMFG] Add comment regarding product BZs
  suites/reef/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/reef/cephadm/tier1-remove-cluster.yaml
  suites/reef/cephadm/tier2-permissive-mode-scenarios.yaml
  suites/squid/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/squid/cephadm/tier1-remove-cluster.yaml
  suites/squid/cephadm/tier2-permissive-mode-scenarios.yaml
  suites/tentacle/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/tentacle/cephadm/tier1-remove-cluster.yaml
  suites/tentacle/cephadm/tier2-permissive-mode-scenarios.yaml
Labels: lgtm, approved, DMFG, tfa-issue-fix, ceph-ci-review

#5107 [TFA] Fix upgrade test intermittent failure
  ceph/rados/core_workflows.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5097 System test suite addition to system_scale_test combined suite
  suites/squid/cephfs/tier-4_cephfs_system_scale_baremetal.yaml
  tests/cephfs/cephfs_system/cephfs_systest_data.json
  tests/cephfs/cephfs_system/cephfs_systest_monitor.py
  tests/cephfs/cephfs_system/cephfs_systest_setup.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review

#5057 [TFA][DMFG] Remove obsolete test case from OSD scenarios suite
  suites/reef/cephadm/tier2-osd-scenarios.yaml
  suites/squid/cephadm/tier2-osd-scenarios.yaml
  suites/tentacle/cephadm/tier2-osd-scenarios.yaml
Labels: lgtm, approved, DMFG, tfa-issue-fix, ceph-ci-review

#5115 Adding support for using SDP profile in multi vpc environment
  compute/ibm_vpc.py
  conf/inventory/ibm-eu-rhel-9.6.yaml
Labels: lgtm, approved, ceph-ci-review

#5121 [TFA]SMB Upgrade
  suites/squid/smb/tier-0-smb-upgrade-ibm-8x-to-8x-latest.yaml
  tests/smb/smb_upgrade_operations.py
Labels: lgtm, approved, smb, ceph-ci-review

#5044 byok testes part1 - library + supported method and a test case
  cli/ceph/auth/auth.py
  cli/ceph/nfs/export/export.py
  cli/utilities/filesys.py
  suites/squid/nfs/tier0-nfs-ganesha-byok.yaml
  tests/nfs/byok/byok_tools.py
  tests/nfs/byok/test_byok_with_io_fuse_validation.py
  tests/nfs/nfs_operations.py
  tests/nfs/test_nfs_io_operations_during_upgrade.py
  utility/gklm_client/__init__.py
  utility/gklm_client/auth.py
  utility/gklm_client/certs.py
  utility/gklm_client/client_mgmt.py
  utility/gklm_client/gklm_client.py
  utility/gklm_client/objects.py
Labels: RGW, RBD, RADOS, Ceph-FS, lgtm, approved, Polarion testcase, nfs-ganesha, ceph-ci-review

#5113 Test Automation: CEPH-83601542: Disabling and re-enabling and enable …
  tests/rbd_mirror/test_rbd_mirror_non_default_namespace_misc.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5047 CI integration of CEPH-83591444 and CEPH-83604505
  suites/squid/rgw/tier-2_rgw_downshard_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm, approved, ceph-ci-review

#5118 Automation for CEPH-83597864 - Live migration of images with snapshot…
  suites/squid/rbd/tier-2_rbd_migration_external_ceph.yaml
  suites/tentacle/rbd/tier-2_rbd_migration_external_ceph.yaml
  tests/rbd/test_rbd_migration_clones.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5127 Fixing xunit issue by adding name attribute in suite file
  suites/tentacle/cephfs/upstream_cephfs_mirror_core_functionality.yaml
Labels: Ceph-FS, lgtm, approved, ceph-ci-review, tentacle

#5122 CephFS - included new mirror ls command to existing tests
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5093 addding tests for rgw checksum testing with aws-sdk-go-v2
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: enhancement, pr-verified, RGW, lgtm, approved, close-loop-automation, ceph-ci-review

#5125 [TFA] Suite Splitting to Prevent Termination During Pipeline Runs
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_server_access_logging_test.yaml
  suites/squid/rgw/tier-2_rgw_single_site_regression.yaml
  suites/squid/rgw/tier-2_rgw_single_site_regression_extended.yaml
  suites/tentacle/rgw/tier-2_rgw_regression_extended.yaml
  suites/tentacle/rgw/tier-2_rgw_regression_test.yaml
  suites/tentacle/rgw/tier-2_rgw_server_access_logging_test.yaml
  suites/tentacle/rgw/tier-2_rgw_single_site_regression.yaml
  suites/tentacle/rgw/tier-2_rgw_single_site_regression_extended.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix

#5129 CephFS Scale-System - Enhancements
  suites/squid/cephfs/tier-4_cephfs_system_scale_baremetal.yaml
  tests/cephfs/cephfs_scale/cephfs_scale_utils.py
  tests/cephfs/cephfs_scale/cleanup.py
  tests/cephfs/cephfs_scale/run_scale_io.py
  tests/cephfs/lib/nfs_kmip.yaml
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review

#5133 [cephci][integration]: CEPH83622325
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_single_site_regression_extended.yaml
  suites/tentacle/rgw/tier-2_rgw_single_site_regression_extended.yaml
Labels: RGW, lgtm, approved

#5126 [RBD] Cover the multiple snap scheduling in existing test
  suites/squid/rbd/tier-2_non_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_namespace_mirror_operations.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5132 [TFA-fix]fixing intermittent tfa issue in sanity suites
  suites/squid/rgw/tier-2_rgw_ms_upgrade_8xsanity_to_8xlatest.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix

#5128 Adding invetory files for RHEL-10.0
  conf/inventory/ibm-rhel-10.0-server.yaml
  conf/inventory/rhel-10-latest.yaml
  conf/inventory/rhel-10.0-server-x86_64-large.yaml
  conf/inventory/rhel-10.0-server-x86_64-xlarge.yaml
  conf/inventory/rhel-10.0-server-x86_64.yaml
Labels: lgtm, approved, ceph-ci-review

#5138 TFA fixing fs life cycle ops
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_life_cycle.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5038 adding support for GKLM testcases to run on both openstack and ibmc with corressponding certs and gklm endpoints
  suites/reef/rgw/sanity_rgw_multisite.yaml
  suites/squid/rgw/sanity_rgw_multisite.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/squid/upstream/sanity_rgw_multisite.yaml
  suites/tentacle/rgw/sanity_rgw_multisite.yaml
  suites/tentacle/rgw/tier-2_rgw_ms_async_data_notification.yaml
  tests/rgw/sanity_rgw_multisite.py
  utility/utils.py
Labels: enhancement, pr-verified, RGW, lgtm, approved, ceph-ci-review

#5156 Fix Multi Mount Test failures
  tests/nfs/nfs_operations.py
Labels: lgtm, approved, nfs-ganesha, ceph-ci-review

#5144 [RBD] CEPH-83613954 - Changing the mirror mode for the existing mirror configured cluster
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  suites/tentacle/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5068 adding testcases for checksum with awscli_v1_v2
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_single_site_regression_extended.yaml
  suites/tentacle/rgw/tier-2_rgw_single_site_regression_extended.yaml
Labels: enhancement, pr-verified, RGW, lgtm, approved, close-loop-automation, ceph-ci-review

#5165 TFA fix for mirror ls - ignore version 6.x
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5172 Switch Jenkins node from RHEL 8 to RHEL 9 for cleanup volume job
  pipeline/rhos_scripts/Jenkinsfile-cleanup-cloud-volumes.groovy
Labels: lgtm, approved, ceph-ci-review

#5173 Refactor cleanup_vms to use os_cred dict with CephVMNodeV2
  utility/psi_remove_vms.py
Labels: lgtm, approved, ceph-ci-review

#5157 Automation for CEPH-83597863 - Live migration of images with encrypti…
  suites/squid/rbd/tier-2_rbd_migration_external_ceph.yaml
  suites/tentacle/rbd/tier-2_rbd_migration_external_ceph.yaml
  tests/rbd/test_rbd_live_migration_encryption_two_cluster.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5158 Removed the invalid yaml calls in the Testcase
  suites/squid/rgw/tier-1_rgw_ms_upgrade_71GA_to_8x_latest.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5167 Updating Rados core modules to accommodate enabling FAST EC features
  ceph/rados/core_workflows.py
  suites/tentacle/rados/tier-3_rados_test-4-node-fast-ecpools.yaml
Labels: RADOS, lgtm, approved, upstream, early-automation, ceph-ci-review, tentacle

#5170 tfa fix for existing image name
  ceph/rbd/workflows/group_mirror.py
Labels: RBD, lgtm, approved

#5174 Test Automation: CEPH-83598705-Live migration of sparse import with a…
  suites/squid/rbd/tier-2_rbd_migration_external_ceph.yaml
  suites/tentacle/rbd/tier-2_rbd_migration_external_ceph.yaml
  tests/rbd/test_rbd_migration_external_nbd.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5178 Add python-openstackclient to requirements.txt
  requirements.txt
Labels: lgtm, approved
