Repository red-hat-storage/cephci, pull requests merged in 2025-03, with the labels that each got.

#4427 Add cluster configuration for replication regression suites
  conf/squid/common/5node-1client-ecpool-replica1.yaml
  suites/squid/common/regression/ecpool-replica1-deploy-and-configure.yaml
Labels: Simplification

#4486 Updated rados upgrade paths to include n, n-1 & n-2 paths in all releases
  suites/pacific/rados/tier-2_rados_test-brownfield.yaml
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/quincy/rados/tier-2_rados_test-brownfield.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
Labels: RADOS

#4463 [stretch mode] osd and host replacement scenarios enhancement
  ceph/rados/core_workflows.py
  ceph/rados/mgr_workflows.py
  ceph/rados/serviceability_workflows.py
  suites/reef/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  tests/rados/test_stretch_osd_serviceability_scenarios.py
Labels: RADOS

#4500 Integration PR for RGW accounts, user migration, ownership change, notification_v2
  suites/squid/rgw/tier-2_rgw_cloud_transition.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
Labels: RGW, cephci-integration-pr

#4479 TFA-fix -verification of Ceph mgr crash customer bug
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/rados/tier-2_rados_test-drain-customer-issue.yaml
  tests/rados/test_node_drain_customer_bug.py
Labels: RADOS, tfa-issue-fix

#4506 RADOS TFA fixes for libcephsqlite, force-snap-removal and MAX_AVAIL calculcation
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-4_rados_tests.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
  tests/rados/test_cephdf.py
  tests/rados/test_libcephsqlite.py
  tests/rados/test_mon_mgr_weight.py
  tests/rados/test_pool_snap.py
Labels: RADOS, tfa-issue-fix

#4501 Stretch_pools : Addition of test to enable stretch mode on the pools
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/pool_tests.py
  tests/rados/test_stretch_n-az_netsplit_scenarios.py
Labels: RADOS, 8.0

#4516 CephCI Integration PR for Ratelimit division test
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: RGW, cephci-integration-pr

#4511 [Tier-4][RGW]CEPH-83574425 - Interrupt an ongoing resharding event
  suites/squid/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
  tests/misc_env/push_cosbench_workload.py
Labels: pr-verified, RGW, Polarion testcase, Tier-4

#4513 [Tier-4] cephci integration of polarion ID : CEPH-83572752
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
Labels: pr-verified, RGW, Polarion testcase, Tier-4

#4413 Add cluster configuration for AZ regression suites
  conf/squid/common/9node-1client-availability-zone.yaml
  suites/squid/common/regression/AZ_cluster_deploy_and_configure.yaml
Labels: Simplification

#4461 [RBD] Live migration of images with external data source as QCOW2 data format
  suites/squid/rbd/tier-2_rbd_migration_external_ceph.yaml
  tests/rbd/test_rbd_migration_external_qcow_image.py
Labels: RBD

#4507 RHCEPHQE-18228: [RADOS] TFA - Simplify host removal methods in serviceability workflows
  ceph/rados/core_workflows.py
  ceph/rados/serviceability_workflows.py
  suites/quincy/rados/tier-4_rados_tests.yaml
  tests/rados/rados_test_util.py
Labels: RADOS, tfa-issue-fix

#4525 TFA fix for the inconsistent PG
  ceph/rados/core_workflows.py
  tests/rados/test_osd_snap_inconsistency_pg.py
Labels: RADOS, tfa-issue-fix

#4529 [RGW] Requesting code owner acess to the rgw maintained files
  .github/CODEOWNERS
Labels: RGW, tfa-issue-fix

#4497 Simulate WAN Failure on a 3 way AA Multislte cluster
  suites/squid/rgw/tier-2_rgw_3_way_multisite.yaml
Labels: RGW, Tier-4

#4519 [Tier-3] [rgw-ms] CEPH-83575304 - Tweak num_shards to 32 and test bi-directional sync workload
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
Labels: pr-verified, RGW, Tier-3, Polarion testcase

#4535 [Config] Add new inventory config with vm size `3ci-large`
  conf/inventory/rhel-8.10-server-x86_64-3ci-large.yaml
  conf/inventory/rhel-9.5-server-x86_64-3ci-large.yaml
Labels: Simplification

#4521 Add 8.1 Ceph FScrypt workflow,testlib new method and suite
  suites/squid/cephfs/tier-1_cephfs_fscrypt.yaml
  tests/cephfs/cephfs_fscrypt/test_fscrypt_functional.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, Polarion testcase, New-Feature

#4537 Cephci Integration of CEPH-83574448
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
Labels: pr-verified, RGW, Tier-3, baremetal

#4475 adding support for testing lc transition and expiration at scale
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
  tests/misc_env/push_cosbench_workload.py
  tests/rgw/sanity_rgw.py
Labels: pr-verified, RGW, Tier-3, baremetal

#4538 Integration for CEPH-83591689
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
Labels: RGW, cephci-integration-pr

#4531 [RBD-Mirror] rbd mirror common test suites
  suites/squid/common/regression/2way_rbd_mirror.yaml
  suites/squid/common/sanity/rbd_mirror.yaml
  suites/squid/rbd/tier-2_rbd_cache_scenarios.yaml
  suites/squid/rbd/tier-2_rbd_encryption.yaml
  suites/squid/rbd/tier-3_rbd_operations.yaml
  suites/squid/rbd/tier-3_rbd_persistent_write_back_cache.yaml
  suites/squid/rbd/tier-3_rbd_snap_operations.yaml
  tests/rbd/test_rbd_immutable_cache.py
Labels: RBD

#4533 [8.1-cephfs] Adding Link Ops for ref inode tests
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/lib/cephfs_refinode_utils.py
  tests/cephfs/snapshot_clone/test_link_ops_validate_referent_inode.py
Labels: Ceph-FS, New-Feature

#4540 Rados TFA issue fixes
  ceph/rados/core_workflows.py
  ceph/rados/pool_workflows.py
  suites/pacific/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/quincy/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/quincy/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-2-rados-basic-regression.yaml
  suites/squid/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_ec_86.py
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_online_reads_balancer.py
  tests/rados/test_pg_autoscale_flag.py
  tests/rados/test_stretch_n-az_netsplit_scenarios.py
Labels: RADOS, tfa-issue-fix

#4548 Integration pr CEPH-83581974: Test LC cloud transition with scale of 1M objects
  suites/squid/rgw/baremetal/mero_scale_rgw_multi_site.yaml
Labels: RGW, cephci-integration-pr

#4553 [cephci] adding known issue for dynamic bucket resharding testcase
  conf/squid/rgw/rgw_multisite_spec.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4539 [8.1] CEPH-83609777 Test e2e namespace masking
  conf/squid/nvmeof/ceph_nvmeof_ns-masking-5_client.yaml
  suites/squid/nvmeof/tier-2_nvmeof_e2e_ns-masking.yaml
  tests/nvmeof/test_ceph_nvmeof_ns_masking.py
  tests/nvmeof/workflows/ha.py
Labels: nvmeof

#4508 positive workflows for bluestore data compression
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_bluestore_data_compression.py
Labels: RADOS

#4554 [RHCEPHQE-18330]:Case Sensitivity basic workflow - 2
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_disruptive.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_functional.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_negative.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/lib/cephfs_attributes_lib.py
Labels: Ceph-FS, early-automation

#4550 Automation for CEPH-83584085: Live migration of raw data format
  ceph/rbd/workflows/migration.py
  cli/rbd/rbd.py
  suites/quincy/rbd/tier-3_rbd_migration.yaml
  suites/reef/rbd/tier-3_rbd_migration.yaml
  suites/squid/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_live_migration_with_raw_data_format.py
Labels: RBD, lgtm

#4534 Added new GW CLIs for 8.1
  ceph/nvmegw_cli/gateway.py
  suites/squid/nvmeof/tier-2_8-1_nvmeof_gateway_operations.yaml
Labels: nvmeof

#4558 Updating the rados upgrade workflows
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, Upgrade

#4547 Fix the failed to load account issue, since account id is not present
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: review-in-progress, RGW, tfa-issue-fix

#4561 Qos test cases for cluster level
  cli/ceph/nfs/cluster/cluster.py
  cli/ceph/nfs/cluster/qos.py
  suites/squid/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/test_nfs_qos_on_cluster_level_enablement.py
Labels: in-progress

#4476 Adding nvme gateway deploymnets to common config
  conf/squid/common/17node-5client-nvme-single-site-regression.yaml
  suites/squid/common/regression/nvme-single-site-deploy-and-configure.yaml
Labels: Simplification

#4560 Remove known issue comment BZ2167475
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW

#4564 [TFA] - Enhance do_rados_put() to support writing single object without appending numeric suffixes
  ceph/rados/pool_workflows.py
  suites/squid/rados/tier-2_rados_test_cot_cbt.yaml
  suites/squid/rados/tier-2_rados_trim_tests.yaml
Labels: RADOS, tfa-issue-fix

#4566 [TFA] config file modified to run on haproxy, but node is not configured
  suites/squid/rgw/tier-1_rgw_sw_qat.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4567 [TFA] Rearranging Restart rgw service of primary fixed the failover issue
  suites/squid/rgw/tier-2_rgw_ms_failover_failback.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4568 [Squid][Upgrade]Add new suite
  suites/squid/upgrades/tier1-upgrade-ibm-8x-to-8x-latest.yaml
  suites/squid/upgrades/tier1-upgrade-rhcs-8x-to-8x-latest.yaml
Labels: Upgrade, CephAdm, DMFG

#4559 Add new worklow to add and remove OSD when storage near full or not f…
  suites/squid/cephfs/tier-3_cephfs_system_test.yaml
  tests/cephfs/cephfs_system/cephfs_system_utils.py
  tests/cephfs/cephfs_system/cephfs_systest_data.json
  tests/cephfs/cephfs_system/cephfs_systest_disruptive_tests.py
  tests/cephfs/cephfs_system/cephfs_systest_setup.py
  tests/cephfs/lib/cephfs_common_lib.py
Labels: Ceph-FS

#4577 Remove TC CEPH-83607707 from quincy suite
  suites/quincy/rgw/tier-1-extn_rgw.yaml
Labels: RGW, tfa-issue-fix

#4515 Automation of CEPH-83594004 - Verification of Scrub and Deep-Scrub Operations on Placement Groups (PGs)
  ceph/rados/rados_scrub.py
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  suites/squid/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_noscrub_nodeepscrub_check.py
Labels: RADOS, Polarion testcase

#4545 CEPH-83609785: Test to verify OSD failure recovery due to corruption in allocator file
  .github/CODEOWNERS
  ceph/rados/bluestoretool_workflows.py
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  tests/rados/test_osd_crashes.py
  utility/generate_frag_objs.py
Labels: RADOS, Polarion testcase, close-loop-automation, Tier-4, 7.1-bugs-automate

#4605 TFA Fix - Inconsistent object pg check using pool snapshot for RE pools failing with "not scrubbed in time error"
  ceph/rados/core_workflows.py
  tests/rados/test_osd_replicated_inconsistency_scenario.py
Labels: RADOS, tfa-issue-fix

#4583 Fixes test failures in s3tests for cross_account with email as grantee
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  tests/rgw/test_s3.py
Labels: RGW, tfa-issue-fix

#4588 [Fix] do_rados_put method numeric suffix
  ceph/rados/pool_workflows.py
Labels: RADOS

#4609 Distribute Sanity Suite Test Cases Across Regression and Weekly Test Suites
  suites/quincy/rados/tier-2_rados_test-brownfield.yaml
  suites/quincy/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test_bluestore.yaml
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/quincy/rados/tier-2_rados_test_parameters.yaml
  suites/quincy/rados/tier-2_rados_trim_tests.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-2_rados_test-brownfield.yaml
  suites/reef/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/reef/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test_bluestore.yaml
  suites/reef/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-2_rados_test_parameters.yaml
  suites/reef/rados/tier-2_rados_trim_tests.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/squid/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  suites/squid/rados/tier-2_rados_test_omap.yaml
  suites/squid/rados/tier-2_rados_test_parameters.yaml
  suites/squid/rados/tier-2_rados_trim_tests.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
Labels: RADOS

#4603 Fix haproxy endpoint issue seen with suite [DMFG][tier2-rgw-with-warn…
  suites/squid/cephadm/tier2-rgw-with-warn-state.yaml
Labels: pr-verified, RGW, CephAdm, tfa-issue-fix

#4549 [RADOS] Create common test suites for serial execution
  suites/squid/common/regression/rados/rados_3-AZ-Cluster.yaml
  suites/squid/common/regression/rados/rados_4-node-ecpools.yaml
  suites/squid/common/regression/rados/rados_bluestore.yaml
  suites/squid/common/regression/rados/rados_bugfixes.yaml
  suites/squid/common/regression/rados/rados_location-stretch-mode.yaml
  suites/squid/common/regression/rados/rados_osd-rebalance-recovery.yaml
  suites/squid/common/regression/rados/rados_pg-split-merge.yaml
  suites/squid/common/regression/rados/rados_pool-functionalities.yaml
  suites/squid/common/regression/rados/rados_replica1.yaml
  suites/squid/common/regression/rados/rados_scrubbing.yaml
Labels: RADOS, Compaction

#4610 [TFA] Baremetal logging error in lc
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, tfa-issue-fix, baremetal

#4606 Fix issue seen with haproxy endpoint w.r.t config: test_Mbuckets_with…
  suites/squid/common/sanity/rgw.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
  suites/squid/rgw/tier-1_rgw.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_multirealm_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_multisite.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_3_way_ms_failover.yaml
  suites/squid/rgw/tier-2_rgw_ms_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/upstream/tier-1_rgw_upstream.yaml
Labels: RGW, tfa-issue-fix

#4616 TFA issue fix rados bench overwriting object
  ceph/rados/core_workflows.py
  ceph/rados/serviceability_workflows.py
  tests/rados/test_libcephsqlite.py
Labels: RADOS

#4613 [TFA] update RHEL versions in mix OS conf files
  conf/quincy/cephadm/1admin_4node_1client_mix_os.yaml
  conf/reef/cephadm/1admin_4node_1client_mix_os.yaml
  conf/squid/cephadm/1admin-4node-1client-mix-os.yaml
Labels: DMFG, tfa-issue-fix

#4608 Validate nvmeof namespace masking from initiators
  suites/squid/nvmeof/tier-2_nvmeof_e2e_ns-masking.yaml
  tests/nvmeof/test_ceph_nvmeof_ns_masking.py
  tests/nvmeof/workflows/ha.py
Labels: nvmeof, 8.1

#4594 [RBD] rbd regression test suites for common deployment
  suites/squid/common/regression/rbd/tier-2_rbd_group.yaml
  suites/squid/common/regression/rbd/tier-2_rbd_image_migration.yaml
  suites/squid/common/regression/rbd/tier-2_rbd_image_operation.yaml
  suites/squid/common/regression/rbd/tier-2_rbd_namespace.yaml
Labels: RBD, Compaction

#4595 CEPH-83575397: Adding negative testcase for radosgw-admin commands
  suites/reef/rgw/tier-2_rgw_multisite_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_multisite_regression_extended.yaml
Labels: RGW, Tier-2

#4615 additional scenarios to bluestore data compression
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_bluestore_data_compression.py
Labels: RADOS

#4611 Adding 4 more scenarios for cephfs 8.1 referent inode feature
  tests/cephfs/lib/cephfs_refinode_utils.py
  tests/cephfs/snapshot_clone/test_link_ops_validate_referent_inode.py
Labels: Ceph-FS, upstream, early-automation, New-Feature

#4619 [TFA] missed check_ec arguement
  ceph/rados/core_workflows.py
Labels: RADOS
