Repository red-hat-storage/cephci, pull requests merged in 2025-04, with the labels that each got.

#4563 Module changes for group mirroring
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/group.py
  ceph/rbd/workflows/rbd_mirror.py
  ceph/rbd/workflows/snap_scheduling.py
  cli/rbd/group.py
  cli/rbd/mirror/group.py
  cli/rbd/mirror/mirror.py
Labels: RBD, lgtm

#4622 [TFA]: Remove NFS Scenario from Sanity suite
  suites/quincy/cephfs/tier-0_fs.yaml
  suites/reef/cephfs/tier-0_fs.yaml
  suites/squid/common/sanity/cephfs.yaml
Labels: Ceph-FS, tfa-issue-fix

#4621 [Tier-3] cephci integration of polarion id : CEPH-83591446
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, Tier-3

#4573 Verify No Defunct SSH Connections After Manager Redeployment
  suites/pacific/rados/tier-2_rados_test-bugfixes.yaml
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_defunct_ssh_connections.py
Labels: RADOS

#4599 Rados new feature automation 8.1 - Fragmentation warnings
  ceph/rados/core_workflows.py
  suites/squid/rados/tier-4_rados_tests.yaml
  tests/rados/test_fragmentation_warnings.py
  tests/rados/test_online_reads_balancer.py
Labels: RADOS, 8.1

#4565 Filter for downstream build only to add the rgw_restore_debug_interva…
  utility/utils.py
Labels: RGW, upstream, tfa-issue-fix

#4604 [cephci] sanity suite for IBM build execution
  suites/squid/rgw/tier-1_rgw_ibm.yaml
Labels: pr-verified, RGW, PipelineV3.0, tfa-issue-fix

#4643 [NVMe] updated tier for inband authentication suite
  suites/squid/nvmeof/tier-2_nvmeof_4-nvmeof-gwgroup_inbandauth_tests.yaml
Labels: nvmeof

#4645 checking if grouptype exists in conifg before comparing
  ceph/rbd/initial_config.py
Labels: RBD, lgtm

#4639 CephFS 8.1 - Adding 1 last scenario to ref-inode link ops and fixed f-strings
  tests/cephfs/lib/cephfs_refinode_utils.py
  tests/cephfs/snapshot_clone/test_link_ops_validate_referent_inode.py
Labels: Ceph-FS, early-automation, New-Feature

#4637 RHCEPHQE-18767: Case Sensitivity NFS, SMB logic and refactor
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_functional.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_negative.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/lib/cephfs_common_lib.py
Labels: Ceph-FS, 8.1

#4627 Fix haproxy issue for the config: test_Mbuckets_with_Nobjects_etag.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
Labels: RGW, tfa-issue-fix

#4628 CEPH-83610948 - NVMe healthcheck on gateway unavailability
  suites/squid/nvmeof/tier-2_nvmeof-alerts_health-checks-events.yaml
  tests/nvmeof/test_ceph_nvmeof_alerts_events.py
Labels: nvmeof, 8.1

#4579 Added HAProxy configuration
  suites/pacific/rgw/tier-0_rgw.yaml
  suites/pacific/rgw/tier-1_rgw.yaml
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-1_rgw_test_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
  suites/quincy/rgw/test-basic-object-operations.yaml
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_6-0GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: RGW

#4633 Add FScrypt functional tests,suite file update
  suites/squid/cephfs/tier-1_cephfs_fscrypt.yaml
  tests/cephfs/cephfs_fscrypt/test_fscrypt_basic.py
  tests/cephfs/lib/cephfs_common_lib.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, Polarion testcase, New-Feature

#4649 [Squid][SMB]Test Automation
  suites/squid/smb/tier-1-smb.yaml
  suites/squid/smb/tier-2-smb.yaml
  tests/smb/smb_conf_check.py
  tests/smb/smb_encryption.py
  tests/smb/smb_mgr_module.py
Labels: DMFG, smb

#4646 [TFA] issue due to version of object in archive zone
  suites/squid/rgw/tier-1_rgw_archive_ms_upgrade_71GA_to_8x_latest.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4648 CI Integration of unified namespace of S3 and swift
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW

#4654 Added HAproxy for quincy suites
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
Labels: RGW, tfa-issue-fix

#4642 [TFA] Fixed setup RGW multisite failure
  suites/squid/rgw/tier-1_rgw_ibm_ssl_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_archive_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ms_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_cloud_transition.yaml
Labels: RGW, tfa-issue-fix

#4660 [RADOS] RHCEPHQE-19008: TFA fix for PG log limit test
  tests/rados/test_pg_log_limit.py
Labels: RADOS, tfa-issue-fix

#4630 3AZ Scenarios - negative tests for stretch pool mode enable command
  ceph/rados/core_workflows.py
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  tests/rados/test_stretch_n_az_negative_scenarios.py
Labels: RADOS, 8.0

#4656 [TFA] Update config file as per environment
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4600 Changes to validate QoS settings for namespaces
  suites/squid/nvmeof/tier-2_nvmeof_qos_sanity_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_qos_tests.py
  tests/nvmeof/workflows/nvme_utils.py
Labels: nvmeof, 8.1

#4596 Updating NFS Sanity cases
  suites/squid/common/sanity/nfs.yaml
Labels: stale-warning-on-inactivity

#4663 Add libraries for nvmeof namespace auto load balancing feature
  tests/nvmeof/workflows/ha.py
Labels: nvmeof, 8.1

#4653 [TFA] [Fix] Automation issue and comment section
  ceph/rados/core_workflows.py
  conf/reef/rados/13-node-cluster.yaml
  conf/squid/rados/13-node-cluster.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, tfa-issue-fix

#4671 Added know issue comment
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW

#4626 [TFA] fix issue seen in suite : tier-2_rgw_3_way_ms_failover
  suites/squid/rgw/tier-2_rgw_3_way_ms_failover.yaml
Labels: pr-verified, RGW, Tier-2, tfa-issue-fix

#4659 [CEPH-83610950] NVMeoF Multiple Namespaces Of RBDImage alert
  suites/squid/nvmeof/tier-2_nvmeof-alerts_health-checks-events.yaml
  tests/nvmeof/test_ceph_nvmeof_alerts_events.py
  tests/nvmeof/workflows/ha.py
  tests/nvmeof/workflows/nvme_utils.py
Labels: nvmeof

#4662 Rados test suite optimizations - Update bench duration->max_obj
  suites/quincy/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/quincy/rados/tier-2-rados-basic-regression.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/quincy/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-2_rados_test-scrubbing.yaml
  suites/quincy/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_ssd-tests.yaml
  suites/quincy/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/quincy/upstream/tier-2-rados-basic-regression.yaml
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
  suites/reef/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/reef/rados/test_rados_all_generic_features.yaml
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/reef/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/reef/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/reef/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/reef/rados/tier-3_rados_ssd-tests.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  suites/squid/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/squid/rados/tier-2-rados-basic-regression.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/squid/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/squid/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/squid/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/squid/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/squid/rados/tier-2_rados_test-scrubbing.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/squid/rados/tier-3_rados_ssd-tests.yaml
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
Labels: RADOS

#4675 [TFA] Rearranging testcase of enable and disable dynamic reshard
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4661 Module changes for Namespace level mirroring
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/namespace.py
  ceph/rbd/workflows/rbd_mirror.py
Labels: RBD

#4681 CEPH-83611097: NVMeoF Missing Listener warning alert
  suites/squid/nvmeof/tier-2_nvmeof-alerts_health-checks-events.yaml
  tests/nvmeof/test_ceph_nvmeof_alerts_events.py
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
Labels: nvmeof

#4673 [Conf] Add bx2-(2x8,4x16) IBM cloud inventories
  conf/inventory/ibm-rhel-9.5-server-bx2-2x8.yaml
  conf/inventory/ibm-rhel-9.5-server-bx2-4x16.yaml
Labels: ibmc

#4683 [TFA Fix]: RHCEPHQE-19096: Mirror failure during dbench installation
  tests/cephfs/cephfs_IO_lib.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, tfa-issue-fix

#4680 [TFA] Set run-on-haproxy: true for tests failing with HAProxy issue
  suites/pacific/rgw/tier-1_rgw_ms-omap-datalog-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_multisite_multirealm_upgrade-5-to-latest.yaml
  suites/pacific/rgw/tier-2_rgw_test-lc-prefix.yaml
  suites/pacific/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_5-3_to_6x_latest.yaml
  suites/quincy/rgw/tier-1_rgw_upgrade_6-0GA_to_6x_latest.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/reef/rgw/tier-1_rgw.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_5_3GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_6_1GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_7_0GA_to_7x_latest.yaml
  suites/reef/rgw/tier-1_rgw_upgrade_ssl_71GA_to_71x_latest.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-1_rgw.yaml
Labels: RGW, tfa-issue-fix

#4651 8.1 nvmeof scale test suite
  suites/squid/nvmeof/tier-2_8-1-nvmeof_cross-feature.yaml
  suites/squid/nvmeof/tier-3_8-1-nvmeof_4-group_8-gw_scale.yaml
Labels: nvmeof

#4682 [Baremetal] Add osd nodes to mero multisite cluster
  conf/baremetal/mero_multisite_1admin_3node_along_client.yaml
  suites/squid/baremetal/deploy/rh/mero_multisite_1admin_3node_along_client.yaml
Labels: RGW, tfa-issue-fix, baremetal

#4575 Update coverage for upstream Pipeline runs
  suites/squid/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/squid/rgw/tier-1_rgw_and_lc.yaml
  suites/squid/upstream/sanity_rgw.yaml
  suites/squid/upstream/sanity_rgw_multisite.yaml
Labels: RGW, upstream

#4693 Added Testcase CEPH-83572657 to Squid
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW, Tier-3

#4668 Removed parallel execution due to test failures during parallel run
  suites/squid/common/sanity/rgw.yaml
Labels: lgtm, tfa-issue-fix

#4689 [TFA-Fix] added skip-monitoring-stack: true
  suites/pacific/rgw/tier-1_rgw_ecpool_ms-bucket-object-gc-policy-on-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-bucket-object-gc-policy-on-secondary.yaml
  suites/pacific/rgw/tier-2_rgw_ms_failover_failback.yaml
  suites/quincy/rgw/tier-1_rgw_multisite.yaml
  suites/quincy/rgw/tier-2_rgw_multisite.yaml
  suites/reef/rgw/tier-2_rgw_test_lifecycle.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/reef/rgw/tier-4-rgw.yaml
Labels: RGW, tfa-issue-fix

#4700 [Conf] Add smoke tests for Quincy & Reef
  conf/quincy/common/3node-1client.yaml
  conf/reef/common/3node-1client.yaml
  suites/quincy/common/smoke/bvt.yaml
  suites/quincy/common/smoke/deploy-and-configure.yaml
  suites/reef/common/smoke/bvt.yaml
  suites/reef/common/smoke/deploy-and-configure.yaml
Labels: Compaction

#4666 [TFA] add ceph orch device ls --refresh after zapping device
  suites/pacific/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/quincy/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/quincy/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/reef/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  suites/squid/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  suites/squid/rados/tier-2_rados_trim_tests.yaml
  suites/squid/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
  tests/rados/test_cephvolume_workflows.py
  tests/rados/test_osd_compaction.py
Labels: RADOS, tfa-issue-fix

#4688 [rbd] bvt fix with downstream test
  suites/pacific/integrations/cvp.yaml
  suites/pacific/interop/test-ceph-sanity.yaml
  suites/quincy/integrations/cvp.yaml
  suites/quincy/interop/test-ceph-sanity.yaml
  suites/reef/interop/test-ceph-sanity.yaml
  suites/squid/interop/test-ceph-sanity.yaml
Labels: RBD

#4614 [LibFix] Add support for multiple ssh key type for vm authentication
  ceph/ceph.py
Labels: ibmc

#4696 Update public_network config level from 'mon' to 'global'
  ceph/ceph_admin/bootstrap.py
Labels: framework

#4703 [TFA][Baremetal] REmove testcase of IO from deployment as it already part of IO
  suites/squid/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
Labels: RGW, tfa-issue-fix, baremetal

#4698 [TFA] Update the upgrade module from test_cephadm_upgrade to test_upgrade_warn
  suites/quincy/rados/tier-2_rados_test_parameters.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_test-brownfield.yaml
  suites/reef/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/common/regression/rados/rados_4-node-ecpools.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  tests/rados/test_online_reads_balancer.py
  tests/rados/test_reads_balancer.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, tfa-issue-fix

#4695 RHCEPHQE-19097: [Case-sensitivity] Include feature in Regression suite
  suites/reef/cephfs/tier-0_cephfs_upgrade_5x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_6x_to_7x.yaml
  suites/reef/cephfs/tier-0_cephfs_upgrade_70_to_71.yaml
  suites/squid/cephfs/regression_suite.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_71_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_8GA_to_81x_latest.yaml
  suites/squid/cephfs/tier-0_cephfs_upgrade_8x_latest_to_81x_latest.yaml
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_disruptive.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_functional.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_negative.py
  tests/cephfs/exceptions.py
  tests/cephfs/lib/cephfs_attributes_lib.py
  tests/cephfs/lib/cephfs_common_lib.py
Labels: Ceph-FS

#4705 [TFA][RGW] fix issues of TFA
  suites/pacific/rgw/tier-1_rgw_multisite_upgrade-5-to-latest.yaml
  suites/reef/rgw/tier-1_rgw.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_multirealm_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_multisite.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ssl_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_ms_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
Labels: pr-verified, RGW, Upgrade, tfa-issue-fix

#4704 updated jdk version 23 -> 24
  conf/inventory/rhel-8.10.0-x86_64-rgw.yaml
  conf/inventory/rhel-9.5.0-x86_64-rgw.yaml
  suites/nautilus/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/squid/common/regression/2way_rgw_ms.yaml
  suites/squid/common/regression/ss_rgw_ecpool_multirealm.yaml
  suites/squid/common/regression/ss_rgw_ssl.yaml
Labels: RGW, tfa-issue-fix

#4711 Include known product issue: BZ2361821
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW

#4712 [TFA] remove parallel run from suite part of sanity
  suites/quincy/rgw/test-basic-object-operations.yaml
  suites/reef/rgw/tier-1_rgw.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-1_rgw.yaml
  suites/squid/rgw/tier-1_rgw_ibm.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW, tfa-issue-fix

#4713 Fix failure seen with suite pacific-rgw-tier-4-rgw.yaml
  suites/pacific/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4718 [TFA]Include haproxy for the rgw testcase of download
  suites/quincy/cephadm/tier-2-rgw-with-warn-state.yaml
  suites/reef/cephadm/tier2-rgw-with-warn-state.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4714 [TFA] remove known issue for BZ2351842
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4719 [TFA] remove config install_common: false
  suites/squid/rgw/tier-1_rgw_ibm.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4720 [TFA-fix] Changing haproxy-client node
  suites/quincy/rgw/tier-2_rgw_test-using-s3cmd.yaml
  suites/reef/rgw/tier-2_rgw_test_lifecycle.yaml
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/reef/rgw/tier-4-rgw.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: RGW, tfa-issue-fix

#4722 [TFA]Fix changed the cert generate command.
  suites/squid/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
Labels: RGW, tfa-issue-fix

#4723 Fix deployment issue seen with upgrade path
  suites/squid/rgw/tier-2_rgw_ms_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4724 [TFA] replace node merro001 with mero016
  conf/baremetal/mero_multisite_1admin_3node_along_client.yaml
  suites/squid/baremetal/deploy/rh/mero_multisite_1admin_3node_along_client.yaml
Labels: pr-verified, RGW, tfa-issue-fix, baremetal, 8.1

#4725 [TFA][Baremetal]change cosbench configuration
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
Labels: pr-verified, RGW, tfa-issue-fix, baremetal, 8.1

#4733 Added rbd pool creation for neg_tests
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: nvmeof

#4731 [RHCEPHQE-19374]: [TFA]: Handle the bluestore health check failure
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_functional.py
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_repeated_restart_mds.py
Labels: Ceph-FS, tfa-issue-fix

#4706 [NVMe]Added support for nohugepages
  suites/squid/nvmeof/tier-2_nvmeof_hugepages_operations.yaml
Labels: 8.1

#4732 Auto namespace load balancing with namespace add and del
  suites/squid/nvmeof/tier-2_8-1_auto-load-balancing_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_loadbalancing.py
Labels: nvmeof, 8.1

#4734 [TFA] fix issue with test_Mbuckets_with_Nobjects_compression
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/reef/rgw/tier-1_rgw_sw_qat.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4729 REmove/include known issue based on current bugzilla status
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, tfa-issue-fix

#4721 qos tests-cases for combained bandwidth parameters for bandwidth control
  cli/ceph/nfs/cluster/qos.py
  cli/ceph/nfs/export/qos.py
  suites/squid/nfs/tier0-nfs-ganesha.yaml
  tests/nfs/test_nfs_qos_on_cluster_level_enablement.py
  tests/nfs/test_nfs_qos_on_export_level_enablement.py
Labels: nfs-ganesha, 8.0, 8.1

#4716 [TFA]Create flag for disable/enable modify profile with --force flag
  ceph/rados/core_workflows.py
  ceph/rados/serviceability_workflows.py
  conf/quincy/rados/stretch-mode-host-location-attrs.yaml
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/pool_tests.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
Labels: RADOS

#4694 No CEPHADM_STRAY_DAEMON warning while replacing the osd
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_No_Cephadm_Stray_Daemon.py
Labels: RADOS

#4743 [RHCEPHQE-19393]: [TFA]: Fix suite tier-3_cephfs_test_cephfs-top
  tests/cephfs/cephfs_top/cephfs_top_dump.py
  tests/cephfs/cephfs_top/cephfs_top_negative_tests.py
  tests/cephfs/cephfs_top/validate_fs_top_stats.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/exceptions.py
Labels: Ceph-FS, tfa-issue-fix
