Repository red-hat-storage/cephci, pull requests merged in 2025-06, with the labels that each got.

#4690 Stabilization of Initiator validation in case of failover
  tests/nvmeof/workflows/ha.py
  tests/nvmeof/workflows/initiator.py
Labels: lgtm, approved

#4868 Add additional Tests to CephFS Mirror Upgrade Suites
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_8x_latest_to_81x_latest.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_8GA_to_81x_latest.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
Labels: Ceph-FS, lgtm, approved, ceph-ci-review

#4866 [TFA] skip elapsed_time in test case Bluefs DB utilization and Osd Compaction based on release
  suites/squid/rados/tier-2_rados_test_bluestore.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_bluefs_space.py
  tests/rados/test_osd_compaction.py
Labels: RADOS, lgtm, tfa-issue-fix, ceph-ci-review

#4870 Fixed input to fetch_paths_for_namespaces
  tests/nvmeof/workflows/initiator.py
Labels: lgtm, ceph-ci-review

#4871 [RBD] Removed intermittent tests
  suites/quincy/rbd/tier-1_rbd.yaml
  suites/quincy/rbd/tier-1_rbd_mirror.yaml
  suites/reef/rbd/tier-1_rbd.yaml
  suites/reef/rbd/tier-1_rbd_mirror.yaml
  suites/squid/rbd/tier-1_rbd.yaml
  suites/squid/rbd/tier-1_rbd_mirror.yaml
Labels: RBD, lgtm, ceph-ci-review

#4858 Cephci integration of polarion testcase : CEPH-83620440
  suites/reef/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, ceph-bug-automate

#4869 Specify cluster site to be used in case of multisite setup
  suites/reef/rgw/tier-2_rgw_ms_async_data_notification.yaml
Labels: RGW, lgtm, tfa-issue-fix, ceph-ci-review

#4873 Fix for nvme list output for RHEL9.5
  ceph/nvmeof/initiator.py
  ceph/nvmeof/nvme_cli.py
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_qos_tests.py
  tests/nvmeof/test_ceph_nvmeof_sub_limit.py
  tests/nvmeof/workflows/initiator.py
Labels: RBD, lgtm, nvmeof, ceph-ci-review

#4839 FScrypt new feature automation for functional tests
  suites/squid/cephfs/8_1_features_suite.yaml
  tests/cephfs/cephfs_fscrypt/test_fscrypt_basic.py
  tests/cephfs/cephfs_fscrypt/test_fscrypt_functional.py
  tests/cephfs/cephfs_fscrypt/test_fscrypt_negative.py
  tests/cephfs/lib/cephfs_common_lib.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, lgtm, Polarion testcase, New-Feature, ceph-ci-review

#4865 Moving long_running to timeout
  suites/squid/cephfs/regression_suite.yaml
  tests/cephfs/CEPH-10625_11225.py
  tests/cephfs/CEPH-11222_11223.py
  tests/cephfs/bug-1980920.py
  tests/cephfs/ceph-83573462.py
  tests/cephfs/cephfs_IO_lib.py
  tests/cephfs/cephfs_basic_tests.py
  tests/cephfs/cephfs_bugs/test_cephfs_pool_size_change.py
  tests/cephfs/cephfs_bugs/test_client_blocklist_large_session_metadata.py
  tests/cephfs/cephfs_bugs/test_clone_delete_with_FS_fail.py
  tests/cephfs/cephfs_bugs/test_defer_client_evict_on_laggy_osd.py
  tests/cephfs/cephfs_bugs/test_fs_recovery_dir_rm.py
  tests/cephfs/cephfs_bugs/test_validate_mclientcaps_revoke_ack.py
  tests/cephfs/cephfs_bugs/validate_mds_health_with_client_evict.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_subvolume.py
  tests/cephfs/cephfs_clean_up.py
  tests/cephfs/cephfs_generic/test_data_migrate_bw_buckets.py
  tests/cephfs/cephfs_nfs/move_data_bw_nfs_and_cephfs_mounts.py
  tests/cephfs/cephfs_perf/cephfs_stress_io_from_multiple_clients.py
  tests/cephfs/cephfs_perf/fuse_kernel_performance.py
  tests/cephfs/cephfs_recovery/fs_down_flag.py
  tests/cephfs/cephfs_recovery/fs_scrub.py
  tests/cephfs/cephfs_system/cephfs_systest_client_io.py
  tests/cephfs/cephfs_system/cluster_down_up.py
  tests/cephfs/cephfs_system/mds_cache_trimming_caps_recall.py
  tests/cephfs/cephfs_system/mds_nfs_node_failure_ops.py
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/cephfs_utils.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_info.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_create_delete_loop.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_rename_earmark_subvolume.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_octal_modes.py
  tests/cephfs/clients/client_fs_information_restriction.py
  tests/cephfs/clients/file_lock_on_mounts.py
  tests/cephfs/clients/file_unlink_on_clients.py
  tests/cephfs/clients/multifs_mount_same_client.py
  tests/cephfs/clients/smallfiles_with_different_operations.py
  tests/cephfs/clients/test_no_data_sharing_multifs.py
  tests/cephfs/multifs/multifs_default_values.py
  tests/cephfs/multifs/multifs_fusemounts.py
  tests/cephfs/multifs/multifs_multiplefs.py
  tests/cephfs/nfs-ganesha_basics.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
  tests/cephfs/snapshot_clone/clone_attributes.py
  tests/cephfs/snapshot_clone/clone_cancel_in_progress.py
  tests/cephfs/snapshot_clone/clone_cancel_status.py
  tests/cephfs/snapshot_clone/clone_remove_subvol.py
  tests/cephfs/snapshot_clone/clone_status.py
  tests/cephfs/snapshot_clone/clone_subvolume_full_vol.py
  tests/cephfs/snapshot_clone/clone_threads.py
  tests/cephfs/snapshot_clone/max_snapshot_limit.py
  tests/cephfs/snapshot_clone/retain_snapshots.py
  tests/cephfs/snapshot_clone/snap_schedule.py
  tests/cephfs/snapshot_clone/snap_schedule_with_mds_restart.py
  tests/cephfs/snapshot_clone/snapshot_flag.py
  tests/cephfs/snapshot_clone/subvolume_info_retain.py
  tests/cephfs/subvolume_authorize.py
  tests/cephfs/xfs_test.py
Labels: lgtm, approved, ceph-ci-review

#4878 Addition of RADOS suite & conf files in tentacle folder
  conf/tentacle/rados/11-node-cluster.yaml
  conf/tentacle/rados/11-node-replica1-cluster.yaml
  conf/tentacle/rados/13-node-cluster-4-clients-rhos-d.yaml
  conf/tentacle/rados/13-node-cluster-4-clients.yaml
  conf/tentacle/rados/13-node-cluster.yaml
  conf/tentacle/rados/3AZ-cluster-rhos-1.yaml
  conf/tentacle/rados/3AZ-cluster-rhos-d.yaml
  conf/tentacle/rados/4-node-ec-cluster-1-client.yaml
  conf/tentacle/rados/7-node-cluster.yaml
  conf/tentacle/rados/7node-1client-stretch-mode-rhos-d.yaml
  conf/tentacle/rados/depressa-cluster.yaml
  conf/tentacle/rados/stretch-mode-host-location-attrs.yaml
  conf/tentacle/rados/test-confs/cluster-configs
  conf/tentacle/rados/test-confs/pool-configurations.yaml
  conf/tentacle/rados/test-confs/rados_config_parameters.ini
  suites/tentacle/rados/deploy-stretch-cluster-mode.yaml
  suites/tentacle/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/tentacle/rados/tier-2-rados-basic-regression.yaml
  suites/tentacle/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/tentacle/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/tentacle/rados/tier-2_rados_test-brownfield.yaml
  suites/tentacle/rados/tier-2_rados_test-bugfixes.yaml
  suites/tentacle/rados/tier-2_rados_test-drain-customer-issue.yaml
  suites/tentacle/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/tentacle/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/tentacle/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/tentacle/rados/tier-2_rados_test-pg-dups-trimming.yaml
  suites/tentacle/rados/tier-2_rados_test-pg-split-merge.yaml
  suites/tentacle/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/tentacle/rados/tier-2_rados_test-scrubbing.yaml
  suites/tentacle/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/tentacle/rados/tier-2_rados_test_bluestore.yaml
  suites/tentacle/rados/tier-2_rados_test_cot_cbt.yaml
  suites/tentacle/rados/tier-2_rados_test_omap.yaml
  suites/tentacle/rados/tier-2_rados_test_parameters.yaml
  suites/tentacle/rados/tier-2_rados_trim_tests.yaml
  suites/tentacle/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/tentacle/rados/tier-3_rados_ssd-tests.yaml
  suites/tentacle/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/tentacle/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/tentacle/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/tentacle/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/tentacle/rados/tier-3_rados_test-stretch-mode-baremetal.yaml
  suites/tentacle/rados/tier-4_rados_test-pool-osd-recovery.yaml
  suites/tentacle/rados/tier-4_rados_tests.yaml
Labels: RADOS, lgtm, ceph-ci-review, 9.0

#4867 Automation optimisation CEPH-83611277
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_add_remove_group_mirror.py
  tests/rbd_mirror/test_namespace_group_mirror.py
Labels: RBD, lgtm, ceph-ci-review

#4863 adding basic NFS I/O ops parallel to upgrade
  cli/ceph/nfs/cluster/cluster.py
  suites/squid/nfs/tier1-nfs-ganesha-upgrade-ibm-7x-to-8x-latest.yaml
  suites/squid/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-8x-latest.yaml
  tests/nfs/test_nfs_io_operations_during_upgrade.py
Labels: lgtm, approved, ceph-ci-review

#4886 [Fix] Update service verify timer
  tests/smb/smb_operations.py
Labels: lgtm, ceph-ci-review

#4885 [TFA][Comment update] Remove references of verified bug 2243570 and 2338097
  suites/quincy/rados/tier-2_rados_test-brownfield.yaml
  suites/quincy/rados/tier-2_rados_test-brownfield_ibm.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade_ibm.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery_ibm.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-brownfield_ibm.yaml
  suites/tentacle/rados/tier-2_rados_test-brownfield.yaml
Labels: RADOS, lgtm, tfa-issue-fix, ceph-ci-review

#4891 TFA fix for upgrade suite failure,replace version check with loosever…
  tests/cephfs/cephfs_upgrade/metadata_version_validation.py
  tests/cephfs/quota/quota_files.py
Labels: Ceph-FS, lgtm, Polarion testcase, tfa-issue-fix, ceph-ci-review

#4893 [NVMe] Unify 8.0 and 8.1 NLB suites
  suites/squid/nvmeof/tier-2_8-1_auto-load-balancing_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_loadbalancing_tests.yaml
Labels: lgtm, ceph-ci-review

#4898 Fix neg_tests on nvme list output
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, ceph-ci-review

#4896 [RADOS] TFA fixes for CBT WAL/DB Addition | Mitigate OSD systemctl false failure | Fix bootstrap arguments for test suites
  ceph/rados/core_workflows.py
  suites/pacific/rados/tier-2_rados_test_cot_cbt.yaml
  suites/quincy/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/quincy/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/quincy/rados/tier-2_rados_ec-pool_recovery_ibm.yaml
  suites/quincy/rados/tier-2_rados_test-brownfield_ibm.yaml
  suites/quincy/rados/tier-2_rados_test-stretch-mode-upgrade_ibm.yaml
  suites/quincy/rados/tier-2_rados_test_cot_cbt.yaml
  suites/reef/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/reef/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/reef/rados/tier-2_rados_ec-pool_recovery_ibm.yaml
  suites/reef/rados/tier-2_rados_test-brownfield_ibm.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade_ibm.yaml
  suites/reef/rados/tier-2_rados_test_cot_cbt.yaml
  suites/squid/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/squid/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/squid/rados/tier-2_rados_ec-pool_recovery_ibm.yaml
  suites/squid/rados/tier-2_rados_test-brownfield_ibm.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade_ibm.yaml
  suites/squid/rados/tier-2_rados_test_cot_cbt.yaml
  suites/tentacle/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/tentacle/rados/tier-2_rados_bm_add_db_wal_cbt.yaml
  suites/tentacle/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/tentacle/rados/tier-2_rados_test_cot_cbt.yaml
Labels: RADOS, lgtm, tfa-issue-fix, ceph-ci-review

#4881 [TFA-fix] Update RGW SSL certificate commands Ceph 8.0
  suites/squid/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix, ceph-ci-review

#4901 Adding missed coverage in reef for 4 node pools.
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
Labels: RADOS, lgtm, ceph-ci-review

#4883 FScrypt Interop Automation
  suites/squid/cephfs/8_1_features_suite.yaml
  tests/cephfs/cephfs_fscrypt/test_fscrypt_interop.py
  tests/cephfs/cephfs_mirroring/test_cephfs_mirroring_multiple_snapshots.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_rename_scenarios.py
  tests/cephfs/lib/cephfs_common_lib.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, lgtm, Polarion testcase, New-Feature, ceph-ci-review

#4880 [RBD] Automated Multi snap schedule from namespace level mirroring
  ceph/rbd/workflows/snap_scheduling.py
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD, lgtm, ceph-ci-review

#4879 Automation for CEPH-83614238: CGM Negative cases
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_group_mirror_neg_case.py
Labels: RBD, lgtm, ceph-ci-review

#4905 Test Automation: CEPH-83613291
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_mirror_consistency.py
Labels: RBD, lgtm, ceph-ci-review

#4907 Fix setting pg_num_min on pools for EC 4 node pools
  suites/squid/common/regression/rados/rados_4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/tentacle/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  tests/rados/pool_tests.py
Labels: RADOS, lgtm, tfa-issue-fix, ceph-ci-review

#4909 [RBD] Test to automate namespace mirror image opertaions
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD, lgtm, ceph-ci-review

#4910 Test Automation: CEPH-83613275
  ceph/rbd/workflows/group_mirror.py
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_mirror_client_blocklist.py
Labels: RBD, lgtm, ceph-ci-review

#4903 Fscrypt upgrade test addition to post upgrade validation
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, tfa-issue-fix, New-Feature, ceph-ci-review

#4908 This test will deploy multiple nfs ganesha servers concurrently and v…
  suites/squid/nfs/tier1-nfs-ganesha-v4-2.yaml
  tests/nfs/nfs_operations.py
  tests/nfs/test_deploy_multiple_nfs_ganesha_concurrently.py
Labels: lgtm, approved, nfs-ganesha, ceph-ci-review

#4914 4 Node EC pool tests - Updating upgrade path in 2+2 EC pool tests
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/tentacle/rados/tier-3_rados_test-4-node-ecpools.yaml
Labels: RADOS, lgtm, approved, ceph-ci-review

#4928 Added OWNERS file for RBD directories
  suites/quincy/rbd/OWNERS
  suites/reef/rbd/OWNERS
  suites/squid/rbd/OWNERS
  tests/rbd/OWNERS
  tests/rbd_mirror/OWNERS
Labels: lgtm, approved, ceph-ci-review

#4916 fix endtime for scaledown and scaleup operations
  tests/nvmeof/workflows/ha.py
Labels: lgtm, approved, ceph-ci-review

#4936 Fixing TFA issues in regression
  suites/squid/cephfs/tier-0_cephfs_upgrade_8GA_to_81x_latest.yaml
  tests/cephfs/cephfs_clean_up.py
  tests/cephfs/cephfs_utils.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/client_fs_information_restriction.py
  tests/cephfs/clients/multifs_mount_same_client.py
  tests/cephfs/clients/smallfiles_with_different_operations.py
  tests/cephfs/clients/test_no_data_sharing_multifs.py
  tests/cephfs/lib/cephfs_recovery_lib.py
  tests/cephfs/snapshot_clone/clone_attributes.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review

#4923 [TFA] Add method to wait until daemon reaches running/stopped state
  ceph/rados/core_workflows.py
  tests/rados/rados_test_util.py
  tests/rados/test_bluestore_data_compression.py
  tests/rados/test_bluestore_min_alloc_size.py
  tests/rados/test_bug_fixes.py
  tests/rados/test_config_parameter_chk.py
  tests/rados/test_election_strategies.py
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_osd_inprogress_rebalance.py
  tests/rados/test_osd_rebalance.py
  tests/rados/test_osd_rebalance_snap.py
  tests/rados/test_pg_split.py
  tests/rados/test_pool_osd_recovery.py
  tests/rados/test_stretch_mon_replacements.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#4941 cephci Integration: CEPH-83622325: Tail object should not delete duri…
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: DNM, pr-verified, RGW, lgtm, approved, Tier-2, ceph-ci-review

#4944 [RBD] Test Automation: CEPH-83610861
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_mirror_consistency.py
Labels: RBD, lgtm, approved

#4943 changed config for RGW testcase
  suites/squid/common/smoke/bvt.yaml
Labels: RGW, lgtm, approved, ceph-ci-review

#4954 CephFS Upstream - Updated CephFS Upstream Pipeline Suite
  suites/tentacle/cephfs/upstream_cephfs_core_functionality.yaml
  suites/tentacle/cephfs/upstream_cephfs_mirror_core_functionality.yaml
Labels: Ceph-FS, lgtm, approved, ceph-ci-review, tentacle

#4945 Adding fix for IO progression issue in NVMe load balancing test suites
  ceph/parallel.py
  suites/squid/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_loadbalancing_tests.yaml
  tests/nvmeof/test_ceph_nvmeof_loadbalancing.py
  tests/nvmeof/workflows/initiator.py
Labels: lgtm, approved, ceph-ci-review

#4942 Fixing Node addition & removal in 4 node EC pools - 2+2 config
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/tentacle/rados/mero_4_node_rados_db_wal_conf.yaml
  suites/tentacle/rados/tier-2-rados-basic-regression.yaml
  suites/tentacle/rados/tier-2_rados_ec-pool_recovery.yaml
  suites/tentacle/rados/tier-2_rados_test-bugfixes.yaml
  suites/tentacle/rados/tier-2_rados_test-ecpool-osd-rebalance.yaml
  suites/tentacle/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/tentacle/rados/tier-2_rados_test-osd-rebalance.yaml
  suites/tentacle/rados/tier-2_rados_test-pool-functionalities.yaml
  suites/tentacle/rados/tier-2_rados_test_omap.yaml
  suites/tentacle/rados/tier-3_rados_ssd-tests.yaml
  suites/tentacle/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_fragmentation_warnings.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#4968 [TFA] Fixing generic suite
  suites/tentacle/cephfs/regression_suite_1.yaml
  suites/tentacle/cephfs/regression_suite_2.yaml
  tests/cephfs/mds_fail_with_rank.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review, tentacle

#4960 tfa fix for ibm upgrade runs
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/cephfs_upgrade/upgrade_pre_req.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, tfa-issue-fix, ceph-ci-review

#4819 [Enhancement]Add Firewall Support
  run.py
  tests/misc_env/install_prereq.py
Labels: enhancement, lgtm, approved, DMFG, ceph-ci-review

#4929 [RBD] Failover after an orderly shutdown from default to non-default namespace mirror
  ceph/rbd/workflows/snap_scheduling.py
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_mirror_default_namespace_failover.py
Labels: RBD, lgtm, approved

#4970 Fixing junitparser version
  setup.py
Labels: lgtm, approved

#4966 [tfa][stabilization] wait for OSD_DOWN label when OSD is down
  tests/rados/test_stretch_n_az_site_down_scenarios.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#4934 improving suite for nfs baremetal upgrade test
  cli/ceph/nfs/cluster/cluster.py
  suites/squid/nfs/baremetal/tier1-nfs-ganesha-upgrade-rhcs-7.1x-to-8.x-baremetal-ha.yaml
  tests/nfs/nfs_operations.py
  tests/nfs/test_nfs_io_operations_during_upgrade.py
  tests/nfs/test_nfs_multiple_operations_for_upgrade.py
Labels: lgtm, approved, ceph-ci-review

#4976 [TFA] Fix edge case during site shutdown
  tests/rados/test_osd_ecpool_inconsistency_scenario.py
  tests/rados/test_pg_autoscale_flag.py
  tests/rados/test_stretch_n_az_site_down_scenarios.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#4623 CEPH-83614243: rgw-orphan-list utility cephci integration
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: RGW, lgtm, approved, Tier-2

#4872 XML file is converted into the googlesheet
  examples/service_account.json
  utility/xunit2gsheet.py
Labels: lgtm, approved, ceph-ci-review

#4980 [Squid][SMB][Automation]SMB service deployment with firewall enable
  suites/squid/smb/tier-1-smb-firewall.yaml
Labels: lgtm, approved, ceph-ci-review

#4736 Testrail integration with cephci
  run.py
  utility/xunit.py
Labels: framework, lgtm, approved, ceph-ci-review

#4982 [TFA] Fixing FS system failures
  tests/cephfs/cephfs_system/mds_admin_daemon_socket_dump.py
  tests/cephfs/cephfs_system/mds_admin_daemon_socket_perf_flush_log.py
  tests/cephfs/cephfs_system/mds_cache_trimming_caps_recall.py
  tests/cephfs/cephfs_system/mds_failover_standby_replay_systemic_test.py
  tests/cephfs/cephfs_system/mds_failure_with_client_IO.py
  tests/cephfs/cephfs_system/mds_node_failure_ops.py
  tests/cephfs/cephfs_system/mds_node_remove_with_IO.py
  tests/cephfs/cephfs_system/mds_standby_replay_node_failure_ops.py
  tests/cephfs/cephfs_system/mon_failure_with_client_IO.py
  tests/cephfs/cephfs_system/mon_node_failure_ops.py
  tests/cephfs/cephfs_system/osd_failure_with_client_IO.py
  tests/cephfs/cephfs_system/osd_node_failure_ops.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#4930 [Proposal]: Enhancement to support vm node objects across platforms
  ceph/ceph.py
  ceph/utils.py
  compute/baremetal.py
  compute/ibm_vpc.py
  compute/openstack.py
Labels: enhancement, framework, Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#4971 Test Automation: CEPH-83613276
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_multi_two_way_mirror.py
Labels: RBD, lgtm, approved
