Repository red-hat-storage/cephci, pull requests merged in 2025-01, with the labels that each got.

#4337 TFA fix - increase timeout for selinux
  tests/cephfs/clients/test_selinux_relabel.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4338 Test Automation for CEPH-83596444 and CEPH-83596588
  suites/squid/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_rbd_live_migrate_encryption.py
Labels: RBD, lgtm

#4342 Fix codeowners file
  .github/CODEOWNERS
Labels: lgtm

#4346 RHCEPHQE-16887 | CEPH-83604474: Test to verify MAX_AVAIL updation OSD removal
  suites/quincy/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/quincy/rados/tier-4_rados_tests.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-4_rados_tests.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-4_rados_tests.yaml
  tests/rados/test_bluestoretool_workflows.py
  tests/rados/test_cephdf.py
Labels: RADOS, lgtm, approved, Polarion testcase, Tier-4, tfa-issue-fix

#4339 File cleanup after md5sum
  ceph/rbd/utils.py
Labels: RBD

#4332 Fix for unmap device with encryption
  ceph/rbd/workflows/cleanup.py
  ceph/rbd/workflows/krbd_io_handler.py
Labels: RBD

#4353 Integrate the maxgen test to CI
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: RGW, Tier-2

#4341 [Tier-2][Automation]: cephci integration CEPH-83604473
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, Tier-2, close-loop-automation

#4340 integrating rgw MOD hotfix 404 again bz veritifcation tests
  suites/pacific/rgw/tier-4-rgw.yaml
  suites/reef/rgw/tier-4-rgw.yaml
  suites/squid/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
  suites/squid/rgw/tier-4-rgw.yaml
Labels: pr-verified, RGW, close-loop-automation, hotfix

#4369 [LibFix] Fix `CephNode.__getstate__` object properties error
  ceph/ceph.py
Labels: bug in framework

#4349 TFA client metrics issue
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4345 TFA cephfs-journal-tool daemon operation fix
  suites/reef/cephfs/tier-4_cephfs_recovery.yaml
  suites/squid/cephfs/tier-4_cephfs_recovery.yaml
  tests/cephfs/cephfs_journal_tool/cephfs_journal_tool_event_mode.py
  tests/cephfs/cephfs_journal_tool/cephfs_journal_tool_header_mode.py
  tests/cephfs/cephfs_journal_tool/cephfs_journal_tool_journal_mode.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4344 TFA cephfs-top unitiate test failing
  tests/cephfs/cephfs_top/cephfs_top_dump.py
  tests/cephfs/cephfs_top/cephfs_top_negative_tests.py
  tests/cephfs/cephfs_top/validate_fs_top_stats.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4366 Fixing test case file name as per suites
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_scenarios.py
Labels: lgtm

#4354 integrating inditex hotfix bz tests: CORS presigned put url
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, close-loop-automation, hotfix

#4371 [Tier-2] Cephci integration of polarion ID: CEPH-83573254
  suites/reef/rgw/tier-1_rgw.yaml
  suites/squid/rgw/tier-1_rgw.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#4367 Integration of s3 restore feature
  suites/squid/rgw/tier-2_rgw_3_way_multisite.yaml
  utility/utils.py
Labels: RGW, lgtm, approved

#4377 [Conf] Fix BVT & Sanity cluster conf with colocation
  conf/squid/common/3node-1client.yaml
  conf/squid/common/5node-2client-rh.yaml
  conf/squid/common/7node-2client-ibm.yaml
Labels: lgtm, Simplification

#4343 stretch mode: Fixing TFA issues identified in stretch mode execution
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/stretch_cluster.py
  tests/rados/test_pool_snap.py
  tests/rados/test_stretch_netsplit_scenarios.py
Labels: RADOS, lgtm, tfa-issue-fix

#4385 [Conf] Remove additional `mgr` daemon from sanity conf
  conf/squid/common/5node-2client-rh.yaml
Labels: lgtm, Simplification

#4386 Reorganizing and adjusting the test case to ensure proper functionality
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
Labels: lgtm

#4383 [SMB][Automation]CLI Command
  cli/ceph/smb/dump.py
  cli/ceph/smb/smb.py
  suites/squid/smb/tier-1-smb.yaml
  tests/smb/smb_cli_support.py
Labels: lgtm, DMFG, smb

#4394 [Interop] Add RHEL interop configs for squid
  conf/squid/integrations/6node-all-roles.yaml
  pipeline/scripts/interop/test-ceph-features.sh
  suites/squid/interop/test-ceph-sanity.yaml
Labels: InterOp, lgtm

#4374 iSCSI Automation support
  ceph/ceph_admin/helper.py
  ceph/ceph_admin/jinja_templates/iscsi.jinja
  ceph/iscsi/__init__.py
  ceph/iscsi/gateway.py
  ceph/iscsi/initiator.py
  ceph/iscsi/utils.py
  conf/squid/iscsi/ceph_iscsi_functional.yaml
  suites/squid/iscsi/iscsi_sanity.yaml
  tests/cephadm/test_iscsi.py
  tests/iscsi/iscsi_test.py
  tests/iscsi/workflows/__init__.py
  tests/iscsi/workflows/initiator.py
  tests/iscsi/workflows/iscsi.py
  tests/iscsi/workflows/iscsi_utils.py
Labels: enhancement, RBD, lgtm, iscsi

#4388 fix status_cmd in remove_custom_host function
  ceph/rados/serviceability_workflows.py
Labels: RADOS, lgtm

#4391 Common Test File for all CephFS Volume Ops
  suites/pacific/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/quincy/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/quincy/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/reef/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/squid/cephfs/tier-2_cephfs_test-volume-management_arch.yaml
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_test_volume.py
  tests/cephfs/cephfs_vol_management/fs_del_allow_pool_false.py
Labels: lgtm

#4359 Test Automation:CEPH-83595961
  suites/squid/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_rbd_abort_migration_encryption.py
Labels: RBD, lgtm

#4375 Merging volume mgmt test cases
  suites/quincy/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/quincy/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/reef/cephfs/tier-2_cephfs_test-volume-management.yaml
  suites/reef/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/squid/cephfs/tier-2_cephfs_test-volume-management_arch.yaml
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_rename_earmark_subvolume.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvol_idempotence_earmark.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolgroup_scenarios.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_volume_scenarios.py
Labels: Ceph-FS, lgtm

#4393 Moving file creation ops to client node
  suites/squid/cephfs/tier-2_cephfs_test-multi-mds.yaml
  tests/cephfs/cephfs_multi_mds/create_files.sh
  tests/cephfs/cephfs_multi_mds/test_cephfs_multimds_functional.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#4373 live migration of RBD images from one ceph cluster to another ceph cluster
  ceph/rbd/utils.py
  ceph/rbd/workflows/migration.py
  cli/rbd/migration.py
  suites/squid/rbd/tier-2_rbd_migration_external_ceph.yaml
  tests/rbd/test_rbd_migration_external_native_image.py
Labels: RBD, lgtm

#4395 Reduced OSD and volume sizes in config files for improved storage spa…
  conf/squid/rgw/3-way-ms-ec-profile-2+2@4nodes.yaml
  conf/squid/rgw/cloud_transition.yaml
  conf/squid/rgw/ec-profile-4+2-cluster.yaml
  conf/squid/rgw/migrate_default_single_to_multisite.yaml
  conf/squid/rgw/rgw_multisite_spec.yaml
  conf/squid/rgw/tier-3_archive_zone_colocate_data_zone_conf.yaml
Labels: RGW, lgtm

#4387 Add new automation to dynamically update mds configs during system te…
  suites/squid/cephfs/tier-3_cephfs_system_test.yaml
  tests/cephfs/cephfs_system/cephfs_config_update.py
  tests/cephfs/cephfs_system/cephfs_system_utils.py
  tests/cephfs/cephfs_system/cephfs_systest_client_io.py
  tests/cephfs/cephfs_system/cephfs_systest_monitor.py
  tests/cephfs/cephfs_system/cephfs_systest_setup.py
  tests/cephfs/cephfs_system/cephfs_systest_sv_clone_ops.py
Labels: Ceph-FS, lgtm

#4401 [TFA] config restore_debug_interval supported from squid onwards
  utility/utils.py
Labels: pr-verified, RGW, lgtm, approved, tfa-issue-fix

#4368 Earmark feature tests
  cli/ceph/fs/fs.py
  cli/ceph/fs/subvolume/__init__.py
  cli/ceph/fs/subvolume/earmark.py
  cli/ceph/fs/subvolume/sub_volume.py
  suites/squid/nfs/tier1-nfs-ganesha-v4-2.yaml
  tests/nfs/test_earmark_feature.py
Labels: lgtm

#4405 [TFA] fix ceph-base package installation issues
  conf/reef/rados/13-node-cluster-4-clients.yaml
  conf/reef/rados/stretch-mode-host-location-attrs.yaml
  conf/squid/rados/13-node-cluster-4-clients.yaml
  conf/squid/rados/stretch-mode-host-location-attrs.yaml
  suites/quincy/upstream/tier-2_rados_test-stretch-mode.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
Labels: RADOS, lgtm, tfa-issue-fix

#4397 Fixing create OSD pool method
  suites/reef/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#4348 inventory file update : jdk or oathtool
  conf/inventory/rhel-8.10.0-x86_64-rgw.yaml
  conf/inventory/rhel-9.5.0-x86_64-rgw.yaml
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_test_5-3_specific_fixes.yaml
  suites/pacific/rgw/tier-2_sse_s3_encryption.yaml
  suites/quincy/rgw/tier-2_rgw_6_1_fixes.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_ssl_test_bucket_notifications.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-sanity.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-sasl-scheduled.yaml
  suites/quincy/rgw/tier-2_rgw_test-bucket-notifications-kafka-ssl.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/sanity_rgw.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications_kafka_sasl.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
  suites/reef/rgw/tier-2_ssl_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/sanity_rgw.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_sasl.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications_kafka_ssl.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  tests/rgw/sanity_rgw.py
Labels: RGW, lgtm, approved

#4380 [cephci V3] remove redundent testcase from multiple place
  suites/squid/rgw/migrate_default_single_to_multisite.yaml
  suites/squid/rgw/sanity_rgw_multisite.yaml
  suites/squid/rgw/tier-1_rgw_archive_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ibm_ssl_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_datalog_and_crash.yaml
  suites/squid/rgw/tier-1_rgw_ms_ecpool_regression_test.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ms_upgrade_multirealm_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ssl_multisite_test_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_61GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ssl_71GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/squid/rgw/tier-2_rgw_ms_failover_failback.yaml
  suites/squid/rgw/tier-2_rgw_ms_granular_sync_policy.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_with_haproxy_ec_22_4.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/squid/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
  suites/squid/rgw/tier-2_rgw_sts_aswi.yaml
  suites/squid/rgw/tier-2_rgw_test_basic_sanity_with_d3n_enabled.yaml
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/rgw/tier-3_archive_zone_colocate_data_zone.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4404 [Minor]:Change target release in knowm issue comment
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, lgtm

#4408 [BLOCKER]: fix reformatting based on new black version
  ceph/rados/rados_scrub.py
  ceph/rados/utils.py
  tests/ceph_ansible/purge_cluster.py
  tests/ceph_ansible/purge_dashboard.py
  tests/misc_env/sosreport.py
  tests/rados/scheduled_scrub_scenarios.py
  tests/rados/test_bluestore_configs.py
  tests/rados/test_replica1.py
  tests/rbd/test_performance_immutable_cache.py
  tests/rbd/test_rbd_compression.py
  tests/rbd/test_rbd_dm_cache.py
  tests/rbd/test_rbd_immutable_cache.py
  tests/rbd/test_rbd_immutable_cache_cluster_operations.py
  tests/rbd_mirror/rbd_mirror_reconfigure_primary_cluster.py
  tests/rbd_mirror/rbd_mirror_reconfigure_secondary_cluster.py
  tests/rbd_mirror/test_rbd_mirror_cloned_image.py
  tests/rbd_mirror/test_rbd_mirror_connection_metrics.py
  tests/rbd_mirror/test_rbd_mirror_image_features.py
  tests/rbd_mirror/test_rbd_mirror_journal_metrics.py
  tests/rbd_mirror/test_rbd_mirror_peer_id.py
  tests/rbd_mirror/test_rbd_mirror_reconfig.py
  tests/rbd_mirror/test_rbd_mirror_replica_count.py
  tests/rbd_mirror/test_rbd_mirror_secondary_full.py
  tests/rbd_mirror/test_rbd_mirror_snapshot.py
  tests/rbd_mirror/test_rbd_mirror_snapshot_metrics.py
  utility/ibm_dns_cleanup.py
  utility/ibm_volume_cleanup.py
  utility/psi_remove_vms.py
Labels: lgtm, approved

#4399 [LibFix] Limit certificate installation to baremetal nodes
  tests/misc_env/install_prereq.py
Labels: framework, InterOp, lgtm

#4410 [TFA] fix migrate data btwn pool pool-configurations.yaml
  conf/reef/rados/test-confs/pool-configurations.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
Labels: RADOS, lgtm, tfa-issue-fix

#4389 TFA fix- Preempt messages check fix
  ceph/rados/core_workflows.py
  suites/reef/rados/tier-2_rados_test_omap.yaml
  suites/squid/rados/tier-2_rados_test_omap.yaml
  tests/rados/test_rados_preempt_scrub.py
Labels: RADOS, lgtm, tfa-issue-fix

#4406 RHCEPHQE-17658: [IO Tool Integration] - Including dbench & postgresIO workflow
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_create_delete_loop.py
Labels: Ceph-FS, lgtm, test-gap-analysis

#4379 Adding volume info validations
  suites/quincy/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/reef/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  suites/squid/cephfs/tier-2_file-dir-lay_vol-mgmt_nfs.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_info.py
Labels: lgtm

#4407 Add iozone module in new FS IO lib, integrate in Client IO system tests
  tests/cephfs/cephfs_IO_lib.py
  tests/cephfs/cephfs_system/cephfs_systest_client_io.py
  tests/cephfs/cephfs_utilsV1.py
Labels: lgtm

#4352 Enhance the inconsistency object script for ecpool
  suites/pacific/rados/tier-2_rados_test-bugfixes.yaml
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_osd_ecpool_inconsistency_scenario.py
Labels: enhancement, RADOS, lgtm, tfa-issue-fix
