Repository red-hat-storage/cephci, pull requests merged in 2025-09, with the labels that each got.

#5185 Removing sos report from tentacle sanity suite
  suites/tentacle/cephfs/tier-0_fs.yaml
Labels: Ceph-FS, lgtm, approved, ceph-ci-review, tentacle

#5187 TFA fix - tier-2_rbd_grup_mirror
  tests/rbd_mirror/test_group_mirror_neg_case.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5162 Automation of CEPH-83620501 - Verify the pool the availability-status and options
  ceph/rados/core_workflows.py
  suites/tentacle/rados/tier-2_rados_test-pool-functionalities.yaml
  tests/rados/test_track_availibility_status.py
Labels: RADOS, lgtm, approved, upstream, Ready-for-review, early-automation, ceph-ci-review

#5188 [RBD] TFA fix for the sanity tier-1_rbd.yaml
  suites/reef/rbd/tier-1_rbd.yaml
  suites/squid/rbd/tier-1_rbd.yaml
  suites/tentacle/rbd/tier-1_rbd.yaml
Labels: RBD, lgtm, approved, ceph-ci-review

#5177 Ceph FS mirror TFA -- Replace builds with looseversion.
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5190 Verification of user initiated scrub priority over osd_scrub_load_threshold parameter
  suites/tentacle/rados/tier-3_rados_test-4-node-scrub-tests.yaml
  tests/rados/test_osd_scrub_load_threshold_parameter.py
Labels: RADOS, lgtm, approved, upstream, Polarion testcase, Ready-for-review, early-automation, ceph-ci-review

#5189 [closeloop][Tier-2]copy from secondary]
  suites/squid/rgw/tier-2_rgw_io_ms_spec_to_disable_sync.yaml
  suites/tentacle/rgw/tier-2_rgw_io_ms_spec_to_disable_sync.yaml
Labels: pr-verified, RGW, lgtm, approved, Tier-2, close-loop-automation, cephci-integration-pr

#5201 [TFA][SMB]Update command
  tests/smb/smb_operations.py
Labels: lgtm, approved, ceph-ci-review

#5197 Add bluestore basic validation and libraries
  ceph/rados/core_workflows.py
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  suites/tentacle/rados/tier-2_rados_test_bluestore.yaml
  suites/tentacle/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  tests/rados/test_bluestore_comp_enhancements.py
  tests/rados/test_bluestore_comp_enhancements_class.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
Labels: RADOS, lgtm, approved, upstream, Polarion testcase, early-automation, ceph-ci-review

#5194 Added inventory for latest rhel-8
  conf/inventory/ibm-rhel-8.10-server-bx2-4x16.yaml
Labels: lgtm, approved, ceph-ci-review

#5198 Fixing mds cache issue
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_nfs/test_cephfs_nfs_byok_functional.py
  tests/cephfs/cephfs_system/mds_cache_trimming_caps_recall.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5168 [NVMe] Support for multiple initiators per subsystem for inband-authentication
  ceph/nvmeof/cli/v1/namespace.py
  ceph/nvmeof/initiators/linux/__init__.py
  suites/squid/nvmeof/tier-2_nvmeof_4-nvmeof-gwgroup_inbandauth_tests.yaml
  suites/tentacle/nvmeof/tier-2_8-1_nvmeof_gateway_operations.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_functional_Regression.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_gateway_operations.yaml
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_loadbalancing.py
  tests/nvmeof/test_ceph_nvmeof_qos_tests.py
  tests/nvmeof/test_nvmeof_gwgroup_inbandauth.py
  tests/nvmeof/workflows/ha.py
Labels: RBD, lgtm, approved, nvmeof, ceph-ci-review

#5219 Wrong arguments used in mon apply command
  suites/squid/cephfs/tier-2_fs_erasure.yaml
  suites/tentacle/cephfs/tier-2_fs_erasure.yaml
  tests/cephfs/mon_rm_add.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review, tentacle

#5199 Adding the test-cases for BYOK sighup(updating certs shouldn't restart NFS)
  suites/squid/nfs/tier0-nfs-ganesha-byok.yaml
  tests/nfs/byok/byok_tools.py
  tests/nfs/byok/test_byok_neg_incorrect_key_cert.py
  tests/nfs/byok/test_byok_single_multi_restart.py
  tests/nfs/nfs_operations.py
  utility/gklm_client/objects.py
Labels: lgtm, approved, ceph-ci-review

#5200 Adding tfa fix for deploy multiple nfs ganesha servers concurrently
  tests/nfs/test_deploy_multiple_nfs_ganesha_concurrently.py
Labels: lgtm, approved, ceph-ci-review

#5224 [SMB][TFA]Fix VSS TC cleanup
  suites/squid/smb/tier-1-smb-vss.yaml
  tests/smb/smb_vss_operations.py
Labels: lgtm, approved, smb, ceph-ci-review

#5218 [RBD] TFA Fix for one-way mirroring
  ceph/rbd/workflows/rbd_mirror.py
  suites/pacific/rbd/tier-3_snap_mirroring.yaml
  suites/quincy/rbd/tier-3_snap_mirroring.yaml
  suites/reef/rbd/tier-3_snap_mirroring.yaml
  suites/squid/rbd/tier-2_non_default_namespace_mirroring.yaml
  suites/squid/rbd/tier-3_snap_mirroring.yaml
  suites/tentacle/rbd/tier-2_non_default_namespace_mirroring.yaml
  suites/tentacle/rbd/tier-3_snap_mirroring.yaml
Labels: RBD, lgtm, approved, ceph-ci-review

#5227 TFA fix in 7.1 runs(In nvme gwcli Host-nqn param is host in 7.1 version)
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_gateway.py
  tests/nvmeof/test_ceph_nvmeof_high_availability.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
Labels: lgtm, approved, nvmeof, tfa-issue-fix, ceph-ci-review

#5230 Added node3 and node4 to fix endpoint connection issue
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5217 Reorder the swift at root test which is causing the keystone tests to…
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix

#5216 [RADOS] RHCEPHQE-21450 | CEPH-83629283: Add test coverage for ceph-kvstore-tool
  ceph/rados/kvstoretool_workflows.py
  suites/reef/rados/tier-2_rados_test_cot_cbt.yaml
  suites/squid/rados/tier-2_rados_test_cot_cbt.yaml
  suites/tentacle/rados/tier-2_rados_test_cot_cbt.yaml
  tests/rados/test_kvstoretool_workflows.py
Labels: RADOS, lgtm, approved, Polarion testcase, Ready-for-review, Tier-4, ceph-ci-review, 9.0

#5225 Adding underscores for isolated namespaces
  tests/cephfs/cephfs_clean_up.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_subvolume_isolated_namespace.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5222 [TFA] Fixed missing namespaces issues by removing lb_group in 8.1 suite files
  suites/squid/nvmeof/tier-1_nvmeof_4-nvmeof-gwgroup_2gw_tests.yaml
  suites/squid/nvmeof/tier-1_nvmeof_ha_sanity.yaml
  suites/squid/nvmeof/tier-2_nvmeof-alerts_health-checks-events.yaml
  suites/squid/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade.yaml
  suites/squid/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade_with_mtls.yaml
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade.yaml
  suites/squid/nvmeof/tier-2_nvmeof_b2b_upgrade_with_mtls.yaml
  suites/squid/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  suites/squid/nvmeof/tier-3_nvmeof_4gwgroup_8gw_cluster.yaml
  suites/tentacle/nvmeof/tier-1_nvmeof_ha_sanity.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof-alerts_health-checks-events.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_7x-to-8x_upgrade_with_mtls.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_b2b_upgrade.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_b2b_upgrade_with_mtls.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_rest_sanity.yaml
  suites/tentacle/nvmeof/tier-3_nvmeof_4gwgroup_8gw_cluster.yaml
  tests/nvmeof/test_ceph_nvmeof_data_integrity.py
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
  tests/nvmeof/workflows/initiator.py
Labels: RBD, lgtm, approved, nvmeof, tfa-issue-fix, ceph-ci-review

#5232 [TFA fix]- Reduce the execution time of the parameter check
  tests/rados/test_config_parameter_chk.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5203 Automation of the pending track availibility pending scenarios
  suites/tentacle/rados/tier-2_rados_test-new-features.yaml
  tests/rados/test_track_availibility_status.py
Labels: RADOS, lgtm, approved, upstream, Ready-for-review, early-automation, ceph-ci-review

#5240 CephFS 9.0 - Ref-Inode - Integrated hardlinks and ref-inode validations within existing tests
  tests/cephfs/cephfs_snapshot_management.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/snapshot_clone/clone_threads.py
  tests/cephfs/snapshot_clone/snap_schedule.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, early-automation, ceph-ci-review, 9.0

#5243 changed the rgw ssl deployment method for squid and tentacle
  suites/squid/rgw/tier-1_rgw_and_lc.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_archive_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ms_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ssl_ecpool_81GA_to_8x_latest.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ms_msr_8+6.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/tentacle/rgw/tier-1_rgw_and_lc.yaml
  suites/tentacle/rgw/tier-1_rgw_ssl_multisite_test_upgrade_81GA_to_9x_latest.yaml
  suites/tentacle/rgw/tier-1_rgw_upgrade_archive_ssl_ecpool_81GA_to_9x_latest.yaml
  suites/tentacle/rgw/tier-1_rgw_upgrade_ms_ssl_ecpool_81GA_to_9x_latest.yaml
  suites/tentacle/rgw/tier-1_rgw_upgrade_ssl_81GA_to_9x_latest.yaml
  suites/tentacle/rgw/tier-1_rgw_upgrade_ssl_ecpool_81GA_to_9x_latest.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_ms_ecpool_test.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_ms_msr_8+6.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: RGW, lgtm, approved

#5252 [closeloop] include tfa testcase in upgrade
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
  suites/tentacle/rgw/tier-1_rgw_upgrade_71GA_to_9x_latest.yaml
Labels: pr-verified, RGW, lgtm, approved, close-loop-automation, cephci-integration-pr

#5250 [Tentacle][SMB]Add QoS support
  cli/ceph/smb/share.py
  suites/tentacle/smb/tier-1-smb-qos.yaml
  tests/smb/test_smb_qos.py
Labels: lgtm, approved, smb, ceph-ci-review, tentacle

#5256 Include known issue BZ2400398
  suites/tentacle/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix

#5251 cephci integration: BZ2379275: Crash in thread 7fbbf7813640 thread_na…
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_single_site_regression_extended.yaml
  suites/tentacle/rgw/tier-2_rgw_single_site_regression_extended.yaml
Labels: RGW, lgtm, approved, close-loop-automation, ceph-ci-review
