Repository red-hat-storage/cephci, pull requests merged in 2025-05, with the labels that each got.

#4745 TFA (sanity) fix : Adding skip-monitoring-stack: true
  suites/reef/rgw/tier-1_rgw_multisite.yaml
Labels: RGW, tfa-issue-fix

#4735 Adding sanity test for zero copy io
  tests/cephfs/cephfs_mount_data_consistency_tests.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS

#4669 Added a script to filter radsogw-admin commands
  utility/rgw_command_extractor.py
Labels: RGW, stale-warning-on-inactivity

#4753 [LibFix] Add mon bootstrap configs to interop tests
  suites/quincy/interop/test-ceph-sanity.yaml
  suites/reef/interop/test-ceph-sanity.yaml
  suites/squid/interop/test-ceph-sanity.yaml
Labels: InterOp

#4737 [TFA] Enable mon, osd, mgr debug for netsplit scenario
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
Labels: RADOS

#4746 [TFA] [CI stabilisation] tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-2_rados_test-brownfield.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-2_rados_test-brownfield.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_cephdf.py
  tests/rados/test_four_node_ecpool.py
Labels: RADOS, tfa-issue-fix

#4752 [TFA] tier-2_cephfs_test-metrics suite failures
  tests/cephfs/cephfs_metrics/cephfs_metrics_scale.py
  tests/cephfs/lib/cephfs_common_lib.py
  tests/cephfs/snapshot_clone/snap_schedule.py
Labels: Ceph-FS, tfa-issue-fix

#4751 Add fscrypt to test-clients, enable for fuse mount, change fscrypt in…
  tests/cephfs/cephfs_fscrypt/test_fscrypt_basic.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/lib/cephfs_common_lib.py
  tests/cephfs/lib/fscrypt_utils.py
Labels: Ceph-FS, Polarion testcase, New-Feature

#4744 Automation for CEPH-83613293
  tests/rbd_mirror/test_namespace_group_mirror.py
Labels: RBD

#4763 [TFA][upgrade] Fix JSONDecodeError in staggered upgrade tests
  tests/cephadm/test_cephadm_staggered_upgrade.py
Labels: Upgrade, DMFG, tfa-issue-fix

#4766 [ TFA ] Update stretch mode upgrade suite cluster bootstrap
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
Labels: RADOS, tfa-issue-fix

#4759 [TFA] Add more logging information for debugging and volumes for no space devices available.
  ceph/rados/core_workflows.py
  conf/reef/rados/13-node-cluster.yaml
  conf/squid/rados/13-node-cluster.yaml
  tests/rados/test_bluestoretool_workflows.py
  tests/rados/test_osd_full.py
Labels: RADOS, tfa-issue-fix

#4762 [TFA]:Fix issue related to reef s3test due to python library change
  tests/rgw/test_s3.py
Labels: pr-verified, RGW, tfa-issue-fix

#4765 [RHCEPHQE 19581] Include 8.1 new features
  cli/ceph/fs/subvolume/charmap.py
  cli/ceph/fs/subvolumegroup/charmap.py
  conf/squid/cephfs/tier-2_cephfs_7-node-cluster.yaml
  suites/squid/cephfs/8.1_new_features_suite.yaml
  suites/squid/cephfs/regression_suite.yaml
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_subvolume.py
Labels: Ceph-FS, 8.1

#4771 [TFA] add set_debug flag for 4 node ec pool test
  suites/quincy/rados/tier-2_rados_test_omap.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_pool_osd_recovery.py
Labels: RADOS, tfa-issue-fix

#4774 [TFA] fix ceph mgr crash and intermittent issue with crc check
  tests/rados/test_crc_check_logs.py
  tests/rados/test_node_drain_customer_bug.py
Labels: RADOS, tfa-issue-fix

#4757 TFA fixes for upgrade suite
  suites/squid/cephfs/tier-0_cephfs_upgrade_8GA_to_81x_latest.yaml
  tests/cephfs/cephfs_upgrade/cephfs_mds_failover.py
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/snapshot_clone/cephfs_snap_utils.py
Labels: Ceph-FS, tfa-issue-fix

#4776 Rados upgrade enhancements: addition of check for warn- mon_warn_older_version
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  tests/rados/test_client_pg_access.py
  tests/rados/test_upgrade_warn.py
Labels: RADOS

#4589 [Squid][BVT]Suite for single node
  conf/compaction/smoke/1node-smoke-test.yaml
  suites/compaction/smoke/smoke-test.yaml
Labels: work-in-progress

#4777 [RHCEPHQE-19477][TFA]: Fix the long running job in case of failure
  tests/cephfs/mds_rm_add.py
Labels: tfa-issue-fix

#4620 Added CEPH-9726 Testcase to Squid and Reef
  suites/reef/rgw/tier-2_rgw_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_regression_test.yaml
Labels: RGW, Tier-3

#4768 [TFA] Update the suite as per config and enable ssl
  conf/squid/rgw/3-way-archive-ec-profile-2+2@4nodes.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_archive_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ms_ssl_ecpool_80GA_to_8x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_ssl_ecpool_80GA_to_8x_latest.yaml
Labels: pr-verified, P0, RGW, tfa-issue-fix

#4672 Automation for CEPH-83611277
  ceph/rbd/mirror_utils.py
  ceph/rbd/workflows/group_mirror.py
  ceph/rbd/workflows/krbd_io_handler.py
  ceph/rbd/workflows/rbd_mirror.py
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_add_remove_group_mirror.py
  tests/rbd_mirror/test_group_mirror.py
  utility/utils.py
Labels: RBD

#4742 Test Automation: CEPH-83612860
  ceph/rbd/workflows/namespace.py
  ceph/rbd/workflows/rbd_mirror.py
  ceph/rbd/workflows/snap_scheduling.py
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD

#4780 TFA fix for snap_schedule_with_mds_restart
  tests/cephfs/snapshot_clone/snap_schedule_with_mds_restart.py
Labels: Ceph-FS, tfa-issue-fix

#4783 TFA [RADOS] RHCEPHQE-19671: Add smart wait to let Acting set return to original state
  tests/rados/test_osd_crashes.py
Labels: RADOS, Ready-for-review, tfa-issue-fix

#4764 TFA fix for selinux
  suites/reef/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  suites/squid/cephfs/tier-2_cephfs_test_mds_pinning.yaml
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/test_selinux_relabel.py
Labels: Ceph-FS, tfa-issue-fix

#4787 [RHCEPHQE-19730][TFA]: Fix for Volume operations and NFS failure
  tests/cephfs/cephfs_nfs/2_node_nfs.py
  tests/cephfs/cephfs_nfs/move_data_bw_nfs_and_cephfs_mounts.py
  tests/cephfs/cephfs_nfs/nfs_snaphshot_clone.py
  tests/cephfs/cephfs_nfs/nfs_subvolume_subvolumegroup.py
  tests/cephfs/cephfs_nfs/test_data_integrity_nfs_cephfs_mounts.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, tfa-issue-fix

#4790 TFA - cephfs-mirror - upgrade suite
  tests/cephfs/bug-1980920.py
  tests/cephfs/cephfs_basic_tests.py
  tests/cephfs/quota/quota_bytes.py
  tests/cephfs/quota/quota_files.py
Labels: Ceph-FS, tfa-issue-fix

#4789 Increased timeout value
  tests/rbd/test_rbd.py
Labels: RBD

#4782 Automation: Test CEPH-83612872
  suites/squid/rbd/tier-1_rbd_mirror.yaml
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD

#4792 [TFA] Rearrange testcase due for granular sync as intermittent issue seen
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4798 [TFA] Increases timeout for rados bench in cluster behaviour test case
  suites/squid/rados/tier-3_rados_test-3-AZ-Cluster.yaml
  tests/rados/test_osd_full.py
Labels: RADOS, tfa-issue-fix

#4779 RHCS 8.1 - snapdiff tests enhancements
  tests/cephfs/cephfs_mirroring/__init__.py
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/snapdiff_perf_improvements_across_releases.py
  tests/cephfs/cephfs_mirroring/snapdiff_scripts/__init__.py
  tests/cephfs/cephfs_mirroring/snapdiff_scripts/generate_files_for_snapdiff.py
  tests/cephfs/cephfs_mirroring/snapdiff_scripts/modify_file_at_10_random_offsets.py
Labels: Ceph-FS, New-Feature

#4800 [TFA] fix issue with upgrade suite
  suites/squid/rgw/tier-1_rgw_upgrade_ms_ssl_ecpool_80GA_to_8x_latest.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4795 [TFA]: Nfs mount failure
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/reef/rgw/tier-2_ssl_rgw_regression_test.yaml
  suites/squid/common/regression/ss_rgw_ssl.yaml
  suites/squid/rgw/tier-2_ssl_rgw_regression_test.yaml
Labels: pr-verified, RGW, ceph-ci-review

#4802 Adding retry to avoid ceph-mgr restart issue
  tests/cephfs/cephfs_upgrade/cephfs_mds_failover.py
Labels: Ceph-FS, tfa-issue-fix

#4797 [RHCEPHQE-19682][Case-sensitivity]: Adopt BZ changes to case sensitivity feature
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_functional.py
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_subvolume.py
Labels: Ceph-FS, 8.1

#4788 Updating suite files for 4 node EC pool tests
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
Labels: RADOS

#4799 TFA Fixes: Handling Mirror_level var & Retries on EC pool creation
  ceph/rbd/initial_config.py
  ceph/rbd/workflows/rbd_mirror.py
Labels: RBD

#4806 [RBD] changed file names as per the test scenarios
  suites/pacific/rbd/tier-2_rbd_trash.yaml
  suites/pacific/rbd/tier-3_journal_mirroring.yaml
  suites/pacific/rbd/tier-3_snap_mirroring.yaml
  suites/pacific/rbd/tier-4_rbd_negative_scenarios.yaml
  suites/quincy/rbd/tier-2_rbd_mirror_upgrade_5x_to_6x.yaml
  suites/quincy/rbd/tier-2_rbd_trash.yaml
  suites/quincy/rbd/tier-3_journal_mirroring.yaml
  suites/quincy/rbd/tier-3_snap_mirroring.yaml
  suites/quincy/rbd/tier-4_rbd_negative_scenarios.yaml
  suites/reef/rbd/tier-2_rbd_mirror_upgrade_5x_to_7x.yaml
  suites/reef/rbd/tier-2_rbd_mirror_upgrade_6x_to_7x.yaml
  suites/reef/rbd/tier-2_rbd_trash.yaml
  suites/reef/rbd/tier-3_journal_mirroring.yaml
  suites/reef/rbd/tier-3_snap_mirroring.yaml
  suites/reef/rbd/tier-4_rbd_negative_scenarios.yaml
  suites/squid/rbd/tier-1_rbd.yaml
  suites/squid/rbd/tier-2_rbd_mirror_upgrade_6x_to_8x.yaml
  suites/squid/rbd/tier-2_rbd_mirror_upgrade_7x_to_8x.yaml
  suites/squid/rbd/tier-2_rbd_trash.yaml
  suites/squid/rbd/tier-3_journal_mirroring.yaml
  suites/squid/rbd/tier-3_snap_mirroring.yaml
  suites/squid/rbd/tier-4_rbd_negative_scenarios.yaml
Labels: RBD

#4809 Fixing the TFA issues
  tests/cephfs/cephfs_snapshot_management.py
  tests/cephfs/cephfs_tier1_ops.py
  tests/cephfs/client_authorize.py
Labels: Ceph-FS, tfa-issue-fix

#4805 [RHCEPHQE-19839]: Case Sensitivity: Include SMB and NFS validation logic
  tests/cephfs/cephfs_case_sensitivity/case_sensitivity_subvolume.py
Labels: Ceph-FS, 8.1

#4807 TFA fixes for regression tests
  suites/squid/cephfs/regression_suite.yaml
  tests/cephfs/cephfs_bugs/test_defer_client_evict_on_laggy_osd.py
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
  tests/cephfs/clients/client_caps_update_validation.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
  tests/cephfs/snapshot_clone/snap_schedule_retention_vol_subvol.py
Labels: Ceph-FS, Polarion testcase, tfa-issue-fix

#4811 [TFA-sanityfix]changed pre upgrade version from 8.0 to 8.1 in sanity upgrade suites
  suites/squid/rgw/tier-2_rgw_ms_upgrade_8xsanity_to_8xlatest.yaml
  suites/squid/rgw/tier-2_rgw_upgrade_8xsanity_to_8xlatest.yaml
Labels: RGW, tfa-issue-fix

#4812 [LibFix] Increate command execution default timeout to 600 sec
  ceph/ceph.py
Labels: framework, Workaround

#4813 Fix for removing file after md5sum using boolean flag
  ceph/rbd/utils.py
  ceph/rbd/workflows/encryption.py
  tests/rbd_mirror/test_encryption_on_mirrored_image.py
Labels: RBD

#4810 Test Automation: CEPH-83613277
  ceph/rbd/workflows/group_mirror.py
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_mirror_failover.py
Labels: RBD

#4815 Comment testcase since expected behavior is not available yet from th…
  suites/squid/rgw/tier-2_rgw_test_using_s3cmd.yaml
Labels: RGW, tfa-issue-fix

#4818 Update inventory file to latest rhel version
  conf/inventory/rhel-9-latest-x86_64-rgw.yaml
Labels: RGW, tfa-issue-fix, ceph-ci-review

#4801 [RADOS] TFA fixes for concurrent-parallel ops | OSD start false failure | Slow ops request test
  suites/pacific/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/pacific/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/quincy/rados/tier-2_rados_test-slow-op-requests.yaml
  suites/quincy/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/quincy/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/reef/rados/test_rados_all_generic_features.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/reef/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/common/regression/rados/rados_4-node-ecpools.yaml
  suites/squid/common/regression/rados/rados_pool-functionalities.yaml
  suites/squid/rados/tier-2-rados-basic-regression.yaml
  suites/squid/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/squid/rados/tier-3_rados_test-4-node-8+6-msr-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-4-node-ecpools.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
  tests/rados/test_osd_replacement.py
  tests/rados/test_slow_op_requests.py
Labels: RADOS, tfa-issue-fix

#4822 [TFA][upgrade] Add waiter for health check in staggered upgrade tests
  tests/cephadm/test_cephadm_staggered_upgrade.py
Labels: Upgrade, DMFG, tfa-issue-fix

#4803 RHCEPHQE-19678: Enhance test coverage around CEPHADM_STRAY_DAEMON warning
  ceph/rados/utils.py
  suites/quincy/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  tests/rados/test_No_Cephadm_Stray_Daemon.py
  tests/rados/test_bug_fixes.py
Labels: RADOS, Polarion testcase, close-loop-automation, tfa-issue-fix

#4825 [RHCEPHQE-18510]: [Case-sensitivity]: Post-upgrade validation
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
Labels: Ceph-FS, 8.1

#4826 TFA fixes for regression Suite
  tests/cephfs/cephfs_tier1_ops.py
  tests/cephfs/clients/mirgate_data_bw_fs_and_remote_using_scp.py
  tests/cephfs/mds_rm_add.py
Labels: Ceph-FS, tfa-issue-fix

#4758 Inconsistent objects on replicated pool tfa fix
  tests/rados/test_osd_replicated_inconsistency_scenario.py
Labels: RADOS, tfa-issue-fix

#4824 [TFA] Rgw move granular testcase
  suites/squid/rgw/tier-2_rgw_io_ms_spec_to_disable_sync.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, tfa-issue-fix

#4814 6 Automation refinement based on changes PR#4808
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_add_remove_group_mirror.py
  tests/rbd_mirror/test_group_mirror.py
  tests/rbd_mirror/test_namespace_group_mirror.py
Labels: RBD

#4835 TFA fixes for regression suite
  tests/cephfs/clients/client_caps_update_validation.py
  tests/cephfs/snapshot_clone/cephfs_cg_io.py
  tests/cephfs/snapshot_clone/cg_snap_test.py
Labels: Ceph-FS, Polarion testcase, tfa-issue-fix

#4841 [TFA][RADOS] RHCEPHQE-19754: Change test case order to avoid false failure in ISA plugin for EC
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
Labels: RADOS, Ready-for-review, tfa-issue-fix

#4830 Upgrade enhancement
  suites/squid/nfs/tier1-nfs-ganesha-upgrade-rhcs-7x-to-8x-latest.yaml
  tests/nfs/test_nfs_multiple_operations_for_upgrade.py
Labels: Upgrade, nfs-ganesha

#4820 [tfa-fix weekly] adding haproxy to fix endpoint issue
  suites/squid/rgw/tier-2_rgw_test_lifecycle.yaml
Labels: RGW, tfa-issue-fix

#4846 Handled disable group and delete group and namespace groups
  ceph/rbd/workflows/group.py
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_group_mirror.py
  tests/rbd_mirror/test_namespace_group_mirror.py
Labels: RBD

#4838 [RBD] Added steps to cover multiple snapshot scheduling
  tests/rbd_mirror/test_rbd_non-default_to_default_namespace_mirroring.py
Labels: RBD

#4851 CephFS tfa - adding cleanup to the tests
  tests/cephfs/cephfs_vol_management/cephfs_vol_info.py
  tests/cephfs/mds_rm_add.py
  tests/cephfs/mon_rm_add.py
  tests/cephfs/no_recover_session_mount.py
Labels: Ceph-FS, tfa-issue-fix

#4849 CephFS Scale - NFS Clients Inclusion
  tests/cephfs/cephfs_scale/cephfs_scale_utils.py
  tests/cephfs/cephfs_scale/cleanup.py
  tests/cephfs/cephfs_scale/create_large_file.sh
  tests/cephfs/cephfs_scale/run_scale_io.py
Labels: Ceph-FS, lgtm

#4854 Adding suite file for cephfs snapdiff
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_8x_latest_to_81x_latest.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_8GA_to_81x_latest.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
  tests/cephfs/cephfs_mirroring/snapdiff_perf_improvements_across_releases.py
  tests/cephfs/cephfs_mirroring/validate_snapdiff_perf_results.py
Labels: Ceph-FS, needs-testing, lgtm, approved
