Repository red-hat-storage/cephci, pull requests merged in 2025-10, with the labels that each got.

#5242 Verification of OSD heartbeat beacon interval wrt mon daemons
  suites/reef/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/squid/rados/tier-2_rados_test-mon-db-trimming.yaml
  suites/tentacle/rados/tier-2_rados_test-mon-db-trimming.yaml
  tests/rados/test_mon_osd_mgr_resiliency.py
Labels: RADOS, lgtm, approved, Ready-for-review, hotfix, ceph-ci-review

#5261 [Conf] Add IBM Cloud RHEL-10 inventory config
  conf/inventory/ibm-eu-rhel-10.0.yaml
Labels: lgtm, approved, ceph-ci-review, tentacle

#5265 adding fix for qos tests - NFS CI
  cli/ceph/nfs/cluster/qos.py
  cli/ceph/nfs/export/qos.py
  tests/nfs/nfs_verify_qos_via_specfile_PerShare.py
  tests/nfs/test_nfs_qos_on_export_level_enablement.py
Labels: lgtm, approved, ceph-ci-review

#5258 removed zonegroup_hostnames in tier-2_rgw_ssl_cephadm_gen_cert.yaml to avoid ms setup failure
  suites/tentacle/rgw/tier-2_rgw_ssl_cephadm_gen_cert.yaml
Labels: RGW, lgtm, approved, tfa-issue-fix

#5259 TFA fix for error message failure in test_group_mirror_neg_case.py
  tests/rbd_mirror/test_group_mirror_neg_case.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5255 BYOK config,Crash and MDS journal enhancements,Crash and monitor TFA …
  suites/squid/cephfs/tier-4_cephfs_system_scale_baremetal.yaml
  tests/cephfs/cephfs_crash_util.py
  tests/cephfs/cephfs_system/cephfs_system_utils.py
  tests/cephfs/cephfs_system/cephfs_systest_cleanup.py
  tests/cephfs/cephfs_system/cephfs_systest_client_io.py
  tests/cephfs/cephfs_system/cephfs_systest_data.json
  tests/cephfs/cephfs_system/cephfs_systest_disruptive_tests.py
  tests/cephfs/cephfs_system/cephfs_systest_mds_ops.py
  tests/cephfs/cephfs_system/cephfs_systest_monitor.py
  tests/cephfs/cephfs_system/cephfs_systest_setup.py
  tests/cephfs/cephfs_system/cephfs_systest_sv_clone_ops.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review

#5262 Remove daemon_redeploy tests in NVMEOF HA tests
  suites/squid/common/regression/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_ha_tests.yaml
  suites/squid/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_ha_tests.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_ha_tests.yaml
  suites/tentacle/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_ha_tests.yaml
Labels: RBD, lgtm, approved, nvmeof, ceph-ci-review
