Repository red-hat-storage/cephci, pull requests merged in 2025-07, with the labels that each got.

#4967 TFA [RADOS]: Fetch UP OSDs | Reuse rados orch object
  tests/rados/rados_test_util.py
  tests/rados/test_bluestore_data_compression.py
  tests/rados/test_bluestore_min_alloc_size.py
  tests/rados/test_bug_fixes.py
  tests/rados/test_config_parameter_chk.py
  tests/rados/test_election_strategies.py
  tests/rados/test_four_node_ecpool.py
  tests/rados/test_osd_inprogress_rebalance.py
  tests/rados/test_osd_rebalance.py
  tests/rados/test_osd_rebalance_snap.py
  tests/rados/test_pg_split.py
  tests/rados/test_pool_osd_recovery.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
Labels: RADOS, lgtm, approved, Ready-for-review, tfa-issue-fix, ceph-ci-review

#4986 [CephFS]: Incorporate platform agnostic changes to CephFS TC
  tests/cephfs/cephfs_system/cluster_down_up.py
  tests/cephfs/cephfs_system/mds_shutdown_together_io_continue.py
  tests/cephfs/cephfs_system/shutdown_mds_bring_one_by_one.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, tfa-issue-fix, ceph-ci-review

#5001 Adding testsuite comments to xunit files
  utility/xunit.py
Labels: lgtm, approved, ceph-ci-review

#4992 [CephFS]: TFA and Kernel fix
  suites/pacific/cephfs/tier-1_fs_kernel_pipeline.yaml
  tests/cephfs/cephfs_bugs/test_fsstress_on_kernel_and_fuse.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/lib/cephfs_recovery_lib.py
  tests/cephfs/mds_default_values.py
  tests/cephfs/xfs_test.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, tfa-issue-fix, ceph-ci-review

#5003 Tier-2 Automation: rgw with concentartors[ Polarian : 83607417 , 83607420 and 83607626]
  conf/squid/rgw/tier-2_rgw_concentrators_conf.yaml
  suites/squid/rgw/tier-2_rgw_concentrators.yaml
Labels: RGW, lgtm, approved

#4985 Added changes to support Inband at scale
  suites/squid/nvmeof/tier-2_8-1-nvmeof_cross-feature.yaml
  suites/squid/nvmeof/tier-2_nvmeof_4-nvmeof-gwgroup_inbandauth_tests.yaml
  tests/nvmeof/test_nvmeof_gwgroup_inbandauth.py
  tests/nvmeof/workflows/ha.py
  tests/nvmeof/workflows/initiator.py
Labels: lgtm, approved, ceph-ci-review

#5005 [tfa] Connection scores testing: Use mon map for confirming updates before proceeding to next scenario
  ceph/rados/monitor_workflows.py
  ceph/rados/serviceability_workflows.py
  tests/rados/test_mon_connection_scores.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5021 Moves rbd and rgw io before enabling stretch mode and uncomments code commented due to BZ-2376109
  ceph/rados/serviceability_workflows.py
  suites/pacific/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/reef/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/squid/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  suites/tentacle/rados/tier-2_rados_test-stretch-mode-upgrade.yaml
  tests/rados/test_mon_connection_scores.py
  tests/rados/test_pg_split.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5020 Adding NFS tests for Tentacle
  conf/tentacle/nfs/1admin-12node-4client.yaml
  conf/tentacle/nfs/1admin-7node-3client.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-ha-v4_2.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-ha-windows.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-ha.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-multinode-deployment.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-phase2.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-upgrade-rhcs-8.1x-to-9.x-baremetal-ha.yaml
  suites/tentacle/nfs/baremetal/tier1-nfs-ganesha-windows-clients.yaml
  suites/tentacle/nfs/tier-2_nfs_ganesha_spec_storage.yaml
  suites/tentacle/nfs/tier0-nfs-ganesha-v3.yaml
  suites/tentacle/nfs/tier0-nfs-ganesha-vers-4-2.yaml
  suites/tentacle/nfs/tier0-nfs-ganesha.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha-phase2-v4-2.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha-upgrade-ibm-8x-to-9x-latest.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha-upgrade-rhcs-8.1x-to-9x-latest.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha-upgrade-rhcs-8x-to-9x-latest.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha-v4-2.yaml
  suites/tentacle/nfs/tier1-nfs-ganesha.yaml
Labels: lgtm, approved, ceph-ci-review

#5017 [Tentacle] Add suites for Cephadm to tentacle branch
  conf/tentacle/cephadm/1admin-10node-1client-cephadm-scale.yaml
  conf/tentacle/cephadm/1admin-4node-1client-cluster.yaml
  conf/tentacle/cephadm/1admin-4node-1client-mix-os.yaml
  conf/tentacle/cephadm/1admin-8node-1client-cluster.yaml
  conf/tentacle/cephadm/1admin-9node-mix-client.yaml
  conf/tentacle/cephadm/2admin-3node-1rgw-1client-sanity.yaml
  conf/tentacle/cephadm/2admin-5node-1client-cluster.yaml
  conf/tentacle/cephadm/rhos01-1admin-5node-multiple-subnet.yaml
  conf/tentacle/cephadm/rhosd-1admin-5node-multiple-subnet.yaml
  suites/tentacle/cephadm/tier0-cephadm.yaml
  suites/tentacle/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-custom-ssh.yaml
  suites/tentacle/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-docker.yaml
  suites/tentacle/cephadm/tier1-cephadm-ansible-wrapper-bootstrap-with-registry-details.yaml
  suites/tentacle/cephadm/tier1-cephadm-ansible-wrapper-modules.yaml
  suites/tentacle/cephadm/tier1-cephadm-bootstrap-with-mgr-image-config.yaml
  suites/tentacle/cephadm/tier1-cephadm-clients.yaml
  suites/tentacle/cephadm/tier1-container-cli-args.yaml
  suites/tentacle/cephadm/tier1-haproxy-deployment.yaml
  suites/tentacle/cephadm/tier1-mix-clients.yaml
  suites/tentacle/cephadm/tier1-mix-os-deployment.yaml
  suites/tentacle/cephadm/tier1-os-tuning-profiles.yaml
  suites/tentacle/cephadm/tier1-osd-crush-device-class.yaml
  suites/tentacle/cephadm/tier1-remove-cluster.yaml
  suites/tentacle/cephadm/tier1-service-apply-spec.yaml
  suites/tentacle/cephadm/tier1-skip-dashboard.yaml
  suites/tentacle/cephadm/tier1-ssl-dashboard-port.yaml
  suites/tentacle/cephadm/tier1_node_exporter_operation.yaml
  suites/tentacle/cephadm/tier2-bootstrap-along-with-spec-file.yaml
  suites/tentacle/cephadm/tier2-cephadm-mgr-timeout.yaml
  suites/tentacle/cephadm/tier2-cluster-elasticity.yaml
  suites/tentacle/cephadm/tier2-osd-scenarios.yaml
  suites/tentacle/cephadm/tier2-permissive-mode-scenarios.yaml
  suites/tentacle/cephadm/tier2-rgw-with-warn-state.yaml
  suites/tentacle/cephadm/tier2-rhos01-cephadm-matching-subnets.yaml
  suites/tentacle/cephadm/tier2-rhos01-multiple-subnet-openstack-only.yaml
  suites/tentacle/cephadm/tier2-rhosd-cephadm-matching-subnets.yaml
  suites/tentacle/cephadm/tier2-rhosd-multiple-subnet-openstack-only.yaml
  suites/tentacle/cephadm/tier2-verify-custom-container.yaml
  suites/tentacle/cephadm/tier4-bootstrap-with-ca-signed-ssh-keys.yaml
  suites/tentacle/cephadm/tier4-crash-configuration.yaml
  suites/tentacle/cephadm/tier4-service-operations.yaml
  suites/tentacle/cephadm/upi/upi-bootstrap-with-spec.yaml
  suites/tentacle/cephadm/upi/upi-dmfg-deployment.yaml
  suites/tentacle/cephadm/upi/upi-multi-osd-with-encryption.yaml
  suites/tentacle/cephadm/upi/upi-service-apply-spec.yaml
Labels: lgtm, approved, ceph-ci-review

#5018 [Tentacle] Add suites for cephmgr to tentacle branch
  conf/tentacle/cephmgr/1admin-4node-1client-ceph-mgr.yaml
  suites/tentacle/cephmgr/tier1-cephapi-auth-api.yaml
  suites/tentacle/cephmgr/tier2-cephmgr.yaml
  suites/tentacle/cephmgr/tier2-restful-endpoint-operations.yaml
  suites/tentacle/cephmgr/tier2-restful-module.yaml
Labels: lgtm, approved, ceph-ci-review

#5027 TFA fix for upgrade test infra slowness
  tests/cephfs/cephfs_upgrade/cephfs_post_upgrade_validation.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5010 Cephci Integration of CEPH-83623614
  suites/quincy/rgw/tier-2_rgw_ssl_s3tests.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/tentacle/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: pr-verified, RGW, lgtm, approved, Tier-2, close-loop-automation

#5014 Cephci integration of polarion : CEPH-83620440
  suites/reef/rgw/tier-1_rgw_sw_qat.yaml
  suites/squid/rgw/tier-1_rgw_sw_qat.yaml
  suites/tentacle/rgw/tier-1_rgw_sw_qat.yaml
Labels: pr-verified, RGW, lgtm, approved, Tier-2, close-loop-automation

#5033 [Conf] Add common suites & configs for tentacle
  conf/tentacle/common/13node-4client-single-site-regression.yaml
  conf/tentacle/common/17node-5client-nvme-single-site-regression.yaml
  conf/tentacle/common/3node-1client.yaml
  conf/tentacle/common/5node-1client-ecpool-replica1.yaml
  conf/tentacle/common/5node-2client-rh.yaml
  conf/tentacle/common/7node-2client-ibm.yaml
  conf/tentacle/common/9node-1client-availability-zone.yaml
  conf/tentacle/common/ms_2way_9node_1client_rh.yaml
  conf/tentacle/common/ms_3way_5node_1client_rh.yaml
  suites/tentacle/common/regression/2way_rbd_mirror.yaml
  suites/tentacle/common/regression/2way_rgw_ms.yaml
  suites/tentacle/common/regression/3way_rgw_ms_ecpool.yaml
  suites/tentacle/common/regression/AZ_cluster_deploy_and_configure.yaml
  suites/tentacle/common/regression/ecpool-replica1-deploy-and-configure.yaml
  suites/tentacle/common/regression/ms_3way_deploy-and-configure.yaml
  suites/tentacle/common/regression/nvme-single-site-deploy-and-configure.yaml
  suites/tentacle/common/regression/nvmeof/tier-1_nvmeof_4-nvmeof-gwgroup_2gw_tests.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_8-1_nvmeof_gateway_operations.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_ha_tests.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_1gwgroup_8gwnodes_loadbalancing_tests.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_4nodes_gateway_ha_tests.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_e2e_ns-masking.yaml
  suites/tentacle/common/regression/nvmeof/tier-2_nvmeof_functional_Regression.yaml
  suites/tentacle/common/regression/nvmeof/tier-3_nvmeof_bdev_fio_operations.yaml
  suites/tentacle/common/regression/nvmeof/tier-3_nvmeof_restart_operations.yaml
  suites/tentacle/common/regression/nvmeof/tier-4_nvmeof_namespace_operations.yaml
  suites/tentacle/common/regression/nvmeof/tier-4_nvmeof_neg_tests.yaml
  suites/tentacle/common/regression/rados/rados_3-AZ-Cluster.yaml
  suites/tentacle/common/regression/rados/rados_4-node-ecpools.yaml
  suites/tentacle/common/regression/rados/rados_bluestore.yaml
  suites/tentacle/common/regression/rados/rados_bugfixes.yaml
  suites/tentacle/common/regression/rados/rados_location-stretch-mode.yaml
  suites/tentacle/common/regression/rados/rados_osd-rebalance-recovery.yaml
  suites/tentacle/common/regression/rados/rados_pg-split-merge.yaml
  suites/tentacle/common/regression/rados/rados_pool-functionalities.yaml
  suites/tentacle/common/regression/rados/rados_replica1.yaml
  suites/tentacle/common/regression/rados/rados_scrubbing.yaml
  suites/tentacle/common/regression/rbd/tier-2_rbd_group.yaml
  suites/tentacle/common/regression/rbd/tier-2_rbd_image_migration.yaml
  suites/tentacle/common/regression/rbd/tier-2_rbd_image_operation.yaml
  suites/tentacle/common/regression/rbd/tier-2_rbd_namespace.yaml
  suites/tentacle/common/regression/single-site-deploy-and-configure.yaml
  suites/tentacle/common/regression/ss_rgw_ecpool_multirealm.yaml
  suites/tentacle/common/regression/ss_rgw_ssl.yaml
  suites/tentacle/common/sanity/cephfs.yaml
  suites/tentacle/common/sanity/deploy-and-configure-ibm.yaml
  suites/tentacle/common/sanity/deploy-and-configure-rh.yaml
  suites/tentacle/common/sanity/iscsi.yaml
  suites/tentacle/common/sanity/ms_2way_deploy-and-configure.yaml
  suites/tentacle/common/sanity/nfs.yaml
  suites/tentacle/common/sanity/nvmeof.yaml
  suites/tentacle/common/sanity/rados.yaml
  suites/tentacle/common/sanity/rbd.yaml
  suites/tentacle/common/sanity/rbd_mirror.yaml
  suites/tentacle/common/sanity/rgw.yaml
  suites/tentacle/common/smoke/bvt.yaml
  suites/tentacle/common/smoke/deploy-and-configure.yaml
Labels: lgtm, approved, ceph-ci-review

#4964 Added testcases ceph-9544,ceph-11193
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: RGW, lgtm, approved, Tier-2, stale-warning-on-inactivity, ceph-ci-review

#5023 RHCEPHQE-20881: [RADOS] Config level precedence checks for Bluestore warnings params
  tests/rados/test_health_warns.py
Labels: RADOS, lgtm, approved, Polarion testcase, ceph-ci-review, 9.0

#5016 Automation for CEPH-83601539: all mirror operations on non-default to…
  ceph/rbd/workflows/rbd_mirror.py
  suites/squid/rbd/tier-2_non_default_namespace_mirroring.yaml
  suites/tentacle/rbd/tier-2_non_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_namespace_mirror_operations.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5042 Reorganizing NFS tests into separate suites
  suites/squid/cephfs/regression_suite_1.yaml
  suites/squid/cephfs/regression_suite_nfs.yaml
  suites/tentacle/cephfs/regression_suite_1.yaml
  suites/tentacle/cephfs/regression_suite_nfs.yaml
Labels: Ceph-FS, lgtm, approved, squid, ceph-ci-review, tentacle

#5029 [RBD] Failover after a non-orderly shutdown with force promote from default namespace mirroring
  suites/squid/rbd/tier-2_default_namespace_mirroring.yaml
  suites/tentacle/rbd/tier-2_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_rbd_mirror_default_namespace_failover.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5051 TFA issues fixes - adds set_debug and check_ec as false
  ceph/rados/pool_workflows.py
  suites/tentacle/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_osd_full.py
  tests/rados/test_scrub_cpu_memory_usage.py
Labels: RADOS, lgtm, approved, tfa-issue-fix, ceph-ci-review

#5050 TFA fix for upgrade issue - Package issue
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_8x_latest_to_81x_latest.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_8GA_to_81x_latest.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_seq_6x_to_8x.yaml
  tests/cephfs/cephfs_upgrade/cephfs_io.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, squid, ceph-ci-review

#5049 Add support for nested dirs into clone system test workflow
  tests/cephfs/cephfs_system/cephfs_system_utils.py
  tests/cephfs/cephfs_system/cephfs_systest_sv_clone_ops.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5053 Merging CephFS Scale and System Suites with new barenetal conf file
  conf/squid/cephfs/extensa_cephfs_scale_system.yaml
  suites/squid/cephfs/tier-4_cephfs_system_scale_baremetal.yaml
Labels: Ceph-FS, lgtm, approved, squid, ceph-ci-review

#5024 Install ceph packages from IBM CDN repo when staging repo is unavailable
  ceph/ceph_admin/__init__.py
  ceph/ceph_admin/bootstrap.py
  tests/rados/test_upgrade_warn.py
  utility/utils.py
Labels: framework, RADOS, lgtm, approved, DMFG, ceph-ci-review

#5055 TFA fix for mds rw ops
  suites/reef/cephfs/tier-0_fs.yaml
  suites/squid/cephfs/regression_suite_nfs.yaml
  suites/tentacle/cephfs/regression_suite_nfs.yaml
  tests/cephfs/clients/verify_user_read_write_permissions.py
  tests/cephfs/lib/cephfs_attributes_lib.py
Labels: Ceph-FS, needs-testing, lgtm, approved, Polarion testcase, squid, ceph-ci-review, tentacle

#4861 Verify watchers are properly cleaned up
  suites/reef/rados/tier-2_rados_test-bugfixes.yaml
  suites/reef/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/squid/rados/tier-2_rados_test-bugfixes.yaml
  suites/squid/rados/tier-3_rados_cidr_blocklisting.yaml
  suites/tentacle/rados/tier-2_rados_test-bugfixes.yaml
  suites/tentacle/rados/tier-3_rados_cidr_blocklisting.yaml
  tests/rados/test_rados_watcher_cleanup.py
Labels: RADOS, lgtm, approved, ceph-bug-automate, ceph-ci-review

#5072 Update of Rados basic regression suite - Live runs
  suites/reef/rados/tier-2-rados-basic-regression.yaml
  suites/squid/rados/tier-2-rados-basic-regression.yaml
  suites/tentacle/rados/tier-2-rados-basic-regression.yaml
Labels: RADOS, lgtm, approved, ceph-ci-review

#5070 Fix nvme connect issue
  tests/nvmeof/test_ceph_nvmeof_neg_tests.py
  tests/nvmeof/workflows/nvme_utils.py
Labels: lgtm, approved, ceph-ci-review

#5071 Changes for test execution in new VPC
  ceph/utils.py
  conf/ibmc/ci-vpc-01.yaml
  conf/ibmc/vpc-block.yaml
  conf/ibmc/vpc-cephci.yaml
  conf/ibmc/vpc-cephfs.yaml
  conf/ibmc/vpc-dmfg.yaml
  conf/ibmc/vpc-nfsg.yaml
  conf/ibmc/vpc-rgw.yaml
  conf/inventory/ibm-eu-rhel-9.6.yaml
  run.py
Labels: lgtm, approved, ceph-ci-review

#5076 [CephFS]: RHCEPHQE-20990: XFS validation for Kernel mount
  tests/cephfs/lib/xfs_lib/xfs_test_list.json
  tests/cephfs/lib/xfs_lib/xfs_utils.py
  tests/cephfs/xfs_test.py
Labels: Ceph-FS, lgtm, approved, Polarion testcase, ceph-ci-review

#5078 Add support for cleanup in IBMC multiple VPC
  ceph/utils.py
  run.py
Labels: lgtm, approved

#5074 Test Automation: CEPH-83620584
  suites/squid/rbd/tier-2_rbd_group_mirror.yaml
  suites/tentacle/rbd/tier-2_rbd_group_mirror.yaml
  tests/rbd_mirror/test_rbd_group_mirror_misc.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5069 Automation for CEPH-83601537
  ceph/rbd/workflows/rbd_mirror.py
  suites/squid/rbd/tier-2_non_default_namespace_mirroring.yaml
  suites/tentacle/rbd/tier-2_non_default_namespace_mirroring.yaml
  tests/rbd_mirror/test_namespace_mirror_operations.py
Labels: RBD, lgtm, approved, ceph-ci-review

#5063 [Upstream] Added client package issue workaround
  ceph/utils.py
  run.py
  tests/misc_env/install_prereq.py
Labels: lgtm, approved, ceph-ci-review

#5095 FIX: make build type argument non-required
  run.py
Labels: lgtm, approved

#5062 Revert stretch mode netsplit and site down scenario.
  ceph/rados/core_workflows.py
  conf/reef/rados/test-confs/pool-configurations.yaml
  suites/tentacle/rados/tier-3_rados_test-stretch-mode-new-features.yaml
  tests/rados/test_osd_full.py
  tests/rados/test_stretch_osd_serviceability_scenarios.py
  tests/rados/test_stretch_revert.py
  tests/rados/test_stretch_revert_class.py
Labels: RADOS, lgtm, approved, Ready-for-review, ceph-ci-review

#5094 [TFA] Rearrange testcase as testcase of swift taking more than 3600s
  suites/reef/rgw/tier-2_rgw_ms_regression_test.yaml
  suites/squid/rgw/tier-2_rgw_ms_regression_test.yaml
Labels: pr-verified, RGW, lgtm, approved, tfa-issue-fix
