Repository red-hat-storage/cephci, pull requests merged in 2025-02, with the labels that each got.

#4392 Test bucket listing does not cause abnormal client IO
  suites/reef/rgw/baremetal/scale_rgw_single_site.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
Labels: RGW, lgtm, Tier-3

#4411 ISA Plugin coverage for EC pool
  suites/squid/rados/tier-2_rados_ec-pool_recovery.yaml
Labels: RADOS, lgtm

#4416 Iscsi sanity in pipelines
  conf/pacific/iscsi/ceph_iscsi_functional.yaml
  conf/squid/common/5node-2client-rh.yaml
  suites/pacific/iscsi/iscsi_sanity.yaml
  suites/squid/common/sanity/iscsi.yaml
Labels: lgtm, iscsi

#4412 [TFA] Update clients in tier-3_rados_test-location-stretch-mode.yaml
  conf/squid/rados/13-node-cluster-4-clients-rhos-d.yaml
  conf/squid/rados/13-node-cluster-4-clients.yaml
  suites/reef/rados/tier-3_rados_test-location-stretch-mode.yaml
  suites/squid/rados/tier-3_rados_test-location-stretch-mode.yaml
Labels: RADOS, lgtm, tfa-issue-fix

#4415 [TFA-fix] Include rgw service deployment in baremetal execution
  suites/squid/baremetal/deploy/rh/mero1_1admin_4node_4client.yaml
  suites/squid/baremetal/deploy/rh/mero2_1admin_4node_4client.yaml
  suites/squid/rgw/baremetal/scale_rgw_single_site.yaml
Labels: pr-verified, RGW, lgtm, tfa-issue-fix

#4420 Update CODEOWNERS with iSCSI code owners
  .github/CODEOWNERS
Labels: framework, lgtm, iscsi

#4422 [RADOS] TFA fix for OSD superblock redundancy false failure
  ceph/rados/core_workflows.py
  tests/rados/test_osd_superblock.py
Labels: RADOS, lgtm, tfa-issue-fix

#4423 [cephci]integrate tier-2 polarion id CEPH-83573506 to cephci
  suites/reef/rgw/tier-2_rgw_sts_aswi.yaml
  suites/squid/rgw/tier-2_rgw_sts_aswi.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, tfa-issue-fix

#4424 Adding 8.0 support for ODF ceph cluster deployment
  conf/squid/integrations/7_node_ceph.yaml
  conf/squid/integrations/ocs_rgw_ssl_openstack_conf.yaml
  pipeline/rhcs_deploy.groovy
  suites/squid/integrations/ocs.yaml
  suites/squid/integrations/ocs_rgw_ssl.yaml
  suites/squid/integrations/ocs_rgw_with_ssl_vsphere.yaml
  suites/squid/integrations/ocs_rgw_without_ssl_vsphere.yaml
Labels: lgtm

#4419 RHCEPHQE-17760: [IO Tool Integration] - Including postgresIO on FUSE
  tests/cephfs/cephfs_IO_lib.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_mgmt_fs_create_delete_loop.py
Labels: lgtm

#4414 Enhancing the bluestore_min_alloc_size for printing of log lines for _open_super_meta min_alloc_size
  tests/rados/test_bluestore_min_alloc_size.py
Labels: lgtm

#4430 structuring container registry and new access method
  cephci.yaml.template
  docs/source/getting_started.rst
  utility/utils.py
Labels: framework, lgtm

#4431 [TFA] Fix for monitoring services deployment failure in rgw_ibm_ssl_ms_upgrade suites.
  suites/reef/rgw/tier-1_rgw_ibm_ssl_multisite_upgrade_61GA_to_71x_latest.yaml
  suites/squid/rgw/tier-1_rgw_ibm_ssl_ms_upgrade_71GA_to_8x_latest.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4425 Ceph-ci integration:CEPH-83607707:Test swift bulk upload with tar format
  suites/pacific/rgw/tier-1-extn_rgw.yaml
  suites/quincy/rgw/tier-1-extn_rgw.yaml
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
  suites/squid/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: pr-verified, RGW, lgtm, close-loop-automation

#4417 Fixing upgrade mirror suite
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_6x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_ibm_7x_to_8x.yaml
  suites/squid/cephfs/tier-0_cephfs_mirrror_upgrade_seq_6x_to_8x.yaml
  tests/cephfs/cephfs_mirroring/cephfs_mirroring_utils.py
Labels: lgtm

#4421 Adhering to change in behavior for mirror token creation
  tests/cephfs/cephfs_mirroring/test_cephfs_mirror_auth_caps.py
  tests/cephfs/cephfs_vol_management/cephfs_vol_info.py
Labels: lgtm

#4432 [RADOS] RHCEPHQE-17864: Modify replica-1 test workflow to make it cluster conf independent
  tests/rados/test_replica1.py
Labels: RADOS, lgtm

#4433 [TFA] fix alloc size value in min_alloc_size validation
  tests/rados/test_bluestore_min_alloc_size.py
Labels: RADOS, lgtm, tfa-issue-fix

#4436 Adding Fix to FS system tests
  cli/__init__.py
  cli/io/spec_storage.py
  tests/cephfs/cephfs_system/mds_admin_daemon_socket_perf_flush_log.py
  tests/cephfs/cephfs_system/mds_cache_trimming_caps_recall.py
  tests/cephfs/cephfs_system/mds_nfs_node_failure_ops.py
  tests/cephfs/cephfs_system/mds_node_failure_ops.py
  tests/cephfs/cephfs_system/mds_node_remove_with_IO.py
  tests/cephfs/cephfs_utilsV1.py
  tests/cephfs/clients/client_caps_update_validation.py
Labels: lgtm

#4434 Namespace masking automation
  ceph/nvmegw_cli/execute.py
  ceph/nvmegw_cli/namespace.py
Labels: lgtm

#4435 Basic modules and validation of referent inodes
  tests/cephfs/snapshot_clone/test_referent_inode_singleFS.py
Labels: Ceph-FS, lgtm, upstream, early-automation, New-Feature

#4384 [Conf] Add cluster configuration for single site regression suites
  conf/squid/common/13node-4client-single-site-regression.yaml
  suites/squid/common/regression/single-site-deploy-and-configure.yaml
Labels: lgtm, Simplification

#4447 Add snap schedule and retention config to system test setup
  tests/cephfs/cephfs_system/cephfs_systest_setup.py
Labels: enhancement, Ceph-FS, lgtm

#4449 TFA fix for iozone setup failure in fsutilsV1
  tests/cephfs/cephfs_IO_lib.py
  tests/cephfs/cephfs_utilsV1.py
Labels: Ceph-FS, lgtm, tfa-issue-fix

#4439 ceph-ci Integration of DBR feature disabel at archive zone
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
  suites/squid/rgw/tier-2_rgw_ms-archive.yaml
Labels: pr-verified, RGW, lgtm, close-loop-automation

#4443 integrating rgw public-access-block tests into cephci
  suites/pacific/rgw/tier-2_rgw_regression.yaml
  suites/quincy/rgw/tier-2_rgw_regression.yaml
  suites/reef/rgw/tier-2_rgw_regression_extended.yaml
  suites/squid/rgw/tier-2_rgw_regression_extended.yaml
Labels: pr-verified, RGW, lgtm, Tier-2, close-loop-automation

#4450 [cephci] Integration of polarion id CEPH-9337 and CEPH-9336
  suites/reef/rgw/tier-1_rgw_upgrade_7_0GA_to_7x_latest.yaml
  suites/squid/rgw/tier-1_rgw_upgrade_71GA_to_8x_latest.yaml
Labels: pr-verified, RGW, lgtm, Tier-2

#4437 Automation of the Bug#2330755 - Scrub/deep scrub taking too long under mclock I/O scheduler
  suites/reef/rados/tier-2_rados_test-scrubbing.yaml
  suites/squid/rados/tier-2_rados_test-scrubbing.yaml
  tests/rados/test_scrub_deepscrub_timecheck.py
Labels: RADOS, lgtm, Ready-for-review, ceph-bug-automate

#4418 [RADOS] 2056818: Add support for background RGW IOs
  ceph/rados/core_workflows.py
  tests/rados/test_bilog_trim.py
Labels: RADOS, lgtm

#4452 [RBD] rename version to upstream main branches
  suites/pacific/integrations/cvp.yaml
  suites/pacific/interop/test-ceph-sanity.yaml
  suites/quincy/integrations/cvp.yaml
  suites/quincy/interop/test-ceph-sanity.yaml
  suites/reef/interop/test-ceph-sanity.yaml
  suites/squid/interop/test-ceph-sanity.yaml
Labels: lgtm, approved

#4454 Add known issue comment for BZ2346223
  suites/reef/rgw/tier-2_ssl_rgw_ecpool_test.yaml
Labels: RGW, lgtm, tfa-issue-fix

#4398 Adding common multisite config for simplification and compaction
  conf/squid/common/ms_2way_9node_1client_rh.yaml
  conf/squid/common/ms_3way_5node_1client_rh.yaml
  suites/squid/common/regression/ms_3way_deploy-and-configure.yaml
  suites/squid/common/sanity/ms_2way_deploy-and-configure.yaml
Labels: Simplification

#4446 rgw account with multisite,tenancy,reusability
  suites/squid/rgw/tier-1_rgw_multisite.yaml
Labels: RGW, Ready-for-review, cephci-integration-pr

#4453 [TFA] Stretch mode mon placement causing test_stretch_Cluster_site_down_-_Data_site test case
  conf/reef/rados/13-node-cluster-4-clients-rhos-d.yaml
  conf/reef/rados/13-node-cluster-4-clients.yaml
  conf/squid/rados/13-node-cluster-4-clients-rhos-d.yaml
  conf/squid/rados/13-node-cluster-4-clients.yaml
Labels: RADOS, tfa-issue-fix

#4460 [TFA] Fix reef client configuration issue due to ceph-base package
  conf/reef/rados/13-node-cluster-4-clients-rhos-d.yaml
  conf/reef/rados/13-node-cluster-4-clients.yaml
Labels: RADOS, tfa-issue-fix

#4396 Test Automation:CEPH-83584090
  suites/quincy/rbd/tier-3_rbd_migration.yaml
  suites/reef/rbd/tier-3_rbd_migration.yaml
  suites/squid/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_rbd_abort_migration.py
Labels: RBD

#4471 [TFA] maintenance mode tests finally block client configuration
  tests/rados/test_stretch_site_maintenance_modes.py
Labels: RADOS, tfa-issue-fix

#4428 Adding usernames to quota mail
  pipeline/rhos_scripts/Jenkinsfile-quota.groovy
  utility/psi_quota.py
Labels: lgtm

#4470 [tier-2] CEPH-83608639 - failover scenario in 3way Multisite
  conf/squid/rgw/3-way_ms_4nodes_1client_cluster.yaml
  suites/squid/rgw/tier-2_rgw_3_way_ms_failover.yaml
Labels: pr-verified, RGW, Tier-2, close-loop-automation

#4485 fix unicodedecode error in exec_command
  ceph/ceph.py
Labels: bug in framework, framework

#4441 Skip monitoring stack deployment
  suites/pacific/rgw/tier-1-extn_rgw_multisite-secondary-to-primary.yaml
  suites/pacific/rgw/tier-1_rgw_ms-sync-policy-from-primary.yaml
  suites/pacific/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/squid/rgw/tier-1_rgw_multisite.yaml
  suites/squid/rgw/tier-2_rgw_ms_failover_failback.yaml
Labels: RGW

#4464 Updated multisite suites for package installation
  suites/pacific/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/pacific/rgw/tier-2_rgw_singlesite_to_multisite.yaml
  suites/quincy/rgw/tier-2_rgw_ms_test-bucket-notifications.yaml
  suites/reef/rgw/sanity_rgw_multisite.yaml
  suites/reef/rgw/tier-2_rgw_ms-archive.yaml
  suites/reef/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/reef/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
  suites/squid/rgw/sanity_rgw_multisite.yaml
  suites/squid/rgw/tier-2_rgw_ms-archive.yaml
  suites/squid/rgw/tier-2_rgw_ms_async_data_notification.yaml
  suites/squid/rgw/tier-2_rgw_ms_test_bucket_notifications.yaml
  tests/rgw/sanity_rgw_multisite.py
Labels: RGW

#4492 Automation for CEPH-83595846 & CEPH-83595960
  cli/rbd/rbd.py
  suites/quincy/rbd/tier-3_rbd_migration.yaml
  suites/reef/rbd/tier-3_rbd_migration.yaml
  suites/squid/rbd/tier-3_rbd_migration.yaml
  tests/rbd/test_rbd_clone_live_migration_with_encryption.py
  tests/rbd/test_rbd_image_live_migration_with_encryption.py
Labels: RBD

#4489 integrating hotfix bz tests: rgw crash with kafka topic name compare
  suites/pacific/rgw/tier-2_rgw_test-bucket-notifications.yaml
  suites/quincy/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/reef/rgw/tier-2_rgw_test_bucket_notifications.yaml
  suites/squid/rgw/tier-2_rgw_test_bucket_notifications.yaml
Labels: pr-verified, RGW, close-loop-automation, Tier-4, hotfix

#4448 [Cephci] regression multi site suite
  suites/squid/common/regression/2way_rgw_ms.yaml
  suites/squid/common/regression/3way_rgw_ms_ecpool.yaml
Labels: review-in-progress, RGW, ceph-ci-v2, Simplification

#4440 [Cephci] regression single site suite
  suites/squid/common/regression/ss_rgw_ecpool_multirealm.yaml
  suites/squid/common/regression/ss_rgw_ssl.yaml
Labels: review-in-progress, RGW, ceph-ci-v2, Simplification
